<template>
	<div class="home_container">
		<Header current_pager="irregularities_investigation"/>
		<div class="irregularities_investigation_layout">
			<div class="irregularities_investigation_background">
				<div class="irregularities_investigation_top_layout" style="padding:12px 24px; align-items: center">
					<label class="common_label_style" style="font-weight: bold;min-width: 200px;">筛选条件</label>
					<div class="irregularities_investigation_horizontal_layout" style="display: block">
						<div style="float: right;display: flex;flex-direction: row;align-items: center;">
							<Input placeholder="请输入网站名称" style="width: 250px;margin-left: 4px;" v-model="queryWebSiteCondition.searchValue" @on-enter="getWebSiteData">
							<Icon type="ios-search" slot="suffix"  @click="searchForcondition"/>
							</Input>
						</div>
					</div>
				</div>
				<div style="background:#e8eaec;height: 12px;width: 100%;"/>
				<div class="irregularities_investigation_content_siftcondition_layout">
					<div class="irregularities_investigation_horizontal_layout" style="padding: 0px 24px;margin-top: 12px;">
						<label class="common_small_label_style" style="padding-right: 12px;">主办单位：</label>
						<label class="common_label_style" style="padding-right:50px; cursor: pointer;" :style="{color:item.selected?'#3c7af9':'#34495e'}" v-for="(item,index) in organizers" @click="selectOrganizers(index)">{{item.label}}</label>
					</div>
					<div class="irregularities_investigation_horizontal_layout" style="padding: 0px 24px;margin-top: 12px;">
						<label class="common_small_label_style" style="padding-right: 12px;">网站等级：</label>
						<label class="common_label_style" style="padding-right:50px; cursor: pointer;" :style="{color: item.selected?'#3c7af9':'#34495e'}" v-for="(item,index) in siteGrade" @click="selectSiteWebGrade(index)">{{item.label}}</label>
					</div>
					<div class="irregularities_investigation_horizontal_layout" style="padding: 0px 24px 8px 24px;margin-top: 12px;">
						<label class="common_small_label_style" style="padding-right: 12px;min-width: 80px; margin-top: 0px">所属地域：</label>
						<label class="common_label_style" style=" cursor: pointer;float: left;min-width: 77px" :style="{color: allProvinceItem.selected?'#3c7af9':'#34495e'}" @click="selectSiteWebArea(-1)">全省({{allProvinceItem.count}})</label>
						<div style="display: block;">
							<label class="common_label_style" style="padding-right:50px; cursor: pointer;float: left;" :style="{color: item.selected?'#3c7af9':'#34495e'}" v-for="(item,index) in cityData" @click="selectSiteWebArea(index)">{{item.label}}({{item.count}})</label>
						</div>
					</div>
				</div>

				<div style="background:#e8eaec;height: 12px;width: 100%;"/>

				<div class="irregularities_investigation_horizontal_layout" style="padding:12px 24px;" >
					<div class="irregularities_investigation_horizontal_layout" style="padding: 8px 24px; align-items: center">
						<label class="common_label_style" style="width: 100px;text-align: center;border-radius: 12px 0px 0px 12px; padding: 2px 0px; cursor: pointer; color: white; background-color: #2b85e4; border:1px solid lightgray;" id="unhandle" @click="selectSiteProcessType(0)">{{siteProcess[0].label}}({{siteProcess[0].websCount}})</label>
						<label class="common_label_style" style="width: 100px;text-align: center;border-radius: 0px 12px 12px 0px; padding: 2px 0px; cursor: pointer; color: black; background-color: #fafafa; border:1px solid lightgray;" id="handled"  @click="selectSiteProcessType(1)">{{siteProcess[1].label}}({{siteProcess[1].websCount}})</label>
					</div>
					<div style="display: flex;flex-direction:row;align-items:center;float: right; min-width: 60px;" @click="exportWebData">
						<img src="../../assets/export.png" style="width: 14px;margin-right: 4px;height: auto; ; cursor: pointer;"/>
						<label class="common_small_label_style" style="width: 90px; cursor: pointer;">导出数据</label>
					</div>
				</div>

				<Table ref="selection" :columns="webTableColumnList" :data="webTableData" @on-select="selectItem" @on-select-cancel="cancelSelectItem" @on-select-all="selectAllItem" @on-select-all-cancel="cancelSelectAllItem">
					<template slot-scope="{row}" slot="siteName">
						<div style="display: flex;flex-direction: row;align-items: center;" @click="gotoViolationWebList(row)">
							<label class="site_manager_web_table_name_label"
								   :style="{background:row.grade == 'A'?'#fc5560':row.grade == 'B'?'#3c7af9':'#28e1a8'}">{{row.level}}</label>
							<label style="font-size: 13px;">{{row.siteName}}</label>
						</div>
					</template>
					<template slot-scope="{ row, index }" slot="action">
						<a @click="lookTheResponsiblePeople(row)" style="margin-right: 12px;font-size: 13px;">网站负责人</a>
						<a @click="investigationFeedback(row)" style="margin-right: 12px; font-size: 13px;" v-if="processTypeUnhandle">协查反馈</a>
						<a @click="clickProcessingRecords(row)" style="font-size: 13px;">处理记录</a>
					</template>
				</Table>
				<div style="width: 100%;height:80px; padding: 24px 60px 0 24px; background-color: white;"
					 :style="{visibility: webTableData.length == 0?'hidden':''}">
					<label class="common_small_label_style">共{{websTotal}}条</label>
					<Page :total=websTotal show-elevator show-sizer style="float: right;" @on-change="pagerChange"
						  @on-page-size-change="pagerSizeChange"/>
				</div >

			</div>

			<Modal v-model="lookTheResponsiblePeopleModal" width="400">
				<p slot="header" style="display:block; text-align: left; height:100%; color:white;background: #4681fa;">
					<span>{{webNameofTheResponsiblePeople}}</span>
				</p>
				<div style="display: flex;flex-direction: row; align-items: center;">
					<label class="common_small_label_style" style="width: 100px; text-align: right">网站负责人：</label>
					<label class="common_label_style" style="min-width: 100px; text-align: left">{{TheResponsiblePeopleName}}</label>
				</div>
				<div style="display: flex;flex-direction: row; align-items: center; margin-top: 10px;">
					<label class="common_small_label_style" style="width: 100px; text-align: right">联系方式：</label>
					<label class="common_label_style" style="min-width: 100px; text-align: left">{{TheResponsiblePeoplePhone}}</label>
				</div>
				<div slot="footer"></div>
			</Modal>

			<Modal v-model="investigationFeedbackModal" width="500">
				<p slot="header" style="display:block; text-align: left; height:100%; color:white;background: #4681fa;">
					<span>协查反馈</span>
				</p>

				<div style="width:100%; display: flex; flex-direction:column; ">
					<label class="common_label_style" style="width: 100px; text-align: left; margin-left: 5px">协查方案:</label>
					<div style="width: 100%; color: #34495e; font-size: 13px; text-align:left; padding: 12px 5px 20px 5px">{{selectWebSiteData.scheme}}</div>
				</div>
				<label class="common_label_style" style="width: 100px; text-align: left; margin-left: 5px">协查反馈:</label>
				<div class="investigationModalInput" style="width: 470px; margin-right: 12px; ">
					<Input style="font-size: 13px;" v-model="feedbackValue" :maxlength=100 type="textarea" :rows="5" :autosize="{maxRows: 5,minRows: 5}" @on-change="investigationFeedbackDescInput" placeholder='请填写对该违规网站的处理方案的反馈，限制100字以内'/>
				</div>
				<div style="display: flex;flex-direction: row; align-items:center; margin-top: 20px;">
					<div style="text-align: left; margin-right: 5px; color: #8c989d; width: 300px">已输入
						<label class="inputNotice_item_tag">{{feedbackwords}}</label>个字，还可以输入
						<label class="inputNotice_item_tag">{{feedbackWordsLeft}}</label>个字
					</div>
				</div>
				<div slot="footer">
					<Button type="primary" size="default" style="width: 100px; color: white;" @click="saveInvestigationFeedback">已处理</Button>
					<Button size="large" style="width: 100px;" @click="cancelInvestigationFeedback">取消</Button>
				</div>
			</Modal>

			<Modal v-model="processingRecordsModal" width="550">
				<p slot="header" style="display:block; text-align: left; height:100%; color:white;background: #4681fa;">
					<span>处理记录</span>
				</p>
				<div style="width: 100%;height: 300px; padding: 25px 0px; overflow: auto">
					<div style="width: 100%; height: 100px; line-height: 100px; text-align: center" v-if="noProcessData">暂无记录</div>
					<div v-for="(item,index) in processingRecords" style="width: 100%;min-height: 60px; padding:0px 12px">
						<div style="display: flex;flex-direction: row; width: 100%">
							<div style="display: flex;flex-direction:column; align-items: center; ">
								<label class="common_label_style" style="text-align: center;width: 70px">{{item.processing_date}}</label>
								<label class="common_small_label_style" style="width: 70px; text-align: center; font-size: 9px">{{item.processing_time}}</label>
							</div>
							<div style="display: flex;flex-direction: column;align-items: center; margin-left: 10px">
								<img src="../../assets/u1924.png" style="width: 14px;height: auto;"/>
								<div style="width: 1px; background-color: #2b85e4" :style="{height:item.showProcessingDetal?'100px':'60px'}" v-if="!item.isTheLastOne"></div>
							</div>

							<div style="display: flex; flex-direction: column; margin-left: 10px;" >
								<div style="display: flex;flex-direction: row;">
									<div style="margin-top: -18px;height: 50px; width: 50px; border-radius: 50px;line-height: 50px; text-align: center; color: white; background-color: #2f54eb">{{item.userName}}</div>
									<div style="text-align: left; margin-right: 15px; color: #34495e; padding: 0px 10px 0px 10px">处理该网站
										<label class="modalCount_label">{{item.count}}条</label> 违规信息
									</div>
									<div class="processing_detail_button_layout" style="margin-top: -10px" @click="clickProcessingDetailButton(index,item.imageId)">
										<label style="color:#2d8cf0;font-size: 14px;text-align: center;cursor: pointer" >处理详情</label>
										<img src="../../assets/zhankai1.png" :id=item.imageId  style="width: 13px;height: auto;cursor: pointer"/>

									</div>
								</div>

								<div class="processing——detail" style="margin-left: 10px; display: flex; flex-direction: column; padding: 10px 10px 30px 0px" v-if="item.showProcessingDetal">
									<div style=" display: flex; flex-direction: row;">
										<label class="common_label_style">协查方案：</label>
										<label class="common_label_style">{{item.scheme}}</label>
									</div>
									<div style=" display: flex; flex-direction: row;">
										<label class="common_label_style">协查反馈：</label>
										<label class="common_label_style">{{item.feedBack}}</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div slot="footer"></div>
			</Modal>
		</div>


		<Footer/>
	</div>
</template>

<script>
    import Cookies from 'js-cookie'
    import ApiRequest from '@/api/apiRequest.js'
    import webWaringRequest from '@/api/webWaringRequest.js'
    import Footer from '@/components/footer/footer.vue'
    import Header from '@/components/header/header.vue'
    import config from '@/config'
    const baseUrl = process.env.NODE_ENV === 'development' ? config.baseUrl.dev : config.baseUrl.pro
    import {
        getUsersList,

    } from '@/api/data'

    export default {
        name: 'UserManagerUser',
        components: {
            Footer,
            Header
        },
        data() {
            return {
                selectAll: false,
                queryWebSiteCondition:{
                    page:1,
                    count:10,
                    city: '',
                    organizerNature:'',
                    level:'',
                    type: 'unhandle',
                    searchValue: ''

                },
                webTableColumnList: [
                    {
                        type: 'selection',
                        width: 60,
                        align: 'center'
                    },
                    {
                        title: '网站名称',
                        slot: 'siteName',
                        key: 'siteName'
                    },
                    {
                        title: '违规量',
                        key: 'illegalCount',
                        align: 'center'
                    },
                    {
                        title: '最近预警时间',
                        key: 'createTime',
                        align: 'center'
                    },
                    {
                        title: '网站分类',
                        key: 'categoryTitle',
                        align: 'center'
                    },
                    {
                        title: '所属地域',
                        key: 'city',
                        align: 'center'
                    },
                    {
                        title: '主办单位',
                        key: 'organizerNature',
                        align: 'center'
                    },
                    {
                        title: '操作',
                        width: 260,
                        slot: 'action',
                        key: 'action',
                        align: 'center'
                    },
                ],
                webTableData: [],

                websTotal: 100,
                webSelectData: null,

                selectWebSiteData: {},


                //****网站负责人*********
                lookTheResponsiblePeopleModal: false,
                webNameofTheResponsiblePeople: '湖南政协新闻网',
                TheResponsiblePeopleName: '张三',
                TheResponsiblePeoplePhone: '',

                //****************协查反馈***************
                investigationFeedbackModal: false,
                investigationPlan: '',
                feedbackValue: '',
                feedbackwords: 0,
                feedbackWordsLeft: 100,



                organizers:[
                    {
                        label:'全部',
                        selected:true,
                    },
                    {
                        label:'个人',
                        selected:false,
                    },
                    {
                        label:'企业',
                        selected:false,
                    },
                    {
                        label:'事业单位',
                        selected:false,
                    },
                    {
                        label:'社会团体',
                        selected:false,
                    },
                    {
                        label:'政府机关',
                        selected:false,
                    },
                    {
                        label:'其他',
                        selected:false,
                    }
                ],
                siteGrade:[
                    {
                        label:'全部',
                        selected:true
                    },
                    {
                        label:'A级',
                        selected:false
                    },
                    {
                        label:'B级',
                        selected:false
                    },
                    {
                        label:'C级',
                        selected:false
                    }
                ],
                siteProcess:[
                    {
                        label:'待处理',
                        websCount: 0,
                    },
                    {
                        label:'已处理',
						websCount: 0,
                    }
                    
                ],
				processTypeUnhandle: true,

                allProvinceItem:{
                    label:'全省',
                    selected:true,
					count: 0
                },
                cityData:[],

				//*****************处理记录***************
                processingRecordsModal: false,
                processingRecords: [],
                noProcessData: false,



                rolePermissions: [],
                pagePermissions: [],

            }
        },

        computed: {},

        mounted() {
            this.initData();
            this.getpermission();
        },


        methods: {
            getpermission(){
                this.rolePermissions = JSON.parse(localStorage.getItem('rolePermissions'))
                //console.log(this.rolePermissions)
                for (var i = 0; i < this.rolePermissions.length; i++) {
                    var item = this.rolePermissions[i]
                    if(item.module_name == "违规协查"){
                        this.pagePermissions = item.permissionList
                        //console.log(this.pagePermissions)
                    }
                }
            },

            initData() {
                //获取地域数据
                ApiRequest.getSiteWebAreaData().then(res => {
                    if(res.data.code ==0){
                        // this.queryWebSiteCondition.province = res.data.object.name
                        //this.getWebSiteData()
                        var citys = res.data.object.object
                        if(citys != null && citys.length > 0){
                            for (var i = 0; i < citys.length; i++) {
                                var item = {
                                    label:citys[i].name,
									count: 0,
                                    selected:false
                                }
                                this.cityData.push(item)
                            }
                        }
                    }
                })

                this.getIllegalWebsCountEverycity()

				this.getWebSiteData()
            },

            //违规协查  统计网站数量：根据城市
            getIllegalWebsCountEverycity(){
                webWaringRequest.getIllegalWebsCountBycondition().then(res => {
                    if(res.data.code == 0){
                        var dataArray = res.data.object
                        for (var i = 0; i < dataArray.length; i++) {
                            this.allProvinceItem.count += dataArray[i].count
                            for (var j = 0; j < this.cityData.length; j++) {
                                if(this.cityData[j].label == dataArray[i].city){
                                    this.cityData[j].count = dataArray[i].count
                                }
                            }
                        }
                    }
                })
            },

            //违规协查的网站
            getWebSiteData(){
                webWaringRequest.getIllegalWebsData(this.queryWebSiteCondition).then(res => {
                    if(res.data.code == 0){
                        this.siteProcess[0].websCount = res.data.object.count_unhandle
                        this.siteProcess[1].websCount = res.data.object.count_handled

						if(this.processTypeUnhandle){
                            this.websTotal = Number(res.data.object.count_unhandle)
						}else {
                            this.websTotal = Number(res.data.object.count_handled)
                        }
                        var dataArray = res.data.object.mList

                        console.log(dataArray)

                        for (var i = 0; i < dataArray.length; i++) {
                            dataArray[i].createTime = formatDate(dataArray[i].createTime)
                        }
                        this.webTableData = dataArray
                    }
                })
            },

            //搜索框
            searchForcondition(){
                if(this.queryWebSiteCondition.searchValue.length == 0){
                    return
                }else {
                    this.getWebSiteData()
                }
            },

            //选择主办单位
            selectOrganizers(index){
                this.queryWebSiteCondition.page = 1
                for (var i = 0; i < this.organizers.length; i++) {
                    this.organizers[i].selected = false
                    if( i == index){
                        this.organizers[i].selected = true
                        this.queryWebSiteCondition.organizerNature = this.organizers[i].label
                        if(index == 0){
                            this.queryWebSiteCondition.organizerNature = null
                        }
                    }
                }
                this.getWebSiteData()
            },
            //选择网站等级
            selectSiteWebGrade(index){
                this.queryWebSiteCondition.page = 1
                for (var i = 0; i < this.siteGrade.length; i++) {
                    if(i == index){
                        this.siteGrade[i].selected = true
                        this.queryWebSiteCondition.level = this.siteGrade[i].label.slice(0,1)
                        if(index == 0){
                            this.queryWebSiteCondition.level = null
                        }
                    }else{
                        this.siteGrade[i].selected = false
                    }
                }
                this.getWebSiteData()
            },

            //选择网站地域
            selectSiteWebArea(index){
                this.queryWebSiteCondition.page = 1
                if(index < 0){
                    this.allProvinceItem.selected = true
                    this.queryWebSiteCondition.city = null
                }else{
                    this.allProvinceItem.selected = false
                }
                for (var i = 0; i < this.cityData.length; i++) {
                    if(i == index){
                        this.cityData[i].selected = true
                        this.queryWebSiteCondition.city = this.cityData[i].label
                    }else{
                        this.cityData[i].selected = false
                    }
                }
                this.getWebSiteData()
            },

			//选择已处理或未处理
            selectSiteProcessType(index){
            //:style="{color: siteProcess[0].selected?'white':'black' background-color: #2b85e4}"
                this.queryWebSiteCondition.page = 1

                if(index == 0){
                    document.getElementById('unhandle').style.color = "white"
                    document.getElementById('unhandle').style.backgroundColor = "#2b85e4"

                    document.getElementById('handled').style.color = "black"
                    document.getElementById('handled').style.backgroundColor = "#fafafa"

                    this.queryWebSiteCondition.type = 'unhandle'
                    this.processTypeUnhandle = true
                }else {

                    document.getElementById('unhandle').style.color = "black"
                    document.getElementById('unhandle').style.backgroundColor = "#fafafa"

                    document.getElementById('handled').style.color = "white"
                    document.getElementById('handled').style.backgroundColor = "#2b85e4"

                    this.queryWebSiteCondition.type = 'handled'
                    this.processTypeUnhandle = false
				}
                this.getWebSiteData()

			},

            //点击网站名称跳转到-->违规网站列表
            gotoViolationWebList(item){

				//console.log(item)
                var violationWebCondition = {
                    mustKeyWords:[],
                    shouldKeyWords:[],
                    unrelated:[],
                    domainName:[],
                    isWarning:'',
                    start_time: '',
                    end_time: '',
                    sortField:'',
                    sortType:'',
                    page_no:1,
                    page_size:10,
                }

                violationWebCondition.domainName.push(item.domainName)
                localStorage.setItem('isWarningComeHere', 0)
                localStorage.setItem('warningWebContent', JSON.stringify(item))
                localStorage.setItem('violationWebCondition', JSON.stringify(violationWebCondition))

                this.$router.push({
                    name: 'violationWebList'
                })
            },

            pagerChange(e) {
                if (this.queryWebSiteCondition.page == e) {
                    return
                }
                this.queryWebSiteCondition.page = e
                this.getWebSiteData()

            },
            pagerSizeChange(e) {
                if (this.queryWebSiteCondition.count == e) {
                    return
                }
                this.queryWebSiteCondition.count = e
                this.getWebSiteData()
            },

            selectItem(selection){
                this.webSelectData = selection
            },

            cancelSelectItem(selection){
                this.webSelectData = selection
            },

            selectAllItem(selection){
                this.webSelectData = selection
            },

            cancelSelectAllItem(selection){
                this.webSelectData = selection
            },

            exportWebData(){

                var exportCondition = {
                    type:            '',
                    city:            this.queryWebSiteCondition.city,
                    organizerNature: this.queryWebSiteCondition.organizerNature,
                    level:           this.queryWebSiteCondition.level,
                }
                if(this.processTypeUnhandle){
                    exportCondition.type = 'unhandle'
				}else {
                    exportCondition.type = 'handled'
				}
                const msg = this.$Message.loading({
                    content: '正在导出...',
                    duration: 0
                });

                if(this.webSelectData == null || this.webSelectData.length <= 0){//条件导出
                    webWaringRequest.exportIlligalWebs(exportCondition).then(res => {
                        if(res.data.code == 0){
                            this.downloadFile(res.data.object)
                        }else {
                            this.$Message.error(res.data.message)
                        }
                    })
                } else{//id导出


                    var webids = []
                    for (var i = 0; i < this.webSelectData.length; i++) {
                        var item = this.webSelectData[i]
                        webids.push(item.id)
                    }
                    var requestData = {
                        ids:webids,
                        type: ''
                    }
                    if(this.processTypeUnhandle){
                        requestData.type = 'unhandle'
                    }else {
                        requestData.type = 'handled'
                    }
                    webWaringRequest.exportIlligalWebsByIds(requestData).then(res => {
                        if(res.data.code == 0){
                            this.downloadFile(res.data.object)

                        }else {
                            this.$Message.error(res.data.message)
                        }
                    })
                }

                setTimeout(msg, 300);
            },

            downloadFile(url){
                url = baseUrl + url
                ApiRequest.exportFile(url).then(response => {
                    let blob = new Blob([response.data], {
                        type: 'application/vnd.ms-excel'
                    })
                    let fileName = Date.parse(new Date()) + '.xlsx'
                    if (window.navigator.msSaveOrOpenBlob) {
                        navigator.msSaveBlob(blob, fileName)
                    } else {
                        var link = document.createElement('a')
                        link.href = window.URL.createObjectURL(blob)
                        link.download = fileName
                        link.click()
                        window.URL.revokeObjectURL(link.href)
                    }
                })
            },


            //查看网站负责人
            lookTheResponsiblePeople(row){
                this.lookTheResponsiblePeopleModal = true
                this.webNameofTheResponsiblePeople = row.siteName
                this.TheResponsiblePeopleName = row.contact
                this.TheResponsiblePeoplePhone = row.phone
            },

            //协查反馈弹框
            investigationFeedback(item) {
                if(!isHaveThePermission(this.pagePermissions, "协查反馈")){
                    this.$Message.error('暂无此权限！')
                    return
                }
                this.investigationFeedbackModal = true
                this.selectWebSiteData = item
            },

            investigationFeedbackDescInput(){
                if(this.feedbackValue.length >= 100){
                    this.$Message.error('反馈不能超过100个字')
                }
                this.feedbackwords = this.feedbackValue.length;
                this.feedbackWordsLeft = 100 - this.feedbackwords
            },

            saveInvestigationFeedback(){
                var investigationFeedbackCondition = {
                    id:       this.selectWebSiteData.id,
                    userId:   Cookies.get('user_id'),
                    feedBack:  '',
                }
                if(this.feedbackValue == ''){
                    this.$Message.error('协查反馈不能为空')
                    return
                }
                investigationFeedbackCondition.feedBack = this.feedbackValue
                webWaringRequest.addInvestigationFeedback(investigationFeedbackCondition).then(res =>{
                    if(res.data.code == 0){
                        this.investigationFeedbackModal = false
                        this.getWebSiteData()
                        this.$Message.success(res.data.message)
                    }else{
                        this.$Message.error(res.data.message)
                    }
                })
            },
            cancelInvestigationFeedback(){
                this.investigationFeedbackModal = false
			},


            //处理记录弹框
            clickProcessingRecords(item){
                if(!isHaveThePermission(this.pagePermissions, "处理记录")){
                    this.$Message.error('暂无此权限！')
                    return
                }
                this.processingRecordsModal = true
                this.selectWebSiteData = item
				this.getProcessingRecords(item)

			},
			//获取处理记录
			getProcessingRecords(item){
                this.processingRecords = []
                this.noProcessData = false
                webWaringRequest.getProcessingRecords(item.domainName).then(res =>{
                    if(res.data.code == 0){
                        var dataArray = res.data.object
                        //console.log(dataArray)
						if (dataArray.length > 0){
                            for (var i = 0; i < dataArray.length; i++) {
                                var newtiem = formatDate(dataArray[i].createTime)
                                var newtiemArray = newtiem.split(' ')
                                dataArray[i].processing_time = newtiemArray[1]
                                dataArray[i].processing_date = newtiemArray[0]
                                dataArray[i].showProcessingDetal = false
                                dataArray[i].isTheLastOne = false
                                dataArray[i].imageId = "img" + dataArray[i].id
                                if(i == dataArray.length - 1){
                                    dataArray[i].isTheLastOne = true
                                }
                            }
                            this.processingRecords = dataArray
						}else {
                            this.noProcessData = true
						}


                    }else{
                        this.$Message.error(res.data.message)
                    }
                })
			},

            clickProcessingDetailButton(index,elementId){
                this.processingRecords[index].showProcessingDetal = !this.processingRecords[index].showProcessingDetal
                var element = document.getElementById(elementId)
                var rotate = 180
				if(!this.processingRecords[index].showProcessingDetal){
                    rotate = 0
				}
                element.style.transform = "rotate(" + rotate + "deg)"
			},

        }
    }

    function isHaveThePermission(permissionList, operationName){
        var haveTheRight = true

        for (var i = 0; i < permissionList.length; i++) {
            if(permissionList[i].permission_name == operationName){
                if(permissionList[i].status == 1){
                    haveTheRight = true
                }else {
                    haveTheRight = false
                }
            }
        }
        return haveTheRight
    }

    function formatDate(timestamp = +new Date()) {
        if (timestamp) {
            var time = new Date(timestamp);
            var y = time.getFullYear();
            var M = time.getMonth() + 1;
            var d = time.getDate();
            var h = time.getHours();
            var m = time.getMinutes();
            var s = time.getSeconds();
            return y + '-' + addZero(M) + '-' + addZero(d) + ' ' + addZero(h) + ':' + addZero(m) + ':' + addZero(s);
        } else {
            return '';
        }
    }
    function addZero(m) {
        return m < 10 ? '0' + m : m;
    }

</script>

<style>
	@import './irregularities_investigation.less';
</style>
