.irregularities_investigation_layout{
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #e8eaec;
  padding: 12px;
}

.irregularities_investigation_background{
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  background: white
}

.irregularities_investigation_top_layout{
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: white;

}


.irregularities_investigation_horizontal_layout{
  display: flex;
  flex-direction: row;
  //align-items: center;
  width: 100%;
}

.irregularities_investigation_content_siftcondition_layout{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: white;

}

.site_manager_web_table_name_label{
  color: white;
  display: block;
  border-radius: 35px;
  width: 18px;
  min-width: 18px;
  line-height: 18px;
  font-size: 14px;
  padding-left: 4.5px;
  margin-right: 4px;
  height: 18px;
  background: red;
}

.inputNotice_tag{
  width: 600px;
  height: 20px;
  align-items: center;
  font-size: 13px;
  text-align: right;
  line-height: 20px;
  color: #8c989d;
  margin-bottom: 15px;
  padding-right: 20px;

}
.inputNotice_item_tag{
  color: #34495e;
  font-size: 13px;
}

.modalCount_label{
  color: #3c7af9;
  font-size: 13px;
}

.processing_detail_button_layout{
  margin-left: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}


.ivu-table-overflowX{ overflow-x: hidden;}

.ivu-modal{
  top: 60px;
}
.ivu-modal-header{
  padding: 0;
}

.ivu-modal-header p, .ivu-modal-header-inner{
  line-height: 50px;
  padding-left: 12px;
  font-size: 16px;
}
.ivu-modal-close .ivu-icon-ios-close{
  color: white
}

.ivu-modal-footer {
  border-top: 1px solid white;
  padding: 5px 18px 5px 18px;
  text-align: right;
}
