.home_container{
	width: 100%;
	height: 100%;
}

.home_header_layout{
	padding: 0 12px;
	height: 70px;
	width: 100%;
	min-height: 70px;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-image: linear-gradient(to right, #2c53cf,#3e99fc);
}
.home_header_title_label{
	color: white;
	display: block;
	width: 30%;
	min-width: 200px;
	font-size:20px;
	margin: auto 0;
	font-weight:bold;
}

.home_top_menu_layout{
	height: 100%;
	width: 40%;
	min-width: 840px;
	display: flex;
	flex-direction: column
}
.home_top_menu_group_layout{
	height: 100%;
	display: flex;
	padding-top: 5px;
	flex-direction: row
}

.home_header_menu_item{
	color: white;
	display: block;
	width: 140px;
	height: 25px;
	margin: auto 0;
	font-size: 15px;
	text-align: center;
}

.home_header_right_user_div{
	width: 140px;
	height: 100%;
	float: right;
	display: flex;
	flex-direction: row;
	align-items: center
}
.home_header_user_select{
	width: 100px;
}
.home_top_menu_select_div{
	width: 70px; 
	height: 100%;
	background:#24daba;
}