<template>
	<div class="home_header_layout">
		<label class="home_header_title_label">{{homeTitle}}</label>
	    <div class="home_top_menu_layout">
			<div class="home_top_menu_group_layout">
				<a class="home_header_menu_item" v-for="(item,index) in menuData" @click="selectPager(index)">{{item.label}}</a>
			</div>
	        <div style="width: 420px;height: 2.5px;">
				<div class="home_top_menu_select_div" id="home_top_menu_select_div" :style="{'margin-left':leftPosition + 'px'}"></div>
			</div>
	    </div>
		<div style="width: 30%;min-width: 140px;" >
			<div class="home_header_right_user_div">
				<Avatar icon="ios-person" size='large'/>
				<Dropdown style="margin-left: 12px;height:100%;width: 100px;" @on-click="selectPager">
					<a style="color: white;font-size: 12px;" shref="javascript:void(0)">{{userName}}
						<Icon type="ios-arrow-down"></Icon>
					</a>	
					<DropdownMenu slot="list">
						<DropdownItem name='6' v-if="showPersinalPage">个人中心</DropdownItem>
						<DropdownItem name='7'>退出</DropdownItem>
					</DropdownMenu>
				</Dropdown>
			</div>
		</div>
	</div>
</template>

<script>
    import Cookies from 'js-cookie'
	import { mapActions } from 'vuex'
	import {getPlatformName} from '@/api/data'
	export default{
		name:'Header',
		props:['current_pager'],
		data(){
			return{
				menuData:[
					{
						name:'home',
						label:'首页'
					}
				],
				homeTitle:'',
				userName:'',
				leftPosition:35,

                showPersinalPage: true,
                rolePermissions: [],
                pagePermissions: {}
			}
		},
		mounted(){
            this.rolePermissions = JSON.parse(localStorage.getItem('rolePermissions'))
            for (var i = 0; i < this.rolePermissions.length; i++) {
                var item = this.rolePermissions[i]
				if(item.module_name == "网站管理" && item.status == 1){
					var navigateItem = {
                        name:'site_manger',
                        label:'网站管理'
					}
					this.menuData.push(navigateItem)
				}
                if(item.module_name == "巡查预警" && item.status == 1){
                    var navigateItem = {
                        name:'site_waring',
                        label:'巡查预警'
                    }
                    this.menuData.push(navigateItem)
                }
                if(item.module_name == "违规协查" && item.status == 1){
                    var navigateItem = {
                        name:'irregularities_investigation',
                        label:'违规协查'
                    }
                    this.menuData.push(navigateItem)
                }
                if(item.module_name == "事件排查" && item.status == 1){
                    var navigateItem = {
                        name:'screening_events',
                        label:'事件排查'
                    }
                    this.menuData.push(navigateItem)
                }
                if(item.module_name == "属地简报" && item.status == 1){
                    var navigateItem = {
                        name:'brief_report',
                        label:'属地简报'
                    }
                    this.menuData.push(navigateItem)
                }
                if(item.module_name == "个人中心"){
                    if(item.status == 1){
                        this.showPersinalPage = true
					}else {
                        this.showPersinalPage = false
					}

                }
            }

			this.init();
		},
		computed: {
			getProjectTitle() {
				return this.$store.getters.getProjectTitle
			},
			getCurrentUser() {
				return this.$store.getters.currentUser
			}
		},
		 watch: {
			getProjectTitle(val) {
				this.homeTitle = val
			},
			getCurrentUser(user) {
				this.userName = user.name
			}
		},
		methods:{
				...mapActions([
				  'selectUserManagerMenu',
				  'setInHomeStatus',
				]),
				init(){
					this.userName = window.localStorage.getItem('user_name')
					for (var i = 0; i < this.menuData.length; i++) {
						if(this.current_pager == this.menuData[i].name){
							this.leftPosition = i*140 + 35;
						}
					}
					var platformName = window.localStorage.getItem('platform_name')
					if(platformName != null && platformName.length > 0){
						this.homeTitle = platformName
					}else{
						this.getPlatformName()
					}
				},
				getPlatformName(){
					let that = this
				    getPlatformName().then(res => {
				        if(res.data.code == 0){
							that.homeTitle = res.data.object.platform
				        }else{
							that.homeTitle = '属地化网站管理平台'
						}
						window.localStorage.setItem('platform_name',res.data.object.platform)
				    })
				},
				selectPager(index){
					if(index == '6'){
						this.selectUserManagerMenu(0)
						this.changePager('user_manager')
						this.setInHomeStatus(false)
						return
					}
					if(index == '7'){
                        Cookies.remove('accessToken')
						this.changePager('login')
						this.setInHomeStatus(false)
						return
					}
					var menu = this.menuData[index]
					this.leftPosition = index*140 + 35;
					this.changePager(menu.name)
				},
				changePager(pager){
					if(pager == 'home'){
						this.isHome = true
					}else{
						this.isHome= false
					}
					if(pager == 'login'){
		                this.$store.commit({
		                    type: 'logout'
		                })
					}
					this.$router.push({
					  name: pager
					})
				}
			}
		
	}
</script>


<style scoped>
	@import './header.less';
</style>
