<template>
	<div class="user_manager_account_layout">
		<div class="user_manager_content_top_layout">
			<label class="user_manager_menu_title" style="font-size: 16px;font-weight: bold;">账户信息</label>
		</div>
		<div style="background:#e8eaec;height: 1px;width: 100%;" />
		<div class="user_manager_account_content_item_layout">
			<label class="user_manager_account_content_item_tag">当前账号</label>
			<div class="user_manager_account_content_input_layut" v-if="accountShow">
				<label class="user_manager_account_content_item_content">{{user_account}}</label>
			</div>
			<div class="user_manager_account_content_input_layut"  v-if="!accountShow">
				<Input class="user_manager_account_content_input" v-model="accountValue"/>
				<Button type="primary" class="user_manager_account_content_button" @click="changeAccount(1)">保存</Button>
				<Button class="user_manager_account_content_button" @click="changeAccount(1)">取消</Button>
			</div>
		</div>
		<div class="user_manager_account_content_item_layout">
			<label class="user_manager_account_content_item_tag">姓名</label>
			<div class="user_manager_account_content_input_layut" v-if="userNameShow">
				<label class="user_manager_account_content_item_content">{{userName}}</label>
				<a class="user_manager_account_content_item_button" @click="changeUserName(0)">修改</a>
			</div>
			<div class="user_manager_account_content_input_layut"  v-if="!userNameShow">
				<Input class="user_manager_account_content_input" v-model="userNameValue"/>
				<Button type="primary" class="user_manager_account_content_button" @click="handleChangeUserName(1)">保存</Button>
				<Button class="user_manager_account_content_button" @click="changeUserName(1)">取消</Button>
			</div>
		</div>
		
		<div class="user_manager_account_content_item_layout">
			<label class="user_manager_account_content_item_tag">平台名称</label>
			<div class="user_manager_account_content_input_layut" v-if="platformNameShow">
				<label class="user_manager_account_content_item_content">{{platformName}}</label>
				<a class="user_manager_account_content_item_button" @click="changePlatformName(0)">修改</a>
			</div>
			<div class="user_manager_account_content_input_layut"  v-if="!platformNameShow">
				<Input class="user_manager_account_content_input" v-model="platformNameValue"/>
				<Button type="primary" class="user_manager_account_content_button" @click="handleChangePlatformName(1)" @keyup.enter="handleChangePlatformName(1)">保存</Button>
				<Button class="user_manager_account_content_button" @click="changePlatformName(1)">取消</Button>
			</div>
		</div>
		<div class="user_manager_account_content_item_layout">
			<label class="user_manager_account_content_item_tag">联系方式</label>
			<div class="user_manager_account_content_input_layut" v-if="showPhonenumber">
				<label class="user_manager_account_content_item_content">{{phoneNumber}}</label>
				<a type="text" class="user_manager_account_content_item_button" @click="lookPhone()">{{phoneActionTag}}</a>
				<a type="text" class="user_manager_account_content_item_button" @click="changePhone(0)">修改</a>
			</div>
			<div class="user_manager_account_content_input_layut"  v-if="!showPhonenumber">
				<Input class="user_manager_account_content_input" v-model="phoneNumberValue"/>
				<Button type="primary" class="user_manager_account_content_button" @click="handleChangePhone(1)" @keyup.enter="handleChangePhone(1)">保存</Button>
				<Button class="user_manager_account_content_button" @click="changePhone(1)">取消</Button>
			</div>
		</div>
		<div class="user_manager_account_content_item_layout">
			<label class="user_manager_account_content_item_tag">登录密码</label>
			<label class="user_manager_account_content_item_content">******</label>
			<a type="text" class="user_manager_account_content_item_button" @click="changePassword">重置密码</a>
		</div>
		<div class="user_manager_account_content_item_layout">
			<label class="user_manager_account_content_item_tag">账号到期时间</label>
			<label class="user_manager_account_content_item_content">{{accountStartTime}}~{{accountEndTime}}</label>
			<label class="user_manager_account_content_item_button" style="color: #ff9c27;">{{accountTimes}}</label>
		</div>
		<Modal v-model="changePasswordModalShow" width="500">
				<p slot="header" style="display:block;height:100%; color:white;background: #4681fa;">
					<span>修改密码</span>
				</p>
				<div style="text-align:center">
					<div class="modal_content_item_layout" style="align-items: center;">
						<div class="modal_content_item_left_layout">
							<label class="modal_content_item_tag">原始密码：</label>
							<label class="modal_content_item_star_tag">*</label>
						</div>
						<Input class="modal_content_item_input"  type="password" v-model="originPassword" placeholder="请输入原始密码"/>
					</div>
					<div class="modal_content_item_layout" style="align-items: center;">
						<div class="modal_content_item_left_layout">
							<label class="modal_content_item_tag">新密码：</label>
							<label class="modal_content_item_star_tag">*</label>
						</div>
                        <Input class="modal_content_item_input"  type="password" v-model="nwPassword" placeholder="请输入新密码"/>
					</div>
					<div class="modal_content_item_layout" style="align-items: center;">
						<div class="modal_content_item_left_layout">
							<label class="modal_content_item_tag">确认密码：</label>
							<label class="modal_content_item_star_tag">*</label>
						</div>
						<Input class="modal_content_item_input"  type="password" v-model="ensureNewPassword" placeholder="请输入确认密码"/>
					</div>
				</div>
				<div slot="footer">
					<Button type="primary" size="large" style="width: 100px;" @click="submitPassword">确定</Button>
				</div>
			</Modal>
	</div>
</template>

<script>
    // import Cookies from 'js-cookie'
    import md5 from 'js-md5'
    // import {mapState} from "vuex";
	import { mapActions } from 'vuex'
    import {
        changeUsername,
        changeUsercontact,
        changeUserpassword,
        getPlatformName,
        changePlatformName

    } from '@/api/data'
	
	function getDate(date){
		var year = date.getFullYear()
		var mon = date.getMonth()
		var day = date.getDate()
		var week = date.getDay()
		return year+'-'+mon+'-'+day
	}
	
	export default{
		name:'UserManagerAccount',
		data(){
			return{
                user_account: '',
                userName: '',
                userContact: '',
                user_id: '',

				accountValue:'',
				accountShow:1,

				userNameValue:'',
				userNameShow:1,
				
				platformName:'',
				platformNameShow:1,
				platformNameValue:'',

                phoneNumberValue: '',
                showPhonenumber : 1,

                phoneNumber : '',
				phoneActionTag:'查看',

				changePasswordModalShow:false,

                originPassword: '',
                nwPassword : '',
                ensureNewPassword: '',
				
				accountStartTime:'',
				accountEndTime:'',
				accountTimes:'',


                rolePermissions: [],
                pagePermissions: []
			}
		},
        computed: {

		},

		mounted(){
			this.initData()
            this.getPlatformName()
		},


		methods:{
			...mapActions([
				'setProjectTitle'
			]),
			initData(){
                this.user_id = localStorage.getItem('user_id'),
                this.userContact = localStorage.getItem('contact'),
                this.userName =  localStorage.getItem('user_name'),
                this.user_account = localStorage.getItem('account'),
                this.phoneNumber = '********'
				this.platformName = '属地化网站管理平台'
				this.accountStartTime = localStorage.getItem('account_start_time')
				this.accountEndTime = localStorage.getItem('account_end_time')
				var time = localStorage.getItem('account_day')
				if(time < 0){
					this.accountTimes = '已到期'
				}else{
					this.accountTimes = '剩余' + time + '天到期'
				}

                this.rolePermissions = JSON.parse(localStorage.getItem('rolePermissions'))
                //console.log(this.rolePermissions)
                for (var i = 0; i < this.rolePermissions.length; i++) {
                    var item = this.rolePermissions[i]
                    if(item.module_name == "个人中心"){
						var dataArray = item.moduleList
                        for (var j = 0; j < dataArray.length; j++) {
                            var item = dataArray[j]
                            if(item.module_name == "账号信息"){
                                this.pagePermissions = item.permissionList
                                //console.log(this.pagePermissions)
                            }
                        }
                    }
                }


			},

			changeAccount(status){
				this.accountShow = status
			},

			changeUserName(status){
                if(!isHaveThePermission(this.pagePermissions, "修改姓名")){
                    this.$Message.error('暂无此权限！')
                    return
                }
				this.userNameShow = status
				this.userNameValue = this.userName
			},

            handleChangeUserName(status){

                var that = this
                changeUsername(that.user_account, that.userNameValue).then(res => {
                    if(res.data.code == 0){
                        that.userNameShow = status
                        that.userName = that.userNameValue
                        localStorage.setItem('user_name', that.userNameValue)
                        this.$store.commit({
                            type: 'updateData',
                            name: 'name',
                            value: that.userNameValue
                        })
                    }
                    else {
                        that.$Message.error(res.data.message);
                    }
                })
            },

			changePlatformName(status){
                if(!isHaveThePermission(this.pagePermissions, "修改平台名称")){
                    this.$Message.error('暂无此权限！')
                    return
                }
				this.platformNameShow = status
				this.platformNameValue = this.platformName
			},

            getPlatformName(){
                getPlatformName().then(res => {
                    if(res.data.code == 0){
                        this.platformName = res.data.object.platform;
                    }
                    else {
                        this.$Message.error(res.data.message);
                    }
                })
            },

            handleChangePlatformName(status){
                changePlatformName(this.platformNameValue).then(res => {
                    if(res.data.code == 0){
                        this.platformNameShow = status
                        this.platformName = this.platformNameValue;
						window.localStorage.setItem('platform_name',this.platformName)
						this.setProjectTitle(this.platformName)
                    }
                    else {
                        this.$Message.error(res.data.message);
                    }
                })
            },

			lookPhone(){
				if(this.phoneActionTag == '查看'){
					this.phoneActionTag = '隐藏'
					this.phoneNumber = this.userContact;
				}else{
					this.phoneActionTag = '查看'
					this.phoneNumber = '********'
				}
			},

            changePhone(status){
                if(!isHaveThePermission(this.pagePermissions, "修改联系方式")){
                    this.$Message.error('暂无此权限！')
                    return
                }
                this.showPhonenumber = status
				this.phoneNumberValue = this.userContact
            },

            handleChangePhone(status){
                var that = this
                if(this.phoneNumberValue.trim() == ''){
                    this.$Message.error('手机号不能为空！')
                    return
                }else {
                    var myreg = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+\d{8})$/;
                    if(!myreg.test(this.phoneNumberValue.trim())) {
                        this.$Message.error('手机号格式不正确！')
                        return
                    }
                }
                changeUsercontact(that.user_account, that.phoneNumberValue).then(res => {
                    if(res.data.code == 0){
                        this.showPhonenumber = status
                        if(this.phoneActionTag == '查看'){
                            this.phoneNumber = '********'
                        }else{
                            this.phoneNumber = this.phoneNumberValue;
                        }
                        this.userContact = that.phoneNumberValue;
                        that.$store.commit({
                            type: 'updateData',
                            name: 'contact',
                            value: that.phoneNumberValue
                        })

                        localStorage.setItem('contact', that.phoneNumberValue)
                    }
                    else {
                        that.$Message.error(res.data.message);
                    }
                })
            },


			changePassword(){
                if(!isHaveThePermission(this.pagePermissions, "重置密码")){
                    this.$Message.error('暂无此权限！')
                    return
                }
				this.changePasswordModalShow = true;
			},

            submitPassword(){
                var that = this
				if(that.originPassword == ''){
                    this.$Message.error('旧密码不能为空！')
                    return
                }
                if(that.nwPassword == ''){
                    this.$Message.error('新密码不能为空！')
                    return
                }
                if(that.nwPassword != that.ensureNewPassword){
                    this.$Message.error('两次密码不一致')
                    return
                }
                changeUserpassword(that.user_account, md5(that.originPassword), md5(that.nwPassword)).then(res => {
                    if(res.data.code == 0){
                        that.changePasswordModalShow = false;
                    }
                    else {
                        that.$Message.error(res.data.message);
                    }
                })

			}
		}

	}


    function isHaveThePermission(permissionList, operationName){
        var haveTheRight = true

        for (var i = 0; i < permissionList.length; i++) {
            if(permissionList[i].permission_name == operationName){
                if(permissionList[i].status == 1){
                    haveTheRight = true
                }else {
                    haveTheRight = false
                }
            }
        }
        return haveTheRight
    }
</script>

<style scoped>
    @import './user_manager_account.less';
</style>