.user_manager_account_layout{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.user_manager_account_content_item_layout{
	width: 100%;
	height: 80px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-left: 24px;
}

.user_manager_account_content_item_tag{
	color: #8590a7;
	font-size: 14px;
	display: block;
	width: 150px;
	min-width: 150px
}

.user_manager_account_content_item_content{
	color: #34495e;
	font-size: 13px;
}

.user_manager_account_content_item_button{
	margin-left: 24px;
	color: #3e7bf9;
	font-size: 13px
}
.user_manager_account_content_input_layut{
	width: 400px;
	display: flex;
	flex-direction: row;
	align-items: center
}
.user_manager_account_content_input input{
	width: 100%;
	font-size: 13px;
}
.user_manager_account_content_button{
	margin-left: 12px;
}