<template>
	<div class="home_container">
		<Header current_pager="site_manger"/>
		<div style="width:100%; height: 100%;">
			<SiteManagerContent style="min-height: 100%;height: auto;"/>
			<Footer/>
		</div>
	</div>
</template>

<script>
	import Footer from '@/components/footer/footer.vue'
	import Header from '@/components/header/header.vue'
	import SiteManagerContent from '@/components/site_manager_content/site_manager_content.vue'
	
	export default{
		components: {
			Footer,
			Header,
			SiteManagerContent
		},
	}
</script>

<style scoped>
    @import './site_manger.less';
</style>
