.site_manager_container_layout{
	width: 100%;
	min-height: 100%;
	background: #e8eaec;
	padding: 12px;
	display: flex;
	flex-direction: row
}

.site_manager_container_left_layout{
	min-width: 240px;
	width: 240px;
	min-height: 100%;
	background: white
}
.site_manager_container_right_layout{
	width: 100%;
	min-height: 100%;
	background: white;
	display: flex;
	flex-direction: column;
}

.site_manager_left_title_layout{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 12px 24px;
}
.site_manager_left_title_img{
	width: 18px;
	height: auto;
	margin-right: 8px;
	padding-bottom: 4px;
	cursor: pointer
}

.ivu-menu-vertical .ivu-menu-submenu-title-icon{
	display: none
}
.ivu-menu-vertical .ivu-menu-item, .ivu-menu-vertical .ivu-menu-submenu-title{
	padding: 8px 24px;
}
.site_manager_submenu_layout{
	display: flex;
	flex-direction: row;
	align-items: center
}
.site_manager_submenu_img{
	width: 20px;
	height: 20px;
	cursor: pointer;
	margin-bottom: 4px;
	transform: rotate(0deg); 
	-o-transform: rotate(0deg); 
	-webkit-transform: rotate(0deg); 
	-moz-transform: rotate(0deg); 
}

.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item{
	color: #8c989d
}
.site_manager_horizontal_layout{
	display: flex;
	flex-direction: row;
	//align-items: center;
	width: 100%;
}
.modal_content_select .ivu-select-selection {
	text-align: left;
    border-radius: 4px;
    border: 1px solid #dcdee2;
}
.ivu-select-single .ivu-select-selection .ivu-select-placeholder, .ivu-select-single .ivu-select-selection .ivu-select-selected-value{
	color: #8c989d
}
.site_manager_web_table_name_label{
	color: white; 
	display: block;
	border-radius: 35px;
	width: 18px;
	min-width: 18px;
	line-height: 18px;
	font-size: 14px;
	padding-left: 4.5px;
	margin-right: 4px;
	height: 18px;
	background: red;
}
.ivu-modal-footer{
	text-align: center;
	border-top: none
}
.ivu-modal{
	top: 200px;
}
.ivu-modal-header{
	padding: 0;
}

.ivu-modal-header p, .ivu-modal-header-inner{
	line-height: 50px;
	padding-left: 12px;
	font-size: 16px;
}
.ivu-modal-close .ivu-icon-ios-close{
	color: white
}

.modal_content_select .ivu-select-selection {
	text-align: left;
	border-radius: 4px;
	border: 1px solid #dcdee2;
}


.modal_content_item_layout{
	display: flex;
	height: 60px;
	flex-direction: row;
}

.modal_content_item_star_tag{
	color: red;
	font-size: 20px;
	display: block;
	float: right;
	margin-right: 4px
}

.modal_content_item_tag{
	color: #425569;
	font-size: 16px;
	display: block;
	float: right;
	margin-right: 8px;
}
.modal_content_item_input{

}
.modal_content_item_left_layout{
	min-width: 100px;
	padding-top: 4px
}

.modal_content_item_hint{
	color: red;
	font-size: 12px;
	padding-top: 4px
}

.modal_content_item_input_layout{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
}