<template>
	<div class="login_container_layout">
		<div>
			<img src="../../assets/login_logo.png" style="width: 260px;margin-left: 200px;margin-top: 30px; height: auto;"/>
		</div>
		<div style="min-height: 80%; width: 100%;">
			<Card class="login_card_layout" v-if="islogin">
				<div class="login_div_layout">
					<label class="login_title_style"  >欢迎回来登录</label>
					<label class="login_account_password_tag">账号</label>
					<Input  size="large" class="login_input_style" v-model="username" clearable placeholder="请输入账号"></Input>
					<label class="login_account_password_tag">密码</label>
					<Input  size="large" class="login_input_style" type="password" v-model="password" clearable placeholder="请输入密码"></Input>
					<div style="width: 100%;margin-bottom: 10px;">
						<Checkbox class="login_rember_password_checkbox">记住密码</Checkbox>
					</div>
					<Button type="primary" @click="handleSubmit()" style="width: 100%;margin-bottom: 5px;">登录</Button>
					<div style="width: 100%;">
					<label class="login_forget_password_checkbox" @click="forgetPassword()">忘记密码</label>
					</div>
					<div style="display: flex;flex-direction: row;">
						<label class="login_account_password_tag" style="width: 110px;font-size: 12px;">温馨提示：</label>
						<label class="login_account_password_tag" style="font-size: 12px;">为了保证良好的体验，建议使用火狐浏览器或谷歌浏览器访问！</label>
					</div>
				</div>
			</Card>
			<Card class="login_card_layout"  v-if="isGetCide">
				<div class="login_div_layout">
					<div style="width: 100%;display: inline-block;margin-bottom: 20px;">
						<div style="display: block;float: left;">
							<div style="display: flex;flex-direction: row;align-items: center;width: 100px;height: auto;">
								<img src="../../assets/u1193.png" @click="backLoginPage" style="cursor: pointer;width: 18px; height: auto;"/>
								<label class="common_label_style" @click="backLoginPage" style="cursor: pointer; color: #2f54eb;">返回登录</label>
							</div>
						</div>
						<label class="login_forget_title_style">忘记密码</label>
						<label style="color: #9e9e9e;font-size: 10px;display: block;float: right;">(1/2)</label>
					</div>
					<label class="login_account_password_tag">手机号码</label>
					<div class="login_phone_input_div">
						<input placeholder="请输入手机号"  v-model="phonenum" class="login_phone_input"/>
						<Button type="primary" @click="getPhonecode()"  size="small" style="font-size: 10px;float: right; margin-top:3px">获取验证码</Button>
					</div>
					<label style="color: red;font-size: 10px;margin-bottom: 5px;">{{checkPhoneNum}}</label>

					<label class="login_account_password_tag">验证码</label>
					<Input class="login_input_style" v-model="phoneCode" placeholder="请输入验证码" style="margin-bottom: 5px;"></Input>
					<label style="color: red;font-size: 10px;margin-bottom: 5px;">{{checkPhoneCode}}</label>
					<Button type="primary" @click="submitPhonecode()" style="width: 100%;margin-bottom: 25px;">下一步</Button>
					<div style="display: flex;flex-direction: row;">
						<label class="login_account_password_tag" style="width: 110px; font-size: 12px;">温馨提示：</label>
						<label class="login_account_password_tag" style="font-size: 12px;">为了保证良好的体验，建议使用火狐浏览器或谷歌浏览器访问！</label>
					</div>
				</div>
			</Card>
			<Card class="login_card_layout"  v-if="isSubmitNewpw">
				<div class="login_div_layout">
					<div style="width: 100%;display: inline-block;margin-bottom: 20px;">
						<div style="display: block;float: left;">
							<div style="display: flex;flex-direction: row;align-items: center;width: 100px;height: auto;">
								<img src="../../assets/u1193.png" @click="backLastPage" style="cursor: pointer;width: 18px; height: auto;"/>
								<label class="common_label_style" @click="backLastPage" style="cursor: pointer; color: #2f54eb;">返回上一步</label>
							</div>
						</div>
						<label class="login_submitNew_title_style">设置新密码</label>
						<label style="color: #9e9e9e;font-size: 10px;display: block;float: right;">(2/2)</label>
					</div>
					<label class="login_account_password_tag">新密码</label>
					<Input  size="large" class="login_input_style" type="password" v-model="newwpassword" clearable placeholder="请输入密码"></Input>
					<label style="color: red;font-size: 10px;margin-bottom: 5px;">{{checknewPassword}}</label>

					<label class="login_account_password_tag">确认密码</label>
					<Input  size="large" class="login_input_style" type="password" v-model="ensureNewPassword" clearable placeholder="请再次输入密码"></Input>
					<label style="color: red;font-size: 10px;margin-bottom: 5px;">{{checknewPasswordAgain}}</label>

					<Button type="primary" @click="submitNewpassword()" style="width: 100%;margin-bottom: 25px;">确认修改</Button>
					<div style="display: flex;flex-direction: row;">
						<label class="login_account_password_tag" style="width: 110px; font-size: 12px;">温馨提示：</label>
						<label class="login_account_password_tag" style="font-size: 12px;">为了保证良好的体验，建议使用火狐浏览器或谷歌浏览器访问！</label>
					</div>
				</div>
			</Card>
		</div>
		<div style="width: 100%;height: 100px;margin-bottom: 10px">
			<div style="display: flex;flex-direction: column;;width: 100%;">
				<label style="color: white;font-size: 12px; width: 100%; text-align: center">北京市海淀区中关村软件园二期华胜天成2层</label>
				<label style="color: white;font-size: 12px; width: 100%; text-align: center">Copyright©2008-2018 中科点击（北京）科技有限公司-版权所有 京ICP备11012241-3号</label>
			</div>
		</div>
	</div>

</template>

<script>
    import md5 from 'js-md5'
    import {
        mapGetters,
        mapState,
        mapMutations,
        mapActions
    } from "vuex";

    import {
        userLogin
    } from '@/api/data'


    import ApiRequest from '@/api/apiRequest.js'



    export default {
        data () {
            return {
                password: '',
                username: '',
                userMessage:{},

                islogin: true,
                isGetCide: false,
                isSubmitNewpw: false,


                phonenum: '',
                phoneCode: '',

                newwpassword: '',
                ensureNewPassword: '',

                checkPhoneNum: '',
                checkPhoneCode: '',
                checknewPassword: '',
                checknewPasswordAgain: ''
            }
        },


        mounted(){
            this.initData()
        },

        methods: {
            initData(){
                var localAccount = localStorage.getItem('account')
				if(localAccount){
                    this.username = localAccount
				}
            },

            handleSubmit () {

                if(this.username.trim().length == 0 ){
                    this.$Message.error('用户名不能为空！')
					return
				}

                if(this.password.trim() == 0){
                    this.$Message.error('密码不能为空！')
                    return
                }

                this.$store.dispatch({
                    type: 'login',
                    username: this.username,
                    password: this.password
                }).then(res => {
					if(res.data.code == 0){
                        this.$router.push({name: 'home'})
					}else{
                        this.$Message.error(res.data.message)
					}
                   
                }, err => {
                    this.$Message.error("登录错误")
                })

            },


            forgetPassword(){
                if(this.username.trim().length == 0 ){
                    this.$Message.error('请输入忘记密码的账户！')
                    return
                }

                this.islogin = false
                this.isGetCide = true

			},
            backLoginPage(){
                this.islogin = true
                this.isGetCide = false
                this.isSubmitNewpw = false
			},
            getPhonecode(){
                if(this.phonenum.trim() == ''){
                    this.checkPhoneNum = "手机号不能为空"
                    return
                }else {
                    this.checkPhoneNum = ''
                    var myreg = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+\d{8})$/;
                    if(!myreg.test(this.phonenum.trim())) {
                        this.checkPhoneNum = "手机号格式不正确"
                        return
                    }
                }
                var requestData = {
                    "account": this.username.trim(),
                    "contact": this.phonenum.trim()
                }

                ApiRequest.getPhoneCode(requestData).then(res =>{
                    if(res.data.code == 0){
                        //console.log("发送验证码")
                        //console.log(res)
                    }else{
                        this.$Message.error(res.data.message)
                    }
                })
            },


            submitPhonecode(){
                if(this.phoneCode.trim() == ''){
                    this.$Message.error('验证码不能为空')
                    this.checkPhoneCode = "验证码输入为空"
                    return
                }else {
                    this.checkPhoneCode = ""
                }

                var requestData = {
                    "account": this.username.trim(),
                    "code": this.phoneCode.trim()
                }
                ApiRequest.checkPhoneCodeRequest(requestData).then(res =>{
                    if(res.data.code == 0){
                        //console.log("验证 验证码")
                        //console.log(res)
                        this.isGetCide = false
                        this.isSubmitNewpw = true

                    }else{
                        this.$Message.error(res.data.message)
                        this.checkPhoneCode = res.data.message
                    }
                })

            },

            backLastPage(){
                this.isGetCide = true
                this.isSubmitNewpw = false
            },

            submitNewpassword(){
                if(this.newwpassword == ''){
                    this.checknewPassword = "密码输入为空"
                    return
                }else {
                    this.checknewPassword = ""
                }

                if(this.newwpassword != this.ensureNewPassword){
                    this.$Message.error('两次输入密码不一致')
                    this.checknewPasswordAgain = "两次输入密码不一致"
                    return
                }else {
                    this.checknewPasswordAgain = ""
                    var requestData = {
                        "account": this.username.trim(),
                        "password": md5(this.newwpassword)
                    }

                    ApiRequest.setNewPassword(requestData).then(res =>{
                        if(res.data.code == 0){
                            this.$Message.success(res.data.message)
                            //console.log("设置新密码")
                            //console.log(res)
                            this.islogin = true
                            this.isGetCide = false
                            this.isSubmitNewpw = false

                        }else{
                            this.$Message.error(res.data.message)
                        }
                    })
                }
            }

        }
    }

</script>

<style scoped>
    @import './login.less';
</style>
