.login_container_layout{
	width: 100%;
	height: 100%;
	background:url('../../assets/login_bg.png');
	background-size:100% 100%;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
}
.login_card_layout{
	width: 400px;
	padding: 30px;
	padding-right: 30px;
	height: auto; 
	float: right;
	margin-right: 100px;
	margin-top: 100px;
}
.login_div_layout{
	display: flex;
	flex-direction: column;
	width: 100%
}

.login_title_style{
	color: black;
	font-size: 20px;
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}
.login_account_password_tag{
	color: #9e9e9e;
	font-size: 14px;
	padding-bottom: 2px;
}
.login_rember_password_checkbox{
	display: block;
	float: right;
	color: black;
	font-size: 12px;
}

.login_forget_password_checkbox{
	display: block;
	float: right;
	color: blue;
	margin-bottom:20px;
	font-size: 12px;
}
.login_input_style{
	margin-bottom: 12px;
	color: black;
	font-size: 12px;
}

.login_input_style ::-webkit-input-placeholder {
	font-size: 12px;
}
 
 .login_forget_title_style{
	display: block;
 	color: black;
	width: 65px;
 	font-size: 16px;
	float: left;
	margin-left: 17px
 }
.login_submitNew_title_style{
	display: block;
	color: black;
	width: 80px;
	font-size: 16px;
	float: left;
	margin-left: 17px
}

.login_phone_input_div{
	 width:100%;
	 height: 35px;
	 display: inline-block;
	 border: #dcdee2 solid 1px;
	 border-radius: 5px;
	 padding-left: 5px;
	 padding-right: 2.5px;
	 margin-bottom: 5px;
 }
 
 .login_phone_input{
	 color: black;
	 font-size: 10px;
	 height: 30px;
	 margin-top: 1px;
	 outline: none;
	 border:none
 }
.login_phone_input::-webkit-input-placeholder{
	font-size: 10px;
	color: #c5c8ce
}    /* 使用webkit内核的浏览器 */

.login_phone_input:-moz-placeholder{
	font-size: 10px;
	color: #c5c8ce
}                  /* Firefox版本4-18 */

.login_phone_input::-moz-placeholder{
	font-size: 10px;
	color: #c5c8ce
}                  /* Firefox版本19+ */

.login_phone_input:-ms-input-placeholder{
	font-size: 10px;
	color: #c5c8ce
}           /* IE浏览器 */
 
 

