<template>
	<div class="home_content_right_module_layout" style="padding-bottom: 24px;">
		<div class="home_content_module_top_layout" style="padding-bottom: 10px;">
			<img class="home_content_module_top_image" src="../../assets/circle_tag.png"/>
			<label class="home_content_module_top_title" style="min-width: 150px;">违规热词</label>
			<div style="width: 100%;height: 100%;min-width: 100px;">
				<Select style="width:80px;height:100%;float: right;" v-model="selectedTimeValue" @on-change="changeTheTime">
					<Option value="today">今天</Option>
					<Option value="seven">近7天</Option>
					<Option value="month">近30天</Option>
				</Select>
				<!--<Select class="modal_content_select" v-model="selectedReceiverCollumnId" style="width:120px">-->
					<!--<Option v-for="item in searchCollumn" :value="item.id">{{ item.label }}</Option>-->
				<!--</Select>-->
			</div>
		</div>
		<div class="home_violations_hot_words_layout" id="home_violations_hot_words_chart">
			
		</div>
	</div>
</template>

<script>
    import webWaringRequest from '@/api/webWaringRequest.js'

	let echarts = require('echarts/lib/echarts')
	require("echarts/lib/chart/pie")
	require("echarts/lib/chart/graph");
	require('echarts/lib/component/tooltip')
	require('echarts/lib/component/title')
	require("echarts/lib/component/legend");
	var hotWordsChart={}
	var colorArray = ["#5ebf69","#396fff","#f2686a"]
    var sizeArray = [100,90,80]


	var hotWordsOption={}
	export default{
		name:'HomeViolationsHotWordsLayout',
        data(){
            return{
                selectedTimeValue: 'today',
                //查询，包含所有的查询条件，如果没有，就直接是空字符串即可，具体的字段含义根据api文档
                queryWebSiteCondition: {
                    start_time: '',
                    end_time: '',
                },
                hotwordDataList:[]
            }
        },
		mounted(){
            this.queryWebSiteCondition.start_time = getDay(0, false)
            this.queryWebSiteCondition.end_time = getDay(0, true)
			this.initData()

		},
		methods:{

            //初始化数据
            initData() {
                //console.log(this.queryWebSiteCondition)
                webWaringRequest.getHomeIllegalHotword(this.queryWebSiteCondition).then(res => {
                    if (res.data.code == 0) {
                        //console.log("获取违规热词")
                        //console.log(res)
                        var dataArray = res.data.object.result
                        //console.log(dataArray)
                        for (var key in dataArray) {
                            var dataItem = {
                                "name": key,
                                "value": dataArray[key],
                                "symbolSize": sizeArray[Math.floor(Math.random()*sizeArray.length)],
                                "draggable": true,
                                "itemStyle": {
                                    "normal": {
                                        "color": colorArray[Math.floor(Math.random()*colorArray.length)]
                                    }
                                }
                            }
                            this.hotwordDataList.push(dataItem)
                        }

                        //console.log(this.hotwordDataList)

                        hotWordsOption = {

                            series: [{
                                type: 'graph',
                                layout: 'force',
                                force: {
                                    repulsion: 200,
                                },
                                label: {
                                    normal: {
                                        show: true
                                    }
                                },
                                data: this.hotwordDataList
                            }]
						}

                        this.drawEchart();


                    } else {
                        this.$Message.error(res.data.message)
                    }
                })
            },

            changeTheTime(value){
                this.hotwordDataList = []
                //console.log(value)
				this.selectedTimeValue = value
				if(value == 'today'){
                    this.queryWebSiteCondition.start_time = getDay(0, false)
                    this.queryWebSiteCondition.end_time = getDay(0, true)
				}else if(value == 'seven'){
                    this.queryWebSiteCondition.start_time = getDay(-6, false)
                    this.queryWebSiteCondition.end_time = getDay(0, true)
				}else {
                    this.queryWebSiteCondition.start_time = getDay(-30, false)
                    this.queryWebSiteCondition.end_time = getDay(0, true)
				}

                this.initData()
			},

			drawEchart(){
				hotWordsChart = echarts.init(document.getElementById('home_violations_hot_words_chart'))
				hotWordsChart.setOption(hotWordsOption,true);
			}
		}
	}
    function getDay(day, istoday){
        var today = new Date();
        var targetday_milliseconds = today.getTime() + 1000*60*60*24*day;
        today.setTime(targetday_milliseconds); //注意，这行是关键代码
        var tYear = today.getFullYear();
        var tMonth = today.getMonth();
        var tDate = today.getDate();
        tMonth = doHandleMonth(tMonth + 1);
        tDate = doHandleMonth(tDate);

        var h = today.getHours() + ':';
        var m = today.getMinutes() + ':';
        var s = today.getSeconds();
        var timeStr = tYear+"-"+tMonth+"-"+tDate
        if(istoday){
            timeStr = timeStr + " 23:59:59";
        }else {
            timeStr = timeStr + " 00:00:00";
        }

        return timeStr
    }
    function doHandleMonth(month){
        var m = month;
        if(month.toString().length == 1){
            m = "0" + month;
        }
        return m;
    }
</script>

<style>
	.home_violations_hot_words_layout{
		widows: 100%;
		height: 100%;
	}
	.ivu-select-selection{
		border: none;
	}
</style>
