<template>
    <div class="home_container">
        <Header current_pager="site_waring"/>
        <div class="violationWeb_container_layout">

            <div class="violationWeb_topTitle_layout">
                <div class="violationWeb_horizontal_layout" style="padding:12px 24px">
                    <label class="common_label_style" style="font-weight: bold;min-width: 200px; padding: 8px 0px">{{violationWebContent.cleanTitle}}</label>
                </div>
                <div style="float: left;display: flex;flex-direction: row;align-items: center; margin-top: -15px; width: 100%; padding:1px 24px">
                    <div class="subTitle_beian" style="margin-left: 0px">
                        <label class="common_small_label_style">{{violationWebContent.createTime}}</label>

                    </div>
                    <div class="subTitle_ip" style="margin-left: 50px">
                        <label class="common_small_label_style">{{violationWebContent.title}}</label>
                        <label class="common_label_style" style="color: #2f54eb;cursor: pointer;"  @click="gotoNewWeb">(查看原文)</label>
                    </div>
                </div>
                <div class="common_horizontal_line"/>
            </div>

            <div class="violationWeb_content_layout">
                <div class="site_warming_horizontal_layout" style="align-items: center; height: 40px; padding: 0px 24px;margin-top: 12px;">
                    <label class="common_small_label_style" style="padding-right: 12px;">违规要素:</label>
                    <div style="display: flex;flex-direction: row;align-items: center;margin-right: 24px; min-width: 60px;" @click="clickTopTitleButton">
                        <img src="../../assets/shouqi.png" id="zhankai1" style="margin-left: 5px;width: 10px;margin-right: 4px;height: auto;"/>
                        <label class="common_small_label_style" style="cursor: pointer; color:#2d8cf0">{{topTitleButton}}</label>
                    </div>
                </div>
                <div class="site_manager_horizontal_layout" style="align-items: center;padding: 8px 24px;" v-if="showsiftcondition">
                    <label class="common_label_style" style="margin-right:10px; cursor: pointer; color: #3c7af9; background-color: #0bb2e8; padding: 3px 10px;border-radius: 10px" v-for="item in violationWebContent.hotWords">{{item}}</label>
                </div>
                <div class="common_horizontal_line" style="height: 15px"/>
                <div style=" width: 100%; height: 100%; overflow: auto; padding:12px 24px">
                    <li v-html="violationWebContent.content"></li>
                </div >
            </div>
        </div>

        <Footer/>
    </div>
</template>

<script>

    import Footer from '@/components/footer/footer.vue'
    import Header from '@/components/header/header.vue'
    import webWaringRequest from '@/api/webWaringRequest.js'

    export default {
        name: 'violationWebList',
        components: {
            Footer,
            Header
        },
        data(){
            return{

                topTitleButton: '收起',
                showsiftcondition: true,
                warningWebContent:{},
                violationWebContent:{},
            }
        },
        mounted(){
            this.initData()
        },

        methods: {
            //初始化数据
            initData() {
                var violationWebId = localStorage.getItem('violationWebId')
                //获取违规网站详情
                webWaringRequest.getViolationWebDetail(violationWebId).then(res => {
                    if (res.data.code == 0) {
                        var data = res.data.object.result
                        //console.log(data)
                        var newtiem = data.createTime.toLocaleString().replace(/T/g, ' ').replace(/\.[\d]{3}Z/, '');
                        data.createTime = newtiem
                        this.violationWebContent = data

                    } else {
                        this.$Message.error(res.data.message)
                    }
                })

            },

            //查看原文
            gotoNewWeb(){
                window.open(this.violationWebContent.url)
            },

            clickTopTitleButton() {
                var element = document.getElementById("zhankai1")
                var rotate = 0
                if (this.topTitleButton == '展开') {
                    this.topTitleButton = '收起'
                    this.showsiftcondition = true
                } else {
                    this.topTitleButton = '展开'
                    this.showsiftcondition = false
                    rotate = 180
                }
                element.style.transform = "rotate(" + rotate + "deg)"
            },


        }
    }
</script>

<style lang="less">
    @import './violationWebDetail.less';
</style>
