.violationWeb_container_layout{
  width: 100%;
  min-height: 100%;
  background: #e8eaec;
  padding: 12px;
  display: flex;
  flex-direction: column;
}

.violationWeb_topTitle_layout{
  width: 100%;
  background: white;
  display: flex;
  flex-direction: column;
}

.violationWeb_horizontal_layout{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.violationWeb_topTitle_right_button_layout{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 35px;
  float: right;
}


.site_warming_horizontal_layout{
  display: flex;
  flex-direction: row;
  //align-items: center;
  width: 100%;
}

.violationWeb_content_layout{
  margin-top: 12px;
  width: 100%;
  min-height: 100%;
  background: white;
  display: flex;
  flex-direction: column;
}

.common_title_label_style{
  font-size: 13px;
  color: #34495e
}

.common_sub_title_label_style{
  font-size: 13px;
  color: #2d8cf0
}