<template>
    <div class="home_container">
        <Header current_pager="site_waring"/>
        <div class="violationWeb_container_layout">
            <div class="irregularities_investigation_background">

                <div class="violationWeb_topTitle_layout">
                    <div class="violationWeb_horizontal_layout" style="padding:12px 24px 0px 24px">
                        <label class="common_label_style" style="font-weight: bold;min-width: 200px;">{{warningWebContent.siteName}}</label>
                        <div style="float: right;display: flex;flex-direction: row;align-items: center; width: 100%; display: block">
                            <div class="violationWeb_topTitle_right_button_layout" v-if="isWarningComeHere">
                                <img src="../../assets/weiguichuli.png" style="width: 18px;height: auto;margin-right: 3px;cursor: pointer"/>
                                <label style="color:#2d8cf0;font-size: 14px;line-height: 25px;text-align: right;cursor: pointer" @click="addToinvestigation">加入协查</label>
                            </div>

                            <div class="violationWeb_topTitle_right_button_layout" v-if="!isWarningComeHere">
                                <img src="../../assets/jilu.png" style="width: 18px;height: auto;margin-right: 3px;cursor: pointer; margin-left: 15px"/>
                                <label style="color:#2d8cf0;font-size: 14px;line-height: 25px;text-align: right;cursor: pointer" @click="clickProcessingRecords">处理记录</label>
                            </div>
                            <div class="violationWeb_topTitle_right_button_layout" v-if="!isWarningComeHere">
                                <img src="../../assets/fankui.png" style="width: 18px;height: auto;margin-right: 3px;cursor: pointer"/>
                                <label style="color:#2d8cf0;font-size: 14px;line-height: 25px;text-align: right;cursor: pointer" @click="investigationFeedback">协查反馈</label>
                            </div>
                        </div>
                    </div>
                    <div style="float: left;display: flex;flex-direction: row;align-items: center; width: 100%; padding:0px 24px 12px 24px">
                        <div class="subTitle_beian" style="margin-left: 0px">
                            <label class="common_small_label_style">备案号：</label>
                            <label class="common_label_style">湘ICP备12004388号</label>
                        </div>
                        <div class="subTitle_danwei" style="margin-left: 50px">
                            <label class="common_small_label_style">主办单位：</label>
                            <label class="common_label_style">{{warningWebContent.organizerNature}}</label>
                        </div>
                        <div class="subTitle_category" style="margin-left: 50px">
                            <label class="common_small_label_style">网站分类：</label>
                            <label class="common_label_style">{{warningWebContent.categoryTitle[0]}}</label>
                        </div>
                    </div>
                    <div class="common_horizontal_line"/>

                    <div class="violationWeb_horizontal_layout" style="padding: 8px 24px;">
                        <label class="common_small_label_style" style="padding-right: 12px;">筛选时间：</label>
                        <label class="common_label_style" style="padding-right:50px; cursor: pointer;" :style="{color: item.selected?'#3c7af9':'#34495e'}" v-for="(item,index) in siteTime" @click="selectSiteTime(index)">{{item.label}}</label>
                    </div>
                    <div class="violationWeb_horizontal_layout" style="padding: 8px 24px;">
                        <label class="common_small_label_style" style="padding-right: 12px;">预警信息：</label>
                        <label class="common_label_style" style="padding-right:50px; cursor: pointer;" :style="{color: item.selected?'#3c7af9':'#34495e'}" v-for="(item,index) in warningMessages " @click="selectWarningMessages(index)">{{item.label}}</label>
                    </div>
                </div>

                <div class="violationWeb_content_layout">
                    <div style="float: left;display: flex;flex-direction: row;align-items: center; width: 100%; padding:12px 24px">
                        <Checkbox :value="checkAll" @click.prevent.native="handleCheckAll" size='default'>全选</Checkbox>
                        <div style="display: flex;flex-direction: row;align-items: center;margin-right: 24px; min-width: 60px;" @click="exportWebData">
                            <img src="../../assets/export.png" style="cursor: pointer;width: 14px;margin-right: 4px;height: auto;"/>
                            <label class="common_small_label_style" style="cursor: pointer;">导出数据</label>
                        </div>
                        <div style="display: flex;flex-direction: row;align-items: center;margin-right: 24px; min-width: 60px;" @click="addToReport">
                            <img src="../../assets/import.png" style="cursor: pointer;width: 14px;margin-right: 4px;height: auto;"/>
                            <label class="common_small_label_style" style="cursor: pointer;">加入简报</label>
                        </div>
                        <div style="display: flex;flex-direction: row;align-items: center;margin-right: 24px; min-width: 60px;" @click="selectWarningReceiver">
                            <img src="../../assets/yujing.png" style="width: 14px;margin-right: 4px;height: auto;"/>
                            <label class="common_small_label_style">违规预警</label>
                        </div>
                    </div >

                    <div v-for="(item,index) in violationWebs" style="width: 100%; padding:0px 24px">
                        <div style="display: flex;flex-direction: row; width: 100%">
                            <Checkbox :value="item.selected" @click.prevent.native="handleViolationWebCheck(index)" size='default'></Checkbox>
                            <div style="display: flex;flex-direction: column;align-items: center; margin-left: 20px">
                                <label class="common_label_style">{{item.violate_time}}</label>
                                <label class="common_small_label_style" style="font-size: 9px">{{item.violate_date}}</label>
                            </div>
                            <div style="display: flex;flex-direction: column;align-items: center; margin-left: 20px">
                                <img src="../../assets/weigui_yuandian.png" style="width: 14px;height: auto;"/>
                                <img src="../../assets/weigui_shuxian.png" style="width: 1px;height: auto;" v-if="!item.isTheLastOne"/>
                            </div>

                            <div style="display: flex;flex-direction: column; margin-left: 20px; min-width: 1000px;">
                                <div class="subTitle_beian" style="margin-left: 0px">
                                    <label class="common_title_label_style" style="font-weight: bold;min-width: 200px;" @click="clickViolationWebTitle(item.id)">{{item.title}}</label>
                                    <label class="common_sub_title_label_style">[{{warningWebContent.siteName}}]</label>
                                    <label  style="border-radius: 10px 0px 0px 10px; padding: 0px 8px; background-color: #fd7a59; align-items: center; color: white; margin-left: 20px" v-if="item.isWarning">红色预警</label>
                                    <label  style="border-radius: 0px 10px 10px 0px; padding: 0px 8px; background-color: lightgrey; align-items: center;" v-if="item.isWarning">预警时间：{{item.warningTime}}</label>
                                </div>
                                <div class="subTitle_beian" style="margin-left: 0px">
                                    <label class="common_small_label_style">{{item.cleanTitle}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <Spin fix v-if="showLoading">
                        <Icon type="ios-loading" size=38 class="demo-spin-icon-load"></Icon>
                        <div>加载中...</div>
                    </Spin>
                    <div style="width: 100%; height: 200px; display: flex;flex-direction:column; align-items: center " v-if="haveNoData">
                        <label style="width: 100%;margin-top: 80px; text-align: center;height: 20px">暂无数据。</label>
                    </div>

                    <div style="width: 100%;height:80px; padding: 24px 60px 0 24px;" :style="{visibility: violationWebs.length == 0?'hidden':''}">
                        <label class="common_small_label_style" >共{{violationWebsCount}}条</label>
                        <Page :total=violationWebsCount show-elevator show-sizer style="float: right;"  @on-change="pagerChange" @on-page-size-change="pagerSizeChange"/>
                    </div>
                </div>


            </div>


            <Modal v-model="addToinvestigationModal" width="400">
                <p slot="header" style="display:block; text-align: left; height:100%; color:white;background: #4681fa;">
                    <span>协查方案</span>
                </p>
                <label class="common_label_style" style="width: 100px; text-align: left; margin-left: 5px">请输入协查方案</label>
                <div class="investigationModalInput" style="width: 370px;height: 100px; margin-right: 12px; ">
                    <Input v-model="investigationPlanValue" :maxlength=100 type="textarea" :rows="5" :autosize="{maxRows: 5,minRows: 5}" @on-change="investigationPlanDescInput"/>
                </div>
                <div style="display: flex;flex-direction: row; align-items:center; margin-top: 20px;">
                    <Button type="primary"  size="default" style="width: 100px; height: 30px; color: white;" @click="saveInvestigationPlan">加入协查</Button>
                    <div style="text-align: right; margin-right: 10px; color: #8c989d; width: 300px">已输入
                        <label class="inputNotice_item_tag">{{investigationPlanwords}}</label>个字，还可以输入
                        <label class="inputNotice_item_tag">{{investigationPlanwordsLeft}}</label>个字
                    </div>
                </div>
                <div slot="footer">
                    <div></div>
                </div>
            </Modal>

            <Modal v-model="customTimeModal" width="400">
                <p slot="header" style="display:block; text-align: left; height:100%; color:white;background: #4681fa;">
                    <span>自定义预警时间</span>
                </p>
                <label class="common_label_style" style="width: 100%; text-align: center; padding: 20px 0px">请选择开始和结束时间</label>
                <div style="margin-top: 20px;width: 100%; height: 30px; align-items: center ">
                    <DatePicker type="daterange" show-week-numbers placeholder="选择开始和结束时间" style="margin-left: 30px;width: 300px" @on-change="selectCustomTime" placement="bottom-end"></DatePicker>
                </div>
                <div style="width: 100%;align-items:center; margin-top: 20px;">
                    <Button type="primary" size="default" style="margin-left: 130px;width: 100px; height: 30px; color: white;" @click="saveCustomTime">确认</Button>
                </div>
                <div slot="footer">
                    <div></div>
                </div>
            </Modal>

            <Modal v-model="warningReceiverModal" width="500">
                <p slot="header" style="display:block; text-align: left; height:100%; color:white;background: #4681fa;">
                    <span>预警接收人</span>
                </p>
                <div class="violationWeb_warming_setting_content" >
                    <div class="violationWeb_warming_setting_content_title_layout">预警接收人：</div>
                    <div style="display: flex;flex-direction: row; align-items: center; width: 500px;">
                        <CheckboxGroup v-model="selectedReceiver" @on-change="receiverCheckChange">
                            <Checkbox style="width: 150px; margin-top: 10px" :label="item.id" v-for="item in receiverList">{{item.name}}</Checkbox>
                        </CheckboxGroup>
                    </div>
                </div>
                <div class="violationWeb_warming_setting_content" style="margin-top: 10px">
                    <div class="violationWeb_warming_setting_content_title_layout">请选择预警方式：</div>
                    <div style="display: flex;flex-direction: row; align-items: center;  width: 500px;">
                        <CheckboxGroup v-model="selectedWarningType" @on-change="warningTypeCheckChange">
                            <Checkbox style="width: 150px;" :label="item.label"  v-for="item in warningType">{{item.label}}</Checkbox>
                        </CheckboxGroup>
                    </div>
                </div>
                <div slot="footer" style="padding: 12px 0px">
                    <Button size="large" style="width: 100px;" @click="cancelSelectReceiver">取消</Button>
                    <Button type="primary" size="large" style="width: 100px;" @click="confirmSelectReceiver">确认</Button>
                </div>
            </Modal>

            <Modal v-model="investigationFeedbackModal" width="500">
                <p slot="header" style="display:block; text-align: left; height:100%; color:white;background: #4681fa;">
                    <span>协查反馈</span>
                </p>

                <div style="width:100%; display: flex; flex-direction:column; ">
                    <label class="common_label_style" style="width: 100px; text-align: left; margin-left: 5px">协查方案:</label>
                    <div style="width: 100%; color: #34495e; font-size: 13px; text-align:left; padding: 12px 5px 20px 5px">{{warningWebContent.scheme}}</div>
                </div>
                <label class="common_label_style" style="width: 100px; text-align: left; margin-left: 5px">协查反馈:</label>
                <div class="investigationModalInput" style="width: 470px; margin-right: 12px; ">
                    <Input v-model="feedbackValue" :maxlength=100 type="textarea" :rows="5" :autosize="{maxRows: 5,minRows: 5}" @on-change="investigationFeedbackDescInput" placeholder='请填写对该违规网站的处理方案的反馈，限制100字以内'/>
                </div>
                <div style="display: flex;flex-direction: row; align-items:center; margin-top: 20px;">
                    <div style="text-align: left; margin-right: 5px; color: #8c989d; width: 300px">已输入
                        <label class="inputNotice_item_tag">{{feedbackwords}}</label>个字，还可以输入
                        <label class="inputNotice_item_tag">{{feedbackWordsLeft}}</label>个字
                    </div>
                </div>
                <div slot="footer">
                    <Button type="primary" size="default" style="width: 100px; color: white;" @click="saveInvestigationFeedback">已处理</Button>
                    <Button size="large" style="width: 100px;" @click="cancelInvestigationFeedback">取消</Button>
                </div>
            </Modal>

            <Modal v-model="processingRecordsModal" width="550">
                <p slot="header" style="display:block; text-align: left; height:100%; color:white;background: #4681fa;">
                    <span>处理记录</span>
                </p>
                <div style="width: 100%;height: 300px; padding: 25px 0px; overflow: auto">
                    <div style="width: 100%; height: 100px; line-height: 100px; text-align: center" v-if="noProcessData">暂无记录</div>
                    <div v-for="(item,index) in processingRecords" style="width: 100%;min-height: 60px; padding:0px 12px">
                        <div style="display: flex;flex-direction: row; width: 100%">
                            <div style="display: flex;flex-direction:column; align-items: center; ">
                                <label class="common_label_style" style="text-align: center;width: 70px">{{item.processing_date}}</label>
                                <label class="common_small_label_style" style="width: 70px; text-align: center; font-size: 9px">{{item.processing_time}}</label>
                            </div>
                            <div style="display: flex;flex-direction: column;align-items: center; margin-left: 10px">
                                <img src="../../assets/u1924.png" style="width: 14px;height: auto;"/>
                                <div style="width: 1px; background-color: #2b85e4" :style="{height:item.showProcessingDetal?'100px':'60px'}" v-if="!item.isTheLastOne"></div>
                            </div>

                            <div style="display: flex; flex-direction: column; margin-left: 10px;" >
                                <div style="display: flex;flex-direction: row;">
                                    <div style="margin-top: -18px;height: 50px; width: 50px; border-radius: 50px;line-height: 50px; text-align: center; color: white; background-color: #2f54eb">{{item.userName}}</div>
                                    <div style="text-align: left; margin-right: 15px; color: #34495e; padding: 0px 10px 0px 10px">处理该网站
                                        <label class="modalCount_label">{{item.count}}条</label> 违规信息
                                    </div>
                                    <div class="processing_detail_button_layout" style="margin-top: -10px" @click="clickProcessingDetailButton(index,item.imageId)">
                                        <label style="color:#2d8cf0;font-size: 14px;text-align: center;cursor: pointer" >处理详情</label>
                                        <img src="../../assets/zhankai1.png" :id=item.imageId  style="width: 13px;height: auto;cursor: pointer"/>
                                    </div>
                                </div>

                                <div class="processing——detail" style="margin-left: 10px; display: flex; flex-direction: column; padding: 10px 10px 30px 0px" v-if="item.showProcessingDetal">
                                    <div style=" display: flex; flex-direction: row;">
                                        <label class="common_label_style">协查方案：</label>
                                        <label class="common_label_style">{{item.scheme}}</label>
                                    </div>
                                    <div style=" display: flex; flex-direction: row;">
                                        <label class="common_label_style">协查反馈：</label>
                                        <label class="common_label_style">{{item.feedBack}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div slot="footer"></div>
            </Modal>
        </div>
        <Footer/>
    </div>

</template>



<script>

    import Footer from '@/components/footer/footer.vue'
    import Header from '@/components/header/header.vue'
    import Cookies from 'js-cookie'
    import ApiRequest from '@/api/apiRequest.js'
    import webWaringRequest from '@/api/webWaringRequest.js'
    import config from '@/config'
    const baseUrl = process.env.NODE_ENV === 'development' ? config.baseUrl.dev : config.baseUrl.pro

    export default {
        name: 'violationWebList',
        components: {
            Footer,
            Header
        },
        data(){
            return{
                isWarningComeHere: true,
                violationWebCondition:{},
                warningWebContent:{},

                //****加入协查*********
                addToinvestigationModal: false,
                investigationPlanValue: '',
                investigationPlanwords: 0,
                investigationPlanwordsLeft: 100,

                siteTime:[
                    {
                        label:'全部',
                        selected:false,
                    },
                    {
                        label:'今天',
                        selected:false,
                    },
                    {
                        label:'昨天',
                        selected:false,
                    },
                    {
                        label:'近7天',
                        selected:true,
                    },
                    {
                        label:'近30天',
                        selected:false,
                    },
                    {
                        label:'自定义',
                        selected:false,
                    }
                ],
                customTimeModal: false,
                customTime:[],

                warningMessages:[
                    {
                        label:'全部',
                        selected:true
                    },
                    {
                        label:'仅看已预警信息',
                        selected:false
                    },
                    {
                        label:'过滤已预警信息',
                        selected:false
                    }
                ],
                receiverList:[],
                warningType:[
                    {
                        label:'短信',
                        selected:true,
                    },
                    {
                        label:'邮箱',
                        selected:false,
                    }
                ],

                warningReceiverModal: false,
                selectedReceiver:[],
                selectedWarningType:[],

                violationWebsCount: 0,
                violationWebs: [],
                checkAll: false,

                webSelectCurrentpageData:[],
                webSelectEverypageData:{},
                webSelectData:[],
                showLoading: false,
                haveNoData: false,

                //****************协查反馈***************
                investigationFeedbackModal: false,
                investigationPlan: '',
                feedbackValue: '',
                feedbackwords: 0,
                feedbackWordsLeft: 100,

                //*****************处理记录***************
                processingRecordsModal: false,
                processingRecords: [],
                noProcessData: false,


                rolePermissions: [],
                pagePermissions: [],
            }
        },
        mounted(){
            this.showLoading = true
            this.initData()
            this.getpermission()
        },

        methods: {
            getpermission(){
                this.rolePermissions = JSON.parse(localStorage.getItem('rolePermissions'))
                //console.log(this.rolePermissions)
                for (var i = 0; i < this.rolePermissions.length; i++) {
                    var item = this.rolePermissions[i]
                    if(item.module_name == "巡查预警"){
                        this.pagePermissions = item.permissionList
                        //console.log(this.pagePermissions)
                    }
                }
            },

            //初始化数据
            initData() {
                if(localStorage.getItem('isWarningComeHere') == 1){
                    this.isWarningComeHere = true
                }else {
                    this.isWarningComeHere = false
                }
                this.violationWebCondition = JSON.parse(localStorage.getItem('violationWebCondition'))
                this.warningWebContent = JSON.parse(localStorage.getItem('warningWebContent'))
                //console.log(this.warningWebContent)

                this.violationWebCondition.start_time = getDay(-7, false)
                this.violationWebCondition.end_time = getDay(0, false)

                //获取违规网站列表
                this.getWebSiteData()

                //预警接收人：获取列表
                this.getReceiverList()

            },

            //预警接收人：获取列表
            getReceiverList(){
                webWaringRequest.getReceiverList().then(res => {
                    if(res.data.code == 0){
                        var dataArray = res.data.object
                        this.receiverList = dataArray
                    }else{
                        this.$Message.error(res.data.message)
                    }
                })
            },

            //根据条件查询网站列表，查询条件修改queryWebSiteCondition中的字段即可
            getWebSiteData() {
                webWaringRequest.getViolationWebList(this.violationWebCondition).then(res => {
                    if (res.data.code == 0) {
                        this.violationWebsCount = Number(res.data.object.count)
                        var dataArray = res.data.object.result
                        if(dataArray != null){
                            for (var i = 0; i < dataArray.length; i++) {
                                dataArray[i].selected = false
                                dataArray[i].isTheLastOne = false
                                var newtiem = dataArray[i].createTime.toLocaleString().replace(/T/g, ' ').replace(/\.[\d]{3}Z/, '');
                                var newtiemArray = newtiem.split(' ')
                                dataArray[i].violate_time = newtiemArray[1]
                                dataArray[i].violate_date = newtiemArray[0]
                                dataArray[i].warningTime  = newtiem
                                if(i == dataArray.length - 1){
                                    dataArray[i].isTheLastOne = true
                                }

                                var pageNoStr = String(this.violationWebCondition.page_no)
                                for (var key in this.webSelectEverypageData) {
                                    if(key == pageNoStr){
                                        var pageData = this.webSelectEverypageData[key]
                                        if(pageData != null && pageData.length > 0){
                                            this.webSelectCurrentpageData = pageData
                                            for (var j = 0; j < pageData.length; j++) {
                                                if(pageData[j].id == dataArray[i].id){
                                                    dataArray[i]. selected = true
                                                }
                                            }
                                        }else {
                                            this.webSelectCurrentpageData = []
                                        }
                                    }
                                }
                            }
                            console.log(dataArray)
                            if(dataArray.length <= 0){
                                this.haveNoData = true
                            }else {
                                this.haveNoData = false
                            }
                            this.violationWebs = dataArray
                        }else {
                            this.haveNoData = true
                        }

                        this.showLoading = false

                    } else {
                        this.showLoading = false
                        this.$Message.error(res.data.message)
                    }
                })
            },
            //加入协查
            addToinvestigation(){
                this.addToinvestigationModal = true
            },
            investigationPlanDescInput(){
                if(this.investigationPlanValue.length >= 100){
                    this.$Message.error('方案不能超过100个字')
                }
                this.investigationPlanwords = this.investigationPlanValue.length;
                this.investigationPlanwordsLeft = 100 - this.investigationPlanwords
            },

            saveInvestigationPlan(){
                var investigationPlanCondition = {
                    webId:          this.warningWebContent.id,
                    domainName:     this.warningWebContent.domainName,
                    organizerNature:this.warningWebContent.organizerNature,
                    illegalCount:   this.warningWebContent.illegalCount,
                    level:          this.warningWebContent.level,
                    city:           this.warningWebContent.city,
                    province:       this.warningWebContent.province,
                    subject:        this.warningWebContent.subject,
                    siteName:       this.warningWebContent.siteName,
                    contact:        this.warningWebContent.contact,
                    phone:          this.warningWebContent.phone,
                    status:         this.warningWebContent.phone,
                    categoryTitle:  this.warningWebContent.categoryTitle[0],
                    scheme:         '',
                }
                if(this.investigationPlanValue == ''){
                    this.$Message.error('协查方案不能为空')
                    return
                }
                investigationPlanCondition.scheme = this.investigationPlanValue
                webWaringRequest.addInvestigationPlan(investigationPlanCondition).then(res =>{
                    if(res.data.code == 0){
                        this.addToinvestigationModal = false
                        this.$Message.success(res.data.message)

                    }else{
                        this.$Message.error(res.data.message)
                    }
                })
            },

            //协查反馈弹框
            investigationFeedback() {
                if(this.warningWebContent.scheme == null){
                    this.$Message.success('反馈已处理')
                }else {
                    this.investigationFeedbackModal = true
                }
            },

            investigationFeedbackDescInput(){
                if(this.feedbackValue.length >= 100){
                    this.$Message.error('反馈不能超过100个字')
                }
                this.feedbackwords = this.feedbackValue.length;
                this.feedbackWordsLeft = 100 - this.feedbackwords
            },

            saveInvestigationFeedback(){
                var investigationFeedbackCondition = {
                    id:       this.warningWebContent.id,
                    userId:   Cookies.get('user_id'),
                    feedBack:  '',
                }
                if(this.feedbackValue == ''){
                    this.$Message.error('协查反馈不能为空')
                    return
                }
                investigationFeedbackCondition.feedBack = this.feedbackValue
                webWaringRequest.addInvestigationFeedback(investigationFeedbackCondition).then(res =>{
                    if(res.data.code == 0){
                        this.investigationFeedbackModal = false
                        this.$Message.success(res.data.message)
                    }else{
                        this.$Message.error(res.data.message)
                    }
                })
            },

            cancelInvestigationFeedback(){
                this.investigationFeedbackModal = false
            },


            //处理记录弹框
            clickProcessingRecords(){
                this.processingRecordsModal = true
                this.getProcessingRecords(this.warningWebContent)

            },
            //获取处理记录
            getProcessingRecords(){
                this.processingRecords = []
                this.noProcessData = false
                webWaringRequest.getProcessingRecords(this.warningWebContent.domainName).then(res =>{
                    if(res.data.code == 0){
                        var dataArray = res.data.object
                        if (dataArray.length > 0){
                            for (var i = 0; i < dataArray.length; i++) {
                                var newtiem = formatDate(dataArray[i].createTime)
                                var newtiemArray = newtiem.split(' ')
                                dataArray[i].processing_time = newtiemArray[1]
                                dataArray[i].processing_date = newtiemArray[0]
                                dataArray[i].showProcessingDetal = false
                                dataArray[i].isTheLastOne = false
                                dataArray[i].imageId = "img" + dataArray[i].id
                                if(i == dataArray.length - 1){
                                    dataArray[i].isTheLastOne = true
                                }
                            }
                            this.processingRecords = dataArray
                        }else {
                            this.noProcessData = true
                        }


                    }else{
                        this.$Message.error(res.data.message)
                    }
                })
            },

            clickProcessingDetailButton(index,elementId){
                this.processingRecords[index].showProcessingDetal = !this.processingRecords[index].showProcessingDetal
                var element = document.getElementById(elementId)
                var rotate = 180
                if(!this.processingRecords[index].showProcessingDetal){
                    rotate = 0
                }
                element.style.transform = "rotate(" + rotate + "deg)"
            },

            //跳转到网站详情页
            clickViolationWebTitle(violationWebId){
                localStorage.setItem('violationWebId', violationWebId)
                this.$router.push({
                    name: 'violationWebDetail'
                })
            },

            //选择网站时间
            selectSiteTime(index){
                if(index == 5){
                    this.customTime = null
                    this.customTimeModal = true
                }else {
                    this.violationWebs = []
                    this.showLoading = true
                    this.violationWebCondition.page_no = 1
                    for (var i = 0; i < this.siteTime.length; i++) {
                        if(i == index){
                            this.siteTime[i].selected = true

                            if(index == 0){
                                this.violationWebCondition.start_time = getDay(-10000, false)
                                this.violationWebCondition.end_time = getDay(0, true)
                            }
                            if (index == 1){
                                this.violationWebCondition.start_time = getDay(0, false)
                                this.violationWebCondition.end_time = getDay(0, true)
                            }
                            if (index == 2){
                                this.violationWebCondition.start_time = getDay(-1, false)
                                this.violationWebCondition.end_time = getDay(0, false)

                            }
                            if (index == 3){
                                this.violationWebCondition.start_time = getDay(-7, false)
                                this.violationWebCondition.end_time = getDay(0, false)
                            }
                            if (index == 4){
                                this.violationWebCondition.start_time = getDay(-30, false)
                                this.violationWebCondition.end_time = getDay(0, false)
                            }
                        }else{
                            this.siteTime[i].selected = false
                        }
                    }
                    this.getWebSiteData()
                }

            },

            selectCustomTime(e){
                this.customTime = e
            },
            saveCustomTime(){
                if(this.customTime == null){
                    this.$Message.error('请选择开始和结束时间')
                    return
                }else {
                    if (this.customTime[0] == '' || this.customTime[1] == ''){
                        this.$Message.error('请选择开始和结束时间')
                        return
                    }
                }
                this.violationWebs = []
                this.showLoading = true
                this.customTimeModal = false
                this.violationWebCondition.page_no = 1
                for (var i = 0; i < this.siteTime.length; i++) {
                    this.siteTime[i].selected = false
                }
                this.siteTime[5].selected = true
                this.violationWebCondition.start_time = this.customTime[0] + " " + "00:00:00"
                this.violationWebCondition.end_time = this.customTime[1] + " " + "23:59:59"
                this.getWebSiteData()
            },
            //预警信息更改
            selectWarningMessages(index){
                if(index == 0){
                    this.violationWebCondition.isWarning = ''
                }
                if(index == 1){
                    this.violationWebCondition.isWarning = '1'
                }
                if(index == 2){
                    this.violationWebCondition.isWarning = '0'
                }
                for (var i = 0; i < this.warningMessages.length; i++) {
                    this.warningMessages[i].selected = false
                    if(i == index){
                        this.warningMessages[i].selected = true
                    }
                }
                this.violationWebs = []
                this.showLoading = true
                this.getWebSiteData()
            },

            pagerChange(e) {
                if (this.violationWebCondition.page_no == e) {
                    return
                }
                this.violationWebCondition.page_no = e
                this.violationWebs = []
                this.showLoading = true
                this.getWebSiteData()
            },
            pagerSizeChange(e) {
                if (this.violationWebCondition.page_size == e) {
                    return
                }
                this.violationWebCondition.page_size = e
                this.violationWebs = []
                this.showLoading = true
                this.getWebSiteData()
            },
            //全选
            handleCheckAll(){
                this.checkAll = !this.checkAll
                for (var i = 0; i < this.violationWebs.length; i++) {
                    this.violationWebs[i].selected = this.checkAll
                }
                if(this.checkAll){
                    this.webSelectCurrentpageData = this.violationWebs
                }else {
                    this.webSelectCurrentpageData = []
                }
                var pageNoStr = String(this.violationWebCondition.page_no)
                if(this.webSelectCurrentpageData != null && this.webSelectCurrentpageData.length > 0){
                    this.webSelectEverypageData[pageNoStr] = this.webSelectCurrentpageData
                }

            },
            //选择一个网站
            handleViolationWebCheck(index){
                this.violationWebs[index].selected = !this.violationWebs[index].selected
                this.checkAll = false
                this.webSelectCurrentpageData = []
                for (var i = 0; i < this.violationWebs.length; i++) {
                    if(this.violationWebs[i].selected){
                        this.webSelectCurrentpageData.push(this.violationWebs[i])
                    }
                }
                var pageNoStr = String(this.violationWebCondition.page_no)
                if(this.webSelectCurrentpageData != null && this.webSelectCurrentpageData.length > 0){
                    this.webSelectEverypageData[pageNoStr] = this.webSelectCurrentpageData
                }
            },
            //加入简报
            addToReport(){
                if(!isHaveThePermission(this.pagePermissions, "加入简报")){
                    this.$Message.error('暂无此权限！')
                    return
                }
                this.webSelectData = []
                for (var key in this.webSelectEverypageData) {
                    var pageData = this.webSelectEverypageData[key]
                    if(pageData != null && pageData.length > 0){
                        for (var i = 0; i < pageData.length; i++) {
                            this.webSelectData.push(pageData[i])
                        }
                    }
                }
                if(this.webSelectData == null || this.webSelectData.length <= 0){
                    this.$Message.error('请选择要加入简报的违规网站')
                    return
                }
                for (var i = 0; i < this.webSelectData.length; i++) {
                    var newtiem = this.webSelectData[i].createTime.toLocaleString().replace(/T/g, ' ').replace(/\.[\d]{3}Z/, '');
                    this.webSelectData[i].createTime = timeStrToTime(newtiem)
                }
                webWaringRequest.addToReport(this.webSelectData).then(res => {
                    if(res.data.code == 0){
                        this.$Message.success(res.data.message)
                    }else {
                        this.$Message.error(res.data.message)
                    }
                })

            },

            //导出数据
            exportWebData(){
                const msg = this.$Message.loading({
                    content: '正在导出...',
                    duration: 0
                });
                this.webSelectData = []
                for (var key in this.webSelectEverypageData) {
                    var pageData = this.webSelectEverypageData[key]
                    if(pageData != null && pageData.length > 0){
                        for (var i = 0; i < pageData.length; i++) {
                            this.webSelectData.push(pageData[i])
                        }
                    }
                }
                if(this.webSelectData == null || this.webSelectData.length <= 0){//条件导出
                    webWaringRequest.exportViolationWebs(this.violationWebCondition).then(res => {
                        if(res.data.code == 0){
                            this.downloadFile(res.data.object)
                        }else {
                            this.$Message.error(res.data.message)
                        }
                        setTimeout(msg, 300);
                    })
                } else{//id导出


                    var webids = []
                    for (var i = 0; i < this.webSelectData.length; i++) {
                        var item = this.webSelectData[i]
                        webids.push(item.id)
                    }
                    var requestData = {
                        "ids":webids
                    }
                    webWaringRequest.exportViolationWebsByIds(requestData).then(res => {
                        if(res.data.code == 0){

                            this.downloadFile(res.data.object)

                        }else {
                            this.$Message.error(res.data.message)
                        }
                        setTimeout(msg, 300);
                    })
                }
            },

            downloadFile(url){
                url = baseUrl + url
                ApiRequest.exportFile(url).then(response => {
                    let blob = new Blob([response.data], {
                        type: 'application/vnd.ms-excel'
                    })
                    let fileName = Date.parse(new Date()) + '.xlsx'
                    if (window.navigator.msSaveOrOpenBlob) {
                        navigator.msSaveBlob(blob, fileName)
                    } else {
                        var link = document.createElement('a')
                        link.href = window.URL.createObjectURL(blob)
                        link.download = fileName
                        link.click()
                        window.URL.revokeObjectURL(link.href)
                    }
                })
            },

            //巡查预警
            selectWarningReceiver(){
                if(this.webSelectCurrentpageData == null || this.webSelectCurrentpageData.length <= 0){
                    this.$Message.error('请选择要预警的违规网站')
                    return
                }
                this.warningReceiverModal = true
            },

            //接收人的选择
            receiverCheckChange(data){
                this.selectedReceiver = data
            },
            //预警方式的选择
            warningTypeCheckChange(data){
                this.selectedWarningType = data
            },
            cancelSelectReceiver(){
                this.warningReceiverModal = false
            },
            confirmSelectReceiver(){
                if(this.selectedReceiver == null || this.selectedReceiver.length == 0){
                    this.$Message.error('请选择预警接收人')
                    return
                }

                if(this.selectedWarningType == null || this.selectedWarningType.length == 0){
                    this.$Message.error('请选择预警方式')
                    return
                }

                var emails = []
                var phones = []

                for (var i = 0; i < this.selectedReceiver.length; i++) {
                    for (var j = 0; j < this.receiverList.length; j++) {
                        if(this.receiverList[j].id == this.selectedReceiver[i]){
                            emails.push(this.receiverList[j].email)
                            phones.push(this.receiverList[j].phone)
                        }
                    }
                }
                for (var i = 0; i < this.selectedWarningType.length; i++) {

                    if(this.selectedWarningType[i] == "邮箱"){

                        var condition = {
                            fromName: Cookies.get('user_name'),
                            emails:   emails.join(","),
                            title:    this.webSelectData[0].title,
                            content:  "【属地化网站管理系统】" + this.webSelectCurrentpageData[0].violate_date + this.webSelectCurrentpageData[0].violate_time + "监测到 " + this.webSelectCurrentpageData[0].title + " 网存在违规信息，请登录系统查看。违规信息连接：" + this.webSelectCurrentpageData[0].url
                        }
                        webWaringRequest.sendEmail(condition).then(res => {
                            if(res.data.code == 0){
                                this.$Message.success(res.data.message)
                                this.warningReceiverModal = false
                            }else {
                                this.$Message.error(res.data.message)
                            }
                        })
                    }

                    if(this.selectedWarningType[i] == "短信"){
                        var condition = {

                            phones:   phones.join(","),
                            content:  this.webSelectCurrentpageData[0].violate_date + this.webSelectCurrentpageData[0].violate_time + "监测到 " + this.webSelectCurrentpageData[0].title + " 网存在违规信息，请登录系统查看。违规信息连接：" + this.webSelectCurrentpageData[0].url
                        }

                        webWaringRequest.sendMessage(condition).then(res => {
                            if(res.data.code == 0){
                                this.$Message.success(res.data.message)
                                this.warningReceiverModal = false
                            }else {
                                this.$Message.error(res.data.message)
                            }
                        })
                    }
                }
            },

        }
    }

    function isHaveThePermission(permissionList, operationName){
        var haveTheRight = true

        for (var i = 0; i < permissionList.length; i++) {
            if(permissionList[i].permission_name == operationName){
                if(permissionList[i].status == 1){
                    haveTheRight = true
                }else {
                    haveTheRight = false
                }
            }
        }
        return haveTheRight
    }

    function timeStrToTime(timeStr){
        var date = timeStr;
        date = date.substring(0,19);
        date = date.replace(/-/g,'/');
        var timestamp = new Date(date).getTime();
        return timestamp
    }

    function getDay(day, istoday){
        var today = new Date();
        var targetday_milliseconds = today.getTime() + 1000*60*60*24*day;
        today.setTime(targetday_milliseconds); //注意，这行是关键代码
        var tYear = today.getFullYear();
        var tMonth = today.getMonth();
        var tDate = today.getDate();
        tMonth = doHandleMonth(tMonth + 1);
        tDate = doHandleMonth(tDate);

        var h = today.getHours() + ':';
        var m = today.getMinutes() + ':';
        var s = today.getSeconds();
        var timeStr = tYear+"-"+tMonth+"-"+tDate
        if(istoday){
            timeStr = timeStr + " " +  h + m + s;
        }else {
            timeStr = timeStr + " " + "00:00:00";
        }

        return timeStr
    }
    function doHandleMonth(month){
        var m = month;
        if(month.toString().length == 1){
            m = "0" + month;
        }
        return m;
    }

    function formatDate(timestamp = +new Date()) {
        if (timestamp) {
            var time = new Date(timestamp);
            var y = time.getFullYear();
            var M = time.getMonth() + 1;
            var d = time.getDate();
            var h = time.getHours();
            var m = time.getMinutes();
            var s = time.getSeconds();
            return y + '-' + addZero(M) + '-' + addZero(d) + ' ' + addZero(h) + ':' + addZero(m) + ':' + addZero(s);
        } else {
            return '';
        }
    }
    function addZero(m) {
        return m < 10 ? '0' + m : m;
    }
</script>

<style lang="less">
    @import './violationWebList.less';
</style>
