.violationWeb_container_layout{
  width: 100%;
  min-height: 100%;
  background: #e8eaec;
  padding: 12px;
  display: flex;
  flex-direction: column;
}

.irregularities_investigation_background{
  min-width: 100%;
  width: 100%;
  min-height: 100%;
  background: white
}

.violationWeb_topTitle_layout{
  width: 100%;
  background: white;
  display: flex;
  flex-direction: column;
}

.violationWeb_topTitle_right_button_layout{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 35px;
  float: right;
}


.violationWeb_horizontal_layout{
  display: flex;
  flex-direction: row;
  //align-items: center;
  width: 100%;
}

.violationWeb_content_layout{
  margin-top: 12px;
  width: 100%;
  min-height: 100%;
  height: 100%;
  min-height: 600px;
  background: white;
  display: flex;
  flex-direction: column;
  position: relative;
}

.common_title_label_style{
  font-size: 13px;
  color: #34495e
}

.common_sub_title_label_style{
  font-size: 13px;
  color: #2d8cf0
}

.violationWeb_warming_setting_content{
  display: flex;
  flex-direction: column;
  margin-right: 24px;
  max-width: 100%;
}

.violationWeb_warming_setting_content_title_layout{
  width: 100%;
  height: 30px;
  font-size: 13px;
  text-align: left;
  line-height: 30px;

}

.modalCount_label{
  color: #3c7af9;
  font-size: 13px;
}

.processing_detail_button_layout{
  margin-left: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}


.ivu-table-overflowX{ overflow-x: hidden;}

.ivu-modal{
  top: 60px;
}
.ivu-modal-header{
  padding: 0;
}

.ivu-modal-header p, .ivu-modal-header-inner{
  line-height: 50px;
  padding-left: 12px;
  font-size: 16px;
}
.ivu-modal-close .ivu-icon-ios-close{
  color: white
}

.ivu-modal-footer {
  border-top: 1px solid white;
  padding: 5px 18px 5px 18px;
  text-align: right;
}

.demo-spin-icon-load{
  animation: ani-demo-spin 1s linear infinite;
}
@keyframes ani-demo-spin {
  from { transform: rotate(0deg);}
  50%  { transform: rotate(180deg);}
  to   { transform: rotate(360deg);}
}
