<template>
	<div id="app">
		<router-view/>
	</div>
</template>

<!--<script>-->

    <!--function isHaveThePermission(permissionList, operationName){-->
        <!--var haveTheRight = true-->

        <!--for (var i = 0; i < permissionList.length; i++) {-->
            <!--if(permissionList[i].permission_name == operationName){-->
                <!--if(permissionList[i].status == 1){-->
                    <!--haveTheRight = true-->
                <!--}else {-->
                    <!--haveTheRight = false-->
				<!--}-->
            <!--}-->
        <!--}-->
        <!--return haveTheRight-->
    <!--}-->

<!--</script>-->

<style lang="less">
	.size{
		width: 100%;
		height: 100%;
		min-height: 100%;
	}
	html,body{
		.size;
		overflow: visible;
		background: white;
		padding: 0;
		margin: 0
	}
	#app {
		.size;
	}
	.common_horizontal_line{
		background: #e8eaec;
		width: 100%;
		height: 1px;
	}
	.common_label_style{
		color: #34495e;
		font-size: 13px;
	}
	.common_vertical_thick_line{
		width: 12px;
		min-width:12px;
		height: 100%;
	}
	.common_horizontal_thick_line{
		width: 100%;
		min-height:12px;
		height: 12px;
	}
	.common_small_label_style{
		font-size: 13px;
		color: #8c989d
	}


</style>
