.brief_report_detail_layout{
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #e8eaec;
  padding: 0px 0px 12px 0px;
}

.brief_report_detail_top_bg_layout{
  height: 200px;
  width: 100%;
  background:url('../../assets/report_detail_bg.jpg');
  background-size:100% 200px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.brief_report_detail_content_layout{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  //background-color: white;
  padding: 12px 100px;
  min-height: 800px;

}

.brief_report_detail_content_body_layout{
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: white;

}

.ivu-select-single .ivu-select-selection .ivu-select-placeholder, .ivu-select-single .ivu-select-selection .ivu-select-selected-value {
  display: block;
  height: 30px;
  line-height: 30px;
  color: #3c7af9;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 8px;
  padding-right: 24px;
}

.ivu-select-arrow {
  position: absolute;
  top: 50%;
  right: 8px;
  line-height: 1;
  transform: translateY(-50%);
  font-size: 14px;
  color: #3c7af9;
  transition: all .2s ease-in-out;
}

.ivu-select-selection {
  display: block;
  box-sizing: border-box;
  outline: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  position: relative;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #3c7af9;
  transition: all .2s ease-in-out;
}


.brief_report_detail_horizontal_layout{
  display: flex;
  flex-direction: row;
  //align-items: center;
  width: 100%;
}

.brief_report_detail_content_siftcondition_layout{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: white;

}

.receiver_setting_button_layout{
  margin-left: 8px;
  display: flex;
  flex-direction: row;
  border:1px solid lightgray;
  border-radius: 5px;
  align-items: center;
  width: 70px;
  height: 32px;
}

.site_manager_web_table_name_label{
  color: white;
  display: block;
  border-radius: 35px;
  width: 18px;
  min-width: 18px;
  line-height: 18px;
  font-size: 14px;
  padding-left: 4.5px;
  margin-right: 4px;
  height: 18px;
  background: red;
}

.inputNotice_tag{
  width: 600px;
  height: 20px;
  align-items: center;
  font-size: 13px;
  text-align: right;
  line-height: 20px;
  color: #8c989d;
  margin-bottom: 15px;
  padding-right: 20px;

}
.inputNotice_item_tag{
  color: #34495e;
  font-size: 13px;
}

.modalCount_label{
  color: #3c7af9;
  font-size: 13px;
}

.processing_detail_button_layout{
  margin-left: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}


.ivu-table-overflowX{ overflow-x: hidden;}

.ivu-modal{
  top: 60px;
}

.ivu-modal-header{
  padding: 0;
}

.ivu-modal-header p, .ivu-modal-header-inner{
  line-height: 50px;
  padding-left: 12px;
  font-size: 16px;
}
.ivu-modal-close .ivu-icon-ios-close{
  color: white
}

.ivu-modal-footer {
  border-top: 1px solid white;
  padding: 5px 18px 5px 18px;
  text-align: right;
}
