<template>
    <div class="home_container">
        <Header current_pager="brief_report" style="display: none"/>
        <div class="brief_report_detail_layout">
            <div class="brief_report_detail_top_bg_layout">
                <div style="margin-top: 15px;display: flex; flex-direction: row; align-items: center; height: 50px; padding:12px">
                    <label class="common_label_style" style="color: white;font-weight: bold;font-size: 38px; margin-left: 8px">B</label>
                    <div style="display: flex; flex-direction: column;">
                        <label class="common_label_style" style="color: white;height: 20px; font-size:18px">简报</label>
                        <label class="common_small_label_style" style="color: white;height: 20px">rief report</label>
                    </div>
                    <div style="margin-left: 10px;width: 0.5px; background: white; height: 100%"></div>
                    <div style="display: flex; flex-direction: column; margin-left: 10px">
                        <label class="common_label_style" style="color: white;height: 20px;">[内部报告，请勿外传]</label>
                        <label class="common_small_label_style" style="color: white;height: 20px">湖南省属地化网站管理</label>
                    </div>

                    <div  style=" position: absolute; right: 12px; top: 25px;display: flex; flex-direction: row; align-items: center;margin-right: 2px">
                        <label class="common_label_style" style="width: 100px;text-align: center;border-radius: 5px; padding: 2px 0px; cursor: pointer; color: white; border:1px solid white; margin-right: 12px"  @click="respandReport">发送报告</label>
                        <label class="common_label_style" style="width: 100px;text-align: center;border-radius: 5px; padding: 2px 0px; cursor: pointer; color: white; border:1px solid white;"  @click="downloadTheReport">下载</label>
                    </div>
                </div>

                <div style="display: flex; flex-direction: column; ">
                    <label class="common_label_style" style="font-weight: bold;color: white;font-size: 40px; text-align: center">{{reportName}}</label>
                    <label class="common_small_label_style" style="color: white;text-align: center">湖南省属地化网站管理</label>
                </div>
            </div>


            <div class="brief_report_detail_content_layout">
                <div class="brief_report_detail_content_body_layout" style="padding:12px 0px; align-items: center">
                    <div style="height: 20px; width: 4px; background-color: #2b85e4"></div>
                    <label class="common_label_style" style="font-weight: bold;font-size: 38px; margin-left: 8px">S</label>
                    <div style="display: flex; flex-direction: column;">
                        <label class="common_label_style" style="height: 20px; font-size:18px">报告概述</label>
                        <label class="common_small_label_style" style="height: 20px">ummary of the report</label>
                    </div>
                </div>

                <div class="brief_report_detail_content_body_layout" style="background-color: white">
                    <div style="padding:12px 24px; font-size: 13px; background-color: white">{{reportDesc}}</div>
                </div>

                <div style="background:#e8eaec;height: 12px;width: 100%;"/>


                <div class="brief_report_detail_content_body_layout" style="padding:12px 0px; align-items: center">
                    <div style="height: 20px; width: 4px; background-color: #2b85e4"></div>
                    <label class="common_label_style" style="font-weight: bold;font-size: 38px; margin-left: 8px">L</label>
                    <div style="display: flex; flex-direction: column;">
                        <label class="common_label_style" style="height: 20px; font-size:18px">违规网站列表</label>
                        <label class="common_small_label_style" style="height: 20px">ist of illegal wedsites</label>
                    </div>
                </div>

                <Table ref="selection" :columns="webTableColumnList" :data="reportDetailWebs" style="width: 100%">
                    <template slot-scope="{row}" slot="siteName">
                        <div style="display: flex;flex-direction: row;align-items: center;">
                            <label class="site_manager_web_table_name_label"
                                   :style="{background:row.grade == 'A'?'#fc5560':row.grade == 'B'?'#3c7af9':'#28e1a8'}">{{row.level}}</label>
                            <label style="font-size: 13px;">{{row.siteName}}</label>
                        </div>
                    </template>
                </Table>

                <div style="background:#e8eaec;height: 12px;width: 100%;"/>

                <div class="brief_report_detail_content_body_layout" style="padding:12px 0px; align-items: center">
                    <div style="height: 20px; width: 4px; background-color: #2b85e4"></div>
                    <label class="common_label_style" style="font-weight: bold;font-size: 38px; margin-left: 8px">A</label>
                    <div style="display: flex; flex-direction: column;">
                        <label class="common_label_style" style="height: 20px; font-size:18px">违规速览</label>
                        <label class="common_small_label_style" style="height: 20px">quick overview of irregularities</label>
                    </div>
                </div>

                <div class="brief_report_detail_content_body_layout" style="padding:12px 0px; align-items: center; background-color: #f5f8ff">
                    <img src="../../assets/yuanquan.png" style="width: 15px;height: auto;margin-right: 2px;margin-left: 12px;cursor: pointer"/>
                    <label class="common_label_style" style="font-weight: bold;min-width: 200px;">最新违规信息</label>
                    <div  style="display: block;width: 100%">
                        <div style="float: right;display: flex;flex-direction: row;align-items: center;">
                            <Select class="modal_content_select" v-model="reportNewCountOnshow" style="margin-right: 12px ;width:120px" @on-change="reportNewCountChange">
                                <Option v-for="item in countCollumn" :value="item.id">{{ item.label }}</Option>
                            </Select>
                        </div>
                    </div>
                </div>

                <div v-for="(item,index) in reportNewPagesOnshow" style="width: 100%; padding:0px 24px" v-if="isShowreportNewPages">
                    <div style="display: flex;flex-direction: column; width: 100%;">
                        <label class="common_label_style" style="color: #2f54eb; margin-top: 8px">[{{item.cleanTitle}}]</label>
                        <label class="common_label_style" style="font-weight: bolder;margin-top: 5px;">{{item.title}}</label>
                        <label class="common_label_style" style="cursor: pointer;margin-top: 5px;" @click="clickViolationWebUrl(item.url)">{{item.url}}</label>
                        <label class="common_small_label_style" style="margin-top: 5px;">{{item.createTime}}</label>
                        <div style="background:#e8eaec;height: 1px;width: 100%;margin-top: 8px;" :style="{display:index == reportNewPagesOnshow.length -1?'none':''}"/>
                    </div>
                </div>

                <div class="brief_report_detail_content_body_layout" style="height: 80px; align-items: center; background-color:white" v-if="!isShowreportNewPages">
                    <label class="common_label_style" style="width: 100% ;text-align: center">暂无数据</label>
                </div>

                <div class="brief_report_detail_content_body_layout" style="padding:12px 0px; align-items: center; background-color: #f5f8ff">
                    <img src="../../assets/yuanquan.png" style="width: 15px;height: auto;margin-right: 2px;margin-left: 12px;cursor: pointer"/>
                    <label class="common_label_style" style="font-weight: bold;min-width: 200px;">重点违规信息</label>
                    <div  style="display: block;width: 100%">
                        <div style="float: right;display: flex;flex-direction: row;align-items: center;">
                            <Select class="modal_content_select" v-model="reportImportantCountOnshow" style="margin-right: 12px ;width:120px" @on-change="reportImportentCountChange">
                                <Option v-for="item in countCollumn" :value="item.id">{{item.label}}</Option>
                            </Select>
                        </div>
                    </div>
                </div>

                <div v-for="(item,index) in reportImportantPagesOnshow" style="width: 100%; padding:0px 24px;  background-color: white" v-if="isShowreportImportantPages">
                    <div style="display: flex;flex-direction: column; width: 100%;">
                        <label class="common_label_style" style="color: #2f54eb; margin-top: 8px">[{{item.cleanTitle}}]</label>
                        <label class="common_label_style" style="font-weight: bolder;margin-top: 5px;">{{item.title}}</label>
                        <label class="common_label_style" style="cursor: pointer;margin-top: 5px;" @click="clickViolationWebUrl(item.url)">{{item.url}}</label>
                        <label class="common_small_label_style" style="margin-top: 5px;">{{item.createTime}}</label>
                        <div style="background:#e8eaec;height: 1px;width: 100%;margin-top: 8px;" :style="{display:index == reportImportantPagesOnshow.length -1?'none':''}"/>
                    </div>
                </div>
                <div class="brief_report_detail_content_body_layout" style="height: 80px; align-items: center; background-color:white" v-if="!isShowreportImportantPages">
                    <label class="common_label_style" style="width: 100% ;text-align: center">暂无数据</label>
                </div>
            </div>

            <Modal v-model="chooseReceiverModal" width="500">
                <p slot="header" style="display:block; text-align: left; height:100%; color:white;background: #4681fa;">
                    <span>邮件接收人</span>
                </p>
                <div style="padding: 12px 20px">
                    <label class="common_label_style">请选择邮件接收人：</label>
                </div>
                <div style=" width: 470px; height: 200px; padding: 0px 15px; background-color: #fafafa; overflow: auto" >
                    <Checkbox style="margin-top: 12px" :value="checkAll" @click.prevent.native="handleCheckAll" size='default' s>选择全部</Checkbox>
                    <div style="display: flex;flex-direction: row; align-items: center; width: 100%;">
                        <CheckboxGroup v-model="selectedReceiverEmail" @on-change="receiverCheckChange">
                            <Checkbox style="width: 200px; margin-top: 12px" :label="item.id" :value="item.selected" v-for="item in receiverEmailList">{{item.email}}</Checkbox>
                        </CheckboxGroup>
                    </div>
                </div>
                <div slot="footer" style="padding: 12px 0px">
                    <Button size="large" style="width: 100px;" @click="handleChooseReceiverEmail(0)">取消</Button>
                    <Button type="primary" size="large" style="width: 100px;" @click="handleChooseReceiverEmail(1)">确认</Button>
                </div>
            </Modal>

        </div>
        <Footer/>
    </div>
</template>

<script>
    import Cookies from 'js-cookie'
    import ApiRequest from '@/api/apiRequest.js'
    import webWaringRequest from '@/api/webWaringRequest.js'
    import Footer from '@/components/footer/footer.vue'
    import Header from '@/components/header/header.vue'
    import config from '@/config'
    const baseUrl = process.env.NODE_ENV === 'development' ? config.baseUrl.dev : config.baseUrl.pro
    import {
        getUsersList,

    } from '@/api/data'

    export default {
        name: 'UserManagerUser',
        components: {
            Footer,
            Header
        },
        data() {
            return {

                reportWebContent:{},
                reportName: '',
                reportDesc: '',
                reportDetailWebs:[],

                isShowreportImportantPages: false,
                reportImportantPages: [],
                reportImportantCountOnshow:5,
                reportImportantPagesOnshow: [],

                isShowreportNewPages: false,
                reportNewPages: [],
                reportNewCountOnshow: 5,
                reportNewPagesOnshow: [],


                countCollumn:[
                    {
                        label:'显示5条',
                        id:5,
                    },
                    {
                        label:'显示10条',
                        id: 10,
                    },
                    {
                        label:'显示20条',
                        id: 20,
                    }
                ],

                queryWebSiteCondition:{
                    page_no:1,
                    page_size:10,
                    province:'',
                    city:'',
                    organizerNature:'',
                    category:'',
                    searchField:'siteName',
                    searchValue:'',
                    level:'C',
                    subjectId: '177',
                    start_time: '',
                    end_time: '',
                },

                webTableColumnList: [
                    {
                        title: '网站名称',
                        slot: 'siteName',
                        key: 'siteName',
                    },
                    {
                        title: '违规量',
                        key: 'illegalCount',
                        align: 'center',
                        width: 80
                    },
                    {
                        title: '最近预警时间',
                        key: 'createTime',
                        align: 'center'
                    },
                    {
                        title: '网站分类',
                        key: 'categoryTitle',
                        align: 'center'
                    },
                    {
                        title: '所属地域',
                        key: 'city',
                        align: 'center',
                        width: 90
                    },
                    {
                        title: '主办单位',
                        key: 'organizerNature',
                        align: 'center'
                    },
                    {
                        title: '今日是否处理',
                        key: 'isHandle',
                        align: 'center',

                    },
                ],
                webTableData: [],

                receiverEmailList: [],
                chooseReceiverModal: false,
                checkAll: false,
                selectedReceiverEmail: [],


                rolePermissions: [],
                pagePermissions: [],

            }
        },

        computed: {},

        mounted() {
            this.initData();
            this.getpermission();
        },


        methods: {
            getpermission(){
                this.rolePermissions = JSON.parse(localStorage.getItem('rolePermissions'))
                //console.log(this.rolePermissions)
                for (var i = 0; i < this.rolePermissions.length; i++) {
                    var item = this.rolePermissions[i]
                    if(item.module_name == "属地简报"){
                        this.pagePermissions = item.permissionList
                        //console.log(this.pagePermissions)
                    }
                }
            },
            initData() {
                this.reportWebContent = JSON.parse(localStorage.getItem('reportWebContent'))
                //console.log(this.reportWebContent)
                this.getReceiverEmailList()
                this.getReportDetail()
            },

            //.邮件接受人：获取列表
            getReceiverEmailList(){
                webWaringRequest.getReceiverEmailData(Cookies.get('user_id')).then(res => {
                    if(res.data.code == 0){
                        // console.log(".邮件接受人：获取列表")
                        // console.log(res)
                        var dataArray = res.data.object
                        for (var i = 0; i < dataArray.length; i++) {
                            dataArray[i].selected = false
                        }
                        this.receiverEmailList = dataArray
                    }else{
                        this.$Message.error(res.data.message)
                    }
                })
            },

            //简报详情
            getReportDetail(){
                webWaringRequest.getReportDetail(this.reportWebContent.id).then(res => {
                    if(res.data.code == 0){
                        //console.log(res)
                        var webs_illegal = res.data.object.webs_illegal
                        if(webs_illegal != null){
                            for (var i = 0; i < webs_illegal.length; i++) {
                                webs_illegal[i].isHandle = "未处理"
                                webs_illegal[i].createTime = formatDate(webs_illegal[i].createTime)
                            }
                        }else {
                            webs_illegal = []
                        }

                        var webs_illegal_handled = res.data.object.webs_illegal_handled
                        if(webs_illegal_handled != null){
                            for (var i = 0; i < webs_illegal_handled.length; i++) {
                                webs_illegal_handled[i].isHandle = "已处理"
                                webs_illegal_handled[i].createTime = formatDate(webs_illegal_handled[i].createTime)
                            }
                        }else {
                            webs_illegal_handled = []
                        }


                        this.reportDetailWebs =  webs_illegal.concat(webs_illegal_handled)
                        this.reportName = res.data.object.report_name
                        this.reportDesc = res.data.object.report_desc

                        if(res.data.object.page_new != null && res.data.object.page_new.length > 0){
                            this.reportNewPages = res.data.object.page_important
                            this.isShowreportNewPages = true
                            this.handleReportPagesData(0)
                        }
                        if(res.data.object.page_important != null && res.data.object.page_important.length > 0){
                            this.reportImportantPages = res.data.object.page_important
                            this.isShowreportImportantPages = true
                            this.handleReportPagesData(1)
                        }
                    }
                })
            },
            handleReportPagesData(index){
                if(index == 0){
                    if(this.reportNewPages.length <= this.reportNewCountOnshow){
                        this.reportNewPagesOnshow = this.reportNewPages
                    }else {
                        this.reportNewPagesOnshow = this.reportNewPages.slice(0,this.reportNewCountOnshow)
                    }
                    for (var i = 0; i < this.reportNewPagesOnshow.length; i++) {
                        this.reportNewPagesOnshow[i].createTime = formatDate(this.reportNewPagesOnshow[i].createTime)
                    }
                }else {
                    if(this.reportImportantPages.length <= this.reportImportantCountOnshow){
                        this.reportImportantPagesOnshow = this.reportImportantPages
                    }else {
                        this.reportImportantPagesOnshow = this.reportImportantPages.slice(0,this.reportImportantCountOnshow)
                    }

                    for (var i = 0; i < this.reportImportantPagesOnshow.length; i++) {
                        this.reportImportantPagesOnshow[i].createTime = formatDate(this.reportImportantPagesOnshow[i].createTime)
                    }
                }


            },

            //发送报告
            respandReport(){
                this.chooseReceiverModal = true
            },
            //全选
            handleCheckAll(){
                this.checkAll = !this.checkAll
                for (var i = 0; i < this.receiverEmailList.length; i++) {
                    this.receiverEmailList[i].selected = this.checkAll
                }
                if(this.checkAll){
                    this.selectedReceiverEmail = []
                    for (var i = 0; i < this.receiverEmailList.length; i++) {
                        this.selectedReceiverEmail.push(this.receiverEmailList[i].id)
                    }
                }else {
                    this.selectedReceiverEmail = []
                }
            },
            //接收邮件的选择
            receiverCheckChange(data){
                this.selectedReceiverEmail = data
            },
            handleChooseReceiverEmail(){
                this.chooseReceiverModal = false
            },


            //下载报告
            downloadTheReport(){
                if(!isHaveThePermission(this.pagePermissions, "下载")){
                    this.$Message.error('暂无此权限！')
                    return
                }
                const msg = this.$Message.loading({
                    content: '正在下载...',
                    duration: 0
                });
                webWaringRequest.downloadReport(this.reportWebContent.id).then(res => {
                    if(res.data.code == 0){
                        this.downloadFile(res.data.object)

                    }else {
                        this.$Message.error(res.data.message)
                    }
                    setTimeout(msg, 300);
                })


            },
            downloadFile(url){
                url = baseUrl + url
                ApiRequest.exportFile(url).then(response => {
                    let blob = new Blob([response.data], {
                        type: 'application/msword',
                    })
                    let fileName = Date.parse(new Date()) + '.doc'
                    if (window.navigator.msSaveOrOpenBlob) {
                        navigator.msSaveBlob(blob, fileName)
                    } else {
                        var link = document.createElement('a')
                        link.href = window.URL.createObjectURL(blob)
                        link.download = fileName
                        link.click()
                        window.URL.revokeObjectURL(link.href)
                    }
                })
            },

            //最新违规信息展示条数改变
            reportNewCountChange(item){
                if(!this.isShowreportNewPages){
                    return
                }else {
                    this.handleReportPagesData(0)
                }

            },
            //重点违规信息展示条数改变
            reportImportentCountChange(){
                if(!this.isShowreportImportantPages){
                    return
                }else {
                    this.handleReportPagesData(1)
                }
            },


            clickProcessingDetailButton(index,elementId){
                this.processingRecords[index].showProcessingDetal = !this.processingRecords[index].showProcessingDetal
                var element = document.getElementById(elementId)
                var rotate = 180
                if(!this.processingRecords[index].showProcessingDetal){
                    rotate = 0
                }
                element.style.transform = "rotate(" + rotate + "deg)"
            },

        }
    }

    function isHaveThePermission(permissionList, operationName){
        var haveTheRight = true

        for (var i = 0; i < permissionList.length; i++) {
            if(permissionList[i].permission_name == operationName){
                if(permissionList[i].status == 1){
                    haveTheRight = true
                }else {
                    haveTheRight = false
                }
            }
        }
        return haveTheRight
    }

    function formatDate(timestamp = +new Date()) {
        if (timestamp) {
            var time = new Date(timestamp);
            var y = time.getFullYear();
            var M = time.getMonth() + 1;
            var d = time.getDate();
            var h = time.getHours();
            var m = time.getMinutes();
            var s = time.getSeconds();
            return y + '-' + addZero(M) + '-' + addZero(d) + ' ' + addZero(h) + ':' + addZero(m) + ':' + addZero(s);
        } else {
            return '';
        }
    }
    function addZero(m) {
        return m < 10 ? '0' + m : m;
    }


</script>

<style>
    @import './brief_report_detail.less';
</style>

