<template>
	<div class="home_container">
		<Header current_pager="user_manager"/>
		<div class="user_manager_layout">
			<div class="user_manager_menu_group_layout">
				<div class="user_manager_menu_item_layout">
					<img src="../../assets/back.png" style="width: 26px;height: auto;padding-right: 4px;cursor: pointer;" @click="back"/>
					<label class="user_manager_menu_title">个人中心</label>
				</div>
				<div style="background:#e8eaec;height: 1px;width: 100%;" />
				<div class="user_manager_content_title_layout" v-if="showFirstMenu" :style="{background:currentMenu==0?'#f1f4fc':''}" @click="selectMenu(0)">
					<img src="../../assets/account_setting.png" class="user_manager_menu_item_left_img"/>
					<a class="common_label_style" style="min-width: 120px;">账号信息</a>
					<div class="user_manager_menu_item_right_layout" v-if="currentMenu == 0">
						<div class="user_manager_menu_item_right_div"></div>
					</div>
				</div>
				<div class="user_manager_content_title_layout" v-if="showSecondMenu" :style="{background:currentMenu==1?'#f1f4fc':''}" @click="selectMenu(1)">
					<img src="../../assets/role_icon.png" class="user_manager_menu_item_left_img"/>
					<a class="common_label_style" style="min-width: 120px;">角色管理</a>
					<div class="user_manager_menu_item_right_layout" v-if="currentMenu == 1">
						<div class="user_manager_menu_item_right_div"></div>
					</div>
				</div>
				<div class="user_manager_content_title_layout" v-if="showThirdMenu" :style="{background:currentMenu==2?'#f1f4fc':''}" @click="selectMenu(2)">
					<img src="../../assets/user_manager.png" class="user_manager_menu_item_left_img"/>
					<a class="common_label_style" style="min-width: 120px;">用户管理</a>
					<div class="user_manager_menu_item_right_layout" v-if="currentMenu == 2">
						<div class="user_manager_menu_item_right_div"></div>
					</div>
				</div>
			</div>
			<div style="width: 12px;height: 100%;min-width: 12px;"></div>
			
			<div class="user_manager_right_content_layout">
				<UserManagerAccount v-if="currentMenu == 0"/>
				<UserManagerRole v-if="currentMenu == 1"/>
				<UserManagerUser v-if="currentMenu == 2"/>
			</div>
		
		</div>
		<Footer/>
	</div>
</template>

<script>
	import Footer from '@/components/footer/footer.vue'
	import Header from '@/components/header/header.vue'
	import UserManagerAccount from '@/components/user_manager_account/user_manager_account.vue'
	import UserManagerRole from '@/components/user_manager_role/user_manager_role.vue'
	import UserManagerUser from '@/components/user_manager_user/user_manager_user.vue'
	import { mapActions } from 'vuex'
	export default{
		components: {
			UserManagerAccount,
			UserManagerRole,
			UserManagerUser,
			Footer,
			Header
		},
		created(){
		},
		data(){
			return{
                user_account: '',
                user_id: '',
				currentMenu:0,

                showFirstMenu: true,
                showSecondMenu: true,
                showThirdMenu: true,

                rolePermissions: [],
                pagePermissions: {}
			}
		},

        mounted(){
            this.rolePermissions = JSON.parse(localStorage.getItem('rolePermissions'))
            for (var i = 0; i < this.rolePermissions.length; i++) {
                var item = this.rolePermissions[i]
                if(item.module_name == "个人中心"){
                    this.showFirstMenu = isHaveThePermission(item.moduleList, "账号信息")
                    this.showSecondMenu = isHaveThePermission(item.moduleList, "角色管理")
                    this.showThirdMenu = isHaveThePermission(item.moduleList, "用户管理")
                }
            }
            this.init();
        },

		methods:{
			...mapActions([
			  'selectUserManagerMenu',
			  'setInHomeStatus'
			]),
			init(){
				var va = this.$store.getters.getUserManagerMenuSelect
				this.selectMenu(va)
			},
			selectMenu(index){
				this.currentMenu=index
				this.selectUserManagerMenu(index)
			},
			back(){
				this.setInHomeStatus(true)
				this.$router.go(-1);
			}
		}
	}

    function isHaveThePermission(permissionList, operationName){
        var haveTheRight = true

        for (var i = 0; i < permissionList.length; i++) {
            if(permissionList[i].permission_name == operationName){
                if(permissionList[i].status == 1){
                    haveTheRight = true
                }else {
                    haveTheRight = false
                }
            }
        }
        return haveTheRight
    }
	
</script>

<style scoped>
    @import './user_manager.less';
</style>
