.user_manager_layout{
	width: 100%;
	min-height: 100%;
	padding: 12px;
	background: #e8eaec;
	padding: 12px;
	display: flex;
	flex-direction: row;
}
.user_manager_menu_group_layout{
	width: 20%;
	min-height: 100%;
	background: white;
	min-width: 240px;
}

.user_manager_menu_item_layout{
	width: 80%;
	display: flex;
	height: 40px;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 24px;
	flex-direction: row;
	align-items: center;
	cursor: pointer
}

.user_manager_content_top_layout{
	width: 100%;
	display: flex;
	height: 40px;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 24px;
	flex-direction: row;
	align-items: center;
}

.user_manager_menu_title_right_layout{
	width: 100%;
	padding-right: 24px;
	display: block;
}

.user_manager_menu_title_right_button_layout{
	display: flex;
	flex-direction: row;
	background: #3c7af9;
	border-radius: 5px;
	align-items: center;
	float: right;
	width: 100px;
	height: 35px;
	cursor: pointer
}

.user_manager_content_title_layout{
	width: 100%;
	display: flex;
	height: 40px;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 24px;
	flex-direction: row;
	align-items: center;
}
.user_manager_menu_item_left_img{
	margin-right: 12px;
	margin-bottom: 5px;
	width: 16px;
	height: 16px;
	min-height: 16px;
	min-width: 16px;
}
.user_manager_menu_title{
	color: #425569;
	font-size: 14px;
	min-width: 200px;
}
.user_manager_menu_item_right_layout{
	width: 100%;
	height: 100%;
}
.user_manager_menu_item_right_div{
	background: #3c7af9;
	width: 4px;
	height: 100%;
	float: right;
}
.user_manager_right_content_layout{
	width: 100%;
	min-height: 100%;
	height: auto;
	background: white;
	display: flex;
	flex-direction: column
}
.ivu-table-wrapper{
	border: none;
	overflow:visible
}

.ivu-modal{
	top: 200px;
}
.ivu-modal-header{
	padding: 0;
}

.ivu-modal-header p, .ivu-modal-header-inner{
	line-height: 50px;
	padding-left: 12px;
	font-size: 16px;
}
.ivu-modal-close .ivu-icon-ios-close{
	color: white
}

.ivu-modal-footer{
	text-align: center;
	padding: 5px 18px 5px 18px;
}

.modal_content_select .ivu-select-selection {
	text-align: left;
	border-radius: 4px;
	border: 1px solid #dcdee2;
}


.modal_content_item_layout{
	display: flex;
	height: 60px;
	flex-direction: row;
}

.modal_content_item_star_tag{
	color: red;
	font-size: 20px;
	display: block;
	float: right;
	margin-right: 4px
}

.modal_content_item_tag{
	color: #425569;
	font-size: 16px;
	display: block;
	float: right;
	margin-right: 8px;
}
.modal_content_item_input{

}
.modal_content_item_left_layout{
	min-width: 100px;
	padding-top: 4px
}

.modal_content_item_hint{
	color: red;
	font-size: 12px;
	padding-top: 4px
}

.modal_content_item_input_layout{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
}

