.ivu-modal{
	top: 200px;
}
.ivu-modal-header{
	padding: 0;
}

.ivu-modal-header p, .ivu-modal-header-inner{
	line-height: 50px;
	padding-left: 12px;
    font-size: 16px;
}
.ivu-modal-close .ivu-icon-ios-close{
	color: white
}

.ivu-modal-footer{
	text-align: center
}
.modal_content_select .ivu-select-selection {
	text-align: left;
	border-radius: 4px;
	border: 1px solid #dcdee2;
}	


.modal_content_item_layout{
	display: flex;
	height: 60px;
	flex-direction: row;
}

.modal_content_item_star_tag{
	color: red;
	font-size: 20px;
	display: block;
	float: right;
	margin-right: 4px
}

.modal_content_item_tag{
	color: #425569;
	font-size: 16px;
	display: block;
	float: right;
	margin-right: 8px;
}
.modal_content_item_input{
	
}
.modal_content_item_left_layout{
	min-width: 100px;
	padding-top: 4px
}

.modal_content_item_hint{
	color: red;
	font-size: 12px;
	padding-top: 4px
}

.modal_content_item_input_layout{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
}