<template>
	<div class="home_container">
		<Header current_pager="home"/>
		<div style="height: 100%; width:100%;">
			<HomeContent/>
			<Footer/>
		</div>
	</div> 
</template>
<script>
	import HomeContent from '@/components/home/home_content.vue'
	import Footer from '@/components/footer/footer.vue'
	import Header from '@/components/header/header.vue'
	
	export default {
		components: {
			HomeContent,
			Footer,
			Header
		},
	}
</script>

<style scoped>
	@import './home.less';
</style>
