<template>
	<div class="home_container">
		<Header current_pager="brief_report"/>
		<div class="brief_report_layout">
			<div class="brief_report_background">
				<div class="brief_report_top_layout" style="padding:12px 24px; align-items: center">
					<label class="common_label_style" style="font-weight: bold;min-width: 200px;">舆情日报</label>
					<div class="brief_report_horizontal_layout" style="display: block">
						<div style="float: right;display: flex;flex-direction: row;align-items: center;">
							<label class="common_label_style" style="width: 80px;margin-right: 10px; text-align: center; padding: 2px 0px; cursor: pointer; color: white; background-color: #2b85e4; border-radius: 3px" @click="createReport">生成报告</label>
							<label class="common_label_style" style="width: 80px;text-align: center; padding: 2px 0px; cursor: pointer; color: #2b85e4; background-color: #fafafa; border-radius: 3px" @click="selectReceiverEmail">邮件接收人</label>
						</div>
					</div>
				</div>

				<Table ref="selection" :columns="webTableColumnList" :data="reportTableData">
					<template slot-scope="{row}" slot="report_name">
						<div style="display: flex;flex-direction: row;align-items: center;" @click="gotoReportDetailPage(row)">
							<img src="../../assets/tongji.png" style="margin-right: 4px;width: 20px;height: auto;cursor: pointer"/>
							<label style="font-size: 13px;">{{row.report_name}}</label>
						</div>
					</template>
					<template slot-scope="{ row, index }" slot="action">
						<a @click="respandReport(row)" style="margin-right: 12px;font-size: 13px;">发送报告</a>
						<a @click="deleteReport(row)" style="margin-right: 12px; font-size: 13px;">删除</a>
					</template>
				</Table>
				<div style="width: 100%;height:80px; padding: 24px 60px 0 24px; background-color: white;"
					 :style="{visibility: reportTableData.length == 0?'hidden':''}">
					<label class="common_small_label_style">共{{reportsTotal}}条</label>
					<Page :total=reportsTotal show-elevator show-sizer style="float: right;" @on-change="pagerChange"
						  @on-page-size-change="pagerSizeChange"/>
				</div >

			</div>

			<Modal v-model="deleteReportModal" width="400">
				<p slot="header" style="display:block; text-align: center; height:100%; color:white;background: #4681fa;">
					<span>删除确认</span>
				</p>
				<div style="text-align:center">
					<label class="common_label_style">是否确定删除这条日报</label>
				</div>
				<div style="text-align:center">
					<label class="common_title_label_style">删除后不可恢复，谨慎操作...</label>
				</div>
				<div slot="footer" style="padding: 12px 0px">
					<Button size="large" style="width: 100px;" @click="clickDeleteReport(0)">取消</Button>
					<Button type="primary" size="large" style="width: 100px;" @click="clickDeleteReport(1)">确认</Button>
				</div>
			</Modal>


			<Modal v-model="operaReceiverModal" width="500">
				<p slot="header" style="display:block; text-align: left; height:100%; color:white;background: #4681fa;">
					<span>邮件接收人</span>
				</p>
				<div  style="margin-bottom: 15px;float: right; display: flex;flex-direction: row;align-items: center; width: 100%;">
					<label class="common_label_style" style="width:80px; text-align: right ">邮件接收人:</label>
					<Input v-model="receiverEmailValue" placeholder="请输入接收人邮箱" style="width: 290px;margin-left: 4px;"/>
					<div class="receiver_setting_button_layout" style="margin-right: 12px" @click="addNewReceiverEmail">
						<img src="../../assets/add_bule.png" style="width: 15px;height: auto;margin-right: 5px;margin-left: 5px;cursor: pointer"/>
						<label style="color:#2d8cf0;font-size: 14px;line-height: 30px;text-align: center;cursor: pointer" >添加</label>
					</div>
				</div>
				<div style=" width: 460px; height: 200px; padding: 0px 20px; background-color: #fafafa; overflow: auto">
					<div v-for="item in receiverEmailList" style="display: inline-block;margin-top: 8px;width: 200px; margin-left:10px" >
						<div style="display: flex;flex-direction: row;align-items: center; width: 100%;">
							<label class="common_label_style" style="width: 160px">{{item.email}}</label>
							<img src="../../assets/delete.png" style="width: 18px;height: auto; cursor: pointer" @click="clickDeleteReceiverEmail(item)"/>
						</div>

					</div>
				</div>
				<div slot="footer" style="padding: 12px 0px">
					<Button size="large" style="width: 100px;" @click="handleOperaReceiverEmail(0)">取消</Button>
					<Button type="primary" size="large" style="width: 100px;" @click="handleOperaReceiverEmail(1)">确认</Button>
				</div>
			</Modal>

			<Modal v-model="deleteReceiverEmailModal" width="400">
				<p slot="header" style="display:block; text-align: center; height:100%; color:white;background: #4681fa;">
					<span>删除确认</span>
				</p>
				<div style="text-align:center">
					<label class="common_label_style">是否确定删除接收人邮件 <span style="color: red;">{{deleteReceiverEmail.email}}</span> ?</label>
				</div>
				<div slot="footer" style="padding: 12px 0px">
					<Button size="large" style="width: 100px;" @click="handleDeleteReceivertEmail(0)">取消</Button>
					<Button type="primary" size="large" style="width: 100px;" @click="handleDeleteReceivertEmail(1)">确认</Button>
				</div>
			</Modal>

			<Modal v-model="chooseReceiverModal" width="500">
				<p slot="header" style="display:block; text-align: left; height:100%; color:white;background: #4681fa;">
					<span>邮件接收人</span>
				</p>
				<div style="padding: 12px 20px">
					<label class="common_label_style">请选择邮件接收人：</label>
				</div>
				<div style=" width: 470px; height: 200px; padding: 0px 15px; background-color: #fafafa; overflow: auto" >
					<Checkbox style="margin-top: 12px" :value="checkAll" @click.prevent.native="handleCheckAll" size='default' s>选择全部</Checkbox>
					<div style="display: flex;flex-direction: row; align-items: center; width: 100%;">
						<CheckboxGroup v-model="selectedReceiverEmail" @on-change="receiverCheckChange">
							<Checkbox style="width: 200px; margin-top: 12px" :label="item.email" :value="item.selected" v-for="item in receiverEmailList">{{item.email}}</Checkbox>
						</CheckboxGroup>
					</div>
				</div>
				<div slot="footer" style="padding: 12px 0px">
					<Button size="large" style="width: 100px;" @click="handleChooseReceiverEmail(0)">取消</Button>
					<Button type="primary" size="large" style="width: 100px;" @click="handleChooseReceiverEmail(1)">确认</Button>
				</div>
			</Modal>

			<Modal v-model="customTimeModal" width="400">
				<p slot="header" style="display:block; text-align: left; height:100%; color:white;background: #4681fa;">
					<span>自定义预警时间</span>
				</p>
				<label class="common_label_style" style="width: 100%; text-align: center; padding: 20px 0px">请选择开始和结束时间</label>
				<div style="margin-top: 20px;width: 100%; height: 30px; align-items: center ">
					<DatePicker type="daterange" show-week-numbers placeholder="选择开始和结束时间" style="margin-left: 30px;width: 300px" @on-change="selectCustomTime" placement="bottom-end"></DatePicker>
				</div>
				<div style="width: 100%;align-items:center; margin-top: 20px;">
					<Button size="large" style="width: 100px;margin-left: 85px" @click="saveCustomTime(0)">取消</Button>
					<Button type="primary" size="default" style="margin-left: 30px;width: 100px;color: white;" @click="saveCustomTime(1)">生成报告</Button>
				</div>
				<div slot="footer">
					<div></div>
				</div>
			</Modal>


		</div>
		<Footer/>
	</div>
</template>

<script>
    import Cookies from 'js-cookie'
    import ApiRequest from '@/api/apiRequest.js'
    import webWaringRequest from '@/api/webWaringRequest.js'
    import Footer from '@/components/footer/footer.vue'
    import Header from '@/components/header/header.vue'
    import config from '@/config'
    const baseUrl = process.env.NODE_ENV === 'development' ? config.baseUrl.dev : config.baseUrl.pro
    import {
        getUsersList,

    } from '@/api/data'

    export default {
        name: 'UserManagerUser',
        components: {
            Footer,
            Header
        },
        data() {
            return {
                selectAll: false,
                queryReportCondition:{
                    page:1,
                    count:10,
                },
                operaReceiverModal: false,
                receiverEmailValue: '',
                receiverEmailList: [],
                deleteReceiverEmailModal: false,
                deleteReceiverEmail: {},


                customTimeModal: false,
                customTime:[],
				
                webTableColumnList: [
                    {
                        type: 'index',
                        title: '序号',
                        width: 150,
                        align: 'center'
                    },
                    {
                        title: '报告名称',
                        slot: 'report_name',
                        key: 'report_name'
                    },
                    {
                        title: '数据汇总时间区间⇅',
                        key: 'timeStart_end',
                        align: 'center'
                    },
                    {
                        title: '操作',
                        width: 260,
                        slot: 'action',
                        key: 'action',
                        align: 'center'
                    },
                ],
                reportTableData: [],
                reportsTotal: 100,
                selectReport: {},
                deleteReportModal: false,


                chooseReceiverModal: false,
                checkAll: false,
                selectedReceiverEmail: [],



                rolePermissions: [],
                pagePermissions: [],
                receiverEmailPermissions: [],
                receiverEmailOperatePermissions: true
            }
        },

        computed: {},

        mounted() {
            this.initData();
            this.getpermission();
        },


        methods: {
            getpermission(){
                this.rolePermissions = JSON.parse(localStorage.getItem('rolePermissions'))
                //console.log(this.rolePermissions)
                for (var i = 0; i < this.rolePermissions.length; i++) {
                    var item = this.rolePermissions[i]
                    if(item.module_name == "属地简报"){
                        this.pagePermissions = item.permissionList
                        //console.log(this.pagePermissions)

                        var dataArray = item.moduleList
                        for (var j = 0; j < dataArray.length; j++) {
                            var item = dataArray[j]
                            if(item.module_name == "接收人管理"){
                                if(item.status == 1){
                                    this.receiverEmailOperatePermissions = true
								}else {
                                    this.receiverEmailOperatePermissions = false
								}
                                this.receiverEmailPermissions = item.permissionList
                                //console.log(this.receiverEmailPermissions)

                            }
                        }
                    }
                }
            },
            initData() {
                this.getReportListData()
                this.getReceiverEmailList()
            },
            //.邮件接受人：获取列表
            getReceiverEmailList(){
                webWaringRequest.getReceiverEmailData(Cookies.get('user_id')).then(res => {
                    if(res.data.code == 0){
                        // console.log(".邮件接受人：获取列表")
                        // console.log(res)
                        var dataArray = res.data.object
                        for (var i = 0; i < dataArray.length; i++) {
                            dataArray[i].selected = false
                        }
                        this.receiverEmailList = dataArray
                    }else{
                        this.$Message.error(res.data.message)
                    }
                })
            },

            //简报列表
            getReportListData(){
                webWaringRequest.getReportList(this.queryReportCondition).then(res => {
                    if(res.data.code == 0){

                        this.reportsTotal = Number(res.data.object.count)
                        var dataArray = res.data.object.mlist
                        for (var i = 0; i < dataArray.length; i++) {
                            dataArray[i].timeStart_end = formatDate(dataArray[i].start_time) + " ~ " + formatDate(dataArray[i].end_time)
                        }

                        this.reportTableData = dataArray
                    }
                })
            },
			//生成报告
            createReport(){
                if(!isHaveThePermission(this.pagePermissions, "生成报告")){
                    this.$Message.error('暂无此权限！')
                    return
                }
                this.customTimeModal = true
			},
            selectCustomTime(e){
                this.customTime = e
            },
            saveCustomTime(index){
                if(index == 0){
                    this.customTimeModal = false
				}else {
                    if(this.customTime == null){
                        this.$Message.error('请选择开始和结束时间')
                        return
                    }else {
                        if (this.customTime[0] == '' || this.customTime[1] == ''){
                            this.$Message.error('请选择开始和结束时间')
                            return
                        }
                    }
                    this.customTimeModal = false
                    this.customTime[0] = this.customTime[0] + " " + "00:00:00"
                    this.customTime[1] = this.customTime[1] + " " + "23:59:59"

					var requestCondition = {
                        start_time: timeStrToTime(this.customTime[0]),
                        end_time: timeStrToTime(this.customTime[1])
					}

                    webWaringRequest.createReport(requestCondition).then(res => {
                        if(res.data.code == 0){
                            //console.log("生成报告")
                            //console.log(res)
                            this.$Message.success(res.data.message)
                            this.getReportListData()
                        }else {
                            this.$Message.error(res.data.message)
						}
                    })
				}
            },
            //接收人邮件管理
            selectReceiverEmail(){
                if(!this.receiverEmailOperatePermissions){
                    this.$Message.error('请选择邮件接收人')
                    return
                }
                this.operaReceiverModal = true
            },
			
			//添加接收人邮箱
            addNewReceiverEmail(){
                if(!isHaveThePermission(this.receiverEmailPermissions, "添加")){
                    this.$Message.error('暂无此权限！')
                    return
                }

                if(this.receiverEmailList.length < 10){
                    if(this.receiverEmailValue == ''){
                        this.$Message.error('接收人邮箱不能为空')
                        return
                    }else {
                        var myReg=/^[a-zA-Z0-9_-]+@([a-zA-Z0-9]+\.)+(com|cn|net|org)$/;
                        if(!myReg.test(this.receiverEmailValue)){
                            this.$Message.error('邮箱格式不对')
                            return
                        }
                    }
                    var receiverEmailCondition = {
                        email: this.receiverEmailValue,
						userId: Cookies.get('user_id')
                    }
                    webWaringRequest.addReceiverEmail(receiverEmailCondition).then(res => {
                        if(res.data.code == 0){
                            //console.log('添加接收人邮箱')
                            //console.log(res)
                            this.$Message.success(res.data.message)
                            this.getReceiverEmailList()
                            this.receiverEmailValue = ''
                        }else {
                            //console.log(res)
                            this.$Message.error(res.data.message)
                        }
                    })
				}else {
                    this.$Message.error('最多只能添加10个邮箱！')
                    return
				}


			},
            handleOperaReceiverEmail(num){
                this.operaReceiverModal = false
			},
            //删除接收人邮箱
            clickDeleteReceiverEmail(item){
                if(!isHaveThePermission(this.receiverEmailPermissions, "删除")){
                    this.$Message.error('暂无此权限！')
                    return
                }
                this.deleteReceiverEmail = item
				this.deleteReceiverEmailModal = true
			},
            handleDeleteReceivertEmail(index){
                if(index == 0){
                    this.deleteReceiverEmailModal = false
				}else {
                    webWaringRequest.deleteReceiverEmail(this.deleteReceiverEmail.id).then(res => {
                        if(res.data.code == 0){
                            //console.log('删除接收人邮箱')
                            //console.log(res)
                            this.$Message.success(res.data.message)
                            this.deleteReceiverEmailModal = false
                            this.getReceiverEmailList()
                        }else {
                            //console.log(res)
                            this.$Message.error(res.data.message)
                        }
                    })
				}
			},

            //点击名称，进入简报详情页
            gotoReportDetailPage(item){
                if(!isHaveThePermission(this.pagePermissions, "查看报告")){
                    this.$Message.error('暂无此权限！')
                    return
                }
                localStorage.setItem('reportWebContent', JSON.stringify(item))
                this.$router.push({
                    name: 'brief_report_detail'
                })
			},

			//发送报告
            respandReport(item){
                if(!isHaveThePermission(this.pagePermissions, "发送报告")){
                    this.$Message.error('暂无此权限！')
                    return
                }
                this.chooseReceiverModal = true
                this.selectReport = item
			},
            //全选
            handleCheckAll(){
                this.checkAll = !this.checkAll
                for (var i = 0; i < this.receiverEmailList.length; i++) {
                    this.receiverEmailList[i].selected = this.checkAll
                }
                if(this.checkAll){
                    this.selectedReceiverEmail = []
                    for (var i = 0; i < this.receiverEmailList.length; i++) {
                        this.selectedReceiverEmail.push(this.receiverEmailList[i].email)
                    }
                }else {
                    this.selectedReceiverEmail = []
                }
            },
            //接收邮件的选择
            receiverCheckChange(data){
                //console.log(data)
                this.selectedReceiverEmail = data
            },

            handleChooseReceiverEmail(index){
                if(index == 0){
                    this.chooseReceiverModal = false
				}else {
                    if(this.selectedReceiverEmail == null || this.selectedReceiverEmail.length == 0){
                        this.$Message.error('请选择邮件接收人')
                        return
                    }
                    var condition = {
                        fromName: Cookies.get('user_name'),
                        emails:   this.selectedReceiverEmail.join(","),
                        title:    this.selectReport.report_name,
                        content:  "【属地化网站管理系统】" + "收到" + this.selectReport.report_name + " 的简报，请登录系统查看。"
                    }

                    console.log(condition)

                    webWaringRequest.sendEmail(condition).then(res => {
                        if(res.data.code == 0){
                            //console.log('发送邮箱')
                            //console.log(res)
                            this.$Message.success(res.data.message)
                            this.chooseReceiverModal = false
                        }else {
                            //console.log(res)
                            this.$Message.error(res.data.message)
                        }
                    })
				}
            },
			
			//删除简报
            deleteReport(item){
                this.deleteReportModal = true
				this.selectReport = item
			},


            clickDeleteReport(index){
				if (index == 0){
                    this.deleteReportModal = false
				}else {
                    webWaringRequest.deleteReport(this.selectReport.id).then(res => {
                        if(res.data.code == 0){
                            //console.log('删除简报')
                            //console.log(res)
                            this.$Message.success(res.data.message)
                            this.deleteReportModal = false
                            this.getReportListData()
                        }else {
                            //console.log(res)
                            this.$Message.error(res.data.message)
                        }
                    })
				}
			},

            pagerChange(e) {
                if (this.queryReportCondition.page == e) {
                    return
                }
                this.queryReportCondition.page = e
                this.getReportListData()

            },
            pagerSizeChange(e) {
                if (this.queryReportCondition.count == e) {
                    return
                }
                this.queryReportCondition.count = e
                this.getReportListData()
            },

        }
    }

    function isHaveThePermission(permissionList, operationName){
        var haveTheRight = true

        for (var i = 0; i < permissionList.length; i++) {
            if(permissionList[i].permission_name == operationName){
                if(permissionList[i].status == 1){
                    haveTheRight = true
                }else {
                    haveTheRight = false
                }
            }
        }
        return haveTheRight
    }

    function timeStrToTime(timeStr){
        var date = timeStr;
        date = date.substring(0,19);
        date = date.replace(/-/g,'/');
        var timestamp = new Date(date).getTime();
        return timestamp
    }

    function formatDate(timestamp = +new Date()) {
        if (timestamp) {
            var time = new Date(timestamp);
            var y = time.getFullYear();
            var M = time.getMonth() + 1;
            var d = time.getDate();
            var h = time.getHours();
            var m = time.getMinutes();
            var s = time.getSeconds();
            return y + '-' + addZero(M) + '-' + addZero(d) + ' ' + addZero(h) + ':' + addZero(m) + ':' + addZero(s);
        } else {
            return '';
        }
    }
    function addZero(m) {
        return m < 10 ? '0' + m : m;
    }


</script>

<style>
	@import './brief_report.less';
</style>

