<template>
    <div class="home_container">
        <Header current_pager="screening_events"/>
        <div class="screening_events_layout">
            <div class="screening_events_background">
                <div class="screening_events_top_layout" style="padding:12px 24px;">
                    <label class="screening_events_menu_title" style="font-size: 18px;font-weight: bold;">事件排查条件</label>
                    <div style="display: flex;flex-direction: row;align-items: center;margin-right: 24px; min-width: 60px;" @click="clickTopTitleButton"  v-if="showTopTitleButton">
                        <img src="../../assets/zhankai1.png" id="zhankai1" style="margin-left: 5px;width: 10px;margin-right: 4px;height: auto;"/>
                        <label class="common_small_label_style" style="cursor: pointer; color:#2d8cf0">{{topTitleButton}}</label>
                    </div>
                </div>

                <div v-if="showsiftcondition" style="background:#e8eaec;height: 1px;width: 100%;"/>


                <div class="screening_events_content_siftcondition_layout" v-if="showsiftcondition">
                    <div class="screening_events_content_item_layout">
                        <div class="screening_events_content_item_title_layout">包含以下
                            <label class="screening_events_content_item_tag">全部</label>关键词：
                        </div>
                        <div class="screening_events_content_input_layut">
                            <Input class="screening_events_content_input" :maxlength=100 v-model="mustKeyWords"
                                   placeholder='多个词之间请用"，"隔开 '/>
                        </div>
                        <div class="screening_events_content_item_end_title_layout">搜索内容将包含输入的全部关键词</div>
                    </div>
                    <div class="screening_events_content_item_layout">
                        <div class="screening_events_content_item_title_layout">包含以下
                            <label class="screening_events_content_item_tag">任意一个</label>关键词：
                        </div>

                        <div class="screening_events_content_input_layut">
                            <Input class="screening_events_content_input" :maxlength=100 v-model="shouldKeyWords"
                                   placeholder='多个词之间请用"，"隔开 '/>
                        </div>
                        <div class="screening_events_content_item_end_title_layout">搜索内容将包含输入的任意一个关键词</div>
                    </div>

                    <div class="screening_events_content_item_layout">
                        <div class="screening_events_content_item_title_layout">
                            <label class="screening_events_content_item_tag">不包含</label>以下关键词：
                        </div>
                        <div class="screening_events_content_input_layut">
                            <Input class="screening_events_content_input" :maxlength=100 v-model="unrelated"
                                   placeholder='多个词之间请用"，"隔开 '/>
                        </div>
                        <div class="screening_events_content_item_end_title_layout">搜索内容将不包含输入全部的关键词</div>
                    </div>
                    <div class="screening_events_content_item_layout">
                        <Button type="primary" class="footer_button" size="large" style="width: 100px;"
                                @click="handleEnquiries">排查
                        </Button>
                    </div>
                </div>

                <div v-if="showTheBlank" style="background:white;min-height: 200px;width: 100%;"/>

                <div v-if="showTopTitleButton" style="background:#e8eaec;height: 12px;width: 100%;"/>

                <div class="screening_events_content_siftcondition_layout" v-if="showTopTitleButton">
                    <div class="violationWeb_horizontal_layout" style="padding: 8px 24px;">
                        <label class="common_small_label_style" style="padding-right: 12px;">筛选时间：</label>
                        <label class="common_label_style" style="padding-right:50px; cursor: pointer;" :style="{color: item.selected?'#3c7af9':'#34495e'}" v-for="(item,index) in siteTime" @click="selectSiteTime(index)">{{item.label}}</label>
                    </div>
                </div>

                <div  style="background:#e8eaec;height: 1px;width: 100%;"/>

                <div class="screening_events_list_content_layout" v-if="showTopTitleButton">
                    <div style="float: left;display: flex;flex-direction: row;align-items: center; width: 100%; padding:12px 24px">
                        <Checkbox :value="checkAll" @click.prevent.native="handleCheckAll" size='default'>全选</Checkbox>
                        <div style="display: flex;flex-direction: row;align-items: center;margin-right: 24px; min-width: 60px;" @click="exportWebData">
                            <img src="../../assets/export.png" style="cursor: pointer;width: 14px;margin-right: 4px;height: auto;"/>
                            <label class="common_small_label_style" style="cursor: pointer;">导出数据</label>
                        </div>
                        <div style="display: flex;flex-direction: row;align-items: center;margin-right: 24px; min-width: 60px;" @click="addToReport">
                            <img src="../../assets/import.png" style="width: 14px;margin-right: 4px;height: auto;"/>
                            <label class="common_small_label_style">加入简报</label>
                        </div>
                        <div style="display: flex;flex-direction: row;align-items: center;margin-right: 24px; min-width: 60px;" @click="selectWarningReceiver">
                            <img src="../../assets/yujing.png" style="width: 14px;margin-right: 4px;height: auto;"/>
                            <label class="common_small_label_style">违规预警</label>
                        </div>
                    </div >

                    <div v-for="(item,index) in violationWebs" style="width: 100%;padding:0px 24px">
                        <div style="display: flex;flex-direction: row; width: 100%;">
                            <Checkbox :value="item.selected" @click.prevent.native="handleViolationWebCheck(index)" size='default'></Checkbox>
                            <div style="display: flex;flex-direction: column;align-items: center; margin-left: 20px">
                                <label class="common_label_style">{{item.violate_time}}</label>
                                <label class="common_small_label_style" style="font-size: 9px">{{item.violate_date}}</label>
                            </div>
                            <div style="display: flex;flex-direction: column;align-items: center; margin-left: 20px">
                                <img src="../../assets/weigui_yuandian.png" style="width: 14px;height: auto;"/>
                                <img src="../../assets/weigui_shuxian.png" style="width: 1px;height: auto;" v-if="!item.isTheLastOne"/>
                            </div>

                            <div style="display: flex;flex-direction: column; margin-left: 20px; width: 1000px;">
                                <div class="subTitle_beian" style="margin-left: 0px">
                                    <label class="common_title_label_style" style="font-weight: bold;min-width: 200px;">{{item.title}}</label>
                                    <label class="common_sub_title_label_style" v-if="!item.noSiteName">[{{item.siteName}}]</label>
                                </div>
                                <div class="subTitle_beian" style="margin-left: 0px">
                                    <label class="common_small_label_style" style="cursor: pointer;" @click="clickViolationWebUrl(item.url)">{{item.url}}</label>
                                </div>
                            </div>
                        </div>

                    </div>
                    <Spin fix v-if="showLoading">
                        <Icon type="ios-loading" size=38 class="demo-spin-icon-load"></Icon>
                        <div>加载中...</div>
                    </Spin>
                    <div style="width: 100%; min-height: 100px; display: flex;flex-direction:column; align-items: center " v-if="haveNoData">
                        <label style="width: 100%;margin-top: 30px; text-align: center;height: 20px">暂无数据。</label>
                    </div>

                    <div style="width: 100%;height:80px; padding: 24px 60px 0 24px;" :style="{visibility: violationWebs.length == 0?'hidden':''}">
                        <label class="common_small_label_style" >共{{violationWebsCount}}条</label>
                        <Page :total="violationWebsCount" show-elevator show-sizer style="float: right;"  @on-change="pagerChange" @on-page-size-change="pagerSizeChange"/>
                    </div>
                </div>

            </div>

            <Modal v-model="customTimeModal" width="400">
                <p slot="header" style="display:block; text-align: left; height:100%; color:white;background: #4681fa;">
                    <span>自定义筛选时间</span>
                </p>
                <label class="common_label_style" style="width: 100%; text-align: center; padding: 20px 0px">请选择开始和结束时间</label>
                <div style="margin-top: 20px;width: 100%; height: 30px; align-items: center ">
                    <DatePicker type="daterange" show-week-numbers placeholder="选择开始和结束时间" style="margin-left: 30px;width: 300px" @on-change="selectCustomTime" placement="bottom-end"></DatePicker>
                </div>
                <div style="width: 100%;align-items:center; margin-top: 20px;">
                    <Button type="primary" size="default" style="margin-left: 130px;width: 100px; height: 30px; color: white;" @click="saveCustomTime">确认</Button>
                </div>
                <div slot="footer">
                    <div></div>
                </div>
            </Modal>

            <Modal v-model="warningReceiverModal" width="500">
                <p slot="header" style="display:block; text-align: left; height:100%; color:white;background: #4681fa;">
                    <span>预警接收人</span>
                </p>
                <div class="violationWeb_warming_setting_content" >
                    <div class="violationWeb_warming_setting_content_title_layout">预警接收人：</div>
                    <div style="display: flex;flex-direction: row; align-items: center; width: 500px;">
                        <CheckboxGroup v-model="selectedReceiver" @on-change="receiverCheckChange">
                            <Checkbox style="width: 150px;" :label="item.id" v-for="item in receiverList">{{item.name}}</Checkbox>
                        </CheckboxGroup>
                    </div>
                </div>
                <div class="violationWeb_warming_setting_content" >
                    <div class="violationWeb_warming_setting_content_title_layout">请选择预警方式：</div>
                    <div style="display: flex;flex-direction: row; align-items: center;  max-width: 500px;">
                        <CheckboxGroup v-model="selectedWarningType" @on-change="warningTypeCheckChange">
                            <Checkbox style="width: 150px; margin-top: 5px" :label="item.label"  v-for="item in warningType">{{item.label}}</Checkbox>
                        </CheckboxGroup>
                    </div>
                </div>
                <div slot="footer" style="padding: 12px 0px">
                    <Button size="large" style="width: 100px;" @click="cancelSelectReceiver">取消</Button>
                    <Button type="primary" size="large" style="width: 100px;" @click="confirmSelectReceiver">确认</Button>
                </div>
            </Modal>
        </div>


        <Footer/>
    </div>
</template>

<script>
    import md5 from 'js-md5'
    import Cookies from 'js-cookie'
    import Footer from '@/components/footer/footer.vue'
    import Header from '@/components/header/header.vue'
    import ApiRequest from '@/api/apiRequest.js'
    import webWaringRequest from '@/api/webWaringRequest.js'
    import config from '@/config'
    const baseUrl = process.env.NODE_ENV === 'development' ? config.baseUrl.dev : config.baseUrl.pro


    export default {
        name: 'screening_events',
        components: {
            Footer,
            Header
        },
        data() {
            return {
                violationWebCondition: {
                    mustKeyWords:[],
                    shouldKeyWords:[],
                    unrelated:[],
                    domainName:[],
                    isWarning:'',
                    start_time: '',
                    end_time: '',
                    sortField:'',
                    sortType:'',
                    page_no:1,
                    page_size:10,
                },
                mustKeyWords: '',
                shouldKeyWords:'',
                unrelated:'',

                showTheBlank: true,
                showTopTitleButton: false,
                showsiftcondition: true,
                topTitleButton: '展开',
                siftconditionAll: '',
                siftconditionSomeone: '',
                siftconditionNone: '',
                siftconditionArea: '',

                siteTime:[
                    {
                        label:'全部',
                        selected:false,
                    },
                    {
                        label:'今天',
                        selected:false,
                    },
                    {
                        label:'昨天',
                        selected:false,
                    },
                    {
                        label:'近7天',
                        selected:true,
                    },
                    {
                        label:'近30天',
                        selected:false,
                    },
                    {
                        label:'自定义',
                        selected:false,
                    }
                ],
                customTimeModal: false,
                customTime:[],


                receiverList:[],
                warningType:[
                    {
                        label:'短信',
                        selected:true,
                    },
                    {
                        label:'邮箱',
                        selected:false,
                    }
                ],

                warningReceiverModal: false,
                selectedReceiver:[],
                selectedWarningType:[],


                violationWebsCount: 0,
                violationWebs: [],
                checkAll: false,

                webSelectData:[],
                haveNoData: false,
                showLoading: false,


                rolePermissions: [],
                pagePermissions: [],

            }
        },

        computed: {},

        mounted() {
            this.initData();
            this.getpermission();
        },


        methods: {
            getpermission(){
                this.rolePermissions = JSON.parse(localStorage.getItem('rolePermissions'))
                //console.log(this.rolePermissions)
                for (var i = 0; i < this.rolePermissions.length; i++) {
                    var item = this.rolePermissions[i]
                    if(item.module_name == "事件排查"){
                        this.pagePermissions = item.permissionList
                        //console.log(this.pagePermissions)
                    }
                }
            },
            initData() {
                this.violationWebCondition.start_time = getDay(-7, false)
                this.violationWebCondition.end_time = getDay(0, false)
                this.getReceiverList()
            },


            //预警接收人：获取列表
            getReceiverList(){
                webWaringRequest.getReceiverList().then(res => {
                    if(res.data.code == 0){
                        var dataArray = res.data.object
                        this.receiverList = dataArray
                    }else{
                        this.$Message.error(res.data.message)
                    }
                })
            },

            //根据条件查询网站列表，查询条件修改queryWebSiteCondition中的字段即可
            getWebSiteData() {
                //console.log(this.violationWebCondition)
                webWaringRequest.getViolationWebList(this.violationWebCondition).then(res => {
                    if (res.data.code == 0) {
                        this.violationWebsCount = Number(res.data.object.count)
                        var dataArray = res.data.object.result
                        //console.log(dataArray)
                        if(dataArray != null){
                            for (var i = 0; i < dataArray.length; i++) {
                                dataArray[i].selected = false
                                dataArray[i].isTheLastOne = false
                                var newtiem = dataArray[i].createTime.toLocaleString().replace(/T/g, ' ').replace(/\.[\d]{3}Z/, '');
                                var newtiemArray = newtiem.split(' ')
                                dataArray[i].violate_time = newtiemArray[1]
                                dataArray[i].violate_date = newtiemArray[0]
                                dataArray[i].warningTime  = newtiem

                                if(dataArray[i].siteName == null || dataArray[i].siteName == ""){
                                    dataArray[i].noSiteName = true
                                }else {
                                    dataArray[i].noSiteName = false
                                }
                                if(i == dataArray.length - 1){
                                    dataArray[i].isTheLastOne = true
                                }
                            }
                            if(dataArray.length <= 0){
                                this.haveNoData = true
                            }else {
                                this.haveNoData = false
                            }

                            this.violationWebs = dataArray
                        }else {
                            this.haveNoData = true
                        }

                        this.showLoading = false

                    } else {
                        this.$Message.error(res.data.message)
                        this.showLoading = false
                    }
                })
            },

            handleEnquiries() {
                if(!isHaveThePermission(this.pagePermissions, "排查")){
                    this.$Message.error('暂无此权限！')
                    return
                }
                this.showTheBlank = false
                this.showsiftcondition = false
                this.showTopTitleButton = true
                if(!this.mustKeyWords == ''){
                    this.violationWebCondition.mustKeyWords = this.mustKeyWords.split('，')
                }
                if(!this.shouldKeyWords == ''){
                    this.violationWebCondition.shouldKeyWords = this.shouldKeyWords.split('，')
                }
                if(!this.unrelated == ''){
                    this.violationWebCondition.unrelated = this.unrelated.split('，')
                }
                this.getWebSiteData()
                this.showLoading = true
            },

            clickTopTitleButton() {
                var element = document.getElementById("zhankai1")
                var rotate = 180
                if (this.topTitleButton == '展开') {
                    this.topTitleButton = '收起'
                    this.showsiftcondition = true
                } else {
                    this.topTitleButton = '展开'
                    this.showsiftcondition = false
                    rotate = 0
                }
                element.style.transform = "rotate(" + rotate + "deg)"
            },


            //选择网站时间
            selectSiteTime(index){
                if(index == 5){
                    this.customTime = null
                    this.customTimeModal = true
                }else {
                    this.showLoading = true
                    this.violationWebs = []
                    this.violationWebCondition.page_no = 1
                    for (var i = 0; i < this.siteTime.length; i++) {
                        if(i == index){
                            this.siteTime[i].selected = true

                            if(index == 0){
                                this.violationWebCondition.start_time = getDay(-10000, false)
                                this.violationWebCondition.end_time = getDay(0, true)
                            }
                            if (index == 1){
                                this.violationWebCondition.start_time = getDay(0, false)
                                this.violationWebCondition.end_time = getDay(0, true)
                            }
                            if (index == 2){
                                this.violationWebCondition.start_time = getDay(-1, false)
                                this.violationWebCondition.end_time = getDay(0, false)

                            }
                            if (index == 3){
                                this.violationWebCondition.start_time = getDay(-7, false)
                                this.violationWebCondition.end_time = getDay(0, false)
                            }
                            if (index == 4){
                                this.violationWebCondition.start_time = getDay(-30, false)
                                this.violationWebCondition.end_time = getDay(0, false)
                            }
                        }else{
                            this.siteTime[i].selected = false
                        }
                    }
                    this.getWebSiteData()
                }

            },

            selectCustomTime(e){
                this.customTime = e
            },
            saveCustomTime(){
                if(this.customTime == null){
                    this.$Message.error('请选择开始和结束时间')
                    return
                }else {
                    if (this.customTime[0] == '' || this.customTime[1] == ''){
                        this.$Message.error('请选择开始和结束时间')
                        return
                    }
                }
                this.customTimeModal = false
                this.violationWebCondition.page_no = 1
                for (var i = 0; i < this.siteTime.length; i++) {
                    this.siteTime[i].selected = false
                }
                this.siteTime[5].selected = true
                this.violationWebCondition.start_time = this.customTime[0] + " " + "00:00:00"
                this.violationWebCondition.end_time = this.customTime[1] + " " + "23:59:59"
                this.showLoading = true
                this.violationWebs = []

                this.getWebSiteData()
            },

            //加入简报
            addToReport(){
                if(!isHaveThePermission(this.pagePermissions, "加入协查")){
                    this.$Message.error('暂无此权限！')
                    return
                }
                if(this.violationWebs == null || this.violationWebs.length <= 0){
                    return
                }
                if(this.webSelectData == null || this.webSelectData.length <= 0){
                    this.$Message.error('请选择要加入简报的违规网站')
                    return
                }
                for (var i = 0; i < this.webSelectData.length; i++) {
                    var newtiem = this.webSelectData[i].createTime.toLocaleString().replace(/T/g, ' ').replace(/\.[\d]{3}Z/, '');
                    this.webSelectData[i].createTime = timeStrToTime(newtiem)
                }
                webWaringRequest.addToReport(this.webSelectData).then(res => {
                    if(res.data.code == 0){
                        this.$Message.success(res.data.message)
                    }else {
                        this.$Message.error(res.data.message)
                    }
                })

            },
            //点击网站，新页面打开
            clickViolationWebUrl(webrul){
                window.open(webrul)
            },

            pagerChange(e) {
                if (this.violationWebCondition.page_no == e) {
                    return
                }
                this.violationWebCondition.page_no = e
                this.getWebSiteData()
            },
            pagerSizeChange(e) {
                if (this.violationWebCondition.page_size == e) {
                    return
                }
                this.violationWebCondition.page_size = e
                this.getWebSiteData()
            },
            //全选
            handleCheckAll(){
                this.checkAll = !this.checkAll
                for (var i = 0; i < this.violationWebs.length; i++) {
                    this.violationWebs[i].selected = this.checkAll
                }
                if(this.checkAll){
                    this.webSelectData = this.violationWebs
                }else {
                    this.webSelectData = []
                }
            },
            //选择一个网站
            handleViolationWebCheck(index){
                this.violationWebs[index].selected = !this.violationWebs[index].selected
                this.checkAll = false
                this.webSelectData = []
                for (var i = 0; i < this.violationWebs.length; i++) {
                    if(this.violationWebs[i].selected){
                        this.webSelectData.push(this.violationWebs[i])
                    }
                }
            },

            exportWebData(){
                if(this.violationWebs == null || this.violationWebs.length <= 0){
                    return
                }

                const msg = this.$Message.loading({
                    content: '正在导出...',
                    duration: 0
                });


                if(this.webSelectData == null || this.webSelectData.length <= 0){//条件导出
                    webWaringRequest.exportViolationWebs(this.violationWebCondition).then(res => {
                        if(res.data.code == 0){
                            this.downloadFile(res.data.object)
                        }else {
                            this.$Message.error(res.data.message)
                        }
                        setTimeout(msg, 300);
                    })
                } else{//id导出
                    var webids = []
                    for (var i = 0; i < this.webSelectData.length; i++) {
                        var item = this.webSelectData[i]
                        webids.push(item.id)
                    }
                    var requestData = {
                        "ids":webids
                    }
                    webWaringRequest.exportViolationWebsByIds(requestData).then(res => {
                        if(res.data.code == 0){

                            this.downloadFile(res.data.object)

                        }else {
                            this.$Message.error(res.data.message)
                        }
                        setTimeout(msg, 300);
                    })
                }

            },

            downloadFile(url){
                url = baseUrl + url
                ApiRequest.exportFile(url).then(response => {
                    let blob = new Blob([response.data], {
                        type: 'application/vnd.ms-excel'
                    })
                    let fileName = Date.parse(new Date()) + '.xlsx'
                    if (window.navigator.msSaveOrOpenBlob) {
                        navigator.msSaveBlob(blob, fileName)
                    } else {
                        var link = document.createElement('a')
                        link.href = window.URL.createObjectURL(blob)
                        link.download = fileName
                        link.click()
                        window.URL.revokeObjectURL(link.href)
                    }
                })
            },

            //巡查预警
            selectWarningReceiver(){
                if(this.webSelectData == null || this.webSelectData.length <= 0){
                    this.$Message.error('请选择要预警的违规网站')
                    return
                }
                this.warningReceiverModal = true
            },

            //接收人的选择
            receiverCheckChange(data){
                this.selectedReceiver = data
            },
            //预警方式的选择
            warningTypeCheckChange(data){
                this.selectedWarningType = data
            },
            cancelSelectReceiver(){
                this.warningReceiverModal = false
            },
            confirmSelectReceiver(){
                if(this.selectedReceiver == null || this.selectedReceiver.length == 0){
                    this.$Message.error('请选择预警接收人')
                    return
                }

                if(this.selectedWarningType == null || this.selectedWarningType.length == 0){
                    this.$Message.error('请选择预警方式')
                    return
                }
                var emails = []
                var phones = []

                for (var i = 0; i < this.selectedReceiver.length; i++) {
                    for (var j = 0; j < this.receiverList.length; j++) {
                        if(this.receiverList[j].id == this.selectedReceiver[i]){
                            emails.push(this.receiverList[j].email)
                            phones.push(this.receiverList[j].phone)
                        }
                    }
                }

                for (var i = 0; i < this.selectedWarningType.length; i++) {

                    if(this.selectedWarningType[i] == "邮箱"){

                        var condition = {
                            fromName: Cookies.get('user_name'),
                            emails:   emails.join(","),
                            title:    this.webSelectData[0].title,
                            content:  "【属地化网站管理系统】" + this.webSelectData[0].violate_date + this.webSelectData[0].violate_time + "监测到 " + this.webSelectData[0].title + " 网存在违规信息，请登录系统查看。违规信息连接：" + this.webSelectData[0].url
                        }
                        //console.log(condition)
                        webWaringRequest.sendEmail(condition).then(res => {
                            if(res.data.code == 0){
                                this.$Message.success(res.data.message)
                                this.warningReceiverModal = false
                            }else {
                                this.$Message.error(res.data.message)
                            }
                        })
                    }

                    if(this.selectedWarningType[i] == "短信"){
                        var condition = {

                            phones:   phones.join(","),
                            //content: "预警短信测试事件排查是"
                            content: this.webSelectData[0].violate_date + " " + this.webSelectData[0].violate_time + "监测到 " + this.webSelectData[0].title + " 网存在违规信息，请登录系统查看。违规信息连接：" + this.webSelectData[0].url
                        }

                        //console.log(condition)

                        webWaringRequest.sendMessage(condition).then(res => {
                            if(res.data.code == 0){
                                this.$Message.success(res.data.message)
                                this.warningReceiverModal = false
                            }else {
                                this.$Message.error(res.data.message)
                            }
                        })
                    }
                }
            },

        }
    }

    function timeStrToTime(timeStr){
        var date = timeStr;
        date = date.substring(0,19);
        date = date.replace(/-/g,'/');
        var timestamp = new Date(date).getTime();
        return timestamp
    }

    function isHaveThePermission(permissionList, operationName){
        var haveTheRight = true

        for (var i = 0; i < permissionList.length; i++) {
            if(permissionList[i].permission_name == operationName){
                if(permissionList[i].status == 1){
                    haveTheRight = true
                }else {
                    haveTheRight = false
                }
            }
        }
        return haveTheRight
    }

    function getDay(day, istoday){
        var today = new Date();
        var targetday_milliseconds = today.getTime() + 1000*60*60*24*day;
        today.setTime(targetday_milliseconds); //注意，这行是关键代码
        var tYear = today.getFullYear();
        var tMonth = today.getMonth();
        var tDate = today.getDate();
        tMonth = doHandleMonth(tMonth + 1);
        tDate = doHandleMonth(tDate);

        var h = today.getHours() + ':';
        var m = today.getMinutes() + ':';
        var s = today.getSeconds();
        var timeStr = tYear+"-"+tMonth+"-"+tDate
        if(istoday){
            timeStr = timeStr + " " +  h + m + s;
        }else {
            timeStr = timeStr + " " + "00:00:00";
        }

        return timeStr
    }
    function doHandleMonth(month){
        var m = month;
        if(month.toString().length == 1){
            m = "0" + month;
        }
        return m;
    }
</script>

<style>
    @import './screening_events.less';
</style>
