.screening_events_layout{
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #e8eaec;
  padding: 12px;

}

.screening_events_background{
  width: 100%;
  height: 100%;
  min-height: 100%;
  background: white;
  display: flex;
  flex-direction: column;
}

.screening_events_top_layout{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: white;

}

.screening_events_content_siftcondition_layout{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: white;

}

.screening_events_content_item_layout{
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 24px;
  background-color: white;
}

.screening_events_content_item_title_layout{
  width: 180px;
  height: 50px;
  //display: flex;
  //flex-direction: row;
  align-items: center;
  font-size: 13px;
  text-align: right;
  line-height: 50px;
}

.screening_events_content_item_end_title_layout{
  margin-left: 10px;
  width: 300px;
  height: 50px;
  align-items: center;
  font-size: 13px;
  text-align: left;
  line-height: 50px;
  color: #8590a7;
}

.screening_events_content_item_tag{
  color: red;
  font-size: 13px;
}



.screening_events_content_input_layut{
  width: 500px;
  display: flex;
  flex-direction: row;
  align-items: center
}
.screening_events_content_input input{
  width: 100%;
  font-size: 13px;
}

.footer_button{
  margin-left: 180px;
  background-color: #3c7af9;

}


.screening_events_list_content_layout{
  margin-top: 12px;
  width: 100%;
  min-height: 300px;
  background: white;
  display: flex;
  flex-direction: column;
  position: relative;
}

.common_title_label_style{
  font-size: 13px;
  color: #34495e
}

.common_sub_title_label_style{
  font-size: 13px;
  color: #2d8cf0
}

.violationWeb_horizontal_layout{
  display: flex;
  flex-direction: row;
  //align-items: center;
  width: 100%;
}

.violationWeb_warming_setting_content{
  display: flex;
  flex-direction: column;
  margin-right: 24px;
  max-width: 100%;
}

.violationWeb_warming_setting_content_title_layout{
  width: 100%;
  height: 50px;
  font-size: 13px;
  text-align: left;
  line-height: 50px;

}



.ivu-modal{
  top: 200px;
}
.ivu-modal-header{
  padding: 0;
}

.ivu-modal-header p, .ivu-modal-header-inner{
  line-height: 50px;
  padding-left: 12px;
  font-size: 16px;
}
.ivu-modal-close .ivu-icon-ios-close{
  color: white
}

.ivu-modal-footer{
  text-align: center;
  padding: 5px 18px 5px 18px;
}

.modal_content_select .ivu-select-selection {
  text-align: left;
  border-radius: 4px;
  border: 1px solid #dcdee2;
}


.modal_content_item_layout{
  display: flex;
  height: 60px;
  flex-direction: row;
}

.modal_content_item_star_tag{
  color: red;
  font-size: 20px;
  display: block;
  float: right;
  margin-right: 4px
}

.modal_content_item_tag{
  color: #425569;
  font-size: 16px;
  display: block;
  float: right;
  margin-right: 8px;
}
.modal_content_item_input{

}
.modal_content_item_left_layout{
  min-width: 100px;
  padding-top: 4px
}

.modal_content_item_hint{
  color: red;
  font-size: 12px;
  padding-top: 4px
}

.modal_content_item_input_layout{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}


.demo-spin-icon-load{
  animation: ani-demo-spin 1s linear infinite;
}
@keyframes ani-demo-spin {
  from { transform: rotate(0deg);}
  50%  { transform: rotate(180deg);}
  to   { transform: rotate(360deg);}
}
