<template>
	<div style="width:100%;height: auto;min-height: 100%;display: flex;flex-direction: column;">
		<div class="user_manager_content_top_layout">
			<label class="user_manager_menu_title" style="font-size: 16px;font-weight: bold;">用户管理</label>
			<div class="user_manager_menu_title_right_layout">
				<div class="user_manager_menu_title_right_button_layout" @click="addNew">
					<img src="../../assets/add.png" style="width: 12px;height: auto;margin-right: 5px;margin-left: 14px;cursor: pointer"/>
					<label style="color: white;font-size: 13px;line-height: 25px;text-align: center;cursor: pointer" >新建用户</label>
				</div>
			</div>
		</div>
		<Table size="large" :columns="user_column" :data="user_list" style="margin: 0 24px;">
			<template slot-scope="{ row, index }" slot="action">
				<a style="margin-right: 12px;font-size: 13px;" @click="updateUser(row)">修改</a>
				<a style="font-size: 13px;" @click="deleteUser(row)">删除</a>
			</template>
		</Table>
		<div style="width: 100%;height:80px; padding: 24px 60px 0 24px; " :style="{visibility:usersTotal==0?'hidden':''}">
			<Page :total=usersTotal show-elevator show-sizer style="float: right;" @on-change="pagerChange" @on-page-size-change="pagerSizeChange"/>
		</div>
		
		<Modal v-model="addNewModalShow" width="600">
			<p slot="header" style="display:block;height:100%; color:white;background: #4681fa;">
				<span>{{modalTitle}}</span>
			</p>
			<div style="text-align:center">
				<div class="modal_content_item_layout">
					<div class="modal_content_item_left_layout">
						<label class="modal_content_item_tag">姓名：</label>
						<label class="modal_content_item_star_tag">*</label>
					</div>
					<div class="modal_content_item_input_layout">
						<Input class="modal_content_item_input" id="inputName" v-model="inputName" @on-focus="checkNameFocus()" @on-blur="checkName()" placeholder="请输入姓名(仅支持汉字)"></Input>
						<label class="modal_content_item_hint">{{userNameCheckResult}}</label>
					</div>
				</div>
				<div class="modal_content_item_layout">
					<div class="modal_content_item_left_layout">
						<label class="modal_content_item_tag">账号：</label>
						<label class="modal_content_item_star_tag">*</label>
					</div>
					<div class="modal_content_item_input_layout">
						<Input class="modal_content_item_input" v-model="inputAccount" @on-focus="checkAccountFocus()" @on-blur="checkAccount()"  placeholder="请输入账号(仅支持数字与英文)"></Input>
						<label class="modal_content_item_hint">{{accountCheckResult}}</label>
					</div>
				</div>
				<div class="modal_content_item_layout">
					<div class="modal_content_item_left_layout">
						<label class="modal_content_item_tag">密码：</label>
						<label class="modal_content_item_star_tag">*</label>
					</div>
					<Input class="modal_content_item_input" type="password" v-model="inputPassword" placeholder="请输入密码"></Input>
				</div>
				<div class="modal_content_item_layout">
					<div class="modal_content_item_left_layout">
						<label class="modal_content_item_tag">角色：</label>
						<label class="modal_content_item_star_tag">*</label>
					</div>
					<Select class="modal_content_select" v-model="selectRoleid" style="width:100%">
						<Option v-for="item in roleList" :value="item.id">{{ item.role_name }}</Option>
					</Select>
				</div>
				<div class="modal_content_item_layout">
					<div class="modal_content_item_left_layout">
						<label class="modal_content_item_tag">联系方式：</label>
						<label class="modal_content_item_star_tag" style="visibility: hidden;">*</label>
					</div>
					<Input class="modal_content_item_input" v-model="inputContact" placeholder="请输入联系方式"/>
				</div>
				<div class="modal_content_item_layout">
					<div class="modal_content_item_left_layout">
						<label class="modal_content_item_tag">到期日期：</label>
						<label class="modal_content_item_star_tag">*</label>
					</div>
					<DatePicker v-model="value1" type="datetime" format="yyyy-MM-dd HH:mm" placeholder="请选择到期日期时间" :transfer="true" style="width: 200px" @on-change="time1"></DatePicker>
				</div>
				<!--//format="yyyy-MM-dd HH:mm"-->
			</div>
			<div slot="footer">
				<Button type="primary" size="large" style="width: 100px;" @click="handleAddUser">保存</Button>
			</div>
		</Modal>
		
		<Modal v-model="modalShow" width="400">
			<p slot="header" style="display:block; text-align: center; height:100%; color:white;background: #4681fa;">
				<span>删除确认</span>
			</p>
			<div style="text-align:center">
				<label class="common_label_style">是否确定删除用户 <span style="color: red;">{{deleteRoleName}}</span> ?</label>
			</div>
			<div slot="footer">
				<Button size="large" style="width: 100px;" @click="cancelDeleteUser">取消</Button>
				<Button type="primary" size="large" style="width: 100px;" @click="deleteConfirmUser">确认</Button>
			</div>
		</Modal>
	</div>
</template>

<script>
    import md5 from 'js-md5'
    import {
        getUsersList,
        deleteUser,
        updateUserMessage,
        addUser,
        getRolelist,
        searchAccount
    } from '@/api/data'

	export default{
		name:'UserManagerUser',
		data(){
			return{
				addNewModalShow:false,
                modalShow: false,
				user_column:[
					{
		                title: 'ID',
						width:100,
						align: 'center',
		                key: 'id'
		            },
					{
		                title: '账号',
						align: 'center',
		                key: 'account'
		            },
					{
		                title: '姓名',
						align: 'center',
		                key: 'user_name'
		            },
					{
					    title: '联系方式',
						align: 'center',
					    key: 'contact'
					},
					{
		                title: '创建时间',
						align: 'center',
		                key: 'create_time'
		            },
					{
					    title: '操作',
						slot: 'action',
					    key: 'action',
						width:150,
						align: 'center'
					},
				],

                currenPager:1,
                currenPagerSize:10,

				user_list: [],
                usersTotal: 100,
                deleteRoleName: '',

                modalTitle: '创建用户',

                // userNameCheckResult: '仅支持汉字',
                // accountCheckResult: '仅支持数字与英文',

                userNameCheckResult: '',
                accountCheckResult: '',
                isInputNameChinese: true,
                isInputAccountUseful: true,

                selectRoleid:'',
                selectUserid:'',
                selectAccount:'',
                selectUsername:'',

                roleList:[],

                inputName: '',
                inputAccount: '',
                inputPassword: '',
                inputContact: '',

                value1: '',
                inputendTime: '',

                rolePermissions: [],
                pagePermissions: []

			}
		},

        computed: {
             // inputendTimeRequest: timeStrToTime(this.inputendTime)
		},

        mounted(){
            this.initData();
            this.getAllRolelist();
            this.getAllUserlist(this.currenPager, this.currenPagerSize);
        },


        methods:{
            initData(){
                this.user_account = localStorage.getItem('account')
				this.user_id = localStorage.getItem('user_id')

                this.rolePermissions = JSON.parse(localStorage.getItem('rolePermissions'))
                //console.log(this.rolePermissions)
                for (var i = 0; i < this.rolePermissions.length; i++) {
                    var item = this.rolePermissions[i]
                    if(item.module_name == "个人中心"){
                        var dataArray = item.moduleList
                        for (var j = 0; j < dataArray.length; j++) {
                            var item = dataArray[j]
                            if(item.module_name == "用户管理"){
                                this.pagePermissions = item.permissionList
                                //console.log(this.pagePermissions)
                            }
                        }
                    }
                }
            },

            getAllRolelist(){
                getRolelist().then(res => {
                    if(res.data.code == 0){
                        this.roleList = res.data.object
                    }
                    else {
                        this.$Message.error(res.data.message);
                    }
                })
            },

            getAllUserlist(page, count){
                getUsersList(page, count).then(res => {
                    if(res.data.code == 0){
                        this.user_list = res.data.object.userList
						this.usersTotal = res.data.object.icount

                    }
                    else {
                        this.$Message.error(res.data.message);
                    }
                })
            },

            pagerChange(e){
                if(this.currenPager == e){
                    return
                }
                this.currenPager = e
                this.getAllUserlist(this.currenPager, this.currenPagerSize);
            },
            pagerSizeChange(e){
                if(this.currenPagerSize == e){
                    return
                }
                this.currenPagerSize = e
                this.getAllUserlist(this.currenPager, this.currenPagerSize);
            },

            updateUser(item){
               // console.log(item)
                if(!isHaveThePermission(this.pagePermissions, "修改")){
                    this.$Message.error('暂无此权限！')
                    return
                }
                this.modalTitle = '修改用户'

                this.selectUserid = item.id
				this.selectAccount = item.account
                this.selectUsername = item.user_name

				this.isInputNameChinese = true
				this.isInputAccountUseful = true
                this.userNameCheckResult = ''
                this.accountCheckResult = ''

				this.inputName =  item.user_name
				this.selectRoleid = item.role_id
				this.inputAccount = item.account
				this.inputPassword = item.password
				this.inputContact = item.contact
				this.inputendTime = ''
                this.value1 = item.account_endts
                this.addNewModalShow = true
			},

            deleteUser(item){
                if(!isHaveThePermission(this.pagePermissions, "删除")){
                    this.$Message.error('暂无此权限！')
                    return
                }
                this.modalShow = true
				this.selectUserid = item.id
			},

            cancelDeleteUser(){
                this.modalShow = false
			},

            deleteConfirmUser(){
                deleteUser(this.selectUserid).then(res => {
                    if(res.data.code == 0){
                        this.modalShow = false
                        this.$Message.success('删除成功！');
                        this.getAllUserlist(this.currenPager, this.currenPagerSize);
                    }
                    else {
                        this.$Message.error(res.data.message);
                    }
                })
			},

			addNew(){
                if(!isHaveThePermission(this.pagePermissions, "添加")){
                    this.$Message.error('暂无此权限！')
                    return
                }
                this.modalTitle = '新建用户'
				this.addNewModalShow = true

                this.isInputNameChinese = true
				this.isInputAccountUseful = true
                this.userNameCheckResult = ''
                this.accountCheckResult = ''

				this.inputName = ''
				this.selectRoleid = ''
				this.inputAccount = ''
				this.inputPassword = ''
				this.inputContact = ''
                this.inputendTime = ''
				this.value1 = ''
			},

            checkName(){

                if(this.inputName == ''){
                    this.userNameCheckResult = ''
                    return
                }
                if(this.modalTitle == '修改用户'){
                    if( this.inputName == this.selectUsername){
                        return
                    }
                }
                var reg = /[\u4E00-\u9FA5]/g; //测试中文字符的正则
                if(reg.test(this.inputName)){//使用正则判断是否存在中文
                    if (this.inputName.match(reg).length == this.inputName.length) { //返回中文的个数
                        this.isInputNameChinese = true
                        this.userNameCheckResult = ''
                    }else {
                        this.$Message.error("仅支持输入汉字！");
                        this.userNameCheckResult = '仅支持汉字'
                        this.isInputNameChinese = false
					}

                }else {
                    this.$Message.error("仅支持输入汉字！");
                    this.userNameCheckResult = '仅支持汉字'
                    this.isInputNameChinese = false
                }
                // for(var i = 0; i < this.inputName.length; i++){
                 //    if(this.inputName.charCodeAt(i) > 255){
                 //        this.isInputNameChinese = true
                 //        this.userNameCheckResult = ''
				// 		continue
				// 	}else {
                 //        this.$Message.error("仅支持输入汉字！");
                 //        this.userNameCheckResult = '仅支持汉字'
                 //        this.isInputNameChinese = false
				// 		break
				// 	}
				// }
            },

            checkAccount(){
                if(this.inputAccount == ''){
                    this.accountCheckResult = ''
                    return
                }
                if(this.modalTitle == '修改用户'){
                    if( this.inputAccount == this.selectAccount){
                        this.accountCheckResult = ''
                        return
					}
				}

                var reg =   /^[a-zA-Z0-9]{1,}$/;
                if (reg.test(this.inputAccount)) {
                    this.isInputAccountUseful = true
                }else {
                    this.isInputAccountUseful = false
                    this.accountCheckResult = '仅支持数字与英文'
                    return
                }
                searchAccount(this.inputAccount).then(res => {
                    if(res.data.code != -1){
                        this.$Message.error('账户已存在');
                        this.accountCheckResult = '账户已存在'
                    }
                })
            },

            time1(e) {
				this.inputendTime = e
                this.value1 = e
            },
            checkNameFocus() {
                this.userNameCheckResult = ''
			},

            checkAccountFocus(){
                this.accountCheckResult = ''
            },

            handleAddUser(){

                if(this.inputName == ''){
                    this.$Message.error('用户名不能为空')
                    return
                }
                if(!this.isInputNameChinese){
                    this.$Message.error('用户名仅支持汉字！')
                    return
                }

                if(this.inputAccount == ''){
                    this.$Message.error('账户不能为空')
                    return
                }
                if(!this.isInputAccountUseful){
                    this.$Message.error('账户仅支持数字或字母！')
                    return
                }
                if(this.accountCheckResult == '账户已存在'){
                    this.$Message.error('账户已存在')
                    return
                }

                if(this.inputPassword == ''){
                    this.$Message.error('密码不能为空')
                    return
                }
                if(this.selectRoleid == ''){
                    this.$Message.error('角色不能为空')
                    return
                }

                if(this.inputendTime == ''){

                    if(this.value1 == ''){
                        this.$Message.error('到期时间不能为空')
                        return
					}else {
                        this.inputendTime = this.value1
					}
                }

                //console.log(this.inputendTime)
                //console.log(this.value1)

                if(this.modalTitle == '新建用户'){

                    addUser(this.inputAccount, this.inputName, this.inputContact, md5(this.inputPassword), this.selectRoleid, timeStrToTime(this.inputendTime)).then(res => {
                        if(res.data.code == 0){
                            this.addNewModalShow = false
                            this.$Message.success('添加成功！');
                            this.getAllUserlist(this.currenPager, this.currenPagerSize);
                        }
                        else {
                            this.$Message.error(res.data.message);
                        }
                    })
				}else {
                    updateUserMessage(this.selectUserid, this.inputAccount, this.inputName, this.inputContact, this.inputPassword, this.selectRoleid, timeStrToTime(this.inputendTime)).then(res => {
                        if(res.data.code == 0){
                            this.addNewModalShow = false
                            this.$Message.success('修改成功！');
                            this.getAllUserlist(this.currenPager, this.currenPagerSize);
                        }
                        else {
                            this.$Message.error(res.data.message);
                        }
                    })
				}
            }
        }
	}
    function timeStrToTime(timeStr){
        var date = timeStr;
        date = date.substring(0,19);
        date = date.replace(/-/g,'/');
        var timestamp = new Date(date).getTime();
        return timestamp
    }
    function isHaveThePermission(permissionList, operationName){
        var haveTheRight = true

        for (var i = 0; i < permissionList.length; i++) {
            if(permissionList[i].permission_name == operationName){
                if(permissionList[i].status == 1){
                    haveTheRight = true
                }else {
                    haveTheRight = false
                }
            }
        }
        return haveTheRight
    }
</script>

<style scoped>
    @import './user_manager_user.less';
</style>
