<template>
	<Tree :data="classify_data" :render="renderCommonContent" empty-text=""></Tree>
</template>

<script>
	export default{
		name:'ClassifyView',
		props:['classify_data'],
		data(){
			return{
				currentSelectClassifyData:null,
				classifyData:[]
			}
		},
		mounted(){
			this.initData()
		},
		methods:{
			initData(){
				if(this.classify_data == null){
					this.classify_data = []
				}
			},
			
			clickSelectClassify(data){
				if(this.currentSelectClassifyData != null){
					this.currentSelectClassifyData.selected = false
				}
				this.currentSelectClassifyData = data
				data.selected = true
			},
			
			clickExpendClassifyData(data,elementId){
				data.expand = !data.expand
				if(elementId != ''){
					var element=document.getElementById(elementId) 
					var rotate = 180
					if(!data.expand){
						rotate = 0
					}
					element.style.transform = "rotate(" + rotate + "deg)"
				}
			},
		}
	}
	
</script>

<style>
</style>
