<template>
    <div class="home_container">
        <Header current_pager="site_waring"/>
        <div class="site_warming_container_layout">
            <div class="site_warming_container_left_layout">
                <div class="site_warming_left_title_layout">
                    <img src="../../assets/menu.png" class="site_warming_left_title_img"/>
                    <label class="common_label_style">全部专题</label>
                </div>

                <div class="common_horizontal_line"/>

                <div style="float: left;display: flex;flex-direction:row; margin: 14px 0px 14px 24px">
                    <img src="../../assets/u1128.png" class="site_warming_left_title_img" @click="createOneClassify"/>
                    <img src="../../assets/u1141.png" class="site_warming_left_title_img" style="margin-left: 55px" @click="createOneSubCategory"/>
                    <img src="../../assets/u1167.png" class="site_warming_left_title_img" style="margin-left: 55px"  @click="clickCategorySearchIcom"/>
                </div>

                <Input v-model="classifySerchValue" placeholder="请输入专题名称" style="width: 185px;margin-left: 24px;" @on-enter='searchClassifyValue' v-if="isCategorySearchShow">
                <Icon type="ios-search" slot="suffix" />
                </Input>
                <div style="width: 100%;">
                    <Tree :data="classifyData" :render="renderCommonContent" empty-text=""></Tree>
                </div>
            </div>
            <div class="common_vertical_thick_line"/>


            <div class="site_warming_container_right_layout">
                <div class="site_warming_setting_layout">
                    <div class="site_warming_setting_title_layout" style="padding:12px 24px;">
                        <label class="common_label_style" style="font-weight: bold;min-width: 140px;">专题名称</label>
                    </div>
                    <div class="site_warming_setting_content_layout" style="padding:12px 24px;"> {{currentSelectClassifyData==null? '': currentSelectClassifyData.title}}</div>
                </div>
                <div class="common_horizontal_line"/>

                <div class="site_warming_setting_layout">
                    <div class="site_warming_setting_title_layout" style="padding:12px 24px;">
                        <label class="common_label_style" style="font-weight: bold;min-width: 140px;">关键词设置</label>
                    </div>
                    <div class="site_warming_setting_content_layout" style="padding:12px 24px;">
                        <div class="warming_setting_content" >
                            <img src="../../assets/wenhao.png" style="width: 16px;margin-right: 1px;height: 16px;"/>
                            <label class="common_small_label_style">相关词：</label>
                            <div class="applyInput cb mt3" style="display: flex;flex-direction: column; width: 600px;height: 130px; margin-right: 5px;">
                                <Input v-model="keywordValue" :maxlength=1000 style="color: black; padding: 0px 5px 30px 5px;font-size: 13px;" type="textarea" :rows="6" :autosize="{maxRows: 6,minRows: 6}" @on-change="descInput" placeholder='多个词之间为"或"的关系，请用"，"隔开，以便区分，限制1000字以内' />
                                <div class="inputNotice_tag" style="position: absolute; left: 480px; top: 240px;">已输入
                                    <label class="inputNotice_item_tag">{{txtVal}}</label>个字，还可以输入
                                    <label class="inputNotice_item_tag">{{leftVal}}</label>个字
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="site_warming_setting_layout">
                    <div class="site_warming_setting_title_layout" style="padding:12px 24px;">
                        <label class="common_label_style" style="font-weight: bold;min-width: 140px;">预警设置</label>
                    </div>
                    <div class="site_warming_setting_content_layout" style="padding:12px 24px;">
                        <div class="warming_setting_content" >
                            <i-switch size="default" v-model="switch1" @on-change="switchChange" style="margin-left: 35px;"/>
                            <label class="common_label_style" style="margin-left: 10px;">是否预警</label>
                        </div>
                        <div class="warming_setting_content" style="margin-top: 15px;">
                            <div class="site_warming_setting_content_title_layout">
                                <label class="site_warming_setting_item_tag">*</label>预警接收人：
                            </div>
                            <div style="display: flex;flex-direction: row; max-width: 700px;">
                                <CheckboxGroup v-model="selectedReceiver" @on-change="receiverCheckChange">
                                    <Checkbox  style="width: 150px; margin-top: 5px" :label="item.id" v-for="item in receiverList">{{item.name}}</Checkbox>
                                </CheckboxGroup>
                            </div>
                        </div>


                        <div class="warming_setting_content" style="margin-top: 15px;">
                            <div class="site_warming_setting_content_title_layout">
                                <label class="site_warming_setting_item_tag">*</label>预警方式：
                            </div>
                            <div style="display: flex;flex-direction:row;margin-top: 5px; max-width: 700px;">
                                <CheckboxGroup v-model="selectedWarningType" @on-change="warningTypeCheckChange">
                                    <Checkbox  style="width: 150px;" :label="item.label"  v-for="item in warningType">{{item.label}}</Checkbox>
                                </CheckboxGroup>
                            </div>
                        </div>
                        <div class="warming_setting_content" style="align-items: center; margin-top: 15px;">
                            <div class="site_warming_setting_content_title_layout">
                                <label class="site_warming_setting_item_tag"></label>预警时间：
                            </div>
                            <TimePicker @on-change="setWarningTime" format="HH:mm" type="timerange" placement="bottom-end" placeholder="请选择预警时间" style="width: 300px"></TimePicker>
                        </div>
                        <div class="warming_setting_content" style="align-items: center;margin-top: 25px;">
                            <Button type="primary" size="default" style="width: 100px; margin-left: 100px;" @click="saveSetting">保存</Button>
                        </div>
                    </div>
                </div>

            </div>

            <Modal v-model="deleteClassifyHintShow" width="400">
                <p slot="header" style="display:block; text-align: center; height:100%; color:white;background: #4681fa;">
                    <span>删除确认</span>
                </p>
                <div style="text-align:center">
                    <label class="common_label_style">{{commonHintContent}}</label>
                </div>
                <div slot="footer" style="padding: 12px 0px">
                    <Button size="large" style="width: 100px;" @click="cancleDeleteClassify">取消</Button>
                    <Button type="primary" size="large" style="width: 100px;" @click="confirmDeleteClassify">确认</Button>
                </div>
            </Modal>


            <Modal v-model="ClassifyHiddenInhomeModalShow" width="400">
                <p slot="header" style="display:block; text-align: center; height:100%; color:white;background: #4681fa;">
                    <span>在首页隐藏</span>
                </p>
                <div style="text-align:center">
                    <label class="common_label_style">{{hiddenInhomeHintContent}}</label>
                </div>
                <div slot="footer" style="padding: 12px 0px">
                    <Button size="large" style="width: 100px;" @click="cancleHiddenClassify">取消</Button>
                    <Button type="primary" size="large" style="width: 100px;" @click="confirmHiddenClassify">确认</Button>
                </div>
            </Modal>


        </div>

        <Dropdown transfer ref="contentMenu" trigger="click" placement="right-start" @on-click="clickCategoryDropdownItem" >
            <DropdownMenu slot="list" ref="ppp" style="min-width: 100px;">
                <DropdownItem style="height: 25px" name="createOneCategory"><img src="../../assets/u1128.png" class="site_warming_category_img"/>添加分类</DropdownItem>
                <DropdownItem style="height: 25px" name="createOneMinorCategory"><img src="../../assets/u1141.png" class="site_warming_category_img"/>添加专题</DropdownItem>
                <DropdownItem style="height: 25px" name="delete"><img src="../../assets/u1173.png" class="site_warming_category_img"/>删除</DropdownItem>
                <DropdownItem style="height: 25px" name="rename"><img class="site_warming_category_img"/>重命名</DropdownItem>
                <DropdownItem style="height: 25px" name="moveUp" :style="{display:canMoveUp?'':'none'}" divided><img class="site_warming_category_img"/>上移</DropdownItem>
                <DropdownItem style="height: 25px" name="moveDown" :style="{display:canMoveDown?'':'none'}" :divided="canMoveUp?false:true"><img class="site_warming_category_img"/>下移</DropdownItem>
                <DropdownItem style="height: 25px" name="hiddenInhome" divided><img class="site_warming_category_img"/>在首页隐藏</DropdownItem>
            </DropdownMenu>            
        </Dropdown>

        <!--<div style="width:100%; height: 100%;">-->
        <!--<webViolationList style="min-height: 100%;height: auto;"/>-->
        <!--</div>-->

        <Footer/>
    </div>

</template>

<script>
    import Cookies from 'js-cookie'
    import ApiRequest from '@/api/apiRequest.js'
    import webWaringRequest from '@/api/webWaringRequest.js'
    import Footer from '@/components/footer/footer.vue'
    import Header from '@/components/header/header.vue'

    //addInvestigationPlan

    export default{
        components: {
            Footer,
            Header
        },
        data(){
            return{
                //左侧所有分类数据
                classifyData:[],
                canMoveUp: false,
                canMoveDown :false,

                receiverList: [],

                //当前操作的分类数据
                currentSelectClassifyData:null,

                //****巡查设置相关参数*********
                //是否显示分类右击显示的菜单
                keywordValue: '',
                txtVal: 0,
                leftVal: 1000,
                switch1: true,
                switchValue: 1,
                warningType:[
                    {
                        label:'短信',
                        selected:true,
                    },
                    {
                        label:'邮箱',
                        selected:false,
                    }
                ],
                selectedReceiver:[],
                selectedWarningType:[],
                warningTime:[],
                //当前操作的分类数据
                isCategorySearchShow: false,
                classifySerchValue: '',
                currentSelectClassifyData:null,
                recordRename : '',
                deleteClassifyHintShow: false,
                commonHintContent: '',
                ClassifyHiddenInhomeModalShow: false,
                hiddenInhomeHintContent: '',
                canMoveDown: true,
                canMoveUp: true,

                rolePermissions: [],
                pagePermissions: [],
            }
        },

        mounted(){
            this.initData()
            this.getpermission()
        },

        methods:{

            getpermission(){
                this.rolePermissions = JSON.parse(localStorage.getItem('rolePermissions'))
                //console.log(this.rolePermissions)
                for (var i = 0; i < this.rolePermissions.length; i++) {
                    var item = this.rolePermissions[i]
                    if(item.module_name == "巡查预警"){
                        var dataArray = item.moduleList
                        for (var j = 0; j < dataArray.length; j++) {
                            var item = dataArray[j]
                            if(item.module_name == "巡查设置"){
                                this.pagePermissions = item.permissionList
                                //console.log(this.pagePermissions)
                            }
                        }
                    }
                }
            },

            //初始化数据
            initData(){
                //获取分类列表数据
                webWaringRequest.warningCategorylist(Cookies.get('user_id')).then(res => {
                    if(res.data.code == 0){
                        this.classifyData = this.recursionHandleClassifyData('',res.data.object)
                        // this.classifyData[0].selected = true
                        // this.currentSelectClassifyData = this.classifyData[0]
                        // this.getCategoryWordContent(this.classifyData[0].id)

                    }else{
                        this.$Message.error(res.data.message)
                    }
                })
                //预警接收人：获取列表
                this.getReceiverList()
            },


            //预警接收人：获取列表
            getReceiverList(){
                webWaringRequest.getReceiverList().then(res => {
                    if(res.data.code == 0){
                        var dataArray = res.data.object
                        for (var i = 0; i < dataArray.length; i++) {
                            dataArray[i].$isEdit = false
                        }
                        this.receiverList = dataArray
                    }else{
                        this.$Message.error(res.data.message)
                    }
                })
            },


            //递归的方式处理分类数据，可以不需要懂
            recursionHandleClassifyData(parent_index,data){
                var newData = []
                for (var i = 0; i < data.length; i++) {
                    var item = data[i]
                    var childrenData = []
                    var currentIndex = parent_index + '' + i
                    if(item.object != null && item.object.length > 0){
                        childrenData = this.recursionHandleClassifyData(currentIndex,item.object)
                    }
                    var classify = {
                        position:currentIndex,
                        sort: item.sort,
                        id:item.id,
                        isalert: item.isalert,
                        isshow: item.isshow,
                        parent_id: item.parent_id,
                        title: item.name,
                        expand: true,
                        selected:false,
                        render: this.renderOneClassfyContent,
                        children: childrenData
                    }
                    if(item.parent_id > 0){
                        classify.render = this.renderCommonContent
                    }
                    newData.push(classify)
                }
                return newData;
            },

            renderOneClassfyContent(h, { root, node,data}){
                return h('div', {
                    attrs: {
                        'class':'menu_item_style',
                    },
                    style:{
                        background: data.selected? "#f0faff": 'white'
                    },
                    on: {

                        //右键点击事件
                        contextmenu: (e) => {
                            e.preventDefault();
                            if(this.currentSelectClassifyData != null && this.currentSelectClassifyData.showInput == true){
                                return
                            }
                            this.clickSelectClassify(data)
                            this.$refs.contentMenu.$refs.reference = event.target;
                            this.$refs.contentMenu.currentVisible = true;
                        },
                    }

                }, [
                    h('img',{
                        attrs: {
                            'class':'site_manager_left_title_img',
                            src:require('../../assets/folder.png')
                        },
                        on:{
                            click: () => { this.clickModalExpendClassifyData(data,'')}
                        }
                    }),
                    h('div',{
                        attrs:{
                            'class':'menu_item_input_layout_style',
                        },
                        style: {
                            display:data.showInput?'flex':'none',
                        }
                    },[
                        h('i-input',{
                            props:{
                                placeholder:'输入分类名称',
                                value:data.title,
                                size:'small'
                            },
                            style: {
                                fontSize:'13px',
                                color:'#34495e',
                                width:'100px'
                            },
                            on:{
                                'on-change':(event)=>{
                                    this.recordRename = event.target.value
                                },
                            }
                        }),
                        h('img',{
                            attrs: {
                                'class':'menu_item_input_button_style',
                                src:require('../../assets/ok.png')
                            },
                            on: {
                                click: () => {
                                    this.requestAddClassify(data)
                                    event.cancelBubble = true;
                                }
                            }
                        }),
                        h('img',{
                            attrs: {
                                'class':'menu_item_input_button_style',
                                src:require('../../assets/no.png')
                            },
                            on: {
                                click: () => { this.cancelEditClassify() }
                            }
                        }),
                    ]),
                    h('div',{
                        attrs:{
                            'class':'menu_item_right_layout_container_style',
                        },
                        style: {
                            display:data.showInput?'none':'flex',
                        }
                    },[
                        h('label',{
                            attrs:{
                                'class':'common_label_style',
                            },
                            style: {
                                cursor:'pointer',
                                fontSize:'14px',
                                display:'initial',
                                color:data.selected?'#3c7af9':'#34495e',
                                fontWeight: data.selected?'bold':'normal'
                            },
                            on:{
                                click: () => {
                                    this.clickSelectClassify(data)
                                }
                            }
                        },data.title),
                        h('div',{
                            attrs:{
                                'class':'menu_item_right_div_style',
                            },
                        },[
                            h('div',{
                                attrs:{
                                    'class':'menu_item_right_line_style',
                                },
                                style: {
                                    display: data.selected?'initial':'none'
                                }
                            })
                        ]),
                    ]),
                ]);
            },
            renderCommonContent (h, { root, node, data }) {
                return h('div', {
                    attrs: {
                        'class':'menu_item_style',
                    },
                    style:{
                        background: data.selected? "#f0faff": 'white'
                    },
                    on: {
                        //右键点击事件
                        contextmenu: (e) => {
                            e.preventDefault();
                            if(this.currentSelectClassifyData != null && this.currentSelectClassifyData.showInput == true){
                                return
                            }
                            this.clickSelectClassify(data)
                            this.$refs.contentMenu.$refs.reference = event.target;
                            this.$refs.contentMenu.currentVisible = true;
                        },
                    }

                }, [
                    h('img',{
                        attrs: {
                            'id':'left_id_' + data.id,
                            'class':'site_manager_submenu_img',
                            src:require(data.selected?'../../assets/erjicaidanxiao_h.png':'../../assets/erjicaidanxiao.png')
                        },
                    }),

                    h('div',{
                        attrs:{
                            'class':'menu_item_input_layout_style',
                        },
                        style: {
                            display:data.showInput?'flex':'none',
                        }
                    },[
                        h('i-input',{
                            props:{
                                placeholder:'输入专题名称',
                                value:data.title,
                                size:'small'
                            },
                            style: {
                                fontSize:'13px',
                                color:'#34495e',
                                width:'100px'
                            },
                            on:{
                                'on-change':(event)=>{
                                    this.recordRename = event.target.value
                                },
                            }
                        }),
                        h('img',{
                            attrs: {
                                'class':'menu_item_input_button_style',
                                src:require('../../assets/ok.png')
                            },
                            on: {
                                click: () => {
                                    this.requestAddClassify(data)
                                    event.cancelBubble = true;
                                }
                            }
                        }),
                        h('img',{
                            attrs: {
                                'class':'menu_item_input_button_style',
                                src:require('../../assets/no.png')
                            },
                            on: {
                                click: () => { this.cancelEditClassify() }
                            }
                        }),
                    ]),



                    h('div',{
                        attrs:{
                            'class':'menu_item_right_layout_container_style',
                        },
                        style: {
                            display:data.showInput?'none':'flex',
                        }
                    },[
                        h('label',{
                            attrs:{
                                'class':'common_small_label_style',
                            },
                            style: {
                                cursor:'pointer',
                                display:'initial',
                                color:data.selected?'#3c7af9':'#8c989d',
                                fontWeight: data.selected?'bold':'normal'
                            },
                            on:{
                                click: () => {
                                    this.clickSelectClassify(data)
                                }
                            }
                        },data.title),
                        h('div',{
                            attrs:{
                                'class':'menu_item_right_div_style',
                            },
                        },[
                            h('div',{
                                attrs:{
                                    'class':'menu_item_right_line_style',
                                },
                                style: {
                                    display: data.selected?'initial':'none'
                                }
                            })
                        ]),
                    ]),
                ]);
            },


            //分类搜索图标点击事件
            clickCategorySearchIcom(){
                this.isCategorySearchShow = !this.isCategorySearchShow
            },

            searchClassifyValue(){
                if(this.classifySerchValue.trim() == ''){
                    return
                }else{
                    this.expendSearchClassify(this.classifyData,this.classifySerchValue)
                }
            },

            expendSearchClassify(data,value){
                for (var i = 0; i < this.classifyData.length; i++) {
                    this.classifyData[i].expand = false;
                }
                var result = false;
                for (var i = 0; i < data.length; i++) {
                    var item = data[i]
                    if(item.children != null && item.children.length > 0){
                        var resultChildren = this.expendSearchClassify(item.children,value)
                        if(resultChildren){
                            item.expand = true
                            result = true
                        }
                    }
                    if(item.title.indexOf(value) != -1){
                        //this.clickSelectClassify(item)
                        item.expand = true
                        result = true
                    }

                }
                return result
            },
            //导航图标新建分类
            createOneSubCategory(){
                if(!isHaveThePermission(this.pagePermissions, "新建专题")){
                    this.$Message.error('暂无此权限！')
                    return
                }
                if(this.classifyData.length <= 0){
                    this.$Message.error('请先新建分类')
                    return
                }
                if(this.currentSelectClassifyData == null || this.currentSelectClassifyData.id <= 0){
                    this.$Message.error('请选择所要新建专题的分类')
                    return
                }else {
                    this.setSettingContentBlank()
                    this.clickAddNewClassify()
                }
            },

            setSettingContentBlank(){
                this.warningTime = []
                this.keywordValue = ''
                this.txtVal = 0
                this.leftVal = 1000
                this.switch1 = false
                this.switchValue = 0
                this.selectedReceiver = []
                this.selectedWarningType = []
                this.warningTime = []
            },

            //选择点击的分类
            clickSelectClassify(data){
                if(this.currentSelectClassifyData != null){
                    this.currentSelectClassifyData.selected = false
                }

                this.setSettingContentBlank()

                this.currentSelectClassifyData = data
                data.selected = true

                this.getCategoryWordContent(data.id)


                if(this.currentSelectClassifyData != null){
                    this.canMoveUp = true
                    this.canMoveDown = true
                    if(this.classifyData.length == 1 && this.currentSelectClassifyData.parent_id <= 0){
                        this.canMoveUp = false
                        this.canMoveDown = false
                        return
                    }
                    var position = this.currentSelectClassifyData.position
                    var values = position.split('')
                    if(values != null && values.length > 0){
                        var positions = values.map(Number)
                        if(positions.length == 1){
                            if(positions[0] == this.classifyData.length - 1){
                                this.canMoveDown = false
                            }
                            if(positions[0] == 0){
                                this.canMoveUp = false
                            }
                        }else {
                            if(positions[1] == this.classifyData[positions[0]].children.length - 1){
                                this.canMoveDown = false
                            }
                            if(positions[1] == 0){
                                this.canMoveUp = false
                            }
                        }
                    }
                }
            },
            //获取分类的详细信息
            getCategoryWordContent(subjectid){
                webWaringRequest.getCategoryDetailContent(subjectid).then(res => {
                    if(res.data.code == 0){
                        if(res.data.object.isalert == 1){
                            this.switch1 = true
                            this.switchValue = 1
                        }else {
                            this.switch1 = false
                            this.switchValue = 0
                        }
                        if(res.data.object.word != null){
                            this.keywordValue = res.data.object.word
                            this.txtVal = res.data.object.word.length
                            this.leftVal = 1000 - res.data.object.word.length
                        }
                        if(res.data.object.alert_type != null){
                            this.selectedWarningType = res.data.object.alert_type
                        }
                        if(res.data.object.alert_receiver != null){
                            this.selectedReceiver = res.data.object.alert_receiver
                        }

                        if(res.data.object.begin_time != null && res.data.object.end_time != null){
                            this.warningTime = []
                            this.warningTime.push(res.data.object.begin_time)
                            this.warningTime.push(res.data.object.end_time)
                        }


                    }else{
                        this.$Message.error(res.data.message)
                    }
                })
            },
            //巡查设置相关操作
            descInput(){
                // if(this.currentSelectClassifyData == null || !this.currentSelectClassifyData.showInput){
                //     this.$Message.error('请选择分类专题或完成当前的编辑')
                //     this.keywordValue = ''
                //     return
                // }
                if(this.keywordValue.length >= 1000){
                    this.$Message.error('关键词不能超过1000个字')
                }
                this.txtVal = this.keywordValue.length;
                this.leftVal = 1000 - this.txtVal

            },

            switchChange(){
                this.switch1 = !this.switch1
                if(this.switch1){
                    this.switchValue = 1
                }{
                    this.switchValue = 0
                }

            },
            //接收人的选择
            receiverCheckChange(data){
                this.selectedReceiver = data
            },
            //预警方式的选择
            warningTypeCheckChange(data){
                this.selectedWarningType = data
            },

            setWarningTime(e){
                this.warningTime = e
            },

            saveSetting() {
                if(!isHaveThePermission(this.pagePermissions, "编辑")){
                    this.$Message.error('暂无此权限！')
                    return
                }

                if(this.currentSelectClassifyData == null || this.currentSelectClassifyData.id <= 0){
                    this.$Message.error('请选择分类专题')
                    return
                }
                if(this.keywordValue.trim().length == 0){
                    this.$Message.error('关键词不能为空')
                    return
                }
                if(this.selectedReceiver == null || this.selectedReceiver.length == 0){
                    this.$Message.error('请选择接收人')
                    return
                }
                if(this.selectedWarningType == null || this.selectedWarningType.length == 0){
                    this.$Message.error('请选择预警方式')
                    return
                }

                var classify = {
                    word: this.keywordValue,
                    isalert: this.switchValue,
                    subject_id: this.currentSelectClassifyData.id,
                    alert_receiver: this.selectedReceiver,
                    alert_type: this.selectedWarningType,
                    begin_time: '',
                    end_time: '',
                }
                if(this.warningTime.length > 0){
                    classify.begin_time = this.warningTime[0]
                    classify.end_time = this.warningTime[1]
                }

                webWaringRequest.saveSettingword(classify).then(res =>{
                    if(res.data.code == 0){
                        this.$Message.success(res.data.message)
                    }else{
                        this.$Message.error(res.data.message)
                    }
                })
            },

            clickModalExpendClassifyData(data,elementId){
                data.expand = !data.expand
            },

            clickCategoryDropdownItem(name){
                if(name == 'createOneCategory'){
                    this.createOneClassify()
                }else if(name == 'createOneMinorCategory'){
                    this.clickAddNewClassify()
                }else if(name == 'delete'){
                    this.clickDeleteClassify()
                }else if(name == 'rename'){
                    this.clickRenameClassify()
                }else if(name == 'moveUp'){
                    this.clickMoveUpClassify(true)
                }else if(name == 'moveDown'){
                    this.clickMoveUpClassify(false)
                }else {
                    this.setCategoryHiddenInhome()
                }
            },

            //创建分类
            createOneClassify(){
                if(!isHaveThePermission(this.pagePermissions, "新建专题")){
                    this.$Message.error('暂无此权限！')
                    return
                }
                this.cancelEditClassify()
                if(this.currentSelectClassifyData != null){
                    this.currentSelectClassifyData.selected = false
                }
                this.currentSelectClassifyData = null
                this.clickAddNewClassify()
                this.$refs.contentMenu.$refs.reference = null;
                this.$refs.contentMenu.currentVisible = null
            },
            //取消编辑分类
            cancelEditClassify(){

                this.recordRename = ''
                if(this.currentSelectClassifyData == null || !this.currentSelectClassifyData.showInput){
                    this.setSettingContentBlank()
                    return
                }
                this.currentSelectClassifyData.showInput = false
                if(this.currentSelectClassifyData.id > 0){
                    this.currentSelectClassifyData.selected = true
                    this.getCategoryWordContent(this.currentSelectClassifyData.id)
                    return
                }
                var position = this.currentSelectClassifyData.position
                var values = position.split('')
                if(values != null && values.length > 0){
                    var positions = values.map(Number)
                    var arr = []
                    if(positions.length == 1){
                        arr = this.classifyData
                    }else{
                        arr = this.classifyData[positions[0]].children
                    }
                    arr.pop()
                }
            },
            clickAddNewClassify(){
                var classify = {
                    position:'0',
                    id:0,
                    parent_id: 0,
                    sort: 0,
                    title: '',
                    expand: false,
                    selected:false,
                    showInput:true,
                    count:0,
                    render: this.renderOneClassfyContent,
                    children: []
                }
                if(this.currentSelectClassifyData == null){
                    classify.render = this.renderOneClassfyContent
                    this.classifyData.push(classify)
                    this.currentSelectClassifyData = classify
                }else{
                    this.currentSelectClassifyData.selected = false
                    classify.render = this.renderCommonContent
                    var position = this.currentSelectClassifyData.position
                    var values = position.split('')
                    if(values != null && values.length > 0){
                        var positions = values.map(Number)
                        var itemOne = this.classifyData[positions[0]]
                        itemOne.expand = true
                        classify.parent_id = itemOne.id
                        if(itemOne.children != null && itemOne.children.length > 0){
                            classify.sort = itemOne.children[itemOne.children.length-1].sort +1
                            classify.position = itemOne.position + itemOne.children.length
                        }else{
                            classify.sort = 0
                            classify.position = itemOne.position + 0
                        }
                        itemOne.children.push(classify)
                    }
                    this.currentSelectClassifyData = classify
                }
            },
            //创建分类
            requestAddClassify(data){
                if(this.recordRename.trim() == '' || this.recordRename == null){
                    this.$Message.error('分类名称不能为空')
                    return
                }
                if(this.recordRename.trim().length > 10){
                    this.$Message.error('分类名称长度不能超过10个汉字')
                    return
                }

                if(data.id > 0){
                    var classify = {
                        "id":data.id,
                        "name":this.recordRename
                    }
                    webWaringRequest.renameCategory(classify).then(res =>{
                        if(res.data.code == 0){
                            this.currentSelectClassifyData.title = this.recordRename
                            this.currentSelectClassifyData.showInput = false
                            //this.getWebSiteData()
                            this.$Message.success(res.data.message)
                        }else{
                            this.$Message.error(res.data.message)
                        }
                    })
                    return
                }

                data.name = this.recordRename
                data.account_id = Cookies.get('user_id')
                webWaringRequest.addCategory(data).then(res =>{
                    if(res.data.code == 0){
                        this.currentSelectClassifyData.id = res.data.object.id
                        this.currentSelectClassifyData.title = res.data.object.name
                        this.currentSelectClassifyData.sort = res.data.object.sort
                        this.currentSelectClassifyData.showInput = false
                        this.resetClassifySort()
                        this.$Message.success(res.data.message)
                    }else{
                        this.$Message.error(res.data.message)
                    }
                })
            },

            //删除分类
            clickDeleteClassify(){
                if(!isHaveThePermission(this.pagePermissions, "删除")){
                    this.$Message.error('暂无此权限！')
                    return
                }
                this.commonHintContent = '是否确定删除  ' + this.currentSelectClassifyData.title + ' ?'
                this.deleteClassifyHintShow = true
            },
            cancleDeleteClassify(){
                this.deleteClassifyHintShow = false
            },

            confirmDeleteClassify(){
                this.deleteClassifyHintShow = false
                var classify = {
                    "id":this.currentSelectClassifyData.id
                }
                webWaringRequest.deleteCategory(classify).then(res =>{
                    if(res.data.code == 0){
                        this.$Message.success(res.data.message)
                        if(this.currentSelectClassifyData != null){
                            var position = this.currentSelectClassifyData.position
                            var values = position.split('')
                            if(values != null && values.length > 0){
                                var positions = values.map(Number)
                                if(positions.length == 1){
                                    this.classifyData.splice(positions[0],1)
                                }else {
                                    this.classifyData[positions[0]].children.splice(positions[1],1)
                                }
                            }
                        }
                        this.currentSelectClassifyData = null
                        this.resetClassifySort()
                    }else{
                        this.$Message.error(res.data.message)
                    }
                })
            },

            //重命名分类
            clickRenameClassify(){
                if(!isHaveThePermission(this.pagePermissions, "编辑")){
                    this.$Message.error('暂无此权限！')
                    return
                }
                if(this.currentSelectClassifyData != null){
                    this.currentSelectClassifyData.showInput = true
                    this.currentSelectClassifyData.selected = false
                    this.recordRename = this.currentSelectClassifyData.title
                }
            },

            //设置分类专题上移
            clickMoveUpClassify(isUp){
                if(!isHaveThePermission(this.pagePermissions, "上移/下移")){
                    this.$Message.error('暂无此权限！')
                    return
                }
                var classify = {
                    firstid:this.currentSelectClassifyData.id,
                    secondid: 0
                }

                var position = this.currentSelectClassifyData.position
                var other = {}
                var otherPosition = 0
                var arr = []
                var values = position.split('')
                if(values != null && values.length > 0){
                    var positions = values.map(Number)
                    if(positions.length == 1){
                        arr = this.classifyData
                        if(isUp){
                            otherPosition = positions[0] - 1
                        }else{
                            otherPosition = positions[0] + 1
                        }
                        other = this.classifyData[otherPosition]
                    }else{
                        arr = this.classifyData[positions[0]].children
                        if(isUp){
                            otherPosition = positions[1] - 1
                        }else{
                            otherPosition = positions[1] + 1
                        }
                        other = this.classifyData[positions[0]].children[otherPosition]
                    }
                }

                webWaringRequest.moveClassify(other.id,this.currentSelectClassifyData.id).then(res =>{
                    if(res.data.code == 0){
                        var sortR = other.sort
                        other.sort = this.currentSelectClassifyData.sort
                        this.currentSelectClassifyData.sort = sortR
                        arr.sort(compare)
                        this.resetClassifySort()
                    }else{
                        this.$Message.error(res.data.message)
                    }
                })

            },

            //设置是否在首页显示
            setCategoryHiddenInhome(){
                if(!isHaveThePermission(this.pagePermissions, "首页显示/隐藏")){
                    this.$Message.error('暂无此权限！')
                    return
                }
                if(this.currentSelectClassifyData != null) {
                    if(this.currentSelectClassifyData.isshow == 0){
                        this.hiddenInhomeHintContent = '是否让  ' + this.currentSelectClassifyData.title + ' 在主页显示?'
                        this.ClassifyHiddenInhomeModalShow = true
                    }else {
                        this.hiddenInhomeHintContent = '是否隐藏  ' + this.currentSelectClassifyData.title + ' 在主页显示?'
                        this.ClassifyHiddenInhomeModalShow = true
                    }
                }
            },
            cancleHiddenClassify(){
                this.ClassifyHiddenInhomeModalShow = false
            },

            confirmHiddenClassify(){
                this.ClassifyHiddenInhomeModalShow = false

                var classify = {
                    "id":this.currentSelectClassifyData.id,
                    "isshow": 0
                }
                if(this.currentSelectClassifyData != null) {
                    if(this.currentSelectClassifyData.isshow == 0){
                        classify.isshow = 1
                    }else {
                        classify.isshow = 0
                    }
                }
                webWaringRequest.showCategory(classify).then(res =>{
                    if(res.data.code == 0){
                        if(this.currentSelectClassifyData != null) {
                            if(this.currentSelectClassifyData.isshow == 0){
                                this.currentSelectClassifyData.isshow = 1
                            }else {
                                this.currentSelectClassifyData.isshow = 0
                            }
                        }
                    }else{
                        this.$Message.error(res.data.message)
                    }
                })
            },

            //重新排序分类，每次添加、删除、移动分类的时候都需要排揎一下分类列表，便于操作
            resetClassifySort(){
                this.recursionHandleResetClassifySort('',this.classifyData)
            },

            recursionHandleResetClassifySort(parent_index,data){
                for (var i = 0; i < data.length; i++) {
                    var item = data[i]
                    var currentIndex = parent_index + '' + i
                    item.position = currentIndex
                    if(item.children != null && item.children.length > 0){
                        this.recursionHandleResetClassifySort(currentIndex,item.children)
                    }
                }
            }

        }
    }

    var compare = function (x, y) {//比较函数
        if (x.sort < y.sort) {
            return -1;
        } else {
            return 1;
        }
    }

    function isHaveThePermission(permissionList, operationName){
        var haveTheRight = true

        for (var i = 0; i < permissionList.length; i++) {
            if(permissionList[i].permission_name == operationName){
                if(permissionList[i].status == 1){
                    haveTheRight = true
                }else {
                    haveTheRight = false
                }
            }
        }
        return haveTheRight
    }

</script>

<style scoped>
    @import './site_waring_setting.less';
</style>
