.site_warming_container_layout{
  width: 100%;
  min-height: 100%;
  background: #e8eaec;
  padding: 12px;
  display: flex;
  flex-direction: row
}

.site_warming_container_left_layout{
  min-width: 240px;
  width: 240px;
  min-height: 100%;
  background: white
}

.ivu-menu-vertical.ivu-menu-light:after {
  background: white
}

.menu_item_style{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-left: 24px;
}

.site_manager_submenu_img{
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-bottom: 4px;
  transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
}


.site_manager_left_title_img{
  width: 18px;
  height: auto;
  margin-right: 8px;
  padding-bottom: 4px;
  cursor: pointer
}

.site_warming_category_img{
  width: 15px;
  height: auto;
  margin-right: 8px;
  align-items: center;
  cursor: pointer
}

.menu_item_right_div_style{
  display: inline-block;
  width: 100%;
}

.menu_item_right_image_style{
  float: right;
  display: none;
  cursor: pointer
}

.menu_item_right_line_style{
  float: right;
  height: 19px;
  width: 4px;
  background: #3c7af9;
  display: none
}

.menu_item_style:hover .menu_item_right_image_style{
  display:initial;
}

.ivu-tree-arrow{
  display: none
}


.menu_item_input_button_style{
  cursor: pointer;
  padding-left: 4px;
}

.menu_item_input_layout_style{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu_item_right_layout_container_style{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.site_manager_hide_menu_layout{
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 9999;
  padding: 8px 0;
  border: #dadada solid 1px;
  background: white;

}


.hide_menu_label_style{
  font-size: 13px;
  color: #8c989d;
  margin: 4px 12px 4px 32px;
  width: 70px;
  cursor: pointer
}
.hide_menu_label_style:hover{
  background: #afcef8
}


.site_warming_container_right_layout{
  width: 100%;
  min-height: 100%;
  background: white;
  display: flex;
  flex-direction: column;
}

.site_warming_setting_layout{
  width: 100%;
  background: white;
  display: flex;
  flex-direction: row;
}

.site_warming_setting_title_layout{
  align-items: center;
  width: 140px;
}

.site_warming_setting_content_layout{
  width: 100%;
  background: white;
  display: flex;
  flex-direction: column;
}

.site_warming_left_title_layout{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 24px;
}
.site_warming_left_title_img{
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.inputNotice_tag{
  width: 600px;
  height: 20px;
  align-items: center;
  font-size: 13px;
  text-align: right;
  line-height: 20px;
  color: #8c989d;
  margin-bottom: 15px;
  padding-right: 20px;

}
.inputNotice_item_tag{
  color: #34495e;
  font-size: 13px;
}

.warming_setting_content{
  display: flex;
  flex-direction: row;
  margin-right: 24px;
}

.ivu-switch-checked {
  border-color: #1ad784;
  background-color: #1ad784;
}

.site_warming_setting_content_title_layout{
  width: 90px;
  font-size: 13px;
  text-align: right;



}
.site_warming_setting_item_tag{
  color: red;
  font-size: 18px;

}


.ivu-menu-vertical .ivu-menu-submenu-title-icon{
  display: none
}
.ivu-menu-vertical .ivu-menu-item, .ivu-menu-vertical .ivu-menu-submenu-title{
  padding: 8px 24px;
}
.site_warming_submenu_layout{
  display: flex;
  flex-direction: row;
  align-items: center
}
.site_warming_submenu_img{
  width: 20px;
  height: 20px;
  margin-bottom: 4px;
  transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
}

.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item{
  color: #8c989d
}

.modal_content_select .ivu-select-selection {
  text-align: left;
  border-radius: 4px;
  border: 1px solid #dcdee2;
}
.ivu-select-single .ivu-select-selection .ivu-select-placeholder, .ivu-select-single .ivu-select-selection .ivu-select-selected-value{
  color: #8c989d
}

.site_warming_submenu_img {
  width: 20px;
  height: 20px;
  margin-bottom: 4px;
  transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
}

.site_warming_web_table_name_label{
  color: white;
  display: block;
  border-radius: 35px;
  width: 18px;
  line-height: 18px;
  font-size: 14px;
  padding-left: 4.5px;
  margin-right: 4px;
  height: 18px;
  background: red;
}

.site_warming_menu_title_right_button_layout{
  margin-left: 8px;
  display: flex;
  flex-direction: row;
  border:1px solid lightgray;
  border-radius: 5px;
  align-items: center;
  width: 100px;
  height: 35px;
}

.receiver_setting_button_layout{
  margin-left: 8px;
  display: flex;
  flex-direction: row;
  border:1px solid lightgray;
  border-radius: 5px;
  align-items: center;
  width: 120px;
  height: 35px;
}

.site_warming_horizontal_layout{
  display: flex;
  flex-direction: row;
  //align-items: center;
  width: 100%;
}

.ivu-table-overflowX{ overflow-x: hidden;}

.ivu-modal{
  top: 60px;
}
.ivu-modal-header{
  padding: 0;
}

.ivu-modal-header p, .ivu-modal-header-inner{
  line-height: 50px;
  padding-left: 12px;
  font-size: 16px;
}
.ivu-modal-close .ivu-icon-ios-close{
  color: white
}

.ivu-modal-footer {
  border-top: 1px solid white;
  padding: 5px 18px 5px 18px;
  text-align: right;
}

.hide_menu_label_style:hover{
  background: #afcef8
}

.add_web_item_layout{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 0px;
}

.add_web_item_tag{
  color: #34495e;
  font-size: 13px;
  min-width: 84px;
  padding-right: 4px;
  text-align: right
}

.ivu-dropdown-item-divided:before {
  content: '';
  height: 1px;
  display: block;
  margin: 0 -1px;
  background-color: #fff;
  position: relative;
  top: -1px;
}



