<template>
	<div class="home_content_right_module_layout">
		<div class="home_content_module_top_layout">
			<img class="home_content_module_top_image" src="../../assets/circle_tag.png"/>
			<label class="home_content_module_top_title" @click="gotoWebsiteIlligalPage">违章情况</label>
		</div>
		
		<div class="home_content_illegal_top_layout">
			<div class="home_content_illegal_top_content_layout">
				<label class="home_content_right_item_top_label" style="color: #fd8c6f;">{{illegalSummaryData.count_illegal_webs_Handled}}</label>
				<label class="home_content_right_item_bottom_label">今日已处理总数</label>
			</div>
			<div class="home_content_illegal_top_content_layout">
				<label class="home_content_right_item_top_label" style="color: #28e1a8;">{{illegalSummaryData.count_illegal_webs}}</label>
				<label class="home_content_right_item_bottom_label">今日待处理总数</label>
			</div>
		</div>
		
		<div class="home_content_illegal_top_layout">
			<div class="home_content_illegal_top_chart_layout" id="home_content_a_chart"></div>
			<div class="home_content_illegal_top_chart_layout" id="home_content_b_chart"></div>
			<div class="home_content_illegal_top_chart_layout" id="home_content_c_chart"></div>
		</div>
		
		<div class="home_content_illegal_top_layout">
			<div class="home_content_illegal_top_content_sub_layout">
				<label class="home_content_right_item_top_label">{{illegalSummaryData.count_level_A}}</label>
				<label class="home_content_right_item_bottom_label">今日网站违规个数 </label>
			</div>
			<div class="home_content_illegal_top_content_sub_layout">
				<label class="home_content_right_item_top_label">{{illegalSummaryData.count_level_B}}</label>
				<label class="home_content_right_item_bottom_label">今日网站违规个数 </label>
			</div>
			<div class="home_content_illegal_top_content_sub_layout">
				<label class="home_content_right_item_top_label">{{illegalSummaryData.count_level_C}}</label>
				<label class="home_content_right_item_bottom_label">今日网站违规个数 </label>
			</div>
		</div>
	</div>
</template>

<script>
    import webWaringRequest from '@/api/webWaringRequest.js'

	let echarts = require('echarts/lib/echarts')
	require("echarts/lib/chart/pie")
	require("echarts/lib/chart/graph");
	require('echarts/lib/component/tooltip')
	require('echarts/lib/component/title')
	require("echarts/lib/component/legend");
	var aOption={}
	var bOption={}
	var cOption={}
	var aChart={}
	var bChart={}
	var cChart={}
	export default{
		name:'HomeViolationData',
        data() {
            return {
                illegalSummaryData:{}

            }
        },

		mounted(){
            this.getIllegalSummary()


		},
		methods:{
            gotoWebsiteIlligalPage(){
                this.$router.push({
                    name: 'irregularities_investigation'
                })
			},
			drawChart() {
				aChart = echarts.init(document.getElementById('home_content_a_chart'))
				aChart.setOption(aOption,true);
				
				bChart = echarts.init(document.getElementById('home_content_b_chart'))
				bChart.setOption(bOption,true);
				
				cChart = echarts.init(document.getElementById('home_content_c_chart'))
				cChart.setOption(cOption,true);
			},

            getIllegalSummary(){
                webWaringRequest.illegalSummary().then(res => {
                    //console.log('违规概况')
                    //console.log(res)
                    if(res.data.code == 0){
                        localStorage.setItem('illegalSummaryData', JSON.stringify(res.data.object))
                        this.illegalSummaryData = res.data.object
						if(this.illegalSummaryData.count_all_illegal_webs_today == 0){
                            this.illegalSummaryData.count_level_A_show = 0
                            this.illegalSummaryData.count_level_B_show = 0
                            this.illegalSummaryData.count_level_C_show = 0

                            this.illegalSummaryData.count_level_A_rate = 100
                            this.illegalSummaryData.count_level_B_rate = 100
                            this.illegalSummaryData.count_level_C_rate = 100
						}else {
                            var bumA = this.illegalSummaryData.count_level_A/this.illegalSummaryData.count_all_illegal_webs_today * 100
                            var bumB = this.illegalSummaryData.count_level_B/this.illegalSummaryData.count_all_illegal_webs_today * 100
                            var bumC = this.illegalSummaryData.count_level_C/this.illegalSummaryData.count_all_illegal_webs_today * 100

                            this.illegalSummaryData.count_level_A_show = bumA.toFixed(0)
                            this.illegalSummaryData.count_level_B_show = bumB.toFixed(0)
                            this.illegalSummaryData.count_level_C_show = bumC.toFixed(0)

                            this.illegalSummaryData.count_level_A_rate = 100 - bumA.toFixed(0)
                            this.illegalSummaryData.count_level_B_rate = 100 - bumB.toFixed(0)
                            this.illegalSummaryData.count_level_C_rate = 100 - bumC.toFixed(0)
						}


                        aOption={
                            title: {
                                text: 'A级',
                                x: 66,
                                y: 135,
                                textStyle: {
                                    fontWeight:'normal',
                                    fontSize: 16,
                                    color: '#34495e'
                                }
                            },
                            series:{
                                name: 'A级',
                                type: 'pie',
                                clockWise: false,
                                radius: [50, 60],
                                itemStyle:{
                                    normal:{
                                        color: '#fc5560',
                                        shadowBlur: 0,
                                        label: {
                                            show: false
                                        },
                                        labelLine: {
                                            show: false
                                        },
                                    }
                                },
                                hoverAnimation: false,
                                center: ['50%','50%'],
                                data: [{
                                    value: this.illegalSummaryData.count_level_A_show,
                                    label:{
                                        normal: {
                                            formatter: function(params){
                                                return params.value+'%' ;
                                            },
                                            position: 'center',
                                            show: true,
                                            textStyle: {
                                                fontWeight:'bold',
                                                color:'#fc5560',
                                                fontSize: '20',
                                            }
                                        }
                                    },
                                },
                                    {
                                        value: this.illegalSummaryData.count_level_A_rate,
                                        name: 'invisible',
                                        itemStyle: {
                                            normal: {
                                                color:'#ededed'
                                            },
                                            emphasis: {
                                                color:'#ededed'
                                            }
                                        }
                                    },
                                ]
                            }
                        }
						bOption={
                            title: {
                                text: 'B级',
                                x: 66,
                                y: 135,
                                textStyle: {
                                    fontWeight:'normal',
                                    fontSize: 16,
                                    color: '#34495e'
                                }
                            },
                            series:{
                                name: 'B级',
                                type: 'pie',
                                clockWise: false,
                                radius: [50, 60],
                                itemStyle:{
                                    normal:{
                                        color: '#24d3fd',
                                        shadowBlur: 0,
                                        label: {
                                            show: false
                                        },
                                        labelLine: {
                                            show: false
                                        },
                                    }
                                },
                                hoverAnimation: false,
                                center: ['50%','50%'],
                                data: [{
                                    value: this.illegalSummaryData.count_level_B_show,
                                    label:{
                                        normal: {
                                            formatter: function(params){
                                                return params.value+'%' ;
                                            },
                                            position: 'center',
                                            show: true,
                                            textStyle: {
                                                fontWeight:'bold',
                                                color:'#24d3fd',
                                                fontSize: '20',
                                            }
                                        }
                                    },
                                },
                                    {
                                        value: this.illegalSummaryData.count_level_B_rate,
                                        name: 'invisible',
                                        itemStyle: {
                                            normal: {
                                                color:'#ededed'
                                            },
                                            emphasis: {
                                                color:'#ededed'
                                            }
                                        }
                                    },
                                ]
                            }
                        }


                        cOption={
                            title: {
                                text: 'C级',
                                x: 66,
                                y: 135,
                                textStyle: {
                                    fontWeight:'normal',
                                    fontSize: 16,
                                    color: '#34495e'
                                }
                            },
                            series:{
                                name: 'C级',
                                type: 'pie',
                                clockWise: false,
                                radius: [50, 60],
                                itemStyle:{
                                    normal:{
                                        color: '#28e1a8',
                                        shadowBlur: 0,
                                        label: {
                                            show: false
                                        },
                                        labelLine: {
                                            show: false
                                        },
                                    }
                                },
                                hoverAnimation: false,
                                center: ['50%','50%'],
                                data: [{
                                    value: this.illegalSummaryData.count_level_C_show,
                                    label:{
                                        normal: {
                                            formatter: function(params){
                                                return params.value+'%' ;
                                            },
                                            position: 'center',
                                            show: true,
                                            textStyle: {
                                                fontWeight:'bold',
                                                color:'#28e1a8',
                                                fontSize: '20',
                                            }
                                        }
                                    },
                                },
                                    {
                                        value: this.illegalSummaryData.count_level_C_rate,
                                        name: 'invisible',
                                        itemStyle: {
                                            normal: {
                                                color:'#ededed'
                                            },
                                            emphasis: {
                                                color:'#ededed'
                                            }
                                        }
                                    },
                                ]
                            }
                        }

                        this.drawChart();
                    }else {
                        this.$Message.error(res.data.message)
                    }
                })
            },
		}
	}
</script>

<style>
</style>
