.ivu-menu-vertical.ivu-menu-light:after {
	background: white
}

.menu_item_style{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	padding-left: 24px;
}

.menu_item_right_div_style{
	display: inline-block;
	width: 100%;
}

.menu_item_right_image_style{
	float: right;
	display: none;
	cursor: pointer
}

.menu_item_right_image_style_hide{
	float: right;
	display: none;
	cursor: pointer
}

.menu_item_right_line_style{
	float: right;
	height: 19px;
	width: 4px;
	background: #3c7af9;
	display: none
}

.menu_item_style:hover .menu_item_right_image_style{
	display:initial;
}

.ivu-tree-arrow{
	display: none
}

.site_manage_add_classify_button_layout{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
}

.site_manage_add_classify_button{
	font-size: 14px;
	font-weight: bold;
	color: #3c7af9;
	cursor: pointer;
	border: #dadada dashed 1px;
	padding: 10px 60px
}
.menu_item_input_button_style{
	cursor: pointer;
	padding-left: 4px;
}

.menu_item_input_layout_style{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.menu_item_right_layout_container_style{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
}

.site_manager_hide_menu_layout{
	position: absolute;
	display: flex;
	flex-direction: column;
	z-index: 9999;
	padding: 8px 0;
	border: #dadada solid 1px;
	background: white;

}


.hide_menu_label_style{
	font-size: 13px;
	color: #8c989d;
	margin: 4px 12px 4px 32px;
	width: 70px;
	cursor: pointer
}
.hide_menu_label_style:hover{
	background: #afcef8
}

.add_web_item_layout{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 4px 0px;
}

.add_web_item_tag{
	color: #34495e;
	font-size: 13px;
	min-width: 84px;
	padding-right: 4px;
	text-align: right
}
.ivu-input{
	color: #8c989d;
	font-size: 13px;
}

.ivu-select-single .ivu-select-selection .ivu-select-placeholder, .ivu-select-single .ivu-select-selection .ivu-sele{
	font-size: 13px;
}

.ivu-select-item{
	color: #8c989d;
}

.add_web_item_input ::-webkit-input-placeholder{
	font-size: 13px;
	color: #8c989d
}    /* 使用webkit内核的浏览器 */

.add_web_item_input ::-moz-placeholder{
	font-size: 13px;
	color: #8c989d
}                  /* Firefox版本4-18 */

.add_web_item_input ::-moz-placeholder{
	font-size: 13px;
	color: #8c989d
}                  /* Firefox版本19+ */

.add_web_item_input ::-ms-input-placeholder{
	font-size: 13px;
	color: #8c989d
} 