<template>
	<div class="site_manager_container_layout" @click="mouseLeaveHideMenu">
		<div class="site_manager_container_left_layout">
			<div class="site_manager_left_title_layout">
				<img src="../../assets/menu.png" class="site_manager_left_title_img"/>
				<label class="common_label_style">网站分类</label>
			</div>
			<div class="common_horizontal_line"/>
			<div class="site_manager_left_title_layout">
				<Input v-model="classifySerchValue" placeholder="请输入搜索内容" style="width: 100%;" @on-enter='searchClassifyValue'>
					<Icon type="ios-search" slot="suffix" />
				</Input>
			</div>
			<div style="width: 100%;">
				<Tree :data="classifyData" :render="renderCommonContent" empty-text=""></Tree>
			</div>
			<div class="site_manage_add_classify_button_layout">
				<label class="site_manage_add_classify_button" @click="createOneClassify">添加分类</label>
			</div>
			<div class="site_manager_hide_menu_layout" :style="{left:hideMenuLeft+'px',top:hideMenuTop + 'px',display:hideMenuShow}" @mouseleave="mouseLeaveHideMenu">
				<div style="display: flex;flex-direction: row;align-items: center;" :style="{display:hideMenuShowAdd?'':'none'}">
					<img src="../../assets/report.png" style="margin-left: 12px;"/>
					<label class="hide_menu_label_style" style="margin-left: 4px;" @click="clickAddNewClassify">添加子分类</label>
				</div>
				<div style="display: flex;flex-direction: row;align-items: center;">
					<img src="../../assets/delete_orange.png" style="margin-left: 12px;"/>
					<label class="hide_menu_label_style" style="margin-left: 4px;"@click="clickDeleteClassify">删除</label>
				</div>
				
				<label class="hide_menu_label_style" @click="clickRenameClassify">重命名</label>
				<div class="common_horizontal_line"></div>
				<label class="hide_menu_label_style" @click="clickMoveClassify(true)" :style="{display:hideMenuShowUp?'':'none'}">上移</label>
				<label class="hide_menu_label_style" @click="clickMoveClassify(false)" :style="{display:hideMenuShowDown?'':'none'}">下移</label>
			</div>
		</div>
		<div class="common_vertical_thick_line" />
		<div class="site_manager_container_right_layout">
			<div class="site_manager_horizontal_layout" style="padding:12px 24px;">
				<label class="common_label_style" style="font-weight: bold;min-width: 200px;">筛选条件</label>
				<div class="site_manager_horizontal_layout" style="display: block">
					<div style="float: right;display: flex;flex-direction: row;align-items: center;">
						<Select v-model="queryWebSiteCondition.searchField" class="modal_content_select" style="width: 100px;">
							<Option value="siteName" style="color: #8c989d;">网站</Option>
							<Option value="contact" style="color: #8c989d;">负责人</Option>
						</Select>
						<Input placeholder="请输入网站名称" style="width: 150px;margin-left: 4px;" v-model="queryWebSiteCondition.searchValue" @on-enter="getWebSiteData">
							<Icon type="ios-search" slot="suffix"  @click="searchForcondition"/>
						</Input>
					</div>
				</div>
			</div>
			<div class="common_horizontal_line"/>
			<div class="site_manager_horizontal_layout" style="align-items: center; height: 40px; padding: 0px 24px;margin-top: 12px;">
				<label class="common_small_label_style" style="padding-right: 12px;min-width: 80px;">主办单位：</label>
				<label class="common_label_style" style="padding-right:50px; cursor: pointer;" :style="{color:item.selected?'#3c7af9':'#34495e'}" v-for="(item,index) in organizers" @click="selectOrganizers(index)">{{item.label}}</label>
			</div>
			<div class="site_manager_horizontal_layout" style="align-items: center;padding: 8px 24px;">
				<label class="common_small_label_style" style="padding-right: 12px;min-width: 80px;">网站等级：</label>
				<label class="common_label_style" style="padding-right:50px; cursor: pointer;" :style="{color: item.selected?'#3c7af9':'#34495e'}" v-for="(item,index) in siteGrade" @click="selectSiteWebGrade(index)">{{item.label}}</label>
			</div>
			<div class="site_manager_horizontal_layout" style="padding: 8px 24px;margin-bottom: 12px;">
				<label class="common_small_label_style" style="padding-right: 12px;min-width: 80px;">所属地域：</label>
				<label class="common_label_style" style="padding-right:50px; cursor: pointer;float: left;min-width: 77px" :style="{color: allProvinceItem.selected?'#3c7af9':'#34495e'}" @click="selectSiteWebArea(-1)">全省</label>
				<div style="display: block;">
					<label class="common_label_style" style="padding-right:50px; cursor: pointer;float: left;" :style="{color: item.selected?'#3c7af9':'#34495e'}" v-for="(item,index) in cityData" @click="selectSiteWebArea(index)">{{item.label}}</label>
				</div>
			</div>
			<div class="common_horizontal_thick_line" style="background: #e8eaec;"/>
			
			<div class="site_manager_horizontal_layout" style="padding:12px 24px;">
				<div style="display: flex;flex-direction: row;align-items: center; min-width: 80px;margin-right: 24px;cursor: pointer;" @click="batchDeletewebsites">
					<img src="../../assets/delete.png" style="width: 14px;margin-right: 4px;height: auto;cursor: pointer;"/>
					<label class="common_small_label_style" style="cursor: pointer;">批量删除</label>
				</div>
				<div style="display: flex;flex-direction: row;align-items: center;margin-right: 24px; min-width: 60px;cursor: pointer;" @click="exportWebData">
					<img src="../../assets/export.png" style="width: 14px;margin-right: 4px;height: auto;cursor: pointer;"/>
					<label class="common_small_label_style" style="cursor: pointer;">导出</label>
				</div>
				<div style="display: flex;flex-direction: row;align-items: center;margin-right: 24px; min-width: 120px;cursor: pointer;" @click="batchUpdateCategory">
					<img src="../../assets/edit.png" style="width: 14px;margin-right: 4px;height: auto; cursor: pointer;"/>
					<label class="common_small_label_style" style="cursor: pointer;">批量修改分类</label>
				</div>
				<div class="site_manager_horizontal_layout" style="display: block">
					<div style="float: right;display: flex;flex-direction: row;align-items: center;">
						<div style="display: flex;flex-direction: row;align-items: center; cursor: pointer;" @click="importButtonClick">
							<img src="../../assets/import.png" style="width: 18px;margin-right: 4px;height: auto;cursor: pointer;"/>
							<label class="common_small_label_style" style="cursor: pointer;">导入网站</label>
						</div>
						<div style="display: flex;flex-direction: row;align-items: center;margin-left: 24px;cursor: pointer;" @click="clickAddOrCancelNewWebsite(true)">
							<img src="../../assets/add_bule.png" style="width: 14px;margin-right: 4px;height: auto;cursor: pointer;"/>
							<label class="common_small_label_style" style="color: #4889ff;cursor: pointer;">添加网站</label>
						</div>
					</div>
				</div>
			</div>
			<Table ref="selection" :columns="webTableColumnList" :data="webTableData" @on-select="selectItem" @on-select-cancel="cancelSelectItem" @on-select-all="selectAllItem" @on-select-all-cancel="cancelSelectAllItem">
				<template slot-scope="{row,index}" slot="no">
					<label style="font-size: 14px;">{{(queryWebSiteCondition.page_no-1)* queryWebSiteCondition.page_size+index + 1}}</label>
				</template>
				<template slot-scope="{row}" slot="siteName">
					<div style="display: flex;flex-direction: row;align-items: center;">
						<label class="site_manager_web_table_name_label" :style="{background:row.level == 'A'?'#fc5560':row.level == 'B'?'#3c7af9':'#28e1a8'}">{{row.level}}</label>
						<label style="font-size: 13px;">{{row.siteName}}</label>
					</div>
				</template>
				<template slot-scope="{ row, index }" slot="action">
					<a style="margin-right: 12px;font-size: 13px;" @click="clickEditWebSite(index)">修改</a>
					<a style="font-size: 13px;" @click="clickDeleteWebSite(index)">删除</a>
				</template>
			</Table>
			<div style="width: 100%;height:80px; padding: 24px 60px 0 24px;" :style="{visibility: webTableData.length == 0?'hidden':''}">
				<label class="common_small_label_style" >共{{webSiteAllCount}}条</label>
				<Page :total="webSiteAllCount" show-elevator show-sizer style="float: right;" @on-change="wepPageChange" @on-page-size-change="pageSizeChange"/>
			</div>
		</div>
			
		<Modal v-model="importModalShow" width="500">
			<p slot="header" style="display:block;height:100%; color:white;background: #4681fa;">
				<span>导入网站</span>
			</p>
			<div style="padding: 20px 50px 0 50px;display: flex;flex-direction: column;align-items: center;">
				
<!-- 				<div style="padding: 30px;display: flex;flex-direction: column;align-items: center;border: #dadada dashed 1px;height: 230px;display: none;" >
					<img src="../../assets/excel.png" style="width: 160px;height: 128px;"/>
					<p style="color: #8c989d;font-size: 14px;">请将文件拖拽到此处</p>
					<p style="color: #fac888;font-size: 12px;">选择文件（目前只支持Excel文件，最大不超过50M）</p>
				</div> -->
				
				<div style="display: flex;flex-direction: column; width: 100%;height: 230px;display: none;" :style="{display: uploadProgressShow?'flex':'none'}">
					<p style="color: #5a5a5a;font-size: 14px;margin-top: 60px;margin-bottom: 20px;">正在{{uploadHint}}，请耐心等候...</p>
					<Progress :percent="uploadProgress" status="active">
						<span>{{uploadStatus}}</span>
					</Progress>
					<p style="color: #5a5a5a;font-size: 12px;margin-top: 10px;">请勿刷新页面！可能会导致数据导入失败</p>
				</div>
				
				<Upload
					type="drag"
					show-upload-list=false
					:headers="uploadHeader"
					:before-upload="beforeUpload"
					:format="['xls','xlsx',]"
					:max-size="51250"
					:on-format-error="handleFormatError"
					:on-exceeded-size="handleMaxSize"
					:action= uploadUrl>
					<div style="padding: 30px;height: 230px;" :style="{display: uploadProgressShow?'none':''}">
						<img src="../../assets/excel.png" style="width: 160px;height: 128px;"/>
						<p style="color: #8c989d;font-size: 14px;">{{uploadFIleNameHint}}</p>
						<p style="color: #fac888;font-size: 12px;">选择文件（目前只支持Excel文件，最大不超过50M）</p>
					</div>
				</Upload>	
			</div>
			 <div slot="footer" style="display: flex;flex-direction: row;align-items: center;" :style="{display: uploadProgressShow?'none':'flex'}">
				 <Upload
					show-upload-list=false
				 	:headers="uploadHeader"
					:before-upload="beforeUpload"
				 	:format="['xls','xlsx',]"
				 	:max-size="51250"
				 	:on-format-error="handleFormatError"
				 	:on-exceeded-size="handleMaxSize"
				 	:action= uploadUrl>
					<Button size="large" type="primary" style="width: 100px;margin:5px 20px 0 120px">选择文件</Button>
				 </Upload>	
			    <Button size="large" style="width: 100px;" @click="uploadStart">上传</Button>
			</div>
		</Modal>
	
		<Modal v-model="addWebModalShow" width="500" >
			<p slot="header" style="display:block;height:100%; color:white;background: #4681fa;">
				<span>{{addOrEditModalTitle}}</span>
			</p>
			<div style="padding: 0px 20px">
				<div class="add_web_item_layout">
					<label class="add_web_item_tag">网站名称：</label>
					<Input class="add_web_item_input" v-model="newSiteWeb.siteName" placeholder="请输入网站名称"/>
				</div>
				<div class="add_web_item_layout">
					<label class="add_web_item_tag">网站等级：</label>
					<Select placeholder="请选择网站等级" v-model="newSiteWeb.level">
						<Option v-for="(item,index) in siteGradeStrings" :value="item">{{ item}}</Option>
					</Select>
				</div>
				<div class="add_web_item_layout">
					<label class="add_web_item_tag">网站分类：</label>
					<Select placeholder="请选择网站分类" v-model="newSiteWeb.categoryString">
						<Option v-for="(item,index) in classifySelectData" :value="item.id">{{ item.title }}</Option>
					</Select>
				</div>
				<div class="add_web_item_layout">
					<label class="add_web_item_tag">域名：</label>
					<Input class="add_web_item_input" v-model="newSiteWeb.domainName" placeholder="请输入域名"/>
				</div>
				<div class="add_web_item_layout">
					<label class="add_web_item_tag">主办单位：</label>
					<Select placeholder="请选择主办单位" v-model="newSiteWeb.organizerNature">
						<Option v-for="(item,index) in organizersStrings" :value="item.no">{{item.label}}</Option>
					</Select>
				</div>
				<div class="add_web_item_layout">
					<label class="add_web_item_tag">地域：</label>
					<Select placeholder="请选择地域" v-model="newSiteWeb.city">
						<Option v-for="(item,index) in cityDataStrings" :value="item">{{item}}</Option>
					</Select>
				</div>
				<div class="add_web_item_layout">
					<label class="add_web_item_tag">备案号：</label>
					<Input class="add_web_item_input" v-model="newSiteWeb.icpNo"  placeholder="请输入备案号"/>
				</div>
				<div class="add_web_item_layout">
					<label class="add_web_item_tag">网站负责人：</label>
					<Input class="add_web_item_input" v-model="newSiteWeb.contact"  placeholder="请输入网站负责人"/>
				</div>
				<div class="add_web_item_layout">
					<label class="add_web_item_tag">联系方式：</label>
					<Input class="add_web_item_input" v-model="newSiteWeb.phone" placeholder="请输入联系方式"/>
				</div>
			</div>
			<div slot="footer">
				<Button size="large" style="width: 100px;" @click="clickAddOrCancelNewWebsite(false)">取消</Button>
				<Button type="primary" size="large" style="width: 100px;" @click="clickAddNewWebSite()">确认</Button>
			</div>
		</Modal>

        <Modal v-model="batchUpdateCategoryModalShow" width="500" >
            <p slot="header" style="display:block;height:100%; color:white;background: #4681fa;">
                <span>批量修改分类</span>
            </p>
            <div style="padding: 0px 20px">
                <div class="add_web_item_layout">
                    <label class="add_web_item_tag">网站分类：</label>
                    <Select placeholder="请选择网站分类" v-model="batchUpdateCategoryId">
                        <Option v-for="(item,index) in classifySelectData" :value="item.id">{{ item.title }}</Option>
                    </Select>
                </div>
            </div>
            <div slot="footer">
                <Button size="large" style="width: 100px;" @click="cancelBatchUpdateCategory">取消</Button>
                <Button type="primary" size="large" style="width: 100px;" @click="confirmBatchUpdateCategory">确认</Button>
            </div>
        </Modal>
		
		<Modal v-model="selectClassifyModalShow" width="500" >
			<p slot="header" style="display:block;height:100%; color:white;background: #4681fa;">
				<span>选择分类</span>
			</p>
			<div style="padding: 0px 20px">
				<ClassifyView :classify_data="requestClassifyData"/>
			</div>
			<div slot="footer">
				<Button size="large" style="width: 100px;" @click="cancelBatchUpdateCategory">取消</Button>
				<Button type="primary" size="large" style="width: 100px;" @click="confirmBatchUpdateCategory">确认</Button>
			</div>
		</Modal>

		<Modal v-model="deleteWebsiteModalShow" width="400">
			<p slot="header" style="display:block; text-align: center; height:100%; color:white;background: #4681fa;">
				<span>删除确认</span>
			</p>
			<div style="text-align:center">
				<label class="common_label_style">是否确定删除 <span style="color: red;">{{deleteWebsiteItem.siteName}}</span> ?</label>
			</div>
			<div slot="footer">
				<Button size="large" style="width: 100px;" @click="cancelDeleteWebsite">取消</Button>
				<Button type="primary" size="large" style="width: 100px;" @click="deleteConfirmWebsite">确认</Button>
			</div>
		</Modal>
		
		<Modal v-model="deleteClassifyHintShow" width="400">
			<p slot="header" style="display:block; text-align: center; height:100%; color:white;background: #4681fa;">
				<span>删除确认</span>
			</p>
			<div style="text-align:center">
				<label class="common_label_style">{{commonHintContent}}</label>
			</div>
			<div slot="footer">
				<Button size="large" style="width: 100px;" @click="cancleDeleteClassify">取消</Button>
				<Button type="primary" size="large" style="width: 100px;" @click="confirmDeleteClassify">确认</Button>
			</div>
		</Modal>
		
        <Modal v-model="batchDeletewebsitesModalShow" width="400">
            <p slot="header" style="display:block; text-align: center; height:100%; color:white;background: #4681fa;">
                <span>批量删除确认</span>
            </p>
            <div style="text-align:center">
                <label class="common_label_style">是否确定批量删除？</label>
            </div>
            <div slot="footer">
                <Button size="large" style="width: 100px;" @click="cancelBatchDeletewebsites">取消</Button>
                <Button type="primary" size="large" style="width: 100px;" @click="ConfirmBatchDeletewebsites">确认</Button>
            </div>
        </Modal>
	</div>
</template>

<script>
	import ApiRequest from '@/api/apiRequest.js'
	import ClassifyView from '@/components/classify_view/classify_view.vue'
	import config from '@/config'
	const baseUrl = process.env.NODE_ENV === 'development' ? config.baseUrl.dev : config.baseUrl.pro
	function getRotate(element){
		var st = window.getComputedStyle(element, null);
		var tr = st.getPropertyValue("-webkit-transform") ||
		st.getPropertyValue("-moz-transform") ||
		st.getPropertyValue("-ms-transform") ||
		st.getPropertyValue("-o-transform") ||
		st.getPropertyValue("transform") ||
		"FAIL";
		var values = tr.split('(')[1].split(')')[0].split(',');
		var a = values[0];
		var b = values[1];
		var c = values[2];
		var d = values[3];
		var scale = Math.sqrt(a * a + b * b);
		var sin = b / scale;
		var angle = Math.round(Math.atan2(b, a) * (180 / Math.PI));
		return angle
	}

    function isHaveThePermission(permissionList, operationName){
        var haveTheRight = true

        for (var i = 0; i < permissionList.length; i++) {
            if(permissionList[i].permission_name == operationName){
                if(permissionList[i].status == 1){
                    haveTheRight = true
                }else {
                    haveTheRight = false
                }
            }
        }
        return haveTheRight
    }
	
	export default{
		name:'SiteManagerContent',
		components: {
			ClassifyView
		},
		data(){
			return{
				uploadFIleNameHint:'请将文件拖拽到此处',
				uploadHint:"上传",
				uploadStatus:'0%',
				uploadProgress:0,
				uploadProgressShow:false,
				uploadFile:[],
				allProvinceItem:{
					label:'全省',
					selected:true
				},
				uploadUrl:baseUrl + 'sitems/excel/upload',
				classifySerchValue:'',
				deleteClassifyHintShow:false,
				commonHintContent:'',
				//是否显示分类选择菜单
				selectClassifyModalShow:false,
				//主板单位，没有‘全部’，在添加网站的时候用到
				organizersStrings:[
					{
						label:'个人',
						no:'2000'
					},
					{
						label:'企业',
						no:'2001'
					},
					{
						label:'事业单位',
						no:'2002'
					},
					{
						label:'社会团体',
						no:'2003'
					},
					{
						label:'政府机关',
						no:'2004'
					},
					{
						label:'其他',
						no:'2999'
					}
				],
				//网站等级，没有‘全部’选项，同上
				siteGradeStrings:['A','B','C'],
				//地域等级，没有‘全部’选项，同上
				cityDataStrings:[],
				//主办单位，上部菜单
				organizers:[
					{
						label:'全部',
						selected:true,
						no:''
					},
					{
						label:'个人',
						selected:false,
						no:'2000'
					},
					{
						label:'企业',
						selected:false,
						no:'2001'
					},
					{
						label:'事业单位',
						selected:false,
						no:'2002'
					},
					{
						label:'社会团体',
						selected:false,
						no:'2003'
					},
					{
						label:'政府机关',
						selected:false,
						no:'2004'
					},
					{
						label:'其他',
						selected:false,
						no:'2999'
					}
				],
				//等级筛选，上部菜单
				siteGrade:[
					{
						label:'全部',
						selected:true
					},
					{
						label:'A级',
						selected:false
					},
					{
						label:'B级',
						selected:false
					},
					{
						label:'C级',
						selected:false
					}
				],
				//地域筛选，上部菜单
				cityData:[],
				//左侧分类数据
				classifySelectData:[],
				//添加网站上传数据，因为是json，可以直接使用实体类操作
				newSiteWeb:{
					id:'',
					siteName:'',
					level:'C',
					categoryString:'',
					category:[],
					domainName:'',
					organizer:'',
                    organizerNature: '',
					province:'',
					city:'',
					icpNo:'',
					contact:'',
					phone:''
				},
				//查询，包含所有的查询条件，如果没有，就直接是空字符串即可，具体的字段含义根据api文档
				queryWebSiteCondition:{
					page_no:1,
					page_size:10,
					province:'',
					city:'',
					organizerNature:'',
					category:'',
					searchField:'siteName',
					searchValue:'',
					level:''
				},
				//记录输入的分类名称
				recordRename:'',
				//是否显示分类右击显示的菜单
				hideMenuShow:'none',
				hideMenuLeft:0,
				hideMenuTop:0,
				//下面三个已经处理好了，你不需要知道
				hideMenuShowAdd:true,
				hideMenuShowUp:true,
				hideMenuShowDown:true,
				//左侧所有分类数据
				classifyData:[],
				//当前操作的分类数据
				currentSelectClassifyData:null,
                buttonProps: {
                    type: 'default',
                    size: 'small',
                },
				uploadHeader:{
					sitems_token:'575'
				},
				importModalShow:false,
				addWebModalShow:false,
                addOrEditModalTitle:'添加网站',
                deleteWebsiteModalShow: false,
                deleteWebsiteItem: {},
                deleteWebsiteItemIndex: 0,
				//是否全选
				selectAll:false,
				//所有网站的数量
				webSiteAllCount:0,
				webTableColumnList:[
					{
		                type: 'selection',
		                width: 60,
		                align: 'center'
		            },
		            {
		                title: '编号',
		                key: 'no',
						width: 120,
						slot: 'no',
						align: 'center'
		            },
		            {
		                title: '网站名称',
						slot: 'siteName',
						// width: 300,
		                key: 'siteName'
		            },
		            {
		                title: 'URL',
						//width: 300,
		                key: 'domainName'
		            },
					{
					    title: '备案号',
					    key: 'icpNo',
						//width: 300,
						align: 'center'
					},
					{
					    title: '地域',
					    key: 'city',
						//width: 100,
						align: 'center'
					},
					{
					    title: '网站分类',
					    key: 'categoryName',
						align: 'center'
					},
					{
					    title: '主办单位',
					    key: 'organizerNatureName',
						align: 'center'
					},
					{
					    title: '操作',
						width: 120,
						slot: 'action',
					    key: 'action',
						align: 'center'
					},
				],
				webTableData:[],
                selectedItemsIdsData: [],
                batchUpdateCategoryData: [],
                batchUpdateCategoryId: '',
                batchUpdateCategoryModalShow: false,
                batchDeletewebsitesModalShow: false,

				currentAddWebSite:true,
				currentEditWebSiteData:null,		
				requestClassifyData:null,
				webSelectData:[],


                rolePermissions: [],
                pagePermissions: []
			}
		},
		mounted(){
			this.initData()
            this.getpermission()
		},

		methods:{
		    getpermission(){
                this.rolePermissions = JSON.parse(localStorage.getItem('rolePermissions'))
                //console.log(this.rolePermissions)
                for (var i = 0; i < this.rolePermissions.length; i++) {
                    var item = this.rolePermissions[i]
                    if(item.module_name == "网站管理"){
                        this.pagePermissions = item.permissionList
                        //console.log(this.pagePermissions)
                    }
                }
			},
			wepPageChange(page){
				this.queryWebSiteCondition.page_no = page
				this.getWebSiteData()
			},
			pageSizeChange(pagerSize){
				this.queryWebSiteCondition.page_size = pagerSize
				this.getWebSiteData()
			},
			searchClassifyValue(){
				// if(this.classifySerchValue.trim() == '' && this.queryWebSiteCondition.category != ''){
				// 	this.clickSelectClassify(this.classifyData[0])
				// }else{
				// 	this.expendSearchClassify(this.classifyData,this.classifySerchValue)
				// }
				if(this.classifySerchValue.trim() == ''){
					return
				}else{
					this.expendSearchClassify(this.classifyData,this.classifySerchValue)
				}
				
			},
			
			cancleDeleteClassify(){
				this.deleteClassifyHintShow = false
			},
			
			confirmDeleteClassify(){
				this.deleteClassifyHintShow = false
				ApiRequest.deleteClassify(this.currentSelectClassifyData.id).then(res =>{
					if(res.data.code == 0){
						if(this.currentSelectClassifyData != null){
							var position = this.currentSelectClassifyData.position
							var values = position.split('')
							if(values != null && values.length > 0){
								var positions = values.map(Number)
								if(positions.length == 1){
									this.classifyData.splice(positions[0],1)
								}else if(positions.length == 2){
									this.classifyData[positions[0]].children.splice(positions[1],1)
								}else if(positions.length == 3){
									this.classifyData[positions[0]].children[positions[1]].children.splice(positions[2],1)
								}
							}
						}
						this.currentSelectClassifyData = null
						this.resetClassifySort()
						this.classifySelectData.length = 0
						this.resetClassifySelectData(this.classifyData)
						this.classifySelectData.shift()
						this.queryWebSiteCondition.category = ''
						this.getWebSiteData()
					}else{
						this.$Message.error(res.data.message)
					}
				})
			},
			
			expendSearchClassify(data,value){
				var result = false;
				for (var i = 0; i < data.length; i++) {
					var item = data[i]
					if(item.children != null && item.children.length > 0){
						var resultChildren = this.expendSearchClassify(item.children,value)
						if(resultChildren){
							item.expand = true
							result = true
						}
					}
					if(item.title.indexOf(value) != -1){
						//this.clickSelectClassify(item)
						result = true
					}
					
				}
				return result
			},
			
			cancelSelectClassify(data){
				for (var i = 0; i < data.length; i++) {
					var item = data[i]
					item.selected = false
					if(item.children != null && item.children.length > 0){
						this.cancelSelectClassify(item.children)
					}
				}
			},
			
			renderOneClassfyContent(h, { root, node,data}){
				return h('div', {
					attrs: {
						'class':'menu_item_style',
					},
				}, [
					h('img',{
						attrs: {
							'class':'site_manager_left_title_img',
							src:require('../../assets/folder.png')
						},
						on:{
							click: () => { this.clickModalExpendClassifyData(data,'')}
						}
					}),
					h('div',{
						attrs:{
							'class':'menu_item_input_layout_style',
						},
						style: {
							display:data.showInput?'flex':'none',
						}
					},[
						h('i-input',{
							props:{
								placeholder:'输入分类名称',
								value:data.title,
								size:'small'
							},
							style: {
								fontSize:'13px',
								color:'#34495e',
								width:'100px'
							},
							on:{
								'on-change':(event)=>{
									this.recordRename = event.target.value
								},
							}
						}),
						h('img',{
							attrs: {
								'class':'menu_item_input_button_style',
								src:require('../../assets/ok.png')
							},
							on: {
                                click: () => { 
									this.requestAddClassify(data) 
									event.cancelBubble = true; 
								}
                            }
						}),
						h('img',{
							attrs: {
								'class':'menu_item_input_button_style',
								src:require('../../assets/no.png')
							},
							on: {
							    click: () => { this.cancelEditClassify() }
							}
						}),
					]),
					h('div',{
						attrs:{
							'class':'menu_item_right_layout_container_style',
						},
						style: {
							display:data.showInput?'none':'flex',
						}
					},[
						h('label',{
							attrs:{
								'class':'common_label_style',
							},
							style: {
								cursor:'pointer',
								fontSize:'14px',
								display:data.showInput?'none':'initial',
								color:data.selected?'#3c7af9':'#34495e',
								fontWeight: data.selected?'bold':'normal'
							},
							on:{
								click: () => { 
									this.clickSelectClassify(data)
								}
							}
						},data.title + '(' + data.count +')'),
						h('div',{
							attrs:{
								'class':'menu_item_right_div_style',
							},
						},[
							h('div',{
								attrs:{
									'class':'menu_item_right_line_style',
								},
								style: {
									display: data.selected?'initial':'none'
								}
							}),
							h('img',{
								attrs:{
									'class': data.canShowMenu?'menu_item_right_image_style':'menu_item_right_image_style_hide',
									src:require('../../assets/menu_point.png')
								},
								on: {
								    click: (event) => { 
										this.hideMenuLeft =  event.clientX - 50
										this.hideMenuTop =  event.clientY + 14
										this.showHideMenu(data)
										event.cancelBubble = true; 
									}
								}
							}),
						]),
					]),
				]);
			},
			renderCommonContent (h, { root, node, data }) {
                return h('div', {
					attrs: {
						'class':'menu_item_style',
					},
					style:{
						paddingLeft:data.position.length > 2 ? '48px':'',
					}
                }, [
                    h('img',{
						attrs: {
							'id':'left_id_' + data.id,
							'class':'site_manager_submenu_img',
							src:require('../../assets/arrow_down.png')
						},
						style: {
							display:data.position.length >2 ? 'none':'',
						},
						on:{
							click: () => {
								this.clickModalExpendClassifyData(data,'left_id_' + data.id)
							}
						}
					}),
					
					h('div',{
						attrs:{
							'class':'menu_item_input_layout_style',
						},
						style: {
							display:data.showInput?'flex':'none',
						}
					},[
						h('i-input',{
							props:{
								placeholder:'输入分类名称',
								value:data.title,
								size:'small'
							},
							style: {
								fontSize:'13px',
								color:'#34495e',
								width:'100px'
							},
							on:{
								'on-change':(event)=>{
									this.recordRename = event.target.value
								},
							}
						}),
						h('img',{
							attrs: {
								'class':'menu_item_input_button_style',
								src:require('../../assets/ok.png')
							},
							on: {
							    click: () => { 
									this.requestAddClassify(data)
									event.cancelBubble = true; 
								}
							}
						}),
						h('img',{
							attrs: {
								'class':'menu_item_input_button_style',
								src:require('../../assets/no.png')
							},
							on: {
							    click: () => { this.cancelEditClassify() }
							}
						}),
					]),
					h('div',{
						attrs:{
							'class':'menu_item_right_layout_container_style',
						},
						style: {
							display:data.showInput?'none':'flex',
						}
					},[
						h('label',{
							attrs:{
								'class':'common_small_label_style',
							},
							style: {
								cursor:'pointer',
								display:data.showInput?'none':'initial',
								color:data.selected?'#3c7af9':'#8c989d',
								fontWeight: data.selected?'bold':'normal'
							},
							on:{
								click: () => { 
									this.clickSelectClassify(data)
								}
							}
						},data.title + ' ( ' + data.count +' ) '),
						h('div',{
							attrs:{
								'class':'menu_item_right_div_style',
							},
						},[
							h('div',{
								attrs:{
									'class':'menu_item_right_line_style',
								},
								style: {
									display: data.selected?'initial':'none'
								}
							}),
							h('img',{
								attrs:{
									'class':'menu_item_right_image_style',
									src:require('../../assets/menu_point.png')
								},
								on: {
								    click: (event) => { 
										this.hideMenuLeft =  event.clientX - 50
										this.hideMenuTop =  event.clientY + 14
										this.showHideMenu(data)
										event.cancelBubble = true; 
									}
								}
							})
						]),
					]),
                ]);
            },
			
			modalOneClassfyContent(h, { root, node,data}){
				return h('div', {
					attrs: {
						'class':'menu_item_style',
					},
				}, [
					h('img',{
						attrs: {
							'class':'site_manager_left_title_img',
							src:require('../../assets/folder.png')
						},
						on:{
							click: () => {
								this.clickModalExpendClassifyData(data,'')
							}
						}
					}),
					h('div',{
						attrs:{
							'class':'menu_item_right_layout_container_style',
						}
					},[
						h('label',{
							attrs:{
								'class':'common_label_style',
							},
							style: {
								cursor:'pointer',
								fontSize:'14px',
								display:data.showInput?'none':'initial',
								color:data.selected?'#3c7af9':'#34495e',
								fontWeight: data.selected?'bold':'normal'
							},
							on:{
								click: () => { 
									this.clickModalSelectClassify(data)
								}
							}
						},data.title)
					]),
				]);
			},
			modalCommonContent (h, { root, node, data }) {
			    return h('div', {
					attrs: {
						'class':'menu_item_style',
					},
					style:{
						paddingLeft:data.position.length > 2 ? '48px':'',
					}
			    }, [
			        h('img',{
						attrs: {
							'id':'id_' + data.id,
							'class':'site_manager_submenu_img',
							src:require('../../assets/arrow_down.png')
						},
						style: {
							display:data.position.length >2 ? 'none':'',
						},
						on:{
							click: () => {
								this.clickModalExpendClassifyData(data,'id_' + data.id)
							}
						}
					}),
					h('div',{
						attrs:{
							'class':'menu_item_right_layout_container_style',
						}
					},[
						h('label',{
							attrs:{
								'class':'common_small_label_style',
							},
							style: {
								cursor:'pointer',
								display:data.showInput?'none':'initial',
								color:data.selected?'#3c7af9':'#8c989d',
								fontWeight: data.selected?'bold':'normal'
							},
							on:{
								click: () => { 
									this.clickModalSelectClassify(data)
								}
							}
						},data.title)
					]),
			    ]);
			},
			
			//初始化数据
			initData(){
				//获取分类列表数据
				ApiRequest.getClassifyList().then(res => {
					if(res.data.code == 0){
						this.classifySelectData.length = 0
						this.classifyData = this.recursionHandleClassifyData('',res.data.object)

						var item = {
							children:[],
							expand: false,
							id: '0000',
							parent_id: '-1',
							position: '0',
							canShowMenu:false,
							render: this.renderOneClassfyContent,
							selected: false,
							showInput: false,
							sort: '',
							count:0,
							title: '默认分类'
						}

						var classifyItem = {
							id:item.id,
							title:item.title
						}
						this.classifySelectData.unshift(classifyItem)

						this.classifyData.unshift(item)
						var item2 = {
							children:[],
							expand: false,
							id: '',
							count:0,
							canShowMenu:false,
							parent_id: '-1',
							position: '1',
							render: this.renderOneClassfyContent,
							selected: true,
							showInput: false,
							sort: '',
							title: '全部分类'
						}
						this.classifyData.unshift(item2)
						this.resetClassifySort()
						//获取地域数据
						ApiRequest.getSiteWebAreaData().then(res => {
							if(res.data.code == 0){
								this.newSiteWeb.province = res.data.object.name
								this.queryWebSiteCondition.province = res.data.object.name
								this.getWebSiteData()
								var citys = res.data.object.object
								if(citys != null && citys.length > 0){
									for (var i = 0; i < citys.length; i++) {
										var item = {
											label:citys[i].name,
											selected:false
										}
										this.cityData.push(item)
										this.cityDataStrings.push(citys[i].name)
									}
								}
							}
						})

					}else{
						this.$Message.error(res.data.message)
					}
				})
			},
			//根据条件查询网站列表，查询条件修改queryWebSiteCondition中的字段即可
			getWebSiteData(){
				this.queryWebSiteCondition.searchValue = this.queryWebSiteCondition.searchValue.trim()
				this.getClassifyWebDataCount()
				let that = this
				ApiRequest.getWebSiteData(this.queryWebSiteCondition).then(res => {
					if(res.data.code == 0){
						that.webSiteAllCount =  Number(res.data.object.count)
						var dataArray = res.data.object.result
						//console.log(dataArray)
                        for (var i = 0; i < dataArray.length; i++) {
                            dataArray[i].organizerNatureName = organizerCodeToName(dataArray[i].organizerNature)
							if(dataArray[i].category.length > 0){
								dataArray[i].categoryName = getCategoryName(this.classifySelectData, dataArray[i].category[dataArray[i].category.length - 1])
							}else{
								dataArray[i].categoryName = getCategoryName(this.classifySelectData,'')
							}
                        }
						that.webTableData = res.data.object.result
					}
				})
			},
			
			getClassifyWebDataCount(){
				ApiRequest.getClassifyWebDataCount(this.queryWebSiteCondition).then(res => {
					if(res.data.code == 0){

					    //console.log(res)
						this.resetClassifyCountDataZero(this.classifyData)
						var countData = res.data.object
						for(var key in countData){
							this.classifyData[0].count = this.classifyData[0].count + countData[key]
							if(key == ''){
								this.classifyData[1].count = countData[key]
							}else{
								this.resetClassifyCountData(this.classifyData,key,countData[key])
							}
						}
					}
				})
			},
			
			resetClassifyCountDataZero(data){
				for (var i = 0; i < data.length; i++) {
					var item = data[i]	
					item.count = 0
					if(item.children != null && item.children.length > 0){
						this.resetClassifyCountDataZero(item.children)
					}
				}
				return false
			},
			
			resetClassifyCountData(data,id,count){
				for (var i = 0; i < data.length; i++) {
					var item = data[i]	
					if(item.id == id){
						item.count = count
						return true
					}
					if(item.children != null && item.children.length > 0){
						var result = this.resetClassifyCountData(item.children,id,count)
						if(result){
							return true
						}
					}
				}
				return false
			},

            resetClassifyCountDataByChangeWebSite(data,id,addorRelease){
                for (var i = 0; i < data.length; i++) {
                    var item = data[i]
                    if(item.id == id){
                        if(addorRelease){
                            item.count = item.count + 1
						}else {
                            item.count = item.count - 1
						}
                        return true
                    }
                    if(item.children != null && item.children.length > 0){
                        var result = this.resetClassifyCountDataByChangeWebSite(item.children,id,addorRelease)
                        if(result){
                            return true
                        }
                    }
                }
                return false
            },
			
			resetClassifySelectData(data){
				for (var i = 0; i < data.length; i++) {
					var item = data[i]	
					var classifyItem = {
						id:item.id + '',
						title:item.title
					}
					if(item.id == '0000'){
						classifyItem.id = ''
					}
					this.classifySelectData.push(classifyItem)
					if(item.children != null && item.children.length > 0){
						this.resetClassifySelectData(item.children)
					}
				}
			},
			
			//递归的方式处理分类数据，可以不需要懂
			recursionHandleClassifyData(parent_index,data){
				var newData = []
				for (var i = 0; i < data.length; i++) {
					var item = data[i]		
					var classifyItem = {
						id:item.id,
						title:item.title
					}
					if(item.id == '0000'){
						classifyItem.id = ''
					}
					this.classifySelectData.push(classifyItem)
					var childrenData = []
					var currentIndex = parent_index + '' + i
					if(item.children != null && item.children.length > 0){
						childrenData = this.recursionHandleClassifyData(currentIndex,item.children)
					}
					var classify = {
						position:currentIndex,
						id:item.id,
						parent_id: item.parent_id,
						sort: item.sort,
						title: item.title,
						expand: false,
						canShowMenu:true,
						selected:false,
						count:0,
						showInput:false,
						render: this.renderOneClassfyContent,
						children: childrenData	
					}
					if(item.parent_id > 0){
						classify.render = this.renderCommonContent
					}
					newData.push(classify)
				}
				return newData;
			},
			
			recursionHandleModalClassifyData(parent_index,data){
				var newData = []
				for (var i = 0; i < data.length; i++) {
					var item = data[i]
					var childrenData = []
					var currentIndex = parent_index + '' + i
					if(item.children != null && item.children.length > 0){
						childrenData = this.recursionHandleModalClassifyData(currentIndex,item.children)
					}
					var classify = {
						position:currentIndex,
						id:item.id,
						parent_id: item.parent_id,
						title: item.title,
						expand: false,
						selected:false,
						render: this.modalOneClassfyContent,
						children: childrenData	
					}
					if(item.id == '0000'){
						classify.id = ''
					}
					
					if(item.parent_id > 0){
						classify.render = this.modalCommonContent
					}
					newData.push(classify)
				}
				return newData;
			},

			clickModalSelectClassify(data){
				if(this.currentSelectClassifyData != null){
					this.currentSelectClassifyData.selected = false
				}
				this.currentSelectClassifyData = data
				data.selected = true
			},
			
			clickModalExpendClassifyData(data,elementId){
				data.expand = !data.expand
				if(elementId != ''){
					var element=document.getElementById(elementId) 
					var rotate = 180
					if(!data.expand){
						rotate = 0
					}
					element.style.transform = "rotate(" + rotate + "deg)"
				}
			},

			//重新排序分类，每次添加、删除、移动分类的时候都需要排揎一下分类列表，便于操作
			resetClassifySort(){
				this.recursionHandleResetClassifySort('',this.classifyData)
			},
			
			recursionHandleResetClassifySort(parent_index,data){
				for (var i = 0; i < data.length; i++) {
					var item = data[i]
					var currentIndex = parent_index + '' + i
					item.position = currentIndex
					if(item.children != null && item.children.length > 0){
						this.recursionHandleResetClassifySort(currentIndex,item.children)
					}
				}
			},
			
			//创建分类
			createOneClassify(){
				this.cancelEditClassify()
				this.currentSelectClassifyData = null
				this.clickAddNewClassify()
			},
			//创建分类
			requestAddClassify(data){
				if(this.recordRename.trim() == ''){
					this.$Message.error('分类名称不能为空')
					return
				}
				if(this.recordRename.trim().length > 10){
					this.$Message.error('分类名称长度不能超过10个汉字')
					return
				}
				if(data.id > 0){
					var classify = {
						"id":data.id,
						"category_name":this.recordRename
					}
					ApiRequest.renameClassify(classify).then(res =>{
						if(res.data.code == 0){
							this.currentSelectClassifyData.title = this.recordRename
							this.currentSelectClassifyData.showInput = false
							this.classifySelectData.length = 0
							this.resetClassifySelectData(this.classifyData)
							this.classifySelectData.shift()
							this.getWebSiteData()
						}else{
							this.$Message.error(res.data.message)
						}
					})
					return
				}
				
				var classify = {
					"parent_id":data.parent_id,
					"category_name":this.recordRename
				}
				ApiRequest.createClassify(classify).then(res =>{
					if(res.data.code == 0){
						this.currentSelectClassifyData.id = res.data.object.id
						this.currentSelectClassifyData.title = res.data.object.category_name
						this.currentSelectClassifyData.sort = res.data.object.sort
						this.currentSelectClassifyData.showInput = false
						this.resetClassifySort()
					}else{
							this.$Message.error(res.data.message)
						}
				})
			},
			
			//取消编辑分类
			cancelEditClassify(){
				this.recordRename = ''
				if(this.currentSelectClassifyData == null || !this.currentSelectClassifyData.showInput){
					return
				}
				this.currentSelectClassifyData.showInput = false
				if(this.currentSelectClassifyData.id > 0){
					return
				}
				var position = this.currentSelectClassifyData.position
				var values = position.split('')
				if(values != null && values.length > 0){
					var positions = values.map(Number)
					var arr = []
					if(positions.length == 1){
						arr = this.classifyData
					}else if(positions.length == 2){
						arr = this.classifyData[positions[0]].children
					}else{
						arr = this.classifyData[positions[0]].children[positions[1]].children
					}
					arr.pop()
				}
				this.currentSelectClassifyData = null
			},
			mouseLeaveHideMenu(){
				if(this.hideMenuShow != 'none'){
					this.hideMenuShow = 'none'
				}
			},
			showHideMenu(data){
				this.cancelEditClassify()
				this.currentSelectClassifyData = data
				this.handleShowHideMenuButton()
				this.hideMenuShow = ''
			},
			//每次显示分类操作的菜单都需要判断哪些字段是否显示，比如上移或下移
			handleShowHideMenuButton(){
				var position = this.currentSelectClassifyData.position
				var values = position.split('')
				if(values != null && values.length > 0){
					var positions = values.map(Number)
					if(positions.length == 3){
						this.hideMenuShowAdd = false
					}else{
						this.hideMenuShowAdd = true
					}
					if(positions.length == 1 && positions[positions.length-1] <= 2 || positions[positions.length-1] == 0){
						this.hideMenuShowUp = false
					}else{
						this.hideMenuShowUp = true
					}
					var arr = []
					if(positions.length == 1){
						arr = this.classifyData
					}else if(positions.length == 2){
						arr = this.classifyData[positions[0]].children
					}else{
						arr = this.classifyData[positions[0]].children[positions[1]].children
					}
					
					if(positions[positions.length-1] == arr.length - 1){
						this.hideMenuShowDown = false
					}else{
						this.hideMenuShowDown = true
					}
				}
			},
			
			clickAddNewClassify(){
				this.hideMenuShow = 'none'
				var classify = {
					position:'0',
					id:-1,
					parent_id: -1,
					sort: 0,
					title: '',
					expand: false,
					selected:false,
					showInput:true,
					canShowMenu:true,
					count:0,
					render: this.renderOneClassfyContent,
					children: []	
				}
				if(this.currentSelectClassifyData == null){
					classify.render = this.renderOneClassfyContent
					this.classifyData.push(classify)
				}else{
					classify.render = this.renderCommonContent
					var position = this.currentSelectClassifyData.position
					var values = position.split('')
					if(values != null && values.length > 0){
						var positions = values.map(Number)
						var itemOne = this.classifyData[positions[0]]
						itemOne.expand = true
						if(positions.length == 1){
							classify.parent_id = itemOne.id
							if(itemOne.children != null && itemOne.children.length > 0){
								classify.sort = itemOne.children[itemOne.children.length-1].sort +1
								classify.position = itemOne.position + itemOne.children.length
							}else{
								classify.sort = 0
								classify.position = itemOne.position + 0
							}
							itemOne.children.push(classify)
						}else{
							var itemTwo = itemOne.children[positions[1]]
							itemTwo.expand = true
							classify.parent_id = itemTwo.id
							if(itemTwo.children != null && itemTwo.children.length > 0){
								classify.sort = itemTwo.children[itemTwo.children.length-1].sort +1
								classify.position = itemTwo.position + itemTwo.children.length
							}else{
								classify.sort = 0
								classify.position = itemTwo.position + 0
							}
							itemTwo.children.push(classify)
						}
					}
				}
				this.currentSelectClassifyData = classify
			},
			//删除分类
			clickDeleteClassify(){
				this.hideMenuShow = 'none'
				if(this.currentSelectClassifyData.count > 0){
					this.commonHintContent = this.currentSelectClassifyData.title + '分类中有网站存在，是否确定删除？'
				}else{
					this.commonHintContent = '是否确定删除分类 ' + this.currentSelectClassifyData.title
				}
				this.deleteClassifyHintShow = true
			},
			//重命名分类
			clickRenameClassify(){
				this.hideMenuShow = 'none'
				this.handelShowInputView(true)
			},
			//分类上移或下移
			clickMoveClassify(isUp){
				this.hideMenuShow = 'none'
				var position = this.currentSelectClassifyData.position
				var other = {}
				var otherPosition = 0
				var arr = []
				var values = position.split('')
				if(values != null && values.length > 0){
					var positions = values.map(Number)
					if(positions.length == 1){
						arr = this.classifyData
						if(isUp){
							otherPosition = positions[0] - 1
						}else{
							otherPosition = positions[0] + 1
						}
						other = this.classifyData[otherPosition]
					}else if(positions.length == 2){
						arr = this.classifyData[positions[0]].children
						if(isUp){
							otherPosition = positions[1] - 1
						}else{
							otherPosition = positions[1] + 1
						}
						other = this.classifyData[positions[0]].children[otherPosition]
					}else if(positions.length == 3){
						arr = this.classifyData[positions[0]].children[positions[1]].children
						if(isUp){
							otherPosition = positions[2] - 1
						}else{
							otherPosition = positions[2] + 1
						}
						other = this.classifyData[positions[0]].children[positions[1]].children[otherPosition]
					}
				}
				ApiRequest.moveClassify(other.id,this.currentSelectClassifyData.id).then(res =>{
					if(res.data.code == 0){
						var sortR = other.sort
						other.sort = this.currentSelectClassifyData.sort
						this.currentSelectClassifyData.sort = sortR
						arr.sort(compare)
						this.resetClassifySort()
					}else{
						this.$Message.error(res.data.message)
					}
				})
			},
			//显示添加分类或重命名分类的输入框
			handelShowInputView(isShow){
				if(this.currentSelectClassifyData != null){
					var position = this.currentSelectClassifyData.position
					var values = position.split('')
					if(values != null && values.length > 0){
						var positions = values.map(Number)
						if(positions.length == 1){
							this.classifyData[positions[0]].showInput = isShow
						}else if(positions.length == 2){
							this.classifyData[positions[0]].children[positions[1]].showInput = isShow
						}else if(positions.length == 3){
							this.classifyData[positions[0]].children[positions[1]].children[positions[2]].showInput = isShow
						}
					}
				}
			},
			//点击编辑网站
			clickEditWebSite(index){
                if(!isHaveThePermission(this.pagePermissions, "修改")){
                    this.$Message.error('暂无此权限！')
                    return
                }

				this.classifySelectData.length = 0
				this.resetClassifySelectData(this.classifyData)
                this.addOrEditModalTitle = '修改网站'
				var item = this.webTableData[index]
				this.currentEditWebSiteData = item
				this.newSiteWeb.id = item.id
				this.newSiteWeb.siteName = item.siteName
				this.newSiteWeb.level = item.level
				if(item.category.length > 0){
					this.newSiteWeb.categoryString = item.category[item.category.length - 1]
					this.newSiteWeb.category = item.category
				}
				this.newSiteWeb.domainName = item.domainName
				this.newSiteWeb.city = item.city
				this.newSiteWeb.icpNo = item.icpNo
				this.newSiteWeb.contact = item.contact
				this.newSiteWeb.phone = item.phone
                this.newSiteWeb.organizerNature = item.organizerNature
				this.addWebModalShow = true
				this.currentAddWebSite = false
			},
			//点击删除网站
            clickDeleteWebSite(index){
                if(!isHaveThePermission(this.pagePermissions, "删除")){
                    this.$Message.error('暂无此权限！')
                    return
                }
                var item = this.webTableData[index]
				this.deleteWebsiteItem = item
				this.deleteWebsiteItemIndex = index
				this.deleteWebsiteModalShow = true
			},
            //取消删除网站
            cancelDeleteWebsite(){
                this.deleteWebsiteModalShow = false
			},
            //确认删除网站
            deleteConfirmWebsite(){
                var classify = {
                    "id":this.deleteWebsiteItem.id
                }
                ApiRequest.deleteWebSite(classify).then(res =>{
                    if(res.data.code == 0){
                        this.deleteWebsiteModalShow = false
                        this.webTableData.splice(this.deleteWebsiteItemIndex,1)
                        this.webSiteAllCount -= 1
                        this.$Message.success(res.data.message)
						this.getWebSiteData()
                    }else{
                        this.$Message.error(res.data.message)
                    }
                })

			},
			//保存并提交添加的网站信息
			clickAddNewWebSite(){
				if(this.newSiteWeb.siteName.trim() == ''){
					this.$Message.error('网站名称不能为空')
					return
				}
				if(this.newSiteWeb.level.trim() == ''){
					this.$Message.error('请选择网站等级')
					return
				}
				var id = this.newSiteWeb.categoryString
				if(this.newSiteWeb.categoryString.trim() == ''){
					this.$Message.error('请选择网站分类')
					return
				}
				this.newSiteWeb.category = getSelectClassifyArr(this.classifyData,id)
				
				if(this.newSiteWeb.domainName.trim() == ''){
					this.$Message.error('域名不能为空')
					return
				}
				if(this.newSiteWeb.organizerNature.trim() == ''){
					this.$Message.error('请选择主办单位')
					return
				}
				if(this.newSiteWeb.city.trim() == ''){
					this.$Message.error('请选择区域')
					return
				}
				if(this.newSiteWeb.icpNo.trim() == ''){
					this.$Message.error('备案号不能为空')
					return
				}
				if(this.newSiteWeb.contact.trim() == ''){
					this.$Message.error('负责人不能为空')
					return
				}
				if(this.newSiteWeb.phone.trim() == ''){
					this.$Message.error('联系方式不能为空')
					return
				}else {
                    var myreg = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+\d{8})$/;
                    if(!myreg.test(this.newSiteWeb.phone.trim())) {
                        this.$Message.error('手机号格式不正确！')
                        return
                    }
                }
				if(this.currentAddWebSite){
					ApiRequest.addNewWebSite(this.newSiteWeb).then(res => {
						if(res.data.code == 0){
							this.addWebModalShow = false
							this.$Message.success(res.data.message)
							this.getWebSiteData()
							// var newItem = res.data.object
       //                      newItem.categoryName = getCategoryName(this.classifySelectData, newItem.category[0])
       //                      newItem.organizerNatureName = organizerCodeToName(newItem.organizerNature)
							// if(this.webTableData.length == this.queryWebSiteCondition.page_size){
       //                          this.webTableData.splice(this.queryWebSiteCondition.page_size - 1, 1)
							// }
       //                      this.webSiteAllCount += 1
       //                      this.webTableData.unshift(newItem);

						}else{
							this.$Message.error(res.data.message)
						}
					})
				}else{
				    //console.log(this.newSiteWeb)
					ApiRequest.editNewWebSite(this.newSiteWeb).then(res => {
						if(res.data.code == 0){
                            if(this.currentEditWebSiteData.category.length > 0){
                                if(this.currentEditWebSiteData.category[0] != this.newSiteWeb.categoryString){
									this.resetClassifyCountDataByChangeWebSite(this.classifyData,this.newSiteWeb.categoryString,true)
                                    this.resetClassifyCountDataByChangeWebSite(this.classifyData,this.currentEditWebSiteData.category[0],false)
                                }
                            }else{
                                this.resetClassifyCountDataByChangeWebSite(this.classifyData,this.newSiteWeb.categoryString,true)
                                this.resetClassifyCountDataByChangeWebSite(this.classifyData,'0000',false)

                            }

							this.currentEditWebSiteData.siteName = this.newSiteWeb.siteName
							this.currentEditWebSiteData.level = this.newSiteWeb.level
							this.currentEditWebSiteData.category[0] = this.newSiteWeb.categoryString
							this.currentEditWebSiteData.categoryName = getCategoryName(this.classifySelectData, this.currentEditWebSiteData.category[0])
							this.currentEditWebSiteData.domainName = this.newSiteWeb.domainName
							this.currentEditWebSiteData.city = this.newSiteWeb.city
							this.currentEditWebSiteData.icpNo = this.newSiteWeb.icpNo
							this.currentEditWebSiteData.contact = this.newSiteWeb.contact
							this.currentEditWebSiteData.phone = this.newSiteWeb.phone
							this.currentEditWebSiteData.organizerNature = this.newSiteWeb.organizerNature
							this.currentEditWebSiteData.organizerNatureName = organizerCodeToName(this.newSiteWeb.organizerNature)
							this.addWebModalShow = false
							this.$Message.success(res.data.message)
							//this.getClassifyWebDataCount()
						}else{
							this.$Message.error(res.data.message)
						}
						
					})
				}
			},
			
			//选择点击的分类
			clickSelectClassify(data){
				this.cancelSelectClassify(this.classifyData)
				this.cancelEditClassify()
				this.currentSelectClassifyData = data
				data.selected = true
				this.hideMenuShow = 'none'
				
				this.queryWebSiteCondition.page_no = 1
				this.queryWebSiteCondition.category = data.id + ''
				this.getWebSiteData()
			},
			rotateArrow(id){
				var element=document.getElementById(id) 
				var rotate = getRotate(element)
				if(rotate == 180){
					rotate = 0
				}else{
					rotate = 180
				}
				element.style.transform = "rotate(" + rotate + "deg)"
			},
			
			//选择主办单位
			selectOrganizers(index){
				this.queryWebSiteCondition.page_no = 1
				for (var i = 0; i < this.organizers.length; i++) {
					this.organizers[i].selected = false
					if( i == index){
						this.organizers[i].selected = true
						this.queryWebSiteCondition.organizerNature = this.organizers[i].no
					}
				}
				this.getWebSiteData()
			},
			//选择网站等级
			selectSiteWebGrade(index){
				this.queryWebSiteCondition.page_no = 1
				for (var i = 0; i < this.siteGrade.length; i++) {
					if(i == index){
						this.siteGrade[i].selected = true
						this.queryWebSiteCondition.level = this.siteGrade[i].label.slice(0,1)
						if(index == 0){
							this.queryWebSiteCondition.level = ''
						}
					}else{
						this.siteGrade[i].selected = false
					}
				}
				this.getWebSiteData()
			},
			//选择网站地域
			selectSiteWebArea(index){
				this.queryWebSiteCondition.page_no = 1
				if(index < 0){
					this.allProvinceItem.selected = true
					this.queryWebSiteCondition.city = ''
				}else{
					this.allProvinceItem.selected = false	
				}
				for (var i = 0; i < this.cityData.length; i++) {
					if(i == index){
						this.cityData[i].selected = true
						this.queryWebSiteCondition.city = this.cityData[i].label
					}else{
						this.cityData[i].selected = false
					}
				}
				this.getWebSiteData()
			},
			//搜索框
            searchForcondition(){
			    if(this.queryWebSiteCondition.searchValue.length == 0){
			        return
				}else {
                    this.getWebSiteData()
				}
			},

			//点击添加网站
			clickAddOrCancelNewWebsite(isAdd){
                if(!isHaveThePermission(this.pagePermissions, "添加")){
                    this.$Message.error('暂无此权限！')
                    return
                }
				this.classifySelectData.length = 0
				this.resetClassifySelectData(this.classifyData)
				this.classifySelectData.shift()
				if(isAdd){
                    this.addOrEditModalTitle = '添加分类'
					this.newSiteWeb.id = ''
                    this.newSiteWeb.siteName = ''
					this.newSiteWeb.categoryString = '',
                    this.newSiteWeb.level = [0]
                    this.newSiteWeb.domainName = ''
                    this.newSiteWeb.organizer = ''
                    this.newSiteWeb.city = ''
                    this.newSiteWeb.icpNo = ''
                    this.newSiteWeb.contact =''
                    this.newSiteWeb.phone = ''
                    this.newSiteWeb.organizerNature = ''
                    this.newSiteWeb.category = ''
					this.addWebModalShow = true
					this.currentAddWebSite = true
				}else{
					this.addWebModalShow = false
				}

			},
			
			beforeUpload(file){
				this.uploadFIleNameHint = '文件：' + file.name,
				this.uploadFile.length = 0
				this.uploadFile.push(file)
				return false
			},
			
			uploadStart(){
				 if (this.uploadFile.length === 0) {
					this.$Message.error('未选择上传文件')
					return false
				  }
				  let data = new FormData();
				  data.append("filename",this.uploadFile[0]);  //图片
				  this.uploadHint = '上传'
				  var config = {
				  	baseURL: baseUrl,
				  	onUploadProgress: progressEvent => {
				  	   var complete = progressEvent.loaded / progressEvent.total * 100 | 0
					   if(complete > 1 ){
						   complete --
					   }
					   this.uploadProgress = complete
					   if(this.uploadProgress < 99){
						   this.uploadStatus = this.uploadProgress + "%"
					   }else{
						   this.uploadHint = '处理数据，可能需要几分钟'
						   this.uploadStatus = '99%'
					   }
					   if(!this.uploadProgressShow){
						   this.uploadProgressShow = true
					   }
				  	}
				  }
				  ApiRequest.uploadFile(data,config).then(res => {
					  if(res.data.code == 0){
						  this.uploadFile.length = 0
						  this.getWebSiteData()
						  this.uploadProgress = 100
						  this.uploadStatus = '成功'
					  }
				  })
			},
			uploadSuccess(res){
				this.$Message.success('上传成功！')
				this.importModalShow = false
				this.getWebSiteData()
			},
			uploadError(e){
				this.$Message.error('上传失败！')
			},
			importButtonClick(){
                if(!isHaveThePermission(this.pagePermissions, "导入网站")){
                    this.$Message.error('暂无此权限！')
                    return
                }
				this.importModalShow = true
				this.uploadProgressShow = false
				this.uploadFIleNameHint = '请将文件拖拽到此处'
			},
			handleFormatError(){
				this.$Message.error('文件格式错误，只支持Excel文件！')
			},
			handleMaxSize(){
				this.$Message.error('上传文件最大不超过50M!')
			},

            //批量修改分类
            batchUpdateCategory(){
				if(this.webSelectData.length == 0){
					this.$Message.error('请先选择需要修改的网站')
					return
				}
				this.currentSelectClassifyData = null
				this.requestClassifyData = this.recursionHandleModalClassifyData('',this.classifyData)
				this.requestClassifyData.shift()
                this.selectClassifyModalShow = true
            },
            cancelBatchUpdateCategory(){
                this.selectClassifyModalShow = false
            },
            confirmBatchUpdateCategory(){
				if(this.currentSelectClassifyData == null){
					this.$Message.error('请选择分类')
					return
				}
				var requestData = {
					ids:[],
					category_ids:[]
				}
				requestData.category_ids = getSelectClassifyArr(this.classifyData,this.currentSelectClassifyData.id + '')
				
				for (var i = 0; i < this.webSelectData.length; i++) {
					var item = this.webSelectData[i]
					requestData.ids.push(item.id)
				}
                ApiRequest.batchUpdateCategory(requestData).then(res =>{
                    if(res.data.code == 0){
                        this.selectClassifyModalShow = false
                        this.$Message.success(res.data.message)
						this.getWebSiteData()
                    }else{
                        this.$Message.error(res.data.message)
                    }
					this.webSelectData = []
                })
            },
            //批量删除网站
            batchDeletewebsites(){
                if(!isHaveThePermission(this.pagePermissions, "批量删除")){
                    this.$Message.error('暂无此权限！')
                    return
                }
			    if(this.webTableData.length == 0 && this.webTableData.length == null){
			        return
				}
			    if(!this.selectAll){
                    if(this.webSelectData.length == 0){
                        this.$Message.error('请选择要批量删除的网站')
                        return
                    }
                }
                this.batchDeletewebsitesModalShow = true
            },
			
			exportWebData(){
                if(!isHaveThePermission(this.pagePermissions, "导出数据")){
                    this.$Message.error('暂无此权限！')
                    return
                }
				 const msg = this.$Message.loading({
                    content: '正在导出...',
                    duration: 0
                });
				
				if(this.webSelectData.length <= 0){//条件导出
					ApiRequest.exportWebDataByCondition(this.queryWebSiteCondition).then(res => {
						if(res.data.code == 0){
							this.downloadFile(res.data.object)
							setTimeout(msg, 300);
						}
					})
				}else{//id导出
					var requestData = {
						ids:[]
					}
					for (var i = 0; i < this.webSelectData.length; i++) {
						var item = this.webSelectData[i]
						requestData.ids.push(item.id)
					}
					ApiRequest.exportWebDataByIds(requestData).then(res => {
						if(res.data.code == 0){
							this.downloadFile(res.data.object)
							setTimeout(msg, 300);
						}
					})
				}
			},
			
			downloadFile(url){
				url = baseUrl + url
				//console.log(url)
				ApiRequest.exportFile(url).then(response => {
					let blob = new Blob([response.data], {
					  type: 'application/vnd.ms-excel'
					})
					let fileName = Date.parse(new Date()) + '.xlsx'
					if (window.navigator.msSaveOrOpenBlob) {
					  navigator.msSaveBlob(blob, fileName)
					} else {
					  var link = document.createElement('a')
					  link.href = window.URL.createObjectURL(blob)
					  link.download = fileName
					  link.click()
					  window.URL.revokeObjectURL(link.href)
					}
				})
			},
				
            cancelBatchDeletewebsites(){
                this.batchDeletewebsitesModalShow = false
            },

            ConfirmBatchDeletewebsites(){
				var requestData = {
					ids:[]
				}
				for (var i = 0; i < this.webSelectData.length; i++) {
					var item = this.webSelectData[i]
					requestData.ids.push(item.id)
				}
			
                ApiRequest.batchDeletewebsites(requestData).then(res =>{
                    if(res.data.code == 0){
						this.webSelectData.length = 0
                        this.deleteWebsiteModalShow = false
                        this.batchDeletewebsitesModalShow = false
                        this.$Message.success(res.data.message)
						this.queryWebSiteCondition.page_no = 1
						this.getWebSiteData()
                    }else{
                        this.$Message.error(res.data.message)
                    }
                })
            },

            selectItem(selection){
				this.webSelectData = selection
			},

            cancelSelectItem(selection){
				this.webSelectData = selection
            },
            selectAllItem(selection){
                this.webSelectData = selection
            },

            cancelSelectAllItem(selection){
                this.webSelectData = selection
			}
		}
	}
	var compare = function (x, y) {//比较函数
		if (x.sort < y.sort) {
			return -1;
		} else {
			return 1;
		}
	}
	
	 function getSelectClassifyArr(classifyData, id){
	    var arr = []
		var item = lookforClassifyById(classifyData,id)
		arr.unshift(item.id + '')
	    if(item.parent_id+'' != '-1'){
			arr.unshift(item.parent_id + '')
			var parent = lookforClassifyById(classifyData,item.parent_id)
			if(parent.parent_id+'' != '-1'){
				arr.unshift(parent.parent_id + '')
			}
		}
	    return arr
	}
	
	function lookforClassifyById(classifyData,id){
		for (var i = 0; i < classifyData.length; i++) {
		    var item = classifyData[i]
			if(item.children != null && item.children.length > 0){
				for (var j = 0; j < item.children.length; j++) {
					var secondItem = item.children[j]
					if(secondItem.children != null && secondItem.children.length > 0){
						for (var e = 0; e < secondItem.children.length; e++) {
							var thirdItem = secondItem.children[e]
							if(thirdItem.id + '' == id){
								return thirdItem
							}
						}
					}
					if(secondItem.id + '' == id){
						return secondItem
					}
				}
			}
			if(item.id + '' == id){
				return item
			}
		}
	}
	
    function getCategoryName(categoryArray, categoryId){
        var categoryName = ''
		if(categoryId == ''){
			return categoryArray[0].title
		}
        for (var i = 0; i < categoryArray.length; i++) {
            if(categoryArray[i].id == categoryId){
                categoryName = categoryArray[i].title
            }
        }
        return categoryName
    }

    function organizerCodeToName(organizerCode){
	    var organizerNatureName = ''
        switch (organizerCode) {
            case '2000':
                organizerNatureName = '个人'
                break
            case '2001':
                organizerNatureName = '企业'
                break
            case '2002':
                organizerNatureName = '事业单位'
                break
            case '2003':
                organizerNatureName = '社会团体'
                break
            case '2004':
                organizerNatureName = '政府机关'
                break
            default:
                organizerNatureName = '其他'
        }
        return organizerNatureName
    }
</script>

<style lang="less">
    @import './site_manager_content.less';
</style>
