.home_content_layout{
	width: 100%;
	height: auto;
	background: white;
}

.home_content_top_layout{
	width: 100%;
	height: 110px;
	display: flex;
	flex-direction: row;
}
.home_content_top_left{
	width: 65%;
	min-width: 350px;
	height: 100%;
	padding-left: 48px;
	display: flex;
	flex-direction: row;
	align-items: center
}
.home_content_top_right{
	width: 35%;
	min-width: 540px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.home_content_top_right_content{
	margin: 0 auto;
	display: flex;
	height: 100%;
	flex-direction: row;
	align-items: center;
}
.home_content_top_right_content_item{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 180px;
	min-width: 150px
}
.vertical_line_style{
	height:1px;
	border:none;
	border-top:1px dashed wheat; 
	width: 35px; 
	transform: rotate(90deg);
}

.home_content_time_line_item_title{
	color: black;
	font-size: 9px
}
.home_content_time_line_item_content{
	color: black;
	font-size: 7px
}

.home_content_right_item_top_label{
	color: black;
	font-size: 2.5em;
	margin-bottom: 3px;
}
.home_content_right_item_bottom_label{
	color: black;
	font-size: 14px;
}

.home_content_module_top_layout{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-bottom: 24px
}

.home_content_module_top_image{
	width: 16px;
	height: auto;
}

.home_content_module_top_title{
	color: #34495e;
	font-weight: bold;
	font-size: 20px;
	padding-left: 8px;
	padding-right: 12px
}
.home_content_left_module_layout{
	width: 70%;
	min-width: 600px;
	height: 500px; 
	display: flex;
	border-radius: 2px;
	flex-direction: column;
	background: white;
	padding: 24px 24px 0 24px
}

.home_content_module_one_list_item_layout{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 80px;
}

.home_content_module_one_list_item_line_layout{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 16px;
	margin-left: 10px;
	margin-right: 10px;
}

.home_content_module_one_list_item_content_layout{
	margin-right: 12px;
	display: flex;
	flex-direction: column;
}

.home_content_module_one_list_item_line_top_layout{
	background: #ededed;width: 1px;height: 2px;
}
.home_content_module_one_list_item_line_bottom_layout{
	background: #ededed;width: 1px;height: 100%;
}
.home_content_module_one_list_item_content_title_layout{
	color: #8c989d;
	font-size: 14px;
}

.home_content_module_one_list_item_content_describe_layout{
	color: #34495e;font-size: 14px;
}
.home_content_module_one_list_left_time{
	color: #34495e;
	font-size: 14px;
	display: block;
	width:58px;
}
.home_content_right_module_layout{
	display: flex;
	flex-direction: column;
	background: white;
	padding: 24px 24px 0 24px;
	width: 30%;
	min-width: 550px;
	height: 500px; 
	background: white;
	border-radius: 2px
}

.home_content_illegal_top_layout{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.home_content_illegal_top_content_layout{
	display: flex;
	width: 50%;
	flex-direction: column;
	align-items: center
}

.home_content_illegal_top_content_sub_layout{
	display: flex;
	width: 33.3%;
	flex-direction: column;
	align-items: center
}

.home_content_illegal_top_chart_layout{
	min-width: 160px;
	width: 33.3%;
	height: 230px;
}

.home_content_module_subject_right_button{
	display: block;
	float: right;
	color: #34495e;
	font-size: 14px;
	cursor: pointer
}


