<template>
	<div class="home_content_layout">
		<div class="home_content_top_layout">
			<div class="home_content_top_left">
				<label style="color: black;font-size: 4em;font-family: time_number; max-width: 140px">{{time}}</label>
				<label style="color: black;font-size: 1.5em;margin-left: 15px;padding-top: 12px;">{{date}}</label>
			</div>
			<div class="home_content_top_right">
				<div class="home_content_top_right_content">
					<div class="home_content_top_right_content_item">
						<label class="home_content_right_item_top_label">{{webSiteAllCount}}</label>
						<label class="home_content_right_item_bottom_label">管控网站总数</label>
					</div>
					<div class="home_content_top_right_content_item">
						<label class="home_content_right_item_top_label" style="color: #fd8c6f;">{{webSiteTodayAllCount}}</label>
						<label class="home_content_right_item_bottom_label">今日违规网站总数</label>
					</div>
					<div class="home_content_top_right_content_item">
						<label class="home_content_right_item_top_label" style="color: #fd8c6f;">{{webSiteSevenAllCount}}</label>
						<label class="home_content_right_item_bottom_label">近7天违规网站总数</label>
					</div>
				</div>
			</div>
		</div>
		<div style="width: 100%;height: auto;background: #e8eaec;padding: 12px;display: flex;flex-direction: column;" >
			<div style="width: 100%;height: auto;display: flex;flex-direction: row;">
				<HomeViolationsReading />
				<div style="width: 12px;height: 500px; background:#e8eaec;"></div>
				<HomeViolationData />
			</div>
			<div style="width: 100%;height: 12px; background:#e8eaec;"></div>
			<div style="width: 100%;height: auto;display: flex;flex-direction: row;">
				<HomeContentSubject />
				<div style="width: 12px;height: 500px; background:#e8eaec;"></div>
				<HomeViolationsHotWordsLayout/>
			</div>
			
		</div>
	</div>
</template>

<script>
	import HomeViolationData from '../home_violation_data/home_violation_data.vue'
	import HomeContentSubject from '../home_subject/home_subject.vue'
	import HomeViolationsReading from '../home_violations_reading/home_violations_reading.vue'
	import HomeViolationsHotWordsLayout from '../home_violations_hot_words/home_violations_hot_words.vue'
    import Cookies from 'js-cookie'
    import ApiRequest from '@/api/apiRequest.js'
    import webWaringRequest from '@/api/webWaringRequest.js'
	
	export default{
		name:'HomeContent',
		components: {
			HomeContentSubject,
			HomeViolationsHotWordsLayout,
			HomeViolationsReading,
			HomeViolationData
		},
        data() {
            return {
                date:'',
                time:'',
                timer:null,

                //查询，包含所有的查询条件，如果没有，就直接是空字符串即可，具体的字段含义根据api文档
                queryWebSiteCondition:{
                    page_no:1,
                    page_size:10,
                    province:'湖南省',

                },
                webSiteAllCount: 0,
                webSiteTodayAllCount: 0,
                webSiteSevenAllCount: 0,

                illegalSummaryData: {}

            }
        },
        computed: {},
        created() {
            clearInterval(this.timer)
            this.timer = null
            this.setTimer()
        },
        destroyed(){
            clearInterval(this.timer)
            this.timer = null
        },

        mounted() {
            this.illegalSummaryData = JSON.parse(localStorage.getItem('illegalSummaryData'))

			//console.log(this.illegalSummaryData)
            this.webSiteTodayAllCount = this.illegalSummaryData.count_all_illegal_webs_today
            this.webSiteSevenAllCount = this.illegalSummaryData.count_all_illegal_webs_7

            ApiRequest.getWebSiteData(this.queryWebSiteCondition).then(res => {
                if(res.data.code == 0){
                    this.webSiteAllCount =  Number(res.data.object.count)
                }
            })
        },


        methods: {

            setTimer() {
                if(this.timer == null) {
                    this.timer = setInterval( () => {
                        var date = new Date();
                        this.date = getDate(date)
                        this.time = getTime(date)
                    }, 1000)
                }
            },

        }
	}
    var weekDay = ['周一','周二','周三','周四','周五','周六','周日',]

    function getDate(date){
        var year = date.getFullYear()
        var mon = date.getMonth()
        var day = date.getDate()
        var week = date.getDay()
        return year+'.'+ addZero(mon) + '.' + addZero(day) + ' ' + weekDay[week - 1]
    }
    function getTime(date){
        var hour = date.getHours()
        var min = date.getMinutes()
        var second = date.getSeconds()
        hour = hour<=9 ? '0' +hour:hour,
            min = min<=9 ? '0' +min:min,
            second = second<=9 ? '0' +second:second
        return hour + ':' + min + ":" + second;
    }

    function addZero(m) {
        return m < 10 ? '0' + m : m;
    }
</script>
<style scoped>
	@import "../../assets/css/font.css";
    @import './home_content.less';
</style>