<template>
	<div style="width: 100%;height: 90px;min-height: 90px; background: #f8f8f8;display: flex;flex-direction: row;align-items: center;padding-left: 12px;padding-right: 12px;">
		<div style="display: flex;flex-direction: row;align-items: center;min-width: 300px;" >
			<img src="../../assets/footer_logo.png" style="height: 50px;width: auto;padding-right: 12px;"/>
			<label style="color: #34495e;font-size: 16px;padding-top: 12px;">舆情全流程服务商</label>
		</div>
		<div style="width: 100%;min-width: 500px;">
			<div style="display: block;width: 500px;float: right;">
				<label style="color: #34495e;font-size: 12px;display: block;float: right;padding-right: 12px;">Copyright©2008-2018 中科点击（北京）科技有限公司-版权所有 京ICP备11012241-3号</label>
				<label style="color: #34495e;font-size: 12px;display: block;float: right;padding-right: 12px;">北京市海淀区中关村软件园二期华胜天成2层</label>
			</div>
		</div>

	</div>
</template>

<script>
    export default{
        name:'Footer'
    }
</script>

<style>
</style>