<template>
	<div class="change_password_container_layou">
		<div class="change_password_content_layou">
			<div class="change_password_item_layout">
				<label class="change_password_item_star_tag">*</label>
				<label style="color: black;font-size: 10px;">旧&nbsp&nbsp密&nbsp&nbsp码：</label>
				<Input class="change_password_input" type="password" clearable placeholder="请输入旧密码"></Input>
			</div>
			<div class="change_password_item_layout">
				<label class="change_password_item_star_tag">*</label>
				<label style="color: black;font-size: 10px;">新&nbsp&nbsp密&nbsp&nbsp码：</label>
				<Input class="change_password_input" type="password" clearable placeholder="请输入新密码"></Input>
			</div>
			<div class="change_password_item_layout">
				<label class="change_password_item_star_tag">*</label>
				<label style="color: black;font-size: 10px;">确认密码：</label>
				<Input class="change_password_input" type="password" clearable placeholder="请输入确认密码"></Input>
			</div>
			<div class="change_password_item_layout" style="margin-top: 50px">
				<Button type="warning" style="width: 41%;margin-left: 6%;font-size: 10px;">取消</Button>
				<Button type="primary" style="width: 41%;margin-left: 8%;font-size: 10px;">提交</Button>
			</div>
		</div>
	</div>
</template>

<script>
</script>

<style scoped>
    @import './change_password.less';
</style>

