.change_password_container_layou{
	width: 100%;
	height: 100%;
}
.change_password_content_layou{
	width: 310px;
	height: auto;
	margin: 0 auto;
	margin-top: 15%
}

.change_password_item_layout{
	width: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 10px;
}
.change_password_input{
	width: 250px;
}

.change_password_item_star_tag{
	color: red;
	font-size: 12px;
	margin-right: 2px;
	margin-top: 5px;
}

.change_password_input ::-webkit-input-placeholder{
	font-size: 10px;
	color: #c5c8ce
}

.change_password_input ::-moz-placeholder{
	font-size: 10px;
	color: #c5c8ce
}

.change_password_input ::-moz-placeholder{
	font-size: 10px;
	color: #c5c8ce
}

.change_password_input ::-ms-input-placeholder{
	font-size: 10px;
	color: #c5c8ce
}