<template>
	<div class="home_container">
		<Header current_pager="site_waring"/>
		<div class="site_warming_container_layout">
			<div class="site_warming_container_left_layout">
				<div class="site_warming_left_title_layout" @click="clickAllCategory">
					<img src="../../assets/menu.png" class="site_warming_left_title_img" style="cursor: pointer;"/>
					<label class="common_label_style" style="cursor: pointer;">全部专题</label>
				</div>
				<div class="common_horizontal_line"/>
				<div style="width: 100%;">
					<Tree :data="classifyData" :render="renderCommonContent" empty-text=""></Tree>
				</div>
			</div>
			<div class="common_vertical_thick_line"/>

			<div class="site_warming_container_right_layout">
				<div class="site_warming_horizontal_layout" style="padding:12px 24px;">
					<label class="common_label_style" style="font-weight: bold;min-width: 200px;">筛选条件</label>
					<div class="site_warming_horizontal_layout" style="display: block">
						<div style="float: right;display: flex;flex-direction: row;align-items: center;">
							<Input placeholder="请输入网站名称" style="width: 150px;margin-left: 4px;" v-model="queryWebSiteCondition.searchValue" :maxlength=38 @on-enter="getWebSiteData">
							<Icon type="ios-search" slot="suffix"  @click="searchForcondition"/>
							</Input>
							<Dropdown @on-click="clickDropdownItem">
								<div class="site_warming_menu_title_right_button_layout">
									<img src="../../assets/shezhi.png" style="width: 15px;height: auto;margin-right: 10px;margin-left: 14px;cursor: pointer"/>
									<label style="color:#2d8cf0;font-size: 14px;line-height: 25px;text-align: center;cursor: pointer" >设置</label>
								</div>
								<DropdownMenu slot="list" >
									<DropdownItem name="warnSetting" v-if="showSettingMenu">巡查设置</DropdownItem>
									<DropdownItem name="warningReceiverSetting" v-if="showReceiverMenu">预警接收人设置</DropdownItem>
								</DropdownMenu>
							</Dropdown>
						</div>
					</div>
				</div>
				<div class="common_horizontal_line"/>
				<div class="site_warming_horizontal_layout" style="padding: 0px 24px;margin-top: 12px;">
					<label class="common_small_label_style" style="padding-right: 12px;">主办单位：</label>
					<label class="common_label_style" style="padding-right:50px; cursor: pointer;" :style="{color:item.selected?'#3c7af9':'#34495e'}" v-for="(item,index) in organizers" @click="selectOrganizers(index)">{{item.label}}</label>
				</div>
				<div class="site_warming_horizontal_layout" style="padding: 0px 24px;margin-top: 12px;">
					<label class="common_small_label_style" style="padding-right: 12px;">筛选时间：</label>
					<label class="common_label_style" style="padding-right:50px; cursor: pointer;" :style="{color: item.selected?'#3c7af9':'#34495e'}" v-for="(item,index) in siteTime" @click="selectSiteTime(index)">{{item.label}}</label>
				</div>
				<div class="site_warming_horizontal_layout" style="padding: 0px 24px;margin-top: 12px;">
					<label class="common_small_label_style" style="padding-right: 12px;">网站等级：</label>
					<label class="common_label_style" style="padding-right:50px; cursor: pointer;" :style="{color: item.selected?'#3c7af9':'#34495e'}" v-for="(item,index) in siteGrade" @click="selectSiteWebGrade(index)">{{item.label}}</label>
				</div>
				<div class="site_warming_horizontal_layout" style="padding: 0px 24px 8px 24px;margin-top: 12px;">
					<label class="common_small_label_style" style="padding-right: 12px;min-width: 80px; margin-top: 0px">所属地域：</label>
					<label class="common_label_style" style="cursor: pointer;float: left;min-width: 77px" :style="{color: allProvinceItem.selected?'#3c7af9':'#34495e'}" @click="selectSiteWebArea(-1)">全省({{allProvinceItem.count}})</label>
					<div style="display: block;">
						<label class="common_label_style" style="padding-right:50px; cursor: pointer;float: left;" :style="{color: item.selected?'#3c7af9':'#34495e'}" v-for="(item,index) in cityData" @click="selectSiteWebArea(index)">{{item.label}}({{item.webCount}})</label>
					</div>
				</div>
				<div class="common_horizontal_thick_line" style="background: #e8eaec;"/>
				<div class="site_warming_horizontal_layout" style="padding:12px 24px;" >
					<div style="display: flex;flex-direction: row;align-items: center;margin-right: 24px; min-width: 60px;" @click="exportWebData">
						<img src="../../assets/export.png" style="width: 14px;margin-right: 4px;height: auto; cursor: pointer;" />
						<label class="common_small_label_style" style="cursor: pointer;">导出数据</label>
					</div>
				</div>
				<Table ref="selection" :columns="webTableColumnList" :data="webTableData" @on-select="selectItem" @on-select-cancel="cancelSelectItem" @on-select-all="selectAllItem" @on-select-all-cancel="cancelSelectAllItem">
					<template slot-scope="{row}" slot="siteName">
						<div style="display: flex;flex-direction: row;align-items: center;" @click="gotoViolationWebList(row)">
							<label class="site_warming_web_table_name_label" :style="{background:row.level == 'A'?'#fc5560':row.level == 'B'?'#3c7af9':'#28e1a8'}">{{row.level}}</label>
							<label style="font-size: 13px;">{{row.siteName}}</label>
						</div>
					</template>
					<template slot-scope="{row, index }" slot="action">
						<a @click="lookTheResponsiblePeople(row)" style="margin-right: 8px;font-size: 13px;">网站负责人</a>
						<a @click="addToinvestigation(row)" style="font-size: 13px;">加入协查</a>
					</template>
				</Table>
				<div style="width: 100%;height:80px; padding: 24px 60px 0 24px;" :style="{visibility: webTableData.length == 0?'hidden':''}">
					<label class="common_small_label_style" >共{{websTotal}}条</label>
					<Page :total="websTotal" show-elevator show-sizer style="float: right;"  @on-change="pagerChange" @on-page-size-change="pagerSizeChange"/>
				</div>
			</div>


			<Modal v-model="customTimeModal" width="400">
				<p slot="header" style="display:block; text-align: left; height:100%; color:white;background: #4681fa;">
					<span>自定义预警时间</span>
				</p>
				<label class="common_label_style" style="width: 100%; text-align: center; padding: 20px 0px">请选择开始和结束时间</label>
				<div style="margin-top: 20px;width: 100%; height: 30px; align-items: center ">
					<DatePicker type="daterange" show-week-numbers placeholder="选择开始和结束时间" style="margin-left: 30px;width: 300px" @on-change="selectCustomTime" placement="bottom-end"></DatePicker>
				</div>
				<div style="width: 100%;align-items:center; margin-top: 20px;">
					<Button type="primary" size="default" style="margin-left: 130px;width: 100px; height: 30px; color: white;" @click="saveCustomTime">确认</Button>
				</div>
				<div slot="footer">
					<div></div>
				</div>
			</Modal>

			<Modal v-model="showReceiverSetting" width="830">
				<p slot="header" style="display:block;height:100%; color:white; background: #4681fa;">
					<span>接收人管理</span>
				</p>
				<div class="site_warming_horizontal_layout" style="margin-bottom: 15px;">
					<div class="receiver_setting_button_layout" @click="addNewReceiver">
						<img src="../../assets/add_bule.png" style="width: 15px;height: auto;margin-right: 5px;margin-left: 5px;cursor: pointer"/>
						<label style="color:#2d8cf0;font-size: 14px;line-height: 25px;text-align: center;cursor: pointer" >添加接收人</label>
					</div>
					<div class="site_warming_horizontal_layout" style="display: block">
						<div style="float: right;display: flex;flex-direction: row;align-items: center;">
							<Select class="modal_content_select" v-model="selectedReceiverCollumnId" style="width:120px">
								<Option v-for="item in searchCollumn" :value="item.id">{{ item.label }}</Option>
							</Select>
							<Input v-model="receiverSerchValue" placeholder="请输入接收人" @on-change="searchReceiverValue" @on-enter='searchReceiverValue' style="width: 150px;margin-left: 4px;">
							<Icon type="ios-search" slot="suffix" /></Input>
						</div>
					</div>
				</div>
				<Table height="200" :columns="receiverColumnList" :data="receiverSearchList" style="margin-bottom: 25px"></Table>
				<div slot="footer"></div>
			</Modal>

			<Modal v-model="deleteOperationModal" width="400">
				<p slot="header" style="display:block; text-align: center; height:100%; color:white;background: #4681fa;">
					<span>删除确认</span>
				</p>
				<div style="text-align:center">
					<label class="common_label_style">是否确定删除接收人 <span style="color: red;">{{selecterReceiver.name}}</span> ?</label>
				</div>
				<div slot="footer" style="padding: 12px 0px">
					<Button size="large" style="width: 100px;" @click="cancelDeleteReceiver">取消</Button>
					<Button type="primary" size="large" style="width: 100px;" @click="deleteConfirmReceiver">确认</Button>
				</div>
			</Modal>

			<Modal v-model="lookTheResponsiblePeopleModal" width="400">
				<p slot="header" style="display:block; text-align: left; height:100%; color:white;background: #4681fa;">
					<span>{{webNameofTheResponsiblePeople}}</span>
				</p>
				<div style="display: flex;flex-direction: row; align-items: center;">
					<label class="common_small_label_style" style="width: 100px; text-align: right">网站负责人：</label>
					<label class="common_label_style" style="min-width: 100px; text-align: left">{{TheResponsiblePeopleName}}</label>
				</div>
				<div style="display: flex;flex-direction: row; align-items: center; margin-top: 10px;">
					<label class="common_small_label_style" style="width: 100px; text-align: right">联系方式：</label>
					<label class="common_label_style" style="min-width: 100px; text-align: left">{{TheResponsiblePeoplePhone}}</label>
				</div>
				<div slot="footer"></div>
			</Modal>

			<Modal v-model="addToinvestigationModal" width="400">
				<p slot="header" style="display:block; text-align: left; height:100%; color:white;background: #4681fa;">
					<span>协查方案</span>
				</p>
				<label class="common_label_style" style="width: 100px; text-align: left; margin-left: 5px">请输入协查方案</label>
				<div class="investigationModalInput" style="width: 370px;height: 100px; margin-right: 12px; ">
					<Input v-model="investigationPlanValue" :maxlength=100 type="textarea" :rows="5" :autosize="{maxRows: 5,minRows: 5}" @on-change="investigationPlanDescInput"/>
				</div>
				<div style="display: flex;flex-direction: row; align-items:center; margin-top: 20px;">
					<Button type="primary" size="default" style="width: 100px; color: white;" @click="saveInvestigationPlan">加入协查</Button>
					<div style="text-align: right; margin-right: 10px; color: #8c989d; width: 300px">已输入
						<label class="inputNotice_item_tag">{{investigationPlanwords}}</label>个字，还可以输入
						<label class="inputNotice_item_tag">{{investigationPlanwordsLeft}}</label>个字
					</div>
				</div>
				<div slot="footer">
					<div></div>
				</div>
			</Modal>

		</div>

		<Footer/>
	</div>

</template>

<script>
    import Cookies from 'js-cookie'
    import ApiRequest from '@/api/apiRequest.js'
    import webWaringRequest from '@/api/webWaringRequest.js'
	import Footer from '@/components/footer/footer.vue'
	import Header from '@/components/header/header.vue'
    import config from '@/config'
    const baseUrl = process.env.NODE_ENV === 'development' ? config.baseUrl.dev : config.baseUrl.pro

	//addInvestigationPlan

    export default{
		components: {
			Footer,
			Header
		},
        data(){
            return{
                //左侧所有分类数据
                classifyData:[],
                //当前操作的分类数据
                currentSelectClassifyData:null,
                //查询，包含所有的查询条件，如果没有，就直接是空字符串即可，具体的字段含义根据api文档
                queryWebSiteCondition:{
                    page_no:1,
                    page_size:10,
                    province:'',
                    city:'',
                    organizerNature:'',
                    category:'',
                    searchField:'siteName',
                    searchValue:'',
                    level:'',
                    subjectId: '',
                    start_time: '',
                    end_time: '',
                },
                organizers:[
                    {
                        label:'全部',
                        selected:true,
                    },
                    {
                        label:'个人',
                        selected:false,
                    },
                    {
                        label:'企业',
                        selected:false,
                    },
                    {
                        label:'事业单位',
                        selected:false,
                    },
                    {
                        label:'社会团体',
                        selected:false,
                    },
                    {
                        label:'政府机关',
                        selected:false,
                    },
                    {
                        label:'其他',
                        selected:false,
                    }
                ],
                siteGrade:[
                    {
                        label:'全部',
                        selected:true
                    },
                    {
                        label:'A级',
                        selected:false
                    },
                    {
                        label:'B级',
                        selected:false
                    },
                    {
                        label:'C级',
                        selected:false
                    }
                ],
                siteTime:[
                    {
                        label:'全部',
                        selected:false
                    },
                    {
                        label:'今天',
                        selected:false
                    },
                    {
                        label:'昨天',
                        selected:false
                    },
                    {
                        label:'近7天',
                        selected:true
                    },
                    {
                        label:'近30天',
                        selected:false
                    },
                    {
                        label:'自定义',
                        selected:false
                    }
                ],
                customTimeModal: false,
                customTime:[],
                allProvinceItem:{
                    label:'全省',
                    selected:true,
                    count: 0
                },
                cityData:[],
                selectAll:false,
                topRightSelect:'web',
                webTableColumnList: [
                    {
                        type: 'selection',
                        width: 60,
                        align: 'center'
                    },
                    {
                        title: '网站名称',
                        slot: 'siteName',
                        key: 'siteName',
                    },
                    {
                        title: '违规量',
                        key: 'illegalCount',
                        align: 'center',
						width: 80
                    },
                    {
                        title: '最近预警时间',
                        key: 'updateTime',
                        align: 'center'
                    },
                    {
                        title: '网站分类',
                        key: 'categoryName',
                        align: 'center'
                    },
                    {
                        title: '所属地域',
                        key: 'area',
                        align: 'center',
                        width: 90
                    },
                    {
                        title: '主办单位',
                        key: 'organizerNature',
                        align: 'center'
                    },
                    {
                        title: '操作',
                        slot: 'action',
                        key: 'action',
                        align: 'center',

                    },
                ],

                receiverColumnList:[
                    {
                        type: 'index',
                        title: '序号',
                        width: 70,
                        align: 'center'
                    },
                    {
                        title: '接收人',
                        key: 'name',
                        align: 'center',
                        render: (h, params) => {
                            if (params.row.$isEdit) {
                                return h('input', {
                                    domProps: {
                                        placeholder:"请输入接收人",
                                        value: params.row.name
                                    },
                                    on: {
                                        input: function (event) {
                                            params.row.nameNew = event.target.value
                                        }
                                    }
                                });
                            } else  {

                                return h('div', params.row.name);
                            }
                        }
                    },
                    {
                        title: '邮箱',
                        key: 'email',
                        align: 'center',
                        render: (h, params) => {
                            if (params.row.$isEdit) {

                                return h('input', {
                                    domProps: {
                                        placeholder:"请输入邮箱",
                                        value: params.row.email
                                    },
                                    on: {
                                        input: function (event) {
                                            params.row.emailNew = event.target.value
                                        }
                                    }
                                });
                            } else  {

                                return h('div', params.row.email);
                            }
                        }
                    },
                    {
                        title: '手机号',
                        key: 'phone',
                        align: 'center',
                        render: (h, params) => {
                            if (params.row.$isEdit) {

                                return h('input', {
                                    domProps: {
                                        placeholder:"请输入手机号",
                                        value: params.row.phone
                                    },
                                    on: {
                                        input: function (event) {
                                            params.row.phoneNew = event.target.value
                                        }
                                    }
                                });
                            } else  {

                                return h('div', params.row.phone);
                            }
                        }
                    },
                    {
                        title: '操作',
                        key: 'action',
                        align: 'center',
                        render: (h, params) => {
                            if (params.row.$isEdit) {

                                return [
                                    h('Button', {
                                        props: {
                                            type: 'text',
                                            size: 'small',
                                        },
                                        style:{
                                            background:'#2d8cf0',
                                            color: 'white',
                                            border:'1px solid lightgray',
											padding:'1px 6px'
                                        },
                                        on: {
                                            click: () => {
                                                this.saveOperation(params.index, params.row)
                                            }
                                        }
                                    }, '保存'),
                                    h('Button', {
                                        props: {
                                            type: 'text',
                                            size: 'small',
                                        },
										style:{
                                            color: '#8c989d',
                                            border:'1px solid lightgray',
                                            padding:'1px 6px'
										},
                                        on: {
                                            click: () => {
                                                this.cancelOperation(params.index, params.row)
                                            }
                                        }
                                    }, '取消')
								]
                            } else  {
                                return[
                                    h('Button', {
                                        props: {
                                            type: 'text',
                                            size: 'small',
                                        },
                                        style:{
                                            color: '#2d8cf0',
                                        },
                                        on: {
                                            click: () => {
                                                this.editReceiver(params.index, params.row)
                                            }
                                        }
                                    }, '编辑'),
                                    h('Button', {
                                        props: {
                                            type: 'text',
                                            size: 'small',
                                        },
                                        style:{
                                            color: '#2d8cf0',
                                        },
                                        on: {
                                            click: () => {
                                                this.deleteReceiver(params.index, params.row)
                                            }
                                        }
                                    }, '删除')
								]
                            }
                        }
                    },
				],

                webTableData: [],

                websTotal: 100,
                webSelectData: null,

                selectWebSiteData: {},

                //****加入协查*********
                addToinvestigationModal: false,
                investigationPlanValue: '',
                investigationPlanwords: 0,
                investigationPlanwordsLeft: 100,


                //****网站负责人*********
                lookTheResponsiblePeopleModal: false,
				webNameofTheResponsiblePeople: '湖南政协新闻网',
                TheResponsiblePeopleName: '张三',
                TheResponsiblePeoplePhone: '',


                //****预警接收人操作*********
                receiverList:[],
                receiverSearchList:[],
                selectedReceiverCollumnId: 'name',

				showReceiverSetting: false,
                receiverSerchValue: '',
				selecterReceiver: {},
                selecterReceiverIndex: 0,
                deleteOperationModal: false,
				addNewReceiverOperation: false,
                searchCollumn:[
                    {
                        label:'接收人',
						id:'name',
                    },
                    {
                        label:'邮箱',
						id: 'email',
                    },
                    {
                        label:'手机号',
						id: 'phone',
                    }
                ],


				showReceiverMenu: true,
                showSettingMenu: true,

                rolePermissions: [],
                pagePermissions: [],
                warningReceiverPermissions: []
            }
        },

        mounted(){
            this.rolePermissions = JSON.parse(localStorage.getItem('rolePermissions'))
            this.initData()
            this.getpermission()
        },

        methods:{

            getpermission(){
                this.rolePermissions = JSON.parse(localStorage.getItem('rolePermissions'))
                //console.log(this.rolePermissions)
                for (var i = 0; i < this.rolePermissions.length; i++) {
                    var item = this.rolePermissions[i]
                    if(item.module_name == "巡查预警"){
                        this.pagePermissions = item.permissionList
                        //console.log(this.pagePermissions)

                        var dataArray = item.moduleList
                        this.showReceiverMenu = isHaveThePermission(dataArray, "预警接收人设置")
                        this.showSettingMenu = isHaveThePermission(dataArray, "巡查设置")

                        for (var j = 0; j < dataArray.length; j++) {
                            var item = dataArray[j]
                            if(item.module_name == "预警接收人设置"){
                                this.warningReceiverPermissions = item.permissionList
                                //console.log(this.warningReceiverPermissions)

                            }
                        }
                    }
                }
            },

            //初始化数据
            initData(){
                this.queryWebSiteCondition.start_time = getDay(-7, false)
                this.queryWebSiteCondition.end_time = getDay(0, false)

                //获取分类列表数据
                webWaringRequest.warningCategorylist(Cookies.get('user_id')).then(res => {
                    if(res.data.code == 0){
                        this.classifyData = this.recursionHandleClassifyData('',res.data.object)
                    }else{
                        this.$Message.error(res.data.message)
                    }
                })
                //预警接收人：获取列表
                 this.getReceiverList()
                //获取地域数据
                ApiRequest.getSiteWebAreaData().then(res => {
                    if(res.data.code ==0){
                        //console.log(res)
                        this.queryWebSiteCondition.province = res.data.object.name
                        this.getWebSiteData()
                        var citys = res.data.object.object
                        if(citys != null && citys.length > 0){
                            for (var i = 0; i < citys.length; i++) {
                                var item = {
                                    label:citys[i].name,
									webCount: 0,
                                    selected:false
                                }
                                this.cityData.push(item)
                            }
                        }
                        this.getWarningWebsCountByconditon()
                    }
                })
            },
            //预警网站：根据条件，统计数量
			getWarningWebsCountByconditon(){
                var classify = {
                    "province":this.queryWebSiteCondition.province,
                    "key":'city',
                    "counts":this.cityData.length
                }
                webWaringRequest.getWebSiteCountBycondition(classify).then(res => {
                    if(res.data.code ==0){
                        var dataArray = res.data.object
                        for (var i = 0; i < dataArray.length; i++) {
                            this.allProvinceItem.count += dataArray[i].count
                            for (var j = 0; j < this.cityData.length; j++) {
                                if(this.cityData[j].label == dataArray[i].city){
                                    this.cityData[j].count = dataArray[i].count
                                }
                            }
                        }
                    }
                })
			},

            //预警接收人：获取列表
            getReceiverList(){
                webWaringRequest.getReceiverList().then(res => {
                    if(res.data.code == 0){
                        var dataArray = res.data.object
                        for (var i = 0; i < dataArray.length; i++) {
                            dataArray[i].$isEdit = false
                        }
                        this.receiverList = dataArray
						this.receiverSearchList = dataArray
                    }else{
                        this.$Message.error(res.data.message)
                    }
                })
			},

            //根据条件查询网站列表，查询条件修改queryWebSiteCondition中的字段即可
            getWebSiteData(){
                //console.log(this.queryWebSiteCondition)
                let that = this
                webWaringRequest.getWebSiteData(this.queryWebSiteCondition).then(res => {
                    if(res.data.code == 0){
                        that.websTotal = Number(res.data.object.count)
                        var dataArray = res.data.object.result
                        for (var i = 0; i < dataArray.length; i++) {
                            dataArray[i].updateTime = dataArray[i].updateTime.toLocaleString().replace(/T/g, ' ').replace(/\.[\d]{3}Z/, '');
                            // dataArray[i].organizerNatureName = organizerCodeToName(dataArray[i].organizerNature)
							dataArray[i].categoryName = dataArray[i].categoryTitle[0]
                        }
                        that.webTableData = dataArray
                    }
                })
            },
            //递归的方式处理分类数据，可以不需要懂
            recursionHandleClassifyData(parent_index,data){
                var newData = []
                for (var i = 0; i < data.length; i++) {
                    var item = data[i]
                    var childrenData = []
                    var currentIndex = parent_index + '' + i
                    if(item.object != null && item.object.length > 0){
                        childrenData = this.recursionHandleClassifyData(currentIndex,item.object)
                    }
                    var classify = {
                        position:currentIndex,
						sort: item.sort,
                        id:item.id,
                        isalert: item.isalert,
                        isshow: item.isshow,
                        parent_id: item.parent_id,
                        title: item.name,
                        expand: true,
                        selected:false,
                        render: this.renderOneClassfyContent,
                        children: childrenData
                    }
                    if(item.parent_id > 0){
                        classify.render = this.renderCommonContent
                    }
                    newData.push(classify)
                }
                return newData;
            },

            renderOneClassfyContent(h, { root, node,data}){
                return h('div', {
                    attrs: {
                        'class':'menu_item_style',
                    },
                    style:{
                        background: data.selected? "#f0faff": 'white'
                    }

                }, [
                    h('img',{
                        attrs: {
                            'class':'site_manager_left_title_img',
                            src:require('../../assets/folder.png')
                        },
                        on:{
                            click: () => { this.clickModalExpendClassifyData(data,'')}
                        }
                    }),
                    h('div',{
                        attrs:{
                            'class':'menu_item_input_layout_style',
                        },
                        style: {
                            display:data.showInput?'flex':'none',
                        }
                    },[
                        h('i-input',{
                            props:{
                                placeholder:'输入分类名称',
                                value:data.title,
                                size:'small'
                            },
                            style: {
                                fontSize:'13px',
                                color:'#34495e',
                                width:'100px'
                            },
                            on:{
                                'on-change':(event)=>{
                                    this.recordRename = event.target.value
                                },
                            }
                        }),
                        h('img',{
                            attrs: {
                                'class':'menu_item_input_button_style',
                                src:require('../../assets/ok.png')
                            },
                            on: {
                                click: () => {
                                    this.requestAddClassify(data)
                                    event.cancelBubble = true;
                                }
                            }
                        }),
                        h('img',{
                            attrs: {
                                'class':'menu_item_input_button_style',
                                src:require('../../assets/no.png')
                            },
                            on: {
                                click: () => { this.cancelEditClassify() }
                            }
                        }),
                    ]),
                    h('div',{
                        attrs:{
                            'class':'menu_item_right_layout_container_style',
                        },
                        style: {
                            display:data.showInput?'none':'flex',
                        }
                    },[
                        h('label',{
                            attrs:{
                                'class':'common_label_style',
                            },
                            style: {
                                cursor:'pointer',
                                fontSize:'14px',
                                display:'initial',
                                color:data.selected?'#3c7af9':'#34495e',
                                fontWeight: data.selected?'bold':'normal'
                            },
                            on:{
                                click: () => {
                                    this.clickSelectClassify(data)
                                }
                            }
                        },data.title),
                        h('div',{
                            attrs:{
                                'class':'menu_item_right_div_style',
                            },
                        },[
                            h('div',{
                                attrs:{
                                    'class':'menu_item_right_line_style',
                                },
                                style: {
                                    display: data.selected?'initial':'none'
                                }
                            })
                        ]),
                    ]),
                ]);
            },
            renderCommonContent (h, { root, node, data }) {
                return h('div', {
                    attrs: {
                        'class':'menu_item_style',
                    },
                    style:{
                        background: data.selected? "#f0faff": 'white'
                    }
                }, [
                    h('img',{
                        attrs: {
                            'id':'left_id_' + data.id,
                            'class':'site_manager_submenu_img',
                            src:require(data.selected?'../../assets/erjicaidanxiao_h.png':'../../assets/erjicaidanxiao.png')
                        },
                    }),

                    h('div',{
                        attrs:{
                            'class':'menu_item_input_layout_style',
                        },
                        style: {
                            display:data.showInput?'flex':'none',
                        }
                    },[
                        h('i-input',{
                            props:{
                                placeholder:'输入专题名称',
                                value:data.title,
                                size:'small'
                            },
                            style: {
                                fontSize:'13px',
                                color:'#34495e',
                                width:'100px'
                            },
                            on:{
                                'on-change':(event)=>{
                                    this.recordRename = event.target.value
                                },
                            }
                        }),
                        h('img',{
                            attrs: {
                                'class':'menu_item_input_button_style',
                                src:require('../../assets/ok.png')
                            },
                            on: {
                                click: () => {
                                    this.requestAddClassify(data)
                                    event.cancelBubble = true;
                                }
                            }
                        }),
                        h('img',{
                            attrs: {
                                'class':'menu_item_input_button_style',
                                src:require('../../assets/no.png')
                            },
                            on: {
                                click: () => { this.cancelEditClassify() }
                            }
                        }),
                    ]),



                    h('div',{
                        attrs:{
                            'class':'menu_item_right_layout_container_style',
                        },
                        style: {
                            display:data.showInput?'none':'flex',
                        }
                    },[
                        h('label',{
                            attrs:{
                                'class':'common_small_label_style',
                            },
                            style: {
                                cursor:'pointer',
                                display:'initial',
                                color:data.selected?'#3c7af9':'#8c989d',
                                fontWeight: data.selected?'bold':'normal'
                            },
                            on:{
                                click: () => {
                                    this.clickSelectClassify(data)
                                }
                            }
                        },data.title),
                        h('div',{
                            attrs:{
                                'class':'menu_item_right_div_style',
                            },
                        },[
                            h('div',{
                                attrs:{
                                    'class':'menu_item_right_line_style',
                                },
                                style: {
                                    display: data.selected?'initial':'none'
                                }
                            })
                        ]),
                    ]),
                ]);
            },

			//点击"全部分类"
            clickAllCategory(){
                if(this.currentSelectClassifyData != null){
                    this.currentSelectClassifyData.selected = false
                }
                this.currentSelectClassifyData = null
				this.queryWebSiteCondition.subjectId = ''
                this.getWebSiteData()
			},



            expendSearchClassify(data,value){
                var result = false;
                for (var i = 0; i < data.length; i++) {
                    var item = data[i]
                    if(item.children != null && item.children.length > 0){
                        var resultChildren = this.expendSearchClassify(item.children,value)
                        if(resultChildren){
                            item.expand = true
                            result = true
                        }
                    }
                    if(item.title.indexOf(value) != -1){
                        //this.clickSelectClassify(item)
                        result = true
                    }

                }
                return result
            },

            //选择点击的分类
            clickSelectClassify(data){
                if(this.currentSelectClassifyData != null){
                    this.currentSelectClassifyData.selected = false
                }
                this.currentSelectClassifyData = data
                data.selected = true
                this.queryWebSiteCondition.page_no = 1
                this.queryWebSiteCondition.subjectId = data.id + ''
				this.getWebSiteData()
            },

            //选择主办单位
            selectOrganizers(index){
                this.queryWebSiteCondition.page_no = 1
                for (var i = 0; i < this.organizers.length; i++) {
                    this.organizers[i].selected = false
                    if( i == index){
                        this.organizers[i].selected = true
                        this.queryWebSiteCondition.organizerNature = this.organizers[i].label
                        if(index == 0){
                            this.queryWebSiteCondition.organizerNature = ''
                        }
                    }
                }
                this.getWebSiteData()
            },
            //选择网站等级
            selectSiteWebGrade(index){
                this.queryWebSiteCondition.page_no = 1
                for (var i = 0; i < this.siteGrade.length; i++) {
                    if(i == index){
                        this.siteGrade[i].selected = true
                        this.queryWebSiteCondition.level = this.siteGrade[i].label.slice(0,1)
                        if(index == 0){
                            this.queryWebSiteCondition.level = ''
                        }
                    }else{
                        this.siteGrade[i].selected = false
                    }
                }
                this.getWebSiteData()
            },

            //选择网站地域
            selectSiteWebArea(index){
                this.queryWebSiteCondition.page_no = 1
                if(index < 0){
                    this.allProvinceItem.selected = true
                    this.queryWebSiteCondition.city = ''
                }else{
                    this.allProvinceItem.selected = false
                }
                for (var i = 0; i < this.cityData.length; i++) {
                    if(i == index){
                        this.cityData[i].selected = true
                        this.queryWebSiteCondition.city = this.cityData[i].label
                    }else{
                        this.cityData[i].selected = false
                    }
                }
                this.getWebSiteData()
            },
            //选择网站时间
            selectSiteTime(index){
                if(index == 5){
                    this.customTime = null
                    this.customTimeModal = true
				}else {
                    this.queryWebSiteCondition.page_no = 1
                    for (var i = 0; i < this.siteTime.length; i++) {
                        if(i == index){
                            this.siteTime[i].selected = true

                            if(index == 0){
                                this.queryWebSiteCondition.start_time = getDay(-10000, false)
                                this.queryWebSiteCondition.end_time = getDay(0, true)
                            }
                            if (index == 1){
                                this.queryWebSiteCondition.start_time = getDay(0, false)
                                this.queryWebSiteCondition.end_time = getDay(0, true)
                            }
                            if (index == 2){
                                this.queryWebSiteCondition.start_time = getDay(-1, false)
                                this.queryWebSiteCondition.end_time = getDay(0, false)

                            }
                            if (index == 3){
                                this.queryWebSiteCondition.start_time = getDay(-7, false)
                                this.queryWebSiteCondition.end_time = getDay(0, false)
                            }
                            if (index == 4){
                                this.queryWebSiteCondition.start_time = getDay(-30, false)
                                this.queryWebSiteCondition.end_time = getDay(0, false)
                            }
                        }else{
                            this.siteTime[i].selected = false
                        }
                    }
                    this.getWebSiteData()
				}

            },

            selectCustomTime(e){
				this.customTime = e
			},
            saveCustomTime(){
                if(this.customTime == null){
                    this.$Message.error('请选择开始和结束时间')
                    return
				}else {
                    if (this.customTime[0] == '' || this.customTime[1] == ''){
                        this.$Message.error('请选择开始和结束时间')
                        return
                    }
				}
                this.customTimeModal = false
                this.queryWebSiteCondition.page_no = 1
                for (var i = 0; i < this.siteTime.length; i++) {
                    this.siteTime[i].selected = false
                }
                this.siteTime[5].selected = true
                this.queryWebSiteCondition.start_time = this.customTime[0] + " " + "00:00:00"
                this.queryWebSiteCondition.end_time = this.customTime[1] + " " + "23:59:59"

                this.getWebSiteData()
			},
            //搜索框
            searchForcondition(){
                if(this.queryWebSiteCondition.searchValue.length == 0){
                    return
                }else {
                    this.getWebSiteData()
                }
            },

			//点击网站名称跳转到-->违规网站列表
            gotoViolationWebList(item){

                var violationWebCondition = {
                    mustKeyWords:[],
                    shouldKeyWords:[],
                    unrelated:[],
                    domainName:[],
                    isWarning:'',
                    start_time: '',
                    end_time: '',
                    sortField:'',
                    sortType:'',
                    page_no:1,
                    page_size:10,
                }

                violationWebCondition.domainName.push(item.domainName)
                localStorage.setItem('isWarningComeHere', 1)
                localStorage.setItem('warningWebContent', JSON.stringify(item))
                localStorage.setItem('violationWebCondition', JSON.stringify(violationWebCondition))

                this.$router.push({
                    name: 'violationWebList'
                })
			},

            pagerChange(e) {
                if (this.queryWebSiteCondition.page_no == e) {
                    return
                }
                this.queryWebSiteCondition.page_no = e
                this.getWebSiteData()
            },
            pagerSizeChange(e) {
                if (this.queryWebSiteCondition.page_size == e) {
                    return
                }
                this.queryWebSiteCondition.page_size = e
                this.getWebSiteData()
            },

            selectItem(selection){
                this.webSelectData = selection
            },

            cancelSelectItem(selection){
                this.webSelectData = selection
            },

            selectAllItem(selection){
                this.webSelectData = selection
            },

            cancelSelectAllItem(selection){
                this.webSelectData = selection
            },

            exportWebData(){

                if(!isHaveThePermission(this.pagePermissions, "导出数据")){
                    this.$Message.error('暂无此权限！')
                    return
                }
                var exportCondition = {
                    "province":this.queryWebSiteCondition.province,
                    "city":"",
                    "organizerNature":"",
                    "level":"",
                    "category": ""
                }
                if(this.currentSelectClassifyData != null){
                    exportCondition.category = this.currentSelectClassifyData.id
                }
                const msg = this.$Message.loading({
                    content: '正在导出...',
                    duration: 0
                });

                if(this.webSelectData == null || this.webSelectData.length <= 0){//条件导出
                    webWaringRequest.exportWarningWebs(exportCondition).then(res => {
                        if(res.data.code == 0){
                            this.downloadFile(res.data.object)
                        }else {
                            this.$Message.error(res.data.message)
						}
                        setTimeout(msg, 300);
                    })
                } else{//id导出


                    var webids = []
                    for (var i = 0; i < this.webSelectData.length; i++) {
                        var item = this.webSelectData[i]
                        webids.push(item.id)
                    }
                    var requestData = {
                        "ids":webids
                    }
                    webWaringRequest.exportWarningWebsByIds(requestData).then(res => {
                        if(res.data.code == 0){

                            this.downloadFile(res.data.object)

                        }else {
                            this.$Message.error(res.data.message)
                        }
                        setTimeout(msg, 300);
                    })
                }
            },

            downloadFile(url){
                url = baseUrl + url
                ApiRequest.exportFile(url).then(response => {
                    let blob = new Blob([response.data], {
                        type: 'application/vnd.ms-excel'
                    })
                    let fileName = Date.parse(new Date()) + '.xlsx'
                    if (window.navigator.msSaveOrOpenBlob) {
                        navigator.msSaveBlob(blob, fileName)
                    } else {
                        var link = document.createElement('a')
                        link.href = window.URL.createObjectURL(blob)
                        link.download = fileName
                        link.click()
                        window.URL.revokeObjectURL(link.href)
                    }
                })
            },

			//查看网站负责人
            lookTheResponsiblePeople(row){
                if(!isHaveThePermission(this.pagePermissions, "查看网站负责人")){
                    this.$Message.error('暂无此权限！')
                    return
                }
                this.lookTheResponsiblePeopleModal = true
				this.webNameofTheResponsiblePeople = row.siteName
				this.TheResponsiblePeopleName = row.contact
                this.TheResponsiblePeoplePhone = row.phone
			},
			//加入协查
            addToinvestigation(item){
                if(!isHaveThePermission(this.pagePermissions, "加入协查")){
                    this.$Message.error('暂无此权限！')
                    return
                }
				this.addToinvestigationModal = true
				this.selectWebSiteData = item
			},

            investigationPlanDescInput(){
                if(this.investigationPlanValue.length >= 100){
                    this.$Message.error('方案不能超过100个字')
                }
                this.investigationPlanwords = this.investigationPlanValue.length;
                this.investigationPlanwordsLeft = 100 - this.investigationPlanwords
			},

            saveInvestigationPlan(){
                var investigationPlanCondition = {
                    webId:          this.selectWebSiteData.id,
                    domainName:     this.selectWebSiteData.domainName,
                    organizerNature:this.selectWebSiteData.organizerNature,
                    illegalCount:   this.selectWebSiteData.illegalCount,
                    level:          this.selectWebSiteData.level,
                    city:           this.selectWebSiteData.city,
                    province:       this.selectWebSiteData.province,
                    subject:        this.selectWebSiteData.subject,
                    siteName:       this.selectWebSiteData.siteName,
                    contact:        this.selectWebSiteData.contact,
                    phone:          this.selectWebSiteData.phone,
                    status:         this.selectWebSiteData.phone,
                    categoryTitle:  this.selectWebSiteData.categoryTitle[0],
                    scheme:         '',
                }
                if(this.investigationPlanValue == ''){
                    this.$Message.error('协查方案不能为空')
                    return
				}
                investigationPlanCondition.scheme = this.investigationPlanValue
                webWaringRequest.addInvestigationPlan(investigationPlanCondition).then(res =>{
                    if(res.data.code == 0){
                        this.addToinvestigationModal = false
                        this.getWebSiteData()
                        this.$Message.success(res.data.message)

                    }else{
                        this.$Message.error(res.data.message)
                    }
                })
			},


            clickDropdownItem(name){
                if(name == 'warnSetting'){
                    this.$router.push({
                        name: 'site_waring_setting'
                    })

				}else {
                    this.showReceiverSetting = true
                    this.receiverSerchValue = ''
                    this.getReceiverList()
				}
			},

			//搜索接收人操作
            searchReceiverValue(){
                if(this.receiverSerchValue.trim() == ''){
                    this.receiverSearchList = this.receiverList
                    return
				}else {
					var searcgList = []
                    if(this.selectedReceiverCollumnId == 'name'){
                        for (var i = 0; i < this.receiverList.length; i++) {
                            if(this.receiverList[i].name.search(this.receiverSerchValue.trim()) != -1 ){
                                searcgList.push(this.receiverList[i])
                            }
                        }
                    }
                    if(this.selectedReceiverCollumnId == 'email'){
                        for (var i = 0; i < this.receiverList.length; i++) {
                            if(this.receiverList[i].email.search(this.receiverSerchValue.trim()) != -1 ){
                                searcgList.push(this.receiverList[i])
                            }
                        }
                    }
                    if(this.selectedReceiverCollumnId == 'phone') {
                        for (var i = 0; i < this.receiverList.length; i++) {
                            if(this.receiverList[i].phone.search(this.receiverSerchValue.trim()) != -1 ){
                                searcgList.push(this.receiverList[i])
                            }
                        }
                    }

                    this.receiverSearchList = searcgList
				}

			},
			//删除接收人操作
            deleteReceiver(index, row){
                if(!isHaveThePermission(this.warningReceiverPermissions, "删除")){
                    this.$Message.error('暂无此权限！')
                    return
                }
                this.deleteOperationModal = true
                this.selecterReceiver = row
                this.selecterReceiverIndex = index
            },
            cancelDeleteReceiver(){
                this.deleteOperationModal = false
			},
            deleteConfirmReceiver(){
                var classify = {
                    "id":this.selecterReceiver.id
                }
                webWaringRequest.deleteReceiver(classify).then(res =>{
                    if(res.data.code == 0){
                        this.deleteOperationModal = false
                        this.$Message.success(res.data.message)
                        this.getReceiverList()
                        if(this.receiverSerchValue.trim() == ''){
                            return
                        }else {
                            this.receiverSerchValue = ''
                        }
                    }else{
                        this.$Message.error(res.data.message)
                    }
                })
			},
            //编辑修改接收人操作
            editReceiver(index, row){
                if(!isHaveThePermission(this.warningReceiverPermissions, "修改")){
                    this.$Message.error('暂无此权限！')
                    return
                }
                this.$set(row, '$isEdit', true)
                this.selecterReceiver = row
                this.selecterReceiverIndex = index
            },
			//添加接收人操作
            addNewReceiver(){
                if(!isHaveThePermission(this.warningReceiverPermissions, "添加")){
                    this.$Message.error('暂无此权限！')
                    return
                }
                this.addNewReceiverOperation = true
                this.receiverSerchValue = ''
                this.receiverSearchList = this.receiverList
                var recriver = {
                    name: '',
                    email: '',
                    phone: '',
                    $isEdit: true
				}
                this.selecterReceiver = recriver
				this.receiverList.unshift(recriver);

			},
			//保存--取消操作
            cancelOperation(index, row) {
                this.$set(row, '$isEdit', false)
                if(this.addNewReceiverOperation){
                    this.receiverList.splice(0,1)
                    this.addNewReceiverOperation = false
                }
            },
            saveOperation(index, row) {
                this.selecterReceiver = row
                if(this.addNewReceiverOperation){
                    if(this.selecterReceiver.nameNew == null){
                        this.$Message.error('接收人不能为空')
                        return
                    }else {
                        if(this.selecterReceiver.nameNew == ""){
                            this.$Message.error('接收人不能为空')
                            return
                        }
                        this.selecterReceiver.name = this.selecterReceiver.nameNew
					}
                    if(this.selecterReceiver.emailNew == null){
                        this.$Message.error('邮箱不能为空')
                        return
                    }else {
                        if(this.selecterReceiver.emailNew == ""){
                            this.$Message.error('邮箱不能为空')
                            return
                        }else {
                            var myReg=/^[a-zA-Z0-9_-]+@([a-zA-Z0-9]+\.)+(com|cn|net|org)$/;
                            if(!myReg.test(this.selecterReceiver.emailNew)){
                                this.$Message.error('邮箱格式不对')
                                return
                            }
						}
                        this.selecterReceiver.email = this.selecterReceiver.emailNew
					}
                    if(this.selecterReceiver.phoneNew == null){
                        this.$Message.error('手机号不能为空')
                        return
                    }else {
                        if(this.selecterReceiver.phoneNew == ""){
                            this.$Message.error('手机号不能为空')
                            return
                        }else {
                            var myreg = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+\d{8})$/;
                            if(!myreg.test(this.selecterReceiver.phoneNew)) {
                                this.$Message.error('请输入有效的手机号码')
                                return
                            }
                        }
                        this.selecterReceiver.phone = this.selecterReceiver.phoneNew
					}


                    webWaringRequest.addReceiver(this.selecterReceiver).then(res =>{
                        if(res.data.code == 0){
                            this.$set(row, '$isEdit', false)
                            this.$Message.success(res.data.message)
                            this.getReceiverList()
                            this.addNewReceiverOperation = false
                            if(this.receiverSerchValue.trim() == ''){
                                return
                            }else {
                                this.receiverSerchValue = ''
							}
                        }else{
                            this.$Message.error(res.data.message)
                        }
                    })
                }else{
					if(this.selecterReceiver.nameNew != null){
                        if(this.selecterReceiver.nameNew == ""){
                            this.$Message.error('接收人不能为空')
                            return
						}
                        this.selecterReceiver.name = this.selecterReceiver.nameNew
					}
                    if(this.selecterReceiver.emailNew != null){
                        if(this.selecterReceiver.emailNew == ""){
                            this.$Message.error('邮箱不能为空')
                            return
                        }else {
                            var myReg=/^[a-zA-Z0-9_-]+@([a-zA-Z0-9]+\.)+(com|cn|net|org)$/;
                            if(!myReg.test(this.selecterReceiver.emailNew)){
                                this.$Message.error('邮箱格式不对')
                                return
                            }
                        }
                        this.selecterReceiver.email = this.selecterReceiver.emailNew
                    }
                    if(this.selecterReceiver.phoneNew != null){
                        if(this.selecterReceiver.phoneNew == ""){
                            this.$Message.error('手机号不能为空')
                            return
                        }else {
                            var myreg = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+\d{8})$/;
                            if(!myreg.test(this.selecterReceiver.phoneNew)) {
                                this.$Message.error('请输入有效的手机号码')
                                return
                            }
                        }
                        this.selecterReceiver.phone = this.selecterReceiver.phoneNew
                    }
                    webWaringRequest.updateReceiver(this.selecterReceiver).then(res =>{
                        if(res.data.code == 0){
                            this.$set(row, '$isEdit', false)
                            this.$Message.success(res.data.message)
                            this.getReceiverList()
                            if(this.receiverSerchValue.trim() == ''){
                                return
                            }else {
                                this.receiverSerchValue = ''
                            }
                        }else{
                            this.$Message.error(res.data.message)
                        }
                    })
				}
            },

        }
    }

    var compare = function (x, y) {//比较函数
        if (x.sort < y.sort) {
            return -1;
        } else {
            return 1;
        }
    }

    function isHaveThePermission(permissionList, operationName){
        var haveTheRight = true

        for (var i = 0; i < permissionList.length; i++) {
            if(permissionList[i].permission_name == operationName){
                if(permissionList[i].status == 1){
                    haveTheRight = true
                }else {
                    haveTheRight = false
                }
            }
        }
        return haveTheRight
    }

    function getDay(day, istoday){
        var today = new Date();
        var targetday_milliseconds = today.getTime() + 1000*60*60*24*day;
        today.setTime(targetday_milliseconds); //注意，这行是关键代码
        var tYear = today.getFullYear();
        var tMonth = today.getMonth();
        var tDate = today.getDate();
        tMonth = doHandleMonth(tMonth + 1);
        tDate = doHandleMonth(tDate);

        var h = today.getHours() + ':';
        var m = today.getMinutes() + ':';
        var s = today.getSeconds();
		var timeStr = tYear+"-"+tMonth+"-"+tDate
        if(istoday){
			timeStr = timeStr + " " +  h + m + s;
		}else {
            timeStr = timeStr + " " +  "00:00:00";
		}

        return timeStr
    }
    function doHandleMonth(month){
        var m = month;
        if(month.toString().length == 1){
            m = "0" + month;
        }
        return m;
    }

    function getCategoryName(categoryArray, categoryId){
        var categoryName = ''
        for (var i = 0; i < categoryArray.length; i++) {
            if(categoryArray[i].id == categoryId){
                categoryName = categoryArray[i].title
            }
        }
        return categoryName
    }

    function organizerCodeToName(organizerCode){
        var organizerNatureName = ''
        switch (organizerCode) {
            case '2000':
                organizerNatureName = '个人'
                break
            case '2001':
                organizerNatureName = '企业'
                break
            case '2002':
                organizerNatureName = '事业单位'
                break
            case '2003':
                organizerNatureName = '社会团体'
                break
            case '2004':
                organizerNatureName = '政府机关'
                break
            default:
                organizerNatureName = '其他'
        }
        return organizerNatureName
    }
</script>

<style scoped>
	@import './site_waring.less';
</style>
