.create_role_layout{
	width: 100%;
	min-height: 100%;
	background-color: #e8eaec;
	padding: 12px 0px;
}

.create_role_background{
	min-width: 100%;
	width: 100%;
	min-height: 100%;
	background: white
}

.create_role_content_item_layout{
	display: flex;
	width: 100%;
	min-width: 700px;
	flex-direction: row;
	align-items: center;
	margin:24px;
}
.create_role_content_item_start_tag{
	color: red;
	padding-right: 5px;
	font-size: 20px;
}

.create_role_content_item_tag{
	display: block;
	min-width: 80px;
	color: #34495e;
	font-size: 16px;
}
.create_role_content_item_input input{
	font-size: 16px;
	color: #34495e;
	width: 500px;
}

.create_role_power_table_layout{
	width: 1100px;
	height: 600px;
	border: #ededed solid 1px;
	border-bottom: none
}

.create_role_power_table_header_layout{
	display: flex;
	flex-direction: row;
	align-items: center;
	background: #f7f7f7;
	height: 40px;
}

.create_role_power_table_tag{
	color: #34495e;
	font-size: 16px;
	display: block;
	width: 150px;
	min-width: 150px;
	text-align: center
}

.create_role_power_table_content_layout{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
}
.create_role_power_table_content_left_layout{
	min-width: 150px;
}

.create_role_power_table_content_right_layout{
	display: flex;
	flex-direction: column;
}

.create_role_check_box_style{
	min-width: 150px;
	padding-left: 35px
}

.ivu-checkbox-wrapper{
	margin-right: 0px;
}

.create_role_power_table_content_right_item_layout{
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 50px;
	width: 100%;
}
