<template>
	<div class="home_container">
		<Header current_pager="home"/>
		<div class="create_role_layout">
			<div class="create_role_background">
				<div class="user_manager_menu_item_layout">
					<img src="../../assets/back.png" style="width: 35px;height: auto;padding-right: 8px;cursor: pointer;" @click="back"/>
					<label class="user_manager_menu_title">{{pagerTitle}}</label>
				</div>
				<div style="background:#e8eaec;height: 1px;width: 100%;" />
				<div class="create_role_content_item_layout">
					<label class="create_role_content_item_start_tag">*</label>
					<label class="create_role_content_item_tag">角色名称：</label>
					<Input class="create_role_content_item_input" v-model="roleName"></Input>
				</div>
				<div class="create_role_content_item_layout">
					<label class="create_role_content_item_start_tag" style="visibility: hidden;">*</label>
					<label class="create_role_content_item_tag">备注信息：</label>
					<Input class="create_role_content_item_input" v-model="roleDescribe"></Input>
				</div>
				<div class="create_role_content_item_layout">
					<label class="create_role_content_item_start_tag">*</label>
					<label class="create_role_content_item_tag">权限设置：</label>
					<div class="create_role_power_table_layout">
						<div class="create_role_power_table_header_layout">
							<label class="create_role_power_table_tag">功能</label>
							<div style="height: 100%;min-width: 1px;background: #ededed;"></div>
							<label class="create_role_power_table_tag" style="width: 100%;">权限</label>
						</div>
						<CheckboxGroup v-model="selects" @on-change='checkBoxChange'>
							<div class="create_role_power_table_content_layout" style="border-bottom: #ededed solid 1px;" v-for="(oneItem,oneIndex) in authorityDataList">
								<Checkbox @click.native="singleChange(oneIndex+'')" :label="oneIndex+''" size='large' class="create_role_check_box_style">{{oneItem.module_name}}</Checkbox>
								<div style="background:#e8eaec;min-width:1px;" :style="{height:50 * oneItem.moduleList.length + 'px'}"/>
								<div class="create_role_power_table_content_right_layout">
									<div class="create_role_power_table_content_right_item_layout" v-for="(twoItem,twoIndex) in oneItem.moduleList">
										<Checkbox @click.native="singleChange(oneIndex+'-'+twoIndex+'-'+threeIndex)" v-for="(threeItem,threeIndex) in twoItem" :label="oneIndex+'-'+twoIndex+'-'+threeIndex" size='large' class="create_role_check_box_style">{{'permission_name' in threeItem ?threeItem.permission_name:threeItem.module_name}}</Checkbox>
									</div>
								</div>
							</div>
						</CheckboxGroup>


					</div>
				</div>
				<Button type="primary" style="width: 100px;margin-top: 30px; margin-left: 100px; margin-bottom: 30px" @click="createRole">保存</Button>
			</div>

		</div>
		<Footer/>
	</div>
</template>

<script>
	import Footer from '@/components/footer/footer.vue'
	import Header from '@/components/header/header.vue'
	import ApiRequest from '@/api/apiRequest.js'
	var isEdit = false
	export default{
		components: {
			Footer,
			Header
		},
		data(){
			return{
				noActionAuthorityDataList:[],
				authorityDataList:[],
				selects:[],
				roleName:'',
				roleDescribe:'',
				roleId:0,
				currentSelectLength:0,
				currentSelectPosition:'',
				pagerTitle:'新建角色'
			}
		},
		mounted() {
			var data = this.$route.params.data
			if(data != null){
				this.init(data)
			}else{
				this.init(null)
			}
		},
		methods:{
			singleChange(e){
				this.currentSelectPosition = e
			},
			checkBoxChange(e){
				if(this.currentSelectLength > this.selects.length){//reduce
					var deleteArr = [] 
					var startStr = ''
					var values = this.currentSelectPosition.split('-')
					if(this.currentSelectPosition.length == 1){
						startStr = this.currentSelectPosition
					}else{
						var positions = values.map(Number)
						var one = positions[0]
						var two = positions[1]
						var three = positions[2]
						if(three == 0 && 'module_name' in this.authorityDataList[one].moduleList[two][three]){
							startStr = one +'-' + two
						}
					}
					if(startStr.length > 0){
						for (var i = 0; i < this.selects.length; i++) {
							var index = this.selects[i].indexOf(startStr)
							if(index == 0){
								deleteArr.push(this.selects[i])
							}
						}
						for (var i = 0; i < deleteArr.length; i++) {
							var index = this.selects.indexOf(deleteArr[i])
							this.selects.splice(index,1)
						}
					}
					
				}else if(this.currentSelectLength < this.selects.length){//add
					if(this.currentSelectPosition.length > 1){
						var values = this.currentSelectPosition.split('-')
						var positions = values.map(Number)
						var one = positions[0]
						var two = positions[1]
						var three = positions[2]
						var oneGrade = one + ''
						var twoGrade = ''
						if('module_name' in this.authorityDataList[one].moduleList[two][0] && three != 0){
							twoGrade = one + '-' + two + '-' + '0'
							
						}
						var hasOne = false
						var hasTwo = false
						for(var i=0;i<this.selects.length;i++){
							if(this.selects[i] == oneGrade){
								hasOne = true
							}else if(this.selects[i] == twoGrade){
								hasTwo = true
							}
						}
						if(!hasOne){
							this.selects.push(oneGrade)
						}
						if(!hasTwo){
							this.selects.push(twoGrade)
						}
					}
				}
				this.currentSelectLength = this.selects.length					
			},
			init(data){
				if(data != null){
					isEdit = true
					this.pagerTitle = '修改角色'
					this.roleName = data.role_name
					this.roleDescribe = data.role_info
					this.roleId = data.id
					this.noActionAuthorityDataList = data.permissions
					let b1 = JSON.parse(JSON.stringify(data.permissions))
					this.noActionAuthorityDataList = b1
					this.handleAuthorityDataList(data.permissions)
					return
				}
				let that = this
				ApiRequest.getAuthorityList().then(res => {
					  if(res.data.code == 0){
						  that.noActionAuthorityDataList = res.data.object
						  let b1 = JSON.parse(JSON.stringify(res.data.object))
						  that.noActionAuthorityDataList = b1
						  that.handleAuthorityDataList(res.data.object)
					  }
				})
			},
			handleAuthorityDataList(list){
				for(var i=0;i<list.length;i++){
					if(list[i].moduleList == null){
						list[i].moduleList = [];
						list[i].moduleList.push(list[i].permissionList)
						list[i].permissionList = null
					}else{
						var brr = []
						for(var j=0;j<list[i].moduleList.length;j++){
							var arr = list[i].moduleList[j].permissionList
							list[i].moduleList[j].permissionList = null;
							arr.unshift(list[i].moduleList[j])
							brr.push(arr)
						}
						if(list[i].permissionList != null){
							brr.push(list[i].permissionList)
						}
						list[i].moduleList= brr
					}
					this.authorityDataList.push(list[i])
				}
				for(var i=0;i<this.authorityDataList.length;i++){
					var oneItem = this.authorityDataList[i]
					if(oneItem.status == 1){
						this.selects.push(''+i)
					}
					for (var j = 0; j < oneItem.moduleList.length; j++) {
						for (var e = 0; e < oneItem.moduleList[j].length; e++) {
							if(oneItem.moduleList[j][e].status == 1){
								this.selects.push(i+'-'+j + '-' + e)
							}
						}
					}
					this.currentSelectLength = this.selects.length
				}
			},
			createRole(){
				if(this.roleName.trim() == ''){
					this.$Message.error('请输入角色名称');
					return
				}
				this.handleSelectData()
				var data = {}
				data.role_name = this.roleName
				data.role_info = this.roleDescribe
				data.permissions = this.noActionAuthorityDataList
				let that = this
				if(isEdit){
					data.id = that.roleId
					ApiRequest.editRole(data).then(res => {
						if(res.data.code == 0){


						    console.log(res)


							that.$Message.success('修改成功');
							that.back();
						}else{
							that.$Message.error(res.data.message);
						}
					})
					return
				}
				ApiRequest.createNewRole(data).then(res => {
					  if(res.data.code == 0){
						  that.$Message.success('创建成功');
						  that.back();
					  }else{
						  that.$Message.error(res.data.message);
					  }
				})
			},
			
			emptySelect(){
				for(var i = 0;i<this.noActionAuthorityDataList.length;i++){
					var oneItem = this.noActionAuthorityDataList[i]
					oneItem.status = 0
					if(oneItem.permissionList != null){
						for(var j = 0;j<oneItem.permissionList.length;j++){
							oneItem.permissionList[j].status = 0
						}
					}
					if(oneItem.moduleList != null){
						for(var j = 0;j<oneItem.moduleList.length;j++){
							var twoItem = oneItem.moduleList[j]
							twoItem.status = 0
							if(twoItem.permissionList != null){
								for(var e = 0;e<twoItem.permissionList.length;e++){
									twoItem.permissionList[e].status = 0
								}
							}
						}
					}
				}
			},
			handleSelectData(){
				this.emptySelect()
				for(var i=0;i<this.selects.length;i++){
					var values = this.selects[i].split('-')
					var positions = values.map(Number)
					if(positions.length == 1){
						var position = positions[0]
						this.noActionAuthorityDataList[position].status = 1
					}else{
						var one = positions[0]
						var two = positions[1]
						var three = positions[2]
						if('module_name' in this.authorityDataList[one].moduleList[two][0]){
							if(three == 0){
								this.noActionAuthorityDataList[one].moduleList[two].status = 1
							}else{
								this.noActionAuthorityDataList[one].moduleList[two].permissionList[three-1].status = 1
							}
						}else{
							this.noActionAuthorityDataList[one].permissionList[three].status = 1
						}
					}
				}
			},
			
			back(){
				this.$router.go(-1);
			},
		}
	}
</script>

<style scoped>
	@import './create_role.less';
</style>
