<template>
	<div class="home_content_left_module_layout">
		<div class="home_content_module_top_layout">
			<img class="home_content_module_top_image" src="../../assets/circle_tag.png"/>
			<label class="home_content_module_top_title" style="cursor: pointer;" @click="gotoWebsiteIlligalPage">违规网站速览</label>
			<label style="color: #8c989d;font-size: 16px;padding-top: 6px;" >舆情信息7x24实时直播</label>
		</div>
		<div style="width: 100%; max-height: 600px; overflow: auto">
			<div class="home_content_module_one_list_item_layout" v-for="(item,index) in violationReferenceList">
				<label class="home_content_module_one_list_left_time" :style="{'font-weight':index==0?'bold':''}">{{item.violate_time}}</label>
				<div class="home_content_module_one_list_item_line_layout">
					<div class="home_content_module_one_list_item_line_top_layout" />
					<img src="../../assets/circle_time_line.png" style="width: 18px;height: auto;"/>
					<div class="home_content_module_one_list_item_line_bottom_layout" v-if="index!=violationReferenceList.length-1"/>
				</div>
				<div class="home_content_module_one_list_item_content_layout">
					<div style="color: #8c989d;font-size: 13px;">{{item.cleanTitle}}</div>
					<div style="color: #34495e;font-size: 13px;">{{item.url}}</div>
					<!--<label class="home_content_module_one_list_item_content_title_layout">{{item.cleanTitle}}</label>-->
					<!--<label class="home_content_module_one_list_item_content_describe_layout" >{{item.url}}</label>-->
				</div>
			</div>
		</div>

		<div class="home_content_module_one_list_item_layout" style="height: 200px; align-items: center" v-if="haveNoData">
			<label style="text-align: center; width: 100%; margin-top: 100px">暂无数据。</label>
		</div>
	</div>
</template>

<script>

    import Cookies from 'js-cookie'
    import webWaringRequest from '@/api/webWaringRequest.js'
    import config from '@/config'
    const baseUrl = process.env.NODE_ENV === 'development' ? config.baseUrl.dev : config.baseUrl.pro
    import {
        getUsersList,

    } from '@/api/data'
	export default{
		name:'HomeViolationsReading',
		data(){
			return{
                categoryData: [],


                //查询，包含所有的查询条件，如果没有，就直接是空字符串即可，具体的字段含义根据api文档
                queryWebSiteCondition: {
                    page_no: 1,
                    page_size: 10000,


                    subjectIds: [],
                    start_time: '',
                    end_time: '',
                },

				violationReferenceList:[],
                haveNoData : false
			}
		},

        computed: {},

        mounted() {

            this.categoryData = JSON.parse(localStorage.getItem('categoryData'))
            //console.log("categoryData")
            //console.log(this.categoryData)
            for (var i = 0; i < this.categoryData.length; i++) {
                this.queryWebSiteCondition.subjectIds.push(String(this.categoryData[i].id))
            }
            this.queryWebSiteCondition.start_time = getDay(0, false)
            this.queryWebSiteCondition.end_time = getDay(0, true)
            this.initData();
        },

        methods: {
            //初始化数据
            initData() {
                //console.log(this.queryWebSiteCondition)
                webWaringRequest.getHomeIllegalList(this.queryWebSiteCondition).then(res => {
                    if (res.data.code == 0) {

                        //console.log("获取违规网站速览")
                        //console.log(res)
                        var dataArray = res.data.object.result
                        if(dataArray == null || dataArray.length == 0){
                            this.haveNoData = true
                        }else {
                            this.haveNoData = false
                        }
                        for (var i = 0; i < dataArray.length; i++) {
                            var newtiem = dataArray[i].createTime.toLocaleString().replace(/T/g, ' ').replace(/\.[\d]{3}Z/, '');
                            var newtiemArray = newtiem.split(' ')
                            dataArray[i].violate_time = newtiemArray[1]
                            dataArray[i].violate_date = newtiemArray[0]
                        }

                        this.violationReferenceList = dataArray

                    } else {
                        this.$Message.error(res.data.message)
                    }
                })
            },

            gotoWebsiteIlligalPage(){
                this.$router.push({
                    name: 'irregularities_investigation'
                })
			}

        }
	}

    function getDay(day, istoday){
        var today = new Date();
        var targetday_milliseconds = today.getTime() + 1000*60*60*24*day;
        today.setTime(targetday_milliseconds); //注意，这行是关键代码
        var tYear = today.getFullYear();
        var tMonth = today.getMonth();
        var tDate = today.getDate();
        tMonth = doHandleMonth(tMonth + 1);
        tDate = doHandleMonth(tDate);

        var h = today.getHours() + ':';
        var m = today.getMinutes() + ':';
        var s = today.getSeconds();
        var timeStr = tYear+"-"+tMonth+"-"+tDate
        if(istoday){
            timeStr = timeStr + " 23:59:59";
        }else {
            timeStr = timeStr + " 00:00:00";
        }

        return timeStr
    }
    function doHandleMonth(month){
        var m = month;
        if(month.toString().length == 1){
            m = "0" + month;
        }
        return m;
    }

</script>

<style>
</style>
