	.ivu-tabs-ink-bar{
		height: 1px;
	}
	.ivu-tabs-bar{
		border-bottom: 1px solid #ededed;
		margin-bottom: 12px;
	}
	
	.home_subject_list_layout{
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
	}

	.home_subject_list_item_layout{
		display: flex;
		flex-direction: row;
		width: 100%;
	}
