<template>
	<div class="home_content_left_module_layout">
		<div class="home_content_module_top_layout" style="padding-bottom: 10px;">
			<img class="home_content_module_top_image" src="../../assets/circle_tag.png"/>
			<label class="home_content_module_top_title" style="cursor: pointer;min-width: 150px;" @click="gotoWebsiteWarningPage">专题分类名称</label>
			<div style="width: 100%;height: 100%;min-width: 100px;">
				<label class="home_content_module_subject_right_button" style="cursor: pointer" @click="onshowMore">更多</label>
			</div>
		</div>
		<Tabs :value="selectedclassifyId" style="width: 100%;height: 50px;" @on-click="clickTheTab">
			<TabPane v-for="item in classifyDataOnshow" :label="item.title" :name="String(item.id)"  style="width: 100%;height:30px;">
			</TabPane>
		</Tabs>
		<div class="home_subject_list_layout" style="min-height: 400px; overflow: auto"  v-if="!haveNoData">
			<div class="home_subject_list_item_layout" v-for="(item,index) in webTableData" :style="{'margin-top':index==0?'0px':'10px'}">
				<img src="../../assets/shixinzhengfangxing.png" style="width: 6px;height: 6px; margin-top: 5px; margin-right: 5px"/>
				<div style="display: flex;flex-direction: column; width: 100%">
					<label  style="color: #34495e;font-size: 13px;">{{item.siteName}}</label>
					<label style="color: #34495e;font-size: 13px;">{{item.domainName}}</label>
				</div>
				<div style="display: block; width: 15%; min-width: 120px">
					<div style="float: right;display: flex;flex-direction: row;align-items: center;">
						<label style="width: 160px;text-align: right; margin-right: 12px; font-size: 13px">{{item.updateTime}}</label>
					</div>
				</div>
			</div>

		</div>

		<div class="home_subject_list_layout" style="height: 200px; align-items: center" v-if="haveNoData">
			<label style="text-align: center; width: 100%; margin-top: 100px">暂无数据。</label>
		</div>
	</div>

</template>

<script>

    import Cookies from 'js-cookie'
    import ApiRequest from '@/api/apiRequest.js'
    import webWaringRequest from '@/api/webWaringRequest.js'

	export default {
        name: 'HomeContentSubject',
        data() {
            return {
                //左侧所有分类数据
                classifyData: [],
                categoryData:[],
                classifyDataOnshow: [],
                selectedclassifyId: '',

                //查询，包含所有的查询条件，如果没有，就直接是空字符串即可，具体的字段含义根据api文档
                queryWebSiteCondition: {
                    page_no: 1,
                    page_size: 10000,
                    subjectIds: [],
                    start_time: '',
                    end_time: '',
                },

                webTableData: [],
                haveNoData : false
            }
        },

        mounted() {
            this.queryWebSiteCondition.start_time = getDay(0, false)
            this.queryWebSiteCondition.end_time = getDay(0, true)
            this.initData()

        },

        methods: {

            //初始化数据
            initData() {
                //获取分类列表数据
                //console.log(Cookies.get('user_id'))
                webWaringRequest.warningCategorylist(Cookies.get('user_id')).then(res => {
                    if (res.data.code == 0) {
                        //console.log(res)
                        //console.log("获取分类列表数据")
                        this.classifyData = this.recursionHandleClassifyData(res.data.object)

                        for (var i = 0; i < this.classifyData.length; i++) {
                            var childrenData = this.classifyData[i].children
                            if (childrenData != null && childrenData.length > 0) {
                                for (var j = 0; j < childrenData.length; j++) {
                                    this.categoryData.push(childrenData[j])
                                }
                            }
                        }
                        this.selectedclassifyId = String(this.categoryData[0].id)

                        if(this.categoryData != null && this.categoryData.length >= 5){
                            this.classifyDataOnshow = this.categoryData.slice(0, 5)
						}else {
                            this.classifyDataOnshow = this.categoryData
						}
                        localStorage.setItem('categoryData', JSON.stringify(this.categoryData))
                        this.queryWebSiteCondition.subjectIds.push(this.selectedclassifyId)

						this.getWebSiteData()

                    } else {
                        this.$Message.error(res.data.message)
                    }
                })
            },

            //根据条件查询网站列表，查询条件修改queryWebSiteCondition中的字段即可
            getWebSiteData() {
                //console.log(this.queryWebSiteCondition)
                let that = this
                webWaringRequest.getHomeIllegalList(this.queryWebSiteCondition).then(res => {
                    if (res.data.code == 0) {
                         //console.log("专题分类名称")
                         //console.log(res)
                        var dataArray = res.data.object.result
						if(dataArray == null || dataArray.length == 0){
                            this.haveNoData = true
						}else {
                            this.haveNoData = false
						}
                        for (var i = 0; i < dataArray.length; i++) {
                            dataArray[i].updateTime = dataArray[i].updateTime.toLocaleString().replace(/T/g, ' ').replace(/\.[\d]{3}Z/, '');
                            var newtiemArray = dataArray[i].updateTime.split(' ')
                            dataArray[i].violate_time = newtiemArray[1]
                            dataArray[i].violate_date = newtiemArray[0]
                        }
                        that.webTableData = res.data.object.result
                    }
                })
            },

            //递归的方式处理分类数据，可以不需要懂
            recursionHandleClassifyData(data) {
                var newData = []
                for (var i = 0; i < data.length; i++) {
                    var item = data[i]
                    var childrenData = []
                    if (item.object != null && item.object.length > 0) {
                        childrenData = this.recursionHandleClassifyData(item.object)
                    }
                    var classify = {
                        id: item.id,
                        parent_id: item.parent_id,
                        title: item.name,
                        children: childrenData
                    }

                    newData.push(classify)
                }
                return newData;
            },


            onshowMore(){
                this.classifyDataOnshow = this.categoryData
			},

            clickTheTab(id){
                this.webTableData = []
                //console.log(id)
                this.selectedclassifyId = id
                this.queryWebSiteCondition.subjectIds = []
                this.queryWebSiteCondition.subjectIds.push(this.selectedclassifyId)
                this.getWebSiteData()

			},

            gotoWebsiteWarningPage(){
                this.$router.push({
                    name: 'site_waring'
                })
			},
        }
    }
    function getDay(day, istoday){
        var today = new Date();
        var targetday_milliseconds = today.getTime() + 1000*60*60*24*day;
        today.setTime(targetday_milliseconds); //注意，这行是关键代码
        var tYear = today.getFullYear();
        var tMonth = today.getMonth();
        var tDate = today.getDate();
        tMonth = doHandleMonth(tMonth + 1);
        tDate = doHandleMonth(tDate);

        var h = today.getHours() + ':';
        var m = today.getMinutes() + ':';
        var s = today.getSeconds();
        var timeStr = tYear+"-"+tMonth+"-"+tDate
        if(istoday){
            timeStr = timeStr + " 23:59:59";
        }else {
            timeStr = timeStr + " 00:00:00";
        }

        return timeStr
    }
    function doHandleMonth(month){
        var m = month;
        if(month.toString().length == 1){
            m = "0" + month;
        }
        return m;
    }
</script>

<style scoped>
	@import './home_subject.less';
</style>
