<template>
	<div style="width:100%;min-height: 100%;display:flex;flex-direction: column;">
		<div class="user_manager_content_top_layout">
			<label class="user_manager_menu_title" style="font-size: 16px;font-weight: bold;">角色管理</label>
			<div class="user_manager_menu_title_right_layout">
				<div class="user_manager_menu_title_right_button_layout" @click="addNew">
					<img src="../../assets/add.png" style="width: 12px;height: auto;margin-right: 5px;margin-left: 14px;cursor: pointer"/>
					<label style="color: white;font-size: 13px;line-height: 25px;text-align: center;cursor: pointer">新建角色</label>
				</div>
			</div>
		</div>
		<Table size="large" :columns="role_column" :data="role_data" height="auto"  style="margin: 0 24px;">
			<template slot-scope="{ row, index }" slot="action">
				<a style="margin-right: 12px;font-size: 13px;" @click="editRole(index)">修改</a>
				<a style="font-size: 13px;" @click="deleteRole(index)">删除</a>
			</template>
		</Table>
		<div style="width: 100%;height:80px; padding: 24px 60px 0 24px;" :style="{visibility:role_data.length==0?'hidden':''}">
			<Page :total="role_data.length" show-elevator show-sizer style="float: right;" @on-change="pagerChange" @on-page-size-change="pagerSizeChange"/>
		</div>
		<Modal v-model="modalShow" width="400">
			<p slot="header" style="display:block;height:100%; color:white;background: #4681fa;">
				<span>删除确认</span>
			</p>
			<div style="text-align:center">
				<label class="common_label_style">是否确定删除角色 <span style="color: red;">{{deleteRoleName}}</span> ?</label>
			</div>
			<div slot="footer">
				<Button size="large" style="width: 100px;" @click="cancelDeleteRole">取消</Button>
				<Button type="primary" size="large" style="width: 100px;" @click="deleteConfirmRole">确认</Button>
			</div>
		</Modal>
	</div>
</template>

<script>
	import ApiRequest from '@/api/apiRequest.js'
	export default{
		name:'UserManagerRole',
		data(){
			return{
				modalShow:false,
				deleteRoleName:'',
				deleteRoleIndex:0,
				currenPager:1,
				currenPagerSize:10,
				role_column:[
					{
	                    title: '角色id',
						align: 'center',
	                    key: 'id'
	                },
					{
	                    title: '角色名称',
						align: 'center',
	                    key: 'role_name'
	                },
					{
	                    title: '备注信息',
						align: 'center',
	                    key: 'role_info'
	                },
					{
	                    title: '创建时间',
						align: 'center',
	                    key: 'create_time'
	                },
					{
					    title: '操作',
						slot: 'action',
					    key: 'action',
						align: 'center'
					},
				],
				role_data:[],

                rolePermissions: [],
                pagePermissions: []
			}
		},
		mounted() {
			this.init()
		},
		methods:{
			init(){
                this.rolePermissions = JSON.parse(localStorage.getItem('rolePermissions'))
                //console.log(this.rolePermissions)
                for (var i = 0; i < this.rolePermissions.length; i++) {
                    var item = this.rolePermissions[i]
                    if(item.module_name == "个人中心"){
                        var dataArray = item.moduleList
                        for (var j = 0; j < dataArray.length; j++) {
                            var item = dataArray[j]
                            if(item.module_name == "角色管理"){
                                this.pagePermissions = item.permissionList
                                //console.log(this.pagePermissions)
                            }
                        }
                    }
                }

				let that = this
				ApiRequest.getRoleList().then(res => {
					if(res.data.code == 0){
						that.role_data = res.data.object
					}
				})
			},
			deleteRole(index){
                if(!isHaveThePermission(this.pagePermissions, "删除")){
                    this.$Message.error('暂无此权限！')
                    return
                }
				var object = this.role_data[index]
				this.modalShow = true;
				this.deleteRoleName = object.role_name
				this.deleteRoleIndex = index
			},
			deleteConfirmRole(){
				var deleteId = this.role_data[this.deleteRoleIndex].id
				ApiRequest.deleteRole(deleteId).then(res => {
					if(res.data.code == 0){
						this.modalShow = false;
						this.role_data.splice(this.deleteRoleIndex,1)
					}else{
						this.$Message.error(res.data.message);
					}
				})
			},
			cancelDeleteRole(){
				this.modalShow = false;
			},
			editRole(index){
                if(!isHaveThePermission(this.pagePermissions, "修改")){
                    this.$Message.error('暂无此权限！')
                    return
                }
				var object = this.role_data[index]
				//console.log(object)
				this.$router.push({
					name: 'create_role',
					params: {
						data: object
					}
				})
			},
			pagerChange(e){
				if(this.currenPager == e){
					return
				}
				ApiRequest.getRoleList().then(res => {
					if(res.data.code == 0){
						that.role_data = res.data.object
					}
				})
			},
			pagerSizeChange(e){
				if(this.currenPagerSize == e){
					return
				}
				ApiRequest.getRoleList().then(res => {
					if(res.data.code == 0){
						that.role_data = res.data.object
					}
				})
			},
			addNew(){
                if(!isHaveThePermission(this.pagePermissions, "添加")){
                    this.$Message.error('暂无此权限！')
                    return
                }
				this.$router.push({
					  name: 'create_role',
					  params: {
					  	data: null
					  }
					})
			},
		}
	}

    function isHaveThePermission(permissionList, operationName){
        var haveTheRight = true

        for (var i = 0; i < permissionList.length; i++) {
            if(permissionList[i].permission_name == operationName){
                if(permissionList[i].status == 1){
                    haveTheRight = true
                }else {
                    haveTheRight = false
                }
            }
        }
        return haveTheRight
    }
</script>


<style scoped>
    @import './user_manager_role.less';
</style>